/*------------------------------------*\
    $COLORS
\*------------------------------------*/

// Ushahidi Pallette
$primary-color     : #52c0c0;
$secondary-color   : #eff0f3;
$error-color       : #f96c5f;
$warning-color     : #fec244;
$success-color     : #68bc7a;

$black             : #000;
$dark-gray         : #333333;
$light-gray        : #d8d8d8;
$extra-light-gray  : #f2f2f2;
$white             : #fcfcfc;

$blue              : #2274b4;
$blue-gray         : #2f3e4d;
$dark-blue         : #226a9c;

$body-bg           : $white;
$workspace-body-bg : $light-gray;

// Social Networks
$facebook-color    : #3b5998;
$twitter-color     : #00acee;
$google-color      : #dd4b39;
