 
<div class="location-wrapper">

    <div id="{{id}}-map" class="post-location-map" style="height: 265px; width: 100%;"></div>

    <form 
        role="search" 
        class="searchbar" 
        ng-class="{'active' : showDropdown}" 
        data-message="search"
        auto-close="outsideClick"
    >
        <div class="searchbar-input">   
            <div class="form-field">
                <input name="{{name}}" 
                    type="search" 
                    maxlength="250" 
                    placeholder="{{'location.placeholder' | translate}}" 
                    ng-model="searchLocationTerm" 
                    ng-focus="showSearchResults()" 
                    ng-keyup="showSearchResults()"
                    ng-blur="hideSearchResults()"
                    ng-disabled="processing" 
                />
            </div>

            <div class="searchbar-results dropdown-menu" ng-class="{'active': showDropdown}" >
                <div class="form-field" >
                    <button class="button-plain" ng-click="searchLocation()" ng-disabled="processing">
                        <svg class="iconic">
                            <use 
                                xmlns:xlink="http://www.w3.org/1999/xlink" 
                                xlink:href="/img/iconic-sprite.svg#magnifying-glass">
                            </use>
                        </svg>
                        <span class="button-label" translate>location.search</span>
                    </button>

                    <button class="button-beta button-plain" ng-click="chooseCurrentLocation()">
                        <svg class="iconic">
                            <use 
                                xmlns:xlink="http://www.w3.org/1999/xlink" 
                                xlink:href="/img/iconic-sprite.svg#location">
                            </use>
                        </svg>
                        <span class="button-label" translate>location.use_current_location</span>
                    </button>
                </div>
               
             <div class="tool">
                    <h6 class="tool-heading" translate>location.search_results</h6>
                    <dl class="dropdown-menu-body" ng-repeat="result in searchResults">
                        <dt class="list-item" ng-click="chooseLocation(result)">
                            <em>{{result.display_name}}</em>
                        </dt>
                    </dl>
                </div>
            </div>
        </div>
    </form>
    <p translate>location.click_map</p>

</div>
