
<div class="location-wrapper">
    <div id="{{id}}-map" class="map" style="height: 265px; width: 100%;"></div>
    <form class="searchbar">
        <div class="searchbar-input init" role="search">
            <div class="form-field tooltip">
                <input name="{{name}}"
                    type="search"
                    maxlength="250"
                    placeholder="{{'location.placeholder' | translate}}"
                    ng-model="searchLocationTerm"
                    ng-focus="showSearchResults()"
                    ng-keydown="handleActiveSearch($event)"
                />
            </div>
            <div id="searchbar-results" class="searchbar-results dropdown-menu init">
                <div class="form-field" embed-only=false>
                    <button role="button" class="button-beta button-plain" ng-click="chooseCurrentLocation()" ng-if="showCurrentPositionControl" >
                        <svg class="iconic">
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="/img/iconic-sprite.svg#location">
                            </use>
                        </svg>
                        <span class="button-label" translate>location.use_current_location</span>
                    </button>
                </div>
             <div class="tool">
                    <h6 class="tool-heading" translate>location.search_results</h6>
                    <dl ng-repeat="result in searchResults" ng-if="!processing && searchResults.length > 0">
                        <dt class="list-item" ng-click="chooseLocation(result)">
                            <svg class="iconic">
                                <use
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="/img/iconic-sprite.svg#map-marker">
                                </use>
                            </svg>
                            <em>{{result.display_name}}</em>
                        </dt>
                    </dl>
                    <dl class="dropdown-menu-body" ng-if="processing">
                        <dt class="list-item">
                            <div class="loading" style="width: auto;">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </dt>
                    </dl>
                    <dl class="dropdown-menu-body" ng-if="!processing && !searchResults">
                        <dt class="list-item" translate="location.no_matching_locations">
                            No matching locations.
                        </dt>
                    </dl>
                </div>
            </div>
        </div>
    </form>
    <p translate>location.click_map</p>
    <div class="form-field">
      <label>Lat</label>
      <input type="text" ng-model="manualModel.lat">
   </div>
   <div class="form-field">
      <label>Long</label>
      <input type="text" ng-model="manualModel.lon">
   </div>
   <button role="button" type="button" class="button-primary" ng-click="updateMapFromLatLon(manualModel.lat, manualModel.lon)">
        <svg class="iconic">
       <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="/img/iconic-sprite.svg#location">
                            </use>
        </svg>
        <span class="button-label" translate>location.update_map</span>
    </button>
</div>
