
<form>
    <div class="form-field file">
      <file-upload  show-replace="showReplace" crop="crop" show-add="showAdd" id="{{name}}" validation="'image'" container="media" model="mediaId">
      </file-upload>


    <!-- image uploader ends -->


      <figure ng-show="showReplace()">
        <div class="form-field">
          <button class="button-destructive" ng-click="deleteMedia(media.id)" ng-show="showDelete()">
            <svg class="iconic">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#trash"></use>
            </svg>
             <span class="hidden" translate="post.media.delete_photo"></span>
          </button>
        </div>
      </figure>

      <div ng-hide="!mediaHasCaption">
        <figure>
          <p class="small" translate>post.media.add_caption</p>
          <input
            type="text"
            placeholder="{{ 'post.media.add_caption' | translate }}"
            ng-model="media.caption">
        </figure>
      </div>
    </div>

    <style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:500px;
        height:350px;
    }
    form .progress {
        line-height: 15px;
    }
    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }
    .progress div {
        font-size: smaller;
        background: orange;
        width: 0;
    }
    .preview {
        background: #E4E4E4;
        overflow: hidden;
        max-width:500px;
        max-height:350px;
        background-position: center;
    }
    </style>
</form>
