<div class="form-sheet" ng-repeat="stage in stages | limitTo: 1 - stages.length">
    <header class="form-sheet-summary">
        <h1 class="form-sheet-title section-title">{{stage.label}}</h1>
    </header>
    <!-- Handle stage completion -->
    <div class="form-field switch">
        <label translate="post.task_completed">Task completed</label>
        <div class="toggle-switch">
            <input
                class="tgl"
                ng-attr-id="{{ 'toggle-complete-' + stage.id }}"
                type="checkbox"
                ng-checked="stageIsComplete(stage.id)"
                ng-click="toggleStageCompletion(stage.id)">
            <label class="tgl-btn" for="toggle-complete-{{stage.id}}" ng-attr-id="{{ 'toggle-complete-label-' + stage.id }}"></label>
        
        </div>
    </div>
    <post-value-edit
            ng-repeat="attribute in stage.attributes | orderBy: 'priority' as filtered_result track by attribute.id"
            post="post"
            form="form"
            attribute="attribute"
    ></post-value-edit>
</div>
