<div>
    <!-- Container for form-field structured elements -->
    <div ng-if="attribute.type === 'description' || attribute.type === 'title'">
        <!-- Split between Title Desc and other values -->
        <div
            ng-if="attribute.type==='title'"
            class="form-field init required"
            adaptive-form
            ng-class="{
                'error': form.title.$invalid && form.title.$dirty,
                'success': !form.title.$invalid && form.title.$dirty
            }"
        >
             <label for="title">
                <bdi>{{attribute.label}}</bdi>
            </label>
            <p markdown-to-html="attribute.instructions" ng-if="attribute.instructions">
            </p>
            <input id="title"
                name="title" type="text" ng-model="post.title" ng-required="true" ng-minlength=2 ng-maxlength=150 adaptive-input>

            <div
                class="alert error"
                ng-show="form.title.$dirty"
                ng-repeat="(error, value) in form.title.$error"
            >
                <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                </svg>
                <span translate="{{'post.valid.title.' + error}}"></span>
            </div>
        </div>

        <!-- Post stage default fields -->
        <div
            ng-if="attribute.type==='description'"
            class="form-field init required"
            ng-class="{
                'error': form.content.$invalid && form.content.$dirty,
                'success': !form.content.$invalid && form.content.$dirty
            }"
            adaptive-form
        >
            <label for="content">
                <bdi>{{attribute.label}}</bdi>
            </label>
            <p markdown-to-html="attribute.instructions" ng-if="attribute.instructions">
            </p>
            <textarea id="content" name="content" data-min-rows="1" rows="1"
                ng-model="post.content" ng-required="true" adaptive-input msd-elastic>
            </textarea>

            <div class="alert error" ng-show="form.content.$dirty" ng-repeat="(error, value) in form.content.$error">
                <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                </svg>
                <span translate="{{'post.valid.content.' + error}}"></span>
            </div>
        </div>
    </div>
    <div ng-if="attribute.type !== 'description' && attribute.type !== 'title'">
        <div
            ng-if="!isFieldSetStructure(attribute)"
            class="form-field init"
            adaptive-form
            ng-class="{
                'error': form['values_' + attribute.key].$invalid && form['values_' + attribute.key].$dirty,
                'success': ! form['values_' + attribute.key].$invalid && form['values_' + attribute.key].$dirty,
                'required': attribute.required,
                'date' : isDate(attribute) || isDateTime(attribute),
                'location' : attribute.input === 'location'
            }"
        >
            <!-- Attribute Label -->
            <label for="values[{{attribute.key}}][0]">
                <svg ng-show="attribute.response_private" class="iconic">
                    <use xlink:href="/img/iconic-sprite.svg#lock-locked"></use>
                </svg>
                <bdi>{{attribute.label}}</bdi>
            </label>
            <!-- Attribute Instructions -->
            <p markdown-to-html="attribute.instructions" ng-if="attribute.instructions"></p>
            <!-- attributes which use the form-field structure -->
            <div ng-repeat="(key, value) in post.values[attribute.key] track by key">
                <div ng-switch="attribute.input">
                    <!-- Standard fields -->
                    <!-- type: date -->
                    <div ng-switch-when="date" >
                        <!-- Date icon -->
                        <div class="input-with-icon">
                            <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#calendar"></use>
                            </svg>
                            <input
                                type="date"
                                pick-a-date="date"
                                pick-a-date-options="dateFormat"

                                name="values_{{attribute.id}}"
                                ng-model="post.values[attribute.key][key]"
                                ng-required="attribute.required"
                            />
                        </div>
                    </div>
                    <!-- type: datetime -->
                    <div ng-switch-when="datetime" class="input-with-icon">
                        <post-datetime
                            id="values[{{attribute.key}}][{{key}}]"
                            name="values_{{attribute.id}}"
                            ng-model="post.values[attribute.key][key]"
                            ng-required="attribute.required"
                        ></post-datetime>
                    </div>
                    <!-- type: select -->
                    <select
                        ng-switch-when="select"
                        id="values[{{attribute.key}}][{{key}}]"
                        name="values_{{attribute.id}}"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                        >
                        <option ng-repeat="opt in attribute.options" value="{{opt}}"><bdi>{{opt}}</bdi></option>
                    </select>
                    <!-- type: number -->
                    <input
                        ng-switch-when="number"
                        id="values[{{attribute.key}}][{{key}}]"
                        name="values_{{attribute.id}}"
                        type="number"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                        >
                    <!-- type: text -->
                    <input
                        ng-switch-when="text"
                        id="values[{{attribute.key}}][{{key}}]"
                        name="values_{{attribute.id}}"
                        type="text"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                        adaptive-input
                        >
                    <!-- type: textarea -->
                    <textarea
                        ng-switch-when="textarea"
                        data-min-rows="1"
                        rows="1"
                        class="adapt-field"
                        style="overflow-x: hidden; word-wrap: break-word; height: 55px;"
                        id="values[{{attribute.key}}][{{key}}]"
                        name="values_{{attribute.id}}"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                        adaptive-input
                        msd-elastic>
                    </textarea>

                    <!-- Non standard fields -->
                    <!-- type: textarea -->
                    <textarea
                        ng-switch-when="markdown"
                        data-min-rows="1"
                        rows="1"
                        class="adapt-field"
                        style="overflow-x: hidden; word-wrap: break-word; height: 55px;"
                        id="values[{{attribute.key}}][{{key}}]"
                        name="values_{{attribute.id}}"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                        adaptive-input
                        msd-elastic>
                    </textarea>
                    <!-- type: relation -->
                    <post-relation
                        attribute="attribute"
                        key="key"
                        id="values[{{attribute.key}}][{{key}}]"
                        name="values_{{attribute.id}}"
                        model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                        ng-switch-when="relation"></post-relation>
                    <!-- type: location -->
                    <post-location
                        attribute="attribute"
                        key="key"
                        id="values[{{attribute.key}}][{{key}}]"
                        name="values_{{attribute.id}}"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                        ng-switch-when="location"></post-location>
                    <!-- type: upload -->
                    <post-media
                        ng-switch-when="upload"
                        name="values_{{attribute.id}}"
                        media-has-caption="attribute.config.hasCaption"
                        media="medias[attribute.key]"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                    ></post-media>
                    <!-- type: upload -->
                    <post-video-input
                        ng-switch-when="video"
                        name="values_{{attribute.id}}"
                        video-url="post.values[attribute.key][key]"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                    ></post-video-input>
                    <div class="alert error" ng-switch-when="video" ng-show="form.$error.videoUrlValidation && taskIsMarkedCompleted() ">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                        </svg>
                        <span translate="{{'post.video.enter_a_url'}}"></span>
                    </div>
                </div>
            </div>
            <div class="alert error" ng-show="form['values_' + attribute.id].$dirty && taskIsMarkedCompleted()" ng-repeat="(error, value) in form['values_' + attribute.id].$error">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                </svg>
                <span translate="{{'post.valid.values.' + error}}" translate-values="{ label : attribute.label }"></span>
            </div>
        </div>
        <!-- Container for fieldset structured elements -->
        <fieldset ng-if="isFieldSetStructure(attribute) && attribute.options.length > 0">
            <!-- Attribute Label -->
            <label ng-class="{
                'error': form['values_' + attribute.key].$invalid && form['values_' + attribute.key].$dirty,
                'success': ! form['values_' + attribute.key].$invalid && form['values_' + attribute.key].$dirty,
                'required': attribute.required}">
                <svg ng-show="attribute.response_private" class="iconic">
                    <use xlink:href="/img/iconic-sprite.svg#lock-locked"></use>
                </svg>
                <bdi>{{attribute.label}}<bdi>
                
            </label>
            <!-- Attribute Instructions -->
            <p markdown-to-html="attribute.instructions" ng-if="attribute.instructions"></p>

            <!-- attributes which use the form-field structure -->
            <div ng-switch="attribute.input">
                <!-- type: radio -->
                <div ng-switch-when="radio">
                    <div ng-repeat="(key, value) in post.values[attribute.key] track by key">
                    <div class="form-field radio" ng-repeat="option in attribute.options">
                        <label>
                            <input
                                name="values_{{attribute.id}}"
                                type="radio"
                                ng-model="post.values[attribute.key][key]"
                                ng-required="attribute.required"
                                value="{{option}}"
                            >
                            <bdi>{{option}}</bdi>
                        </label>
                    </div>
                    </div>
                </div>
                <!-- type: checkbox -->
                <div ng-switch-when="checkbox">
                    <div class="form-field checkbox" ng-repeat="option in attribute.options">
                    <label>
                        <input
                            type="checkbox"
                            checklist-model="post.values[attribute.key]"
                            ng-required="attribute.required"
                            name="values_{{attribute.id}}_{{option}}"
                            checklist-value="option"
                            value="option"
                        >
                            <bdi>{{option}}</bdi>
                    </label>
                    </div>
                </div>
                <!-- type: categories -->
                <div ng-switch-when="tags">
                    <post-category-editor
                        available="attribute.options"
                        selected="post.values[attribute.key]"
                        form="form"
                        form-id="post.form.id"
                        attribute="attribute"
                        post-value="post.values[attribute.key]"
                    ></post-category-editor>
                </div>
                <div class="alert error" ng-show="form['values_' + attribute.id].$dirty && taskIsMarkedCompleted()" ng-repeat="(error, value) in form['values_' + attribute.id].$error">
                    <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                    </svg>
                    <span translate="{{'post.valid.values.' + error}}" translate-values="{ label : attribute.label }"></span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
