<form name="editForm" novalidate>
  <div class="form-sheet" role="article">
    <div class="post-band" ng-style="{backgroundColor: form.color}"></div>
        <!-- End post stage default fields -->
        <div class="form-field">
          <twitter-widget ng-if="post.data_source_message_id" twitter-widget-id="post.data_source_message_id" twitter-widget-options="{'align': 'left'}">
          </twitter-widget>
        </div>

          <div
            ng-if="!form"
            class="form-field init required"
            ng-class="{'error': editForm.form.$invalid && editForm.form.$dirty, 'success': !editForm.form.$invalid && editForm.form.$dirty}"
          >

          <p translate="post.unstructured.add_survey.info" translate-values="{source:post.source}"></p>
          <label translate>post.unstructured.add_survey.title</label>
              <select
              class="custom-select"
              ng-change="selectForm(form)"
              ng-model="post.form"
            >
              <option selected disabled translate>post.unstructured.add_survey.choose</option>
              <option ng-repeat="form in forms" ng-value="form">{{form.name}}</option>
            </select>
          <div class="alert error" ng-show="editForm.form.$dirty" ng-repeat="(error, value) in editForm.form.$error">
            <svg class="iconic">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
            </svg>
            <p translate="{{'post.valid.content.' + error}}"></p>
          </div>
        </div>

        <!-- Start Post custom fields -->

        <post-value-edit
            ng-repeat="attribute in tasks[0].attributes | orderBy: 'priority' as filtered_result track by attribute.id"
            post="post"
            post-field=true
            form="editForm"
            medias="medias"
            attribute="attribute"
            ng-if="form"
        ></post-value-edit>
      </div>
        <!-- End Post custom fields -->
        <!-- IF: Editing an existing post -->

        <!-- ELSE IF: Adding a new post w/o permission to manage who it's visible to
        <div class="postcard-metadata">
            <strong>This post will need to be moderated</strong> before it's visible to the public.
        </div>
        END: IF -->
        <!-- IF: User has permission to see other 'Tasks' -->

        <post-toolbox form="editForm" post="post" ng-if="form"></post-toolbox>
        <post-tabs
          ng-show="tasks.length > 1"
          form="editForm"
          post="post"
          stages="tasks"
          attributes="attributes"
          medias="medias"
          visible-stage="visibleStage"
          ng-if="form"
        >
        </post-tabs>
        <post-messages post="post" ng-if="post.contact.id && post.source !== 'twitter'"></post-messages>
      <div class="toolbar toolbar-secondary">
        <div class="button-group">

          <button role="button" class="button-flat" ng-click="cancel()" translate>app.cancel</button>
          <button role="button" class="button button-alpha" ng-click="savePost()" ng-if="!isSaving()" translate="">app.save</button>
          <loading-dots button-class="'button-alpha'" ng-if="isSaving()" disabled=true label="'app.saving'"></loading-dots>
        </div>
      </div>
  </form>
