<div>
<!-- Container for form-field structured elements -->
  <div
      ng-if="!isFieldSetStructure(attribute)"
      class="form-field init"
      adaptive-form
      ng-class="{
        'error': form['values_' + attribute.key].$invalid && form['values_' + attribute.key].$dirty,
        'success': ! form['values_' + attribute.key].$invalid && form['values_' + attribute.key].$dirty,
        'required': attribute.required,
        'date' : isDate(attribute) || isDateTime(attribute),
        'location' : attribute.input === 'location'
      }">

      <!-- Attribute Label -->
      <label for="values[{{attribute.key}}][0]">
          {{attribute.label}}
      </label>
      <!-- Attribute Instructions -->
      <p>{{attribute.instructions}}</p>

      <!-- attributes which use the form-field structure -->
      <div ng-repeat="(key, value) in post.values[attribute.key] track by key">
          <div ng-switch="attribute.input">
              <!-- Standard fields -->
              <!-- type: date -->
              <div ng-switch-when="date" >
                  <!-- Date icon -->
                  <div class="input-with-icon">
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#calendar"></use>
                    </svg>
                    <input
                        type="date"
                        pick-a-date="date"
                        pick-a-date-options="dateFormat"

                        name="values_{{attribute.id}}"
                        ng-model="post.values[attribute.key][key]"
                        ng-required="attribute.required"
                    />
                  </div>
              </div>
              <!-- type: datetime -->
              <div ng-switch-when="datetime" class="input-with-icon">
                  <post-datetime
                      id="values[{{attribute.key}}][{{key}}]"
                      name="values_{{attribute.id}}"
                      ng-model="post.values[attribute.key][key]"
                      ng-required="attribute.required"
                  ></post-datetime>
              </div>
             <!-- type: select -->
              <select
                  ng-switch-when="select"
                  id="values[{{attribute.key}}][{{key}}]"
                  name="values_{{attribute.id}}"
                  ng-model="post.values[attribute.key][key]"
                  ng-required="attribute.required">
                  <option ng-repeat="opt in attribute.options" value="{{opt}}">{{opt}}</option>
              </select>
              <!-- type: number -->
              <input
                  ng-switch-when="number"
                  id="values[{{attribute.key}}][{{key}}]"
                  name="values_{{attribute.id}}"
                  type="number"
                  ng-model="post.values[attribute.key][key]"
                  ng-required="attribute.required"
                  >
              <!-- type: text -->
              <input
                  ng-switch-when="text"
                  id="values[{{attribute.key}}][{{key}}]"
                  name="values_{{attribute.id}}"
                  type="text"
                  ng-model="post.values[attribute.key][key]"
                  ng-required="attribute.required"
                  adaptive-input
                  >
              <!-- type: textarea -->
              <textarea
                  ng-switch-when="textarea"
                  data-min-rows="1"
                  rows="1"
                  class="adapt-field"
                  style="overflow-x: hidden; word-wrap: break-word; height: 55px;"
                  id="values[{{attribute.key}}][{{key}}]"
                  name="values_{{attribute.id}}"
                  ng-model="post.values[attribute.key][key]"
                  ng-required="attribute.required"
                  adaptive-input
                  msd-elastic>
              </textarea>

              <!-- Non standard fields -->
              <!-- type: textarea -->
              <textarea
                  ng-switch-when="markdown"
                  data-min-rows="1"
                  rows="1"
                  class="adapt-field"
                  style="overflow-x: hidden; word-wrap: break-word; height: 55px;"
                  id="values[{{attribute.key}}][{{key}}]"
                  name="values_{{attribute.id}}"
                  ng-model="post.values[attribute.key][key]"
                  ng-required="attribute.required"
                  adaptive-input
                  msd-elastic>
              </textarea>
              <!-- type: relation -->
              <post-relation
                  attribute="attribute"
                  key="key"
                  id="values[{{attribute.key}}][{{key}}]"
                  name="values_{{attribute.id}}"
                  model="post.values[attribute.key][key]"
                  ng-required="attribute.required"
                  ng-switch-when="relation"></post-relation>
              <!-- type: location -->
              <post-location
                  attribute="attribute"
                  key="key"
                  id="values[{{attribute.key}}][{{key}}]"
                  name="values_{{attribute.id}}"
                  model="post.values[attribute.key][key]"
                  ng-model="post.values[attribute.key][key]"
                  ng-required="attribute.required"
                  ng-switch-when="location"></post-location>
              <!-- type: upload -->
              <post-media
                  ng-switch-when="upload"
                  name="values_{{attribute.id}}"
                  media-id="post.values[attribute.key][key]"
                  media="medias[attribute.key]"
                  ng-model="post.values[attribute.key][key]"
                  ng-required="attribute.required"
              ></post-media>
              <!-- type: upload -->
              <post-video-input
                  ng-switch-when="video"
                  name="values_{{attribute.id}}"
                  video-url="post.values[attribute.key][key]"
                  ng-model="post.values[attribute.key][key]"
                  ng-required="attribute.required"
              ></post-video-input>
          </div>
      </div>
      <div class="alert error" ng-show="form['values_' + attribute.id].$dirty && taskIsMarkedCompleted()" ng-repeat="(error, value) in form['values_' + attribute.id].$error">
          <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
          </svg>
          <span translate="{{'post.valid.values.' + error}}" translate-values="{ label : attribute.label }"></span>
      </div>
  </div>


  <!-- Container for fieldset structured elements -->
  <fieldset ng-if="isFieldSetStructure(attribute)">

    <!-- Attribute Label -->
    <label>{{attribute.label}}</label>
    <!-- Attribute Instructions -->
    <p>{{attribute.instructions}}</p>

    <!-- attributes which use the form-field structure -->
    <div ng-switch="attribute.input">
      <!-- type: radio -->
      <div ng-switch-when="radio">
        <div ng-repeat="(key, value) in post.values[attribute.key] track by key">
          <div class="form-field radio" ng-repeat="option in attribute.options">
            <label>
                <input
                    name="values_{{attribute.id}}"
                    type="radio"
                    ng-model="post.values[attribute.key][key]"
                    ng-required="attribute.required"
                    value="{{option}}"
                  >
                  {{option}}
            </label>
          </div>
        </div>
      </div>
      <!-- type: checkbox -->
      <div ng-switch-when="checkbox">
        <div class="form-field checkbox" ng-repeat="option in attribute.options">
          <label>
            <input
                type="checkbox"
                checklist-model="post.values[attribute.key]"
                ng-required="attribute.required"
                name="values_{{attribute.id}}_{{option}}"
                checklist-value="option"
                value="option"
              >
                {{option}}
          </label>
        </div>
      </div>

    <!-- type: categories -->
      <div ng-switch-when="tags">
        <div 
          class="form-field checkbox"
          ng-repeat="option in attribute.options"
          ng-if="option.parent_id === null"
          >
        <label>
          <input 
                type="checkbox"
                checklist-model="post.values[attribute.key]"
                name="values_{{attribute.id}}_{{option}}"
                checklist-value="option.id"
                value="option.id"
                ng-click="selectParent(option, attribute.key)"
            >
                {{option.tag}}
        </label>
        <div 
          class="form-field checkbox"
          ng-if="option.children"
          ng-repeat="child in option.children"
        >
          <label>
          <input 
            type="checkbox"
            checklist-model="post.values[attribute.key]"
            name="values_{{attribute.id}}_{{child}}"
            checklist-value="child.id"
            value="child.id"
            ng-click="selectChild(child, attribute.key)"
          >
            {{child.tag}}
        </label>
    </div> 
    </div>

      <add-category
        form-id="post.form.id"
        attribute="attribute"
        post-value="post.values[attribute.key]"
      ></add-category>
    </div>
    <div class="alert error" ng-show="form['values_' + attribute.id].$dirty && taskIsMarkedCompleted()" ng-repeat="(error, value) in form['values_' + attribute.id].$error">
        <svg class="iconic">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
        </svg>
        <span translate="{{'post.valid.values.' + error}}" translate-values="{ label : attribute.label }"></span>
    </div>
  </fieldset>

</div>
