<form name="postForm" ng-submit="savePost()" novalidate>
  <div class="mode-context init" dropdown>
    <layout-class layout="a"></layout-class>
    <header class="mode-context-header">
      <ol class="breadcrumbs">
        <li><a href="/" ng-controller="navigation as nav"><bdi>{{nav.site.name}}</bdi></a></li>
      </ol>
      <h1 class="mode-context-title">
        <bdi linkify="">{{post.form.translations[languages.active].name || post.form.name}}</bdi>
      </h1>
    </header>

    <span class="mode-context-trigger" dropdown-toggle>
        <svg class="iconic" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden" translate="app.show_more_less">Show more/less</span>
    </span>

    <div class="mode-context-body">
      <p markdown-to-html="post.form.description" ng-if="post.form.description && !post.form.translations[languages.active].description"></p>
      <p markdown-to-html="post.form.translations[languages.active].description" ng-if="post.form.translations[languages.active].description"></p>

    </div>
  </div>


  <main role="main">
    <div class="toolbar">
      <div class="button-group">
        <post-share button="true"></post-share>
        <button type="submit" class="button-alpha"  ng-if="!saving_post">{{submit}}</button>
        <button type="submit" class="button-alpha"  disabled ng-if="saving_post">{{submitting}}
          <div class="loading">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </button>
      </div>

    </div>

    <div class="full-col">

      <div class="form-sheet">
        <div class="post-band" ng-style="{backgroundColor: post.form.color}"></div>

        <!-- Start Post custom fields -->
        <post-value-edit
            ng-repeat="attribute in post.post_content[0].fields | orderBy: 'priority' as filtered_result track by attribute.id"
            post="post"
            post-field=true
            form="postForm"
            medias="medias"
            attribute="attribute"
            active-survey-language="languages.active"
        ></post-value-edit>
        <!-- End Post custom fields -->

        <div class="toolbox" ng-if="languages.available.length > 1">
          <survey-language-selector title="'View and add to this survey in another language'" languages="languages"></survey-language-selector>
        </div>
      </div>
      <post-tabs
          ng-show="post.post_content.length > 1"
          form="postForm"
          post="post"
          tasks="post.post_content"
          active-survey-language="languages.active"
          medias="medias">
      </post-tabs>
      <ush-logo></ush-logo>
    </div> <!-- END main column -->
  </main>
</form>
