
<section class="form-sheet" translate-language="{{activeLanguage}}">
    <!-- translation for Post title -->
    <div class="form-field required">
        <label translate="post.post_title" required>Post title</label>
        <div class="form-field framed">
            <em translate="translations.edit_default_text"></em><em> ({{('languages.' + defaultLanguage) | translate}}):</em>
            <p>{{post.title}}</p>
        </div>
        <p translate="translations.add_translation">Add your translation below:</p>
        <form name="form.translatedTitle">
            <input type="text" placeholder="{{'translations.edit_placeholder' | translate }}" ng-model="post.translations[activeLanguage].title" required>
            <div
              class="alert error"
              ng-show="form.translatedTitle.$invalid && form.translatedTitle.$dirty"
            >
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                </svg>
                <span translate="translations.post_title_required">Translation for post-title is required</span>
            </div>
        </form>
    </div>
    <!-- Translation for Post description -->
    <div class="form-field survey">
        <label translate="post.post_desc">Post description</label>
        <div class="form-field framed">
            <em translate="translations.edit_default_text"></em><em> ({{('languages.' + defaultLanguage) | translate}}):</em>
            <p>{{post.description}}</p>
        </div>
        <p translate="translations.add_translation">Add your translation below:</p>
        <input type="text" placeholder="{{'translations.edit_placeholder' | translate }}" ng-model="post.translations[activeLanguage].content" required>
    </div>
    <!-- Translation for other text-post fields -->
    <div class="form-field" ng-repeat="task in post.post_content">
          <div class="form-field required" ng-repeat="field in task.fields" ng-if="canTranslate(field) && field.value.value">
              <label translate required> {{field.label}}</label>
              <div class="form-field framed">
                <em translate="translations.edit_default_text"></em><em> ({{('languages.' + defaultLanguage) | translate}}):</em>
                  <p ng-if="field.type !== 'markdown'">{{field.value.value}}</p>
                  <p ng-if="field.type === 'markdown'" markdown-to-html="field.value.value"></p>

              </div>
              <p translate="translations.add_translation">Add your translation below:</p>
              <input
                  ng-if="field.input === 'text'"
                  type='text'
                  placeholder="{{'translations.edit_placeholder' | translate }}"
                  ng-model="field.value.translations[activeLanguage].value"
              >
              <textarea
                  ng-if="field.input === 'textarea'"
                  placeholder="{{'translations.edit_placeholder' | translate }}"
                  ng-model="field.value.translations[activeLanguage].value"
              ></textarea>
              <textarea
                ng-if="field.input === 'markdown'"
                data-min-rows="1"
                rows="1"
                class="adapt-field"
                style="overflow-x: hidden; word-wrap: break-word; height: 55px;"
                ng-model="field.value.translations[activeLanguage].value"
                adaptive-input
                msd-elastic>
            </textarea>
          </div>
      </div>
</section>
   