<div class="form-fieldgroup checkbox">
    <div class="form-field checkbox">
        <label>
            <input
                  type="checkbox"
                  ng-checked="selected.length === available.length"
                  ng-click="selectAll()"
            >
            <em><span translate="category.select_all"></span></em>
        </label>
    </div>
        <div class="form-field checkbox" ng-repeat="category in parents track by $index">
            <label>
                        <input
                            type="checkbox"
                            value="category.id"
                            ng-model="selected"
                            ng-checked="selected.indexOf(category.id) > -1"
                            ng-disabled="category.children.length > 0"
                        >
                        <bdi>{{category.translations[activeLanguage].tag || category.tag}}</bdi>
                    </label>
                    <div class="form-field checkbox" ng-if="category.children" ng-repeat="child in category.children">
                        <label>
                            <input
                                type="checkbox"
                                ng-model="selected"
                                ng-checked="selected.indexOf(child.id) > -1"
                                value="child.id"
                                ng-change="toggleParent(category, child.id)"
                            >
                            <bdi>{{child.translations[activeLanguage].tag || child.tag}}</bdi>
                    </label>
                    </div>
        
        </div>
</div>
<add-category
        form-id="formId"
        attribute="attribute"
        post-value="postValue"
        available="available"
></add-category>