<translations-switch
        languages= "languages"
        languages-to-select="languages.surveyLanguages",
        remove-language="removeLanguage(index, language)"
        ng-if="languages.surveyLanguages.length > 1"
        >
</translations-switch>
<post-translation-editor
        ng-if="languages.default !== languages.active"
        post="post"
        active-language="languages.active"
        default-language="languages.default"
        form="editForm"
></post-translation-editor>
<form name="editForm" novalidate ng-show="languages.default === languages.active">
  <div class="form-sheet" role="article">
    <div class="post-band" ng-style="{backgroundColor: form.color}"></div>
    <header class="form-sheet-summary" ng-if="post.form">
      <h1 class="form-sheet-title survey-title">{{post.form.translations[languages.default].name || post.form.name}}</h1>
      <p>{{post.form.translations[languages.default].description || post.form.description}}</p>
  </header>
<!-- End post stage default fields -->
        <div class="form-field" ng-if="post.data_source_message_id">
          <twitter-widget ng-if="post.data_source_message_id" twitter-widget-id="post.data_source_message_id" twitter-widget-options="{'align': 'left'}">
          </twitter-widget>
        </div>

          <div
            ng-if="!post.form_id"
            class="form-field init required"
            ng-class="{'error': editForm.form.$invalid && editForm.form.$dirty, 'success': !editForm.form.$invalid && editForm.form.$dirty}"
          >

          <p translate="post.unstructured.add_survey.info" translate-values="{source:post.source}"></p>
          <label translate>post.unstructured.add_survey.title</label>
              <select
              class="custom-select"
              ng-change="loadData(form)"
              ng-model="post.form"
            >
              <option selected disabled translate>post.unstructured.add_survey.choose</option>              
              <option ng-repeat="form in forms" ng-value="form">
                {{form.translations[languages.default].name || form.name}}
              </option>

            </select>
          <div class="alert error" ng-show="editForm.form.$dirty" ng-repeat="(error, value) in editForm.form.$error">
            <svg class="iconic">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
            </svg>
            <p translate="{{'post.valid.content.' + error}}"></p>
          </div>
        </div>

        <!-- Start Post custom fields -->
        <post-value-edit
            ng-repeat="attribute in post.post_content[0].fields | orderBy: 'priority' as filtered_result track by attribute.id"
            post="post"
            post-field=true
            form="editForm"
            medias="medias"
            attribute="attribute"
            active-survey-language="languages.active"
            ng-if="post.form"
        ></post-value-edit>
      </div>
        <!-- End Post custom fields -->

        <!-- IF: User has permission to see other 'Tasks' -->
        <post-toolbox form="editForm" post="post" ng-if="post.form"></post-toolbox>

        <post-tabs
          ng-show="post.post_content.length > 1"
          form="editForm"
          post="post"
          tasks="post.post_content"
          fields="fields"
          medias="medias"
          visible-stage="visibleStage"
          ng-if="form"
          active-survey-language="languages.default"
        >
        </post-tabs>
        <post-messages post="post" ng-if="post.contact.id && post.source !== 'twitter'"></post-messages>
      <div class="toolbar toolbar-secondary">
        <div class="button-group">

          <button class="button-flat" ng-click="cancel()" translate>app.cancel</button>
          <button class="button button-alpha" ng-click="savePost()" ng-if="!isSaving()" translate="">app.save</button>
          <loading-dots button-class="'button-alpha'" ng-if="isSaving()" disabled=true label="'app.saving'"></loading-dots>
        </div>
      </div>
  </form>
