<div class="form-sheet">
    <div class="form-sheet-summary">
        <h3 class="form-sheet-title" translate="app.tasks">Tasks</h3>
    </div>
    <nav class="tabs-menu init" data-tabs="tabs-tasks" data-tabs-hash="" ng-show="stages.length > 1">
        <ul>
            <li ng-class="{'active': visibleStage == stage.id}" ng-repeat="stage in stages | limitTo: 1 - stages.length">
                <a ng-click="setVisibleStage(stage.id)">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#file"></use>
                    </svg>
                    {{stage.label}}
                </a>
            </li>
            <li></li> <!-- This prevents vertical tabs layout from breaking. leave this blank. -->
        </ul>
    </nav>
    <!--// END IF -->

    <div class="tabs-tasks active tabs-target">
        <!-- Handle stage completion -->
        <div class="form-field switch"
            ng-repeat="stage in stages | limitTo: 1 - stages.length"
            ng-show="visibleStage === stage.id"
        >
            <label translate="post.task_completed">Task completed</label>
            <div class="toggle-switch">
                <input
                    class="tgl"
                    id="switchT"
                    type="checkbox"
                    ng-checked="stageIsComplete(visibleStage)"
                    ng-click="toggleStageCompletion(visibleStage)">
                <label class="tgl-btn" for="switchT"></label>
            </div>
            <post-value-edit
                    ng-repeat="attribute in stage.attributes | orderBy: 'priority' as filtered_result track by attribute.id"
                    ng-show="attribute.form_stage_id == visibleStage"
                    post="post"
                    form="form"
                    attribute="attribute"
            ></post-value-edit>
        </div>
        <!-- END stage completion -->


    </div>
</div>
