<form name="postForm" ng-submit="savePost()" novalidate>
  <div class="mode-context init" dropdown>
    <layout-class layout="a"></layout-class>
    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
        </ol>

        <h1 class="mode-context-title">{{post.form.name}}</h1>
    </header>

    <span class="mode-context-trigger" dropdown-toggle>
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden" translate="app.show_more_less">Show more/less</span>
    </span>

    <div class="mode-context-body">
        <p>{{post.form.description}}</p>
    </div>
  </div>

  <main role="main">
      <div class="toolbar">
          <div class="button-group" ng-show="post.id">
              <button type="button" class="button-flat" ng-click="cancel()" translate="app.cancel">Cancel</button>
              <button type="submit" class="button-alpha"  ng-if="!saving_post">{{save}}</button>
              <button type="submit" class="button-alpha"  disabled ng-if="saving_post">{{saving}}
                <div class="loading">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
              </button>
          </div>
          <div class="button-group" ng-show="!post.id">
              <post-share button="true" ng-show="!post.id"></post-share>
              <button type="submit" class="button-alpha"  ng-if="!saving_post">{{submit}}</button>
              <button type="submit" class="button-alpha"  disabled ng-if="saving_post">{{submitting}}
                <div class="loading">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
              </button>
          </div>

      </div>

     <div class="main-col">

          <div class="form-sheet">
              <div class="post-band" ng-style="{backgroundColor: form.color}"></div>
              <div class="form-field init required"
              adaptive-form
              ng-class="{
                'error': postForm.title.$invalid && postForm.title.$dirty,
                'success': !postForm.title.$invalid && postForm.title.$dirty
              }">
                  <label>
                      {{postTitleLabel}}
                  </label>
                  <p>
                      {{postTitleInstructions}}
                  </p>
                  <input id="title"
                      name="title" type="text" ng-model="post.title" ng-required="true" ng-minlength=2 ng-maxlength=150 adaptive-input>

                  <div
                      class="alert error"
                      ng-show="postForm.title.$dirty"
                      ng-repeat="(error, value) in postForm.title.$error"
                      >
                      <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                      </svg>
                      <span translate="{{'post.valid.title.' + error}}"></span>
                  </div>
              </div>

              <!-- Post stage default fields -->
              <div class="form-field init required"
                  ng-class="{
                    'error': postForm.content.$invalid && postForm.content.$dirty,
                    'success': !postForm.content.$invalid && postForm.content.$dirty
                  }"
                  adaptive-form>
                  <label>
                      {{postDescriptionLabel}}
                  </label>
                  <p>
                      {{postDescriptionInstructions}}
                  </p>
                    <textarea id="content" name="content" data-min-rows="1" rows="1"
                      ng-model="post.content" ng-required="true" adaptive-input msd-elastic>
                    </textarea>

                  <div class="alert error" ng-show="postForm.content.$dirty" ng-repeat="(error, value) in postForm.content.$error">
                      <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                      </svg>
                      <span translate="{{'post.valid.content.' + error}}"></span>
                  </div>
              </div>

              <!-- End post stage default fields -->

              <!-- Start Post custom fields -->
            
              <post-value-edit
                  ng-repeat="attribute in tasks[0].attributes | orderBy: 'priority' as filtered_result track by attribute.id"
                  post="post"
                  post-field=true
                  form="postForm"
                  medias="medias"
                  attribute="attribute"
              ></post-value-edit>
              <!-- End Post custom fields -->
              <!-- IF: Editing an existing post -->

              <!-- ELSE IF: Adding a new post w/o permission to manage who it's visible to
              <div class="postcard-metadata">
                  <strong>This post will need to be moderated</strong> before it's visible to the public.
              </div>
              END: IF -->



             <!-- IF: User has permission to see other 'Tasks' -->

              <post-toolbox post="post"></post-toolbox>


         </div>
         <post-tabs
             ng-show="tasks.length > 1"
             form="postForm"
             post="post"
             stages="tasks"
             attributes="attributes"
             visible-stage="visibleStage">
          </post-tabs>
          <!-- <div class="form-sheet">
            <div class="form-sheet-actions">
                  <div class="form-field" ng-show="!post.id">
                      <a href="timeline.html" type="submit" class="button button-alpha" translate="app.submit">Submit</a>
                      <a href="post-add.html" class="button button-gamma button-flat" translate"app.submit_antoher">Submit &amp; add another</a>
                  </div>
                  <div class="form-field" ng-show="post.id">
                      <a href="timeline.html" type="submit" class="button button-alpha" translate="app.save">Save</a>
                      <a href="post-add.html" class="button button-gamma button-flat" ng-click="cancel()" translate"app.cancel">Cancel</a>
                  </div>
            </div>
          </div> -->
          <div class="form-sheet" ng-if="post.id">
              <div class="form-sheet-summary">
                  <h3 class="form-sheet-title" translate="post.delete_post">Delete this post</h3>
              </div>

              <div class="form-field">
                  <p translate="post.delete_post_desc"><strong>If you delete this post</strong>, all of its comments and messages will also be deleted. Proceed with caution.</p>

                  <button class="button-destructive" ng-click="deletePost(post)">
                      <svg class="iconic">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#trash"></use>
                      </svg>
                      <span class="button-label" translate="post.delete_post">Delete post</span>
                  </button>
              </div>
          </div>

          <ush-logo></ush-logo>
      </div> <!-- END main column -->

  </main>
</form>
