        <div class="modal-body">
                <fieldset class="form-list">
                    <legend>Add a language</legend>
                    <p ng-show="!survey.enabled_languages.default">You need to specify a default language before adding a new translation. Go back to the survey and select Configure in order to do this.</p>
                    <div class="form-field select" ng-show="survey.enabled_languages.default">
                        <label>Select a language to add translation for</label>
                        <div class="custom-select">
                            <select
                                  ng-model="selectedLanguage"
                                  ng-options="lang.code as lang.name for lang in languagesToSelect"
                                  ng-value="lang.code"
                                  ng-change="selectLanguage(selectedLanguage)"
                              >
                                  <option value="" translate="app.select_language">Select language</option>
                              </select>
                        </div>
                        <div ng-show="showLangError" class="alert error">
                            <svg class="iconic">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                            </svg>
                            <p>You cannot select this language since there is already a translation for it.</p>
                        </div>
                    </div>
                    <!-- v class="form-column">
                        <div ng-repeat="language in languagesToSelect" class="form-field checkbox">
                            <label for={{langague.code}}>
                                <input type="checkbox" ng-model="addLanguage" ng-value="language.code" id={{language.code}}>
                                {{language.name}}
                            </label>            
                        </div>
                    </div> -->
                </div> 
            </fieldset>
        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button modal-trigger" ng-click="add()">Add</button>

                <button type="button" class="button-alpha modal-trigger">Cancel</button>
            </div>
        </div>
    </div>
