        <div class="modal-body">
                <fieldset class="form-list">
                    <legend>Add a language</legend>
                    <p ng-show="!enabledLanguages.default">You need to specify a default language before adding a new translation. Go back to the survey and select Configure in order to do this.</p>
                    <div class="form-field select" ng-show="enabledLanguages.default">
                        <label>Select a language to add translation for</label>
                        <div class="custom-select">
                            <select
                                  ng-model="selectedLanguage"
                                  ng-options="lang.code as lang.name for lang in languagesToSelect"
                                  ng-value="lang.code"
                                  ng-change="selectLanguage(selectedLanguage)"
                              >
                                  <option value="" translate="app.select_language">Select language</option>
                              </select>
                        </div>
                    </div>
            </fieldset>
            <div ng-show="showLangError" class="alert error">
                <svg class="iconic">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                </svg>
                <p>{{langError}}</p>
            </div>   
        </div>
        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button modal-trigger" ng-click="add()">Add</button>
                <button type="button" class="button-alpha modal-trigger" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
