<div class="form-fieldgroup checkbox">
    <div class="form-field checkbox">
        <label>
            <input
                  type="checkbox"
                  ng-checked="selectAllEnabled()"
                  ng-click="selectAll()"
            >
            <em><span translate="category.select_all"></span></em>
        </label>
    </div>
    <div class="form-field checkbox" ng-repeat="(index, category) in categories" ng-if="category.parent_id === null">
        <label>
            <input
                ng-show="!category.children || category.children.length === 0 || enableParents === true"
                type="checkbox"
                checklist-value="category.id"
                ng-disabled="disabledCategories[category.id]"
                value="category.id"
                checklist-model="selected"
                checklist-change="changeCategories()"
            >
            <input
                    ng-show="category.children.length > 0 && enableParents === false"
                    type="checkbox"
                    checklist-value="category.id"
                    ng-disabled="true"
                    value="category.id"
                    checklist-model="selectedParents"
            >
            <bdi>{{category.translations[activeLanguage.language].tag || category.tag}}</bdi>
        </label>
        <div class="form-field checkbox" ng-if="category.children" ng-repeat="child in category.children">
            <label>
                <input
                    type="checkbox"
                    checklist-model="selected"
                    checklist-value="child.id"
                    value="child.id"
                    ng-selected="selected.indexOf(category.id) >-1"
                    checklist-change="changeCategories()"
                >
                <bdi>{{child.translations[activeLanguage.language].tag || child.tag}}</bdi>
        </label>
        </div>
    </div>
    <div ng-if="categoryTranslationUnavailable.length > 0 && displayWarning" class="alert">
        <span ng-if="categoryTranslationUnavailable.length === 1">Please note: The following category is not available in {{'languages.' + activeLanguage.language | translate | lowercase}}. Its default-language will be displayed instead:</span>
        <span ng-if="categoryTranslationUnavailable.length > 1">Please note: The following categories are not available in {{'languages.' + activeLanguage.language | translate | lowercase}}. Their default-languages will be displayed instead:</span>
        <ul>
            <li ng-repeat="category in categoryTranslationUnavailable">{{category.tag}} (default language: {{'languages.' + category.enabled_languages.default | translate | lowercase}})</li>
        </ul>
        To add translations to categories, head over to <a href="/settings/categories" class="link-blue" target="_blank">Category Settings</a></p>
    </div>
</div>
