<div class="form-fieldgroup checkbox" ng-if="categories.length > 0" overflow-toggle has-overflow="categories.length > 2">
    <div class="form-field checkbox">
        <label>
            <input
                  type="checkbox"
                  ng-checked="selectAllEnabled()"
                  ng-click="selectAll()"
            >
            <em><span translate="category.select_all"></span></em>
        </label>
    </div>
    <div class="form-field checkbox" ng-repeat="(index, category) in categories" ng-class="{ overflow : ($index > 1) }" ng-if="category.parent_id === null">
        <label>
            <input
                ng-show="category.children.length === 0 || enableParents === true"
                type="checkbox"
                checklist-value="category.id"
                ng-disabled="disabledCategories[category.id]"
                value="category.id"
                checklist-model="selected"
                checklist-change="changeCategories()"
            >
            <input
                    ng-show="category.children.length > 0 && enableParents === false"
                    type="checkbox"
                    checklist-value="category.id"
                    ng-disabled="true"
                    value="category.id"
                    checklist-model="selectedParents"
            >
            <bdi>{{ ::category.tag }}</bdi>
        </label>
        <div class="form-field checkbox" ng-if="category.children" ng-repeat="child in category.children">
            <label>
                <input
                    type="checkbox"
                    checklist-model="selected"
                    checklist-value="child.id"
                    value="child.id"
                    ng-selected="selected.indexOf(category.id) >-1"
                    checklist-change="changeCategories()"
                >
                <bdi>{{ ::child.tag }}</bdi>
        </label>
        </div>
    </div>
    <span class="form-field-toggle">
        <svg class="iconic" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span translate="nav.more">More</span>
    </span>
  </div>
