<!--<input name="file" type="file" custom-on-change='uploadFile' ng-required="{{ required }}" />-->

<div>Crop Image and Upload
<button ng-show="showAdd()" class="button button-gamma" ngf-select   ngf-resize="{quality: .8, centerCrop: true}" ng-model="picFile" accept="image/*">
    <svg class="iconic">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#plus"></use>
    </svg>
    <span class="button-label" translate="post.media.add_photo"></span>
</button>

<button ng-show="showReplace()" class="button button-gamma" ngf-select   ngf-resize="{quality: .8, centerCrop: true}" ng-model="picFile" accept="image/*">
    <svg class="iconic">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#plus"></use>
    </svg>
    <span class="button-label" translate="post.media.add_photo"></span>
</button>

<div ng-if="crop" ngf-drop ng-model="picFile" ngf-pattern="image/*"
     class="cropArea">
    <img-crop area-type="square" image="picFile  | ngfDataUrl"
              result-image="croppedDataUrl"
              ng-init="croppedDataUrl=''">
    </img-crop>
</div>
<div ng-if="crop">
    <img ng-src="{{croppedDataUrl}}"/>
</div>

<div>
    <img ng-if="!crop" class="preview" ngf-src="picFile"
         ngf-background="file"
         ngf-resize="{quality: 0.7}"
         ngf-no-object-url="true" />
</div>
<button ng-click="crop=!crop">Crop</button>
<button ng-click="uploadFile(picFile, croppedDataUrl)">Submit</button>

<span class="progress" ng-show="progress >= 0">
        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
    </span>
<span ng-show="result">Upload Successful</span>
<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
</div>
