<div class="mainsheet init active" ng-show="showMainsheet" style="display: block; opacity: 1;">
    <div class="mainsheet-window">
        <button class="button-beta button-flat mainsheet-trigger-close" ng-show="showCloseButton" ng-click="closeMainsheet()">
            <svg class="iconic" role="img">
                <!-- TODO: fix icon to be settable -->
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#x"></use>
            </svg>
            <span class="hidden" translate>modal.button.close</span>
        </button>
        <h3 class="mainsheet-heading" ng-if="title">
            {{ title | translate }}
        </h3>
        <mainsheet-content></mainsheet-content>
    </div>
    <div class="mainsheet-overlay" ng-click="closeMainsheet()"></div>
</div>
