<div class="button-group button-tab-section" >
    <button type="button" class="button button-tab" ng-class="{'active': languages.active === languages.default}" ng-show="languages.default" ng-click="switchToLanguage(languages.default)">
      {{'languages.' + languages.default | translate}}
        <span> ({{'translations.default' | translate}})</span>
    </button>
    <button ng-repeat="language in languages.available track by $index" type="button" class="button button-tab" ng-class="{'active': languages.active === language}" ng-click="switchToLanguage(language)">
      {{('languages.' + language) | translate}}
        <svg class="iconic" ng-click="removeLanguage({index: $index, language:language})">
            <use xlink:href="/img/iconic-sprite.svg#x"></use>
        </svg>
    </button>
    <button type="button" ng-click="openLanguages()" class="button button-right modal-trigger">
      <svg class="iconic">
          <use xlink:href="/img/iconic-sprite.svg#plus"></use>
      </svg>
      {{"translations.add_translation_lang" | translate}}
    </button>
  
  </div>
