<div class="form-editor">
    <h1 class="inline" translate translate-values="{ form : form.name }">form.edit_post_type</h1>

    <a class="cta settings" ng-click="openSettings()" translate>form.post_type_settings</a>

    <div class="divider white"></div>

    <modal visible="isSettingsOpen">
        <h3 class="settings" translate>form.post_type_settings</h3>
        <div class="divider padded"></div>

        <div class="form-info">
            <label class="input-label" translate>form.form_name</label>
            <input type="text" value="{{ form.name }}" ng-model="form.name">
            <label class="input-label" translate>form.form_description</label>
            <input type="text" value="{{ form.description }}" ng-model="form.description">
        </div>

        <div class="modal-submit">
            <button type="button" class="button-primary" ng-click="saveFormSettings(form)" translate>form.save_post_type</button>
        </div>
    </modal>

    <div class="divider white"></div>

    <h2>Steps</h2>

    <div class="post-type-fields">
        <div class="post-type-field settings-listing" ng-repeat="stage in form.stages track by stage.id">
            <div class="upvote-downvote">
                <button type="button" class="button-secondary icon-only alt upvote" ng-click="changePriority(stage, -1)"></button>
                <button type="button" class="button-secondary icon-only alt downvote" ng-click="changePriority(stage, +1)"></button>
            </div>
            <h3><a ng-href="/settings/forms/{{formId}}/stages/{{stage.id}}" ng-model="stage.label">{{ stage.label }}</a></h3>
            <div class="actions">
                <a ng-href="/settings/forms/{{formId}}/stages/{{stage.id}}" type="button" class="button-secondary icon-only-when-small edit toggle-content-trigger">
                    <span translate>nav.edit</span>
                </a>
                <button type="button" class="button-secondary icon-only alt trash" ng-click="deleteStage(stage, $index)"></button>
            </div>
        </div>
        <div class="settings-listing">
            <a ng-click="openNewStage()">
                <div class="button-secondary icon-only alt plus"></div>
                <h3 translate>
                    form.add_new_step
                </h3>
            </a>
        </div>
    </div>

    <div class="divider white"></div>

    <a class="cta trash button button-secondary" ng-click="deleteForm()" translate>form.delete_post_type</a>

    <modal title="form.add_new_step" visible="isNewStageOpen">
        <div class="form-info">
            <label class="input-label" translate>form.step_name</label>
            <input type="text" ng-model="newStage.label">
            <label>
                <input type="checkbox" ng-model="newStage.required">
                <span translate>form.step_required</span>
            </label>
        </div>

        <div class="modal-submit">
            <button type="button" class="button-primary" ng-click="saveNewStage(newStage)" translate>form.save_post_step</button>
        </div>
    </modal>

</div>
