<main form-editor class="page-content" role="main">
    <div class="page-header">
        <ul class="breadcrumb">
            <li><a ng-href="/settings" translate>nav.settings</a></li>
            <li><a ng-href="/settings/forms" translate>nav.posts_and_entities</a></li>
            <li class="active" translate>nav.edit_post_type</li>
        </ul>
        <div class="page-header-body">
            <h1 class="page-title"><span class="icon-left fa-pencil">Edit Post Type</span></h1>
        </div>
        <div class="page-header-actions">
            <button ng-click="saveFormSettings(form)" translate>form.save_post_type</button>
        </div>
    </div>

    <div class="main-col">
        <div class="form-field title">
            <label translate>form.form_name</label>
            <input type="text" value="{{form.name}}">
        </div>
        <div class="form-field">
            <label translate>form.form_description</label>
            <textarea>{{form.description}}</textarea>
        </div>
        <!--
        <div class="form-field">
            <label>Who can contribute to this post type</label>
            <div class="custom-select init">
                <select>
                    <option selected="">Everyone</option>
                    <option>Members</option>
                    <option>Administrators</option>
                </select>
            </div>
        </div>
        <div class="form-field">
            <label>Require moderation of new posts before they’re visible to everyone</label>
            <div class="toggle-switch">
                <input class="tgl" id="switch1" type="checkbox">
                <label class="tgl-btn" for="switch1"></label>
            </div>
        </div>
        <fieldset>
            <legend>Presentation</legend>
            <div class="form-field radio">
                <input type="radio" name="presentation" id="basic" value="basic">
                <label for="basic">Basic</label>
            </div>
            <div class="form-field radio">
                <input type="radio" name="presentation" id="article" value="article">
                <label for="article">Article</label>
            </div>
            <div class="form-field radio">
                <input type="radio" name="presentation" id="location" value="location">
                <label for="location">Location</label>
            </div>
        </fieldset>
        -->
    </div><!--end main col-->
    <div class="vertical-tabs">
        <nav class="vertical-tabs-menu init">
            <ul>
                <!--
                <li class="active"><span class="icon-left fa-file-o">Post</span></li>
                -->
                <li          
                    ng-repeat="stage in form.stages"
                    ng-class="{'active': visibleStage == stage.id}"  
                >
                    <a ng-click="setVisibleStage(stage.id)">
                        <span 
                            class="icon-left" 
                            ng-class="{'fa-{{stage.icon}}': stage.icon}">{{stage.label}}</span>
                    </a>    
                </li>


                <li><a ng-click="openNewStage()"><span class="icon-left fa-plus" translate>form.add_step</span></a></li>
            </ul>
        </nav>
        <div class="vertical-tabs-content">
            <div class="page-header">
                <div class="page-header-body">
                    <h2 class="delta-alt">Fields</h2>
                    <p class="small" translate>form.choose_order_message</p>
                </div>
                <div class="page-header-actions">
                    <button class="button-secondary" ng-click="openNewAttribute()" data-modal="add-field"><span class="icon-left fa-plus" translate>form.add_field</span></button>
                </div>
            </div>
            <div
                ng-repeat="attribute in form.grouped_attributes track by $index" 
                ng-show="visibleStage == attribute.form_stage_id"
                is-open="editIsOpen[$index]"
                dropdown
                auto-close="disabled"
                class="settings-listing">
                <div class="upvote-downvote">
                    <button
                        ng-click="changeAttributePriority(attribute, -1)"
                        type="button" class="button-secondary icon-only alt upvote" ng-disabled="($index == 0) || (form.grouped_attributes[$index-1].form_stage_id != attribute.form_stage_id)"></button>
                    <button 
                        ng-click="changeAttributePriority(attribute, +1)"
                        type="button" class="button-secondary icon-only alt downvote" ng-disabled="($index == attributes.length-1) || (form.grouped_attributes[$index+1].form_stage_id != attribute.form_stage_id)"></button>
                </div>
                <h3 
                    dropdown-toggle 
                    class="dropdown toggle-content-trigger settings-listing-title">
                    <a href="">{{attribute.label}}</a>
                </h3>
                <div class="actions">
                    <button type="button" ng-click="deleteAttribute(attribute, $index)"class="button-destructive alt"><span class="icon-only fa-trash">Delete</span></button>
                </div>
                <form class="init toggle-content" dropdown-menu>
                    <label class="input-label" translate>form.field_name</label>
                    <input type="text" value="{{ attribute.label }}" placeholder="{{ 'form.field_name_placeholder'|translate }}" ng-model="attribute.label" ng-change="labelChanged(attribute)">

                    <label class="input-label" translate>form.field_key</label>
                    <input type="text" value="{{ attribute.key }}" placeholder="{{ 'form.field_key_placeholder'|translate }}" ng-model="attribute.key">

                    <label class="input-label" translate>form.field_default</label>
                    <div ng-switch="attribute.input">
                       <input ng-switch-when="location" type="text" placeholder="{{ 'form.default_location_placeholder'|translate }}" ng-model="attribute.default">
                        <input ng-switch-when="date" type="text" date-time="attribute.default" ng-model="attribute.default">
                        <input ng-switch-when="int" type="number" step="1" ng-model="attribute.default">
                        <input ng-switch-when="decimal" type="number" ng-model="attribute.default">
                        <input ng-switch-default type="text" placeholder="{{ 'form.default_default_placeholder'|translate }}" ng-model="attribute.default">
                    </div>
                    <div ng-if="hasOptions(attribute)" >
                        <label class="input-label" translate>form.field_options</label>
                        <div class="input-inline" ng-repeat="(key, option) in attribute.options track by $index">
                           <input type="text" placeholder="{{ 'form.field_option_placeholder'|translate }}" ng-model="attribute.options[key]">
                            <button type="button" class="button-secondary alt trash" ng-if="attribute.options.length > 1" ng-click="removeOption(attribute, key)"></button>
                        </div>
                        <button type="button" class="button-secondary alt" ng-click="addOption(attribute)"><i class="fa fa-plus"></i> <span translate>form.field_add_option</span></button>
                   </div>
                   <div ng-if="attribute.input === 'relation'">
                       <label class="input-label" translate>form.field_allowed_relation_post_type</label>
                       <ul name="visible-to">
                          <li ng-repeat="relationForm in availableForms | filter : filterNotCurrentForm">
                              <label class="checkbox-label">
                                  <input type="checkbox" checklist-model="attribute.config.input.form" checklist-value="relationForm.id" />
                                   {{relationForm.name}}
                              </label>
                          </li>
                       </ul>
                   </div>
                   <div>
                      <label class="input-label" translate>form.field_type</label>
                      <p>{{attribute.input}} ({{attribute.type}})</p>
                   </div>
                   <p class="clearfix">
                       <label class="checkbox-label">
                          <input type="checkbox" ng-model="attribute.required">
                          <span translate>form.field_required</span>
                       </label>
                    </p>
                   <div>
                       <button type="button" class="button-primary" ng-click="saveAttribute(attribute, $index)">{{ 'form.save_and_close'|translate }}</button>
                   </div>
               </form>     
            </div>
        </div>
   </div>
    <modal title="form.add_field" visible="isNewAttributeOpen">
        <div class="cards-select">
            <div class="selection-card" ng-repeat="type in availableAttrTypes">
                <a ng-click="addNewAttribute(type.type, type.input, type.label)" >
                    <h3>{{ type.label }}</h3>
                </a>
            </div>
        </div>
    </modal>

    <modal title="form.add_step" visible="isNewStageOpen">
        <div class="form-info">
            <label class="input-label" translate>form.step_name</label>
            <input type="text" ng-model="newStage.label">
            <label class="checkbox-label">
                <input type="checkbox" ng-model="newStage.required">
                <span translate>form.step_required</span>
            </label>
        </div>

        <div class="modal-submit">
            <button type="button" class="button-primary" ng-click="saveNewStage(newStage)" translate>form.save_post_step</button>
        </div>
    </modal>

</main>

