<main class="page-content" role="main">
    <div class="page-header">
        <ul class="breadcrumb">
            <li><a ng-href="/settings" translate>nav.settings</a></li>
            <li class="active" translate>nav.posts_and_entities</li>
        </ul>
        <div class="page-header-body">
            <h1 class="page-title">Post Types</h1>
        </div>
        <div class="page-header-actions">
            <button ng-click="openNewForm()" class="button-secondary"><span class="icon-left fa-plus" translate>form.add_post_type</span></button>
        </div>
    </div>
    <div class="main-col">
        <div class="divider white"></div>
        <div ng-show="forms.length" ng-repeat="form in forms" class="settings-listing">
            <!--
            <div class="upvote-downvote">
                <button ng-click="changePriority()" type="button" class="button-secondary icon-only alt upvote" disabled=""></button>
                <button type="button" class="button-secondary icon-only alt downvote"></button>
            </div>
            -->
            <h3 class="settings-listing-title"><a href="/settings/forms/{{form.id}}">{{form.name}}</a></h3>
            <div class="actions">
                <button ng-click="deleteForm(form)" type="button" class="button-destructive alt"><span class="icon-only fa-trash" translate>form.delete</span></button>
            </div>
        </div>
    </div><!--end main col-->

    <modal visible="isNewFormOpen">
        <h3 class="settings" translate>form.post_type_settings</h3>
        <div class="divider padded"></div>

        <div class="form-info">
            <label class="input-label" translate>form.form_name</label>
            <input type="text" value="{{ form.name }}" ng-model="form.name">
            <label class="input-label" translate>form.form_description</label>
            <input type="text" value="{{ form.description }}" ng-model="form.description">
        </div>

        <div class="modal-submit">
            <button type="button" class="button-primary" ng-click="saveNewForm(form)" translate>form.save_post_type</button>
        </div>
    </modal>


</main>
