<main class="page-content has-aside main-col" role="main">
    <ul class="breadcrumb">
        <li><a ng-href="/settings" translate>nav.settings</a></li>
        <li class="active" translate>nav.posts_and_entities</li>
    </ul>

    <h1 class="title">{{title}}</h1>
    <p>
        Post types define the structure of posts in your deployment.
    </p>

    <div class="divider padded"></div>

    <h4>Start from scratch:</h4>
    <div class="cards-select">
        <div class="selection-card custom" ng-show="forms.length < formQuota || formQuota === true">
            <a ng-click="openNewForm()" >
                <h3>Add a new post type</h3>
            </a>
        </div>
        <p ng-show="forms.length >= formQuota && formQuota !== true">
            <span translate>limit.post_type_limit_reached</span>
        </p>
    </div>

    <div ng-show="forms.length">
        <h4>Or edit existing post types:</h4>

        <div class="cards-select">
            <div class="selection-card" ng-repeat="form in forms">
                <a href="/settings/forms/{{ form.id }}">
                    <h3>{{ form.name }}</h3>
                    <p>{{ form.description }}</p>
                </a>
            </div>
        </div>
    </div>

    <modal visible="isNewFormOpen">
        <h3 class="settings" translate>form.post_type_settings</h3>
        <div class="divider padded"></div>

        <div class="form-info">
            <label class="input-label" translate>form.form_name</label>
            <input type="text" value="{{ form.name }}" ng-model="form.name">
            <label class="input-label" translate>form.form_description</label>
            <input type="text" value="{{ form.description }}" ng-model="form.description">
        </div>

        <div class="modal-submit">
            <button type="button" class="button-primary" ng-click="saveNewForm(form)" translate>form.save_post_type</button>
        </div>
    </modal>

</main>
