<div class="listing-toolbar">
    <div class="listing-toolbar-summary">
        <strong ng-show="selectedSet.length">
            <span class="total">
                {{selectedSet.length}}
            </span>
            <span translate>user.selected</span>
        </strong>
        <button class="button-link" ng-click="deselectAll()" translate>user.deselect</button>
        <button class="button-link" ng-click="selectAll()" translate>user.select_all</button>
    </div>

    <div class="listing-toolbar-actions">
        <ng-transclude></ng-transclude> 
    </div>
</div>
