/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
* USER SETTINGS...............app wide settings
*/


// Grid
$grid-columns: 12;
$gutter: 1.6888em;
$max-width: 1280px;
$mobile-min-width: (30em) !default; // 480px
$mobile-up-min-width: (30.063em) !default; // 481px
$small-min-width: (48em) !default; // 768px
$medium-min-width: (64em) !default; // 1024px
$large-min-width: (64.063em) !default; // 1025px
$xlarge-min-width: (90em) !default; // 1440px
$xxlarge-min-width: (120em) !default; // 1920px

// Breakpoints
$mobile: new-breakpoint(min-width $mobile-min-width);
$mobile-up: new-breakpoint(min-width $mobile-up-min-width);
$small: new-breakpoint(min-width $small-min-width);
$medium: new-breakpoint(min-width $medium-min-width);
$large: new-breakpoint(min-width $large-min-width);
$xlarge: new-breakpoint(min-width $xlarge-min-width);
$xxlarge: new-breakpoint(min-width $xxlarge-min-width);

/*------------------------------------*\
	$COLORS
\*------------------------------------*/

// Ushahidi Pallette
$primary-color: #52c0c0;
$secondary-color: #eff0f3;
$alert-color: #f96c5f;
$warning-color: #fec244;
$success-color: #68bc7a;

$black:          #000;
$darkGray:       #333333;
$lightGray:        #e3e3e3;
$white:          #fcfcfc;

$blueGray:       #2f3e4d;
$darkBlue:       #226a9c;

$body-bg: $secondary-color;
$workspace-body-bg: $lightGray;

// Social Networks
$facebook-color:  #3b5998;
$twitter-color:   #00acee;
$google-color:    #dd4b39;



// Fonts
$base-font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-color: $darkGray;
$sub-body-font-color: #717171;
$body-font-weight: normal;
$body-font-style: normal;

$small-font-size: .8em;

//Layout

$global-radius: 3px;
