/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* USER SETTINGS...............app wide settings
*/

// Grid
$grid-columns: 12;
$gutter: 1.6888em;
$max-width: 1580px;
$mobile-min-width: (30em) !default; // 480px
$mobile-up-min-width: (30.063em) !default; // 481px
$small-min-width: (48em) !default; // 768px
$medium-min-width: (64em) !default; // 1024px
$large-min-width: (64.063em) !default; // 1025px
$xlarge-min-width: (90em) !default; // 1440px
$xxlarge-min-width: (120em) !default; // 1920px

// Breakpoints
$mobile: new-breakpoint(min-width $mobile-min-width);
$mobile-up: new-breakpoint(min-width $mobile-up-min-width);
$small: new-breakpoint(min-width $small-min-width);
$medium: new-breakpoint(min-width $medium-min-width);
$large: new-breakpoint(min-width $large-min-width);
$xlarge: new-breakpoint(min-width $xlarge-min-width);
$xxlarge: new-breakpoint(min-width $xxlarge-min-width);


/*------------------------------------*\
    $TRANSITIONS
\*------------------------------------*/

$transition-duration: 0.1s;

/*------------------------------------*\
    $Z-INDEX
\*------------------------------------*/

$offcanvas: 600;
$topbar: 500;
$filter: 400;
$map: 300;
$body: 200;
