/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* USER SETTINGS...............app wide settings
*/





// Grid
$grid-columns: 12;
$gutter: 1.6888em;
$max-width: 1580px;
$mobile-min-width: (30em) !default; // 480px
$mobile-up-min-width: (30.063em) !default; // 481px
$small-min-width: (48em) !default; // 768px
$medium-min-width: (64em) !default; // 1024px
$large-min-width: (64.063em) !default; // 1025px
$xlarge-min-width: (90em) !default; // 1440px
$xxlarge-min-width: (120em) !default; // 1920px

// Breakpoints
$mobile: new-breakpoint(min-width $mobile-min-width);
$mobile-up: new-breakpoint(min-width $mobile-up-min-width);
$small: new-breakpoint(min-width $small-min-width);
$medium: new-breakpoint(min-width $medium-min-width);
$large: new-breakpoint(min-width $large-min-width);
$xlarge: new-breakpoint(min-width $xlarge-min-width);
$xxlarge: new-breakpoint(min-width $xxlarge-min-width);

/*------------------------------------*\
    $COLORS
\*------------------------------------*/

// Ushahidi Pallette
$primary-color: #52c0c0;
$secondary-color: #eff0f3;
$error-color: #f96c5f;
$warning-color: #fec244;
$success-color: #68bc7a;

$black:          #000;
$dark-gray:       #333333;
$light-gray:        #e3e3e3;
$white:          #fcfcfc;

$blue-gray:       #2f3e4d;
$dark-blue:       #226a9c;

$body-bg: $white;
$workspace-body-bg: $light-gray;

// Social Networks
$facebook-color:  #3b5998;
$twitter-color:   #00acee;
$google-color:    #dd4b39;

/*------------------------------------*\
    $TYPE
\*------------------------------------*/

// Layout
$global-radius: 3px;

// Typography
$base-font-family: $helvetica;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$small-font-size: .8em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue-gray;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

/*------------------------------------*\
    $TRANSITIONS
\*------------------------------------*/

$transition-duration: 0.1s;

/*------------------------------------*\
    $Z-INDEX
\*------------------------------------*/

$offcanvas: 600;
$topbar: 500;
$filter: 400;
$map: 300;
$body: 200;
