.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &-icon-wrapper {
    padding: 16px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #c7ccd4;
    transition: 0.3s;
    &:hover {
      color: #fff;
      .sidebar-icon-label {
        color: #fff;
      }
    }
    &.active {
      color: #ffc334;
      .sidebar-icon-label {
        color: #ffc334;
      }
    }
  }
  &-icon-label {
    color: #c7ccd4;
    font-size: 12px;
    cursor: pointer;
  }
}
