<div class="sidebar">
  <div>
    <div
      *ngFor="let item of menu"
      class="sidebar-icon-wrapper"
      [routerLink]="item.router"
      routerLinkActive="active"
    >
      <mat-icon>{{ item.icon }}</mat-icon>
      <label class="sidebar-icon-label">{{ item.label }}</label>
    </div>
  </div>
  <div>
    <ng-container *ngFor="let item of userMenu">
      <div *ngIf="item.visible" class="sidebar-icon-wrapper" (click)="item.action()">
        <mat-icon>{{ item.icon }}</mat-icon>
        <label class="sidebar-icon-label">{{ item.label }}</label>
      </div>
    </ng-container>
    <div class="sidebar-icon-wrapper">
      <app-logo></app-logo>
    </div>
  </div>
</div>
