
<div
    class="message"
    ng-class="{'active': classVisible}"
    tabindex="-1"
>

    <div class='progress-bar' ng-if="loading"><span>Loading...</span></div><br>

    <div 
        class="message-image"
        ng-if="icon"
        ng-class="iconClass"
    >
        <svg class="iconic" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icon }}"></use>
        </svg>
    </div>

    <div
        class="message-body"
    >
		<slider-content></slider-content>

        <button class="button-flat message-trigger" ng-show="showCloseButton" ng-click="closeButtonClicked()" translate="message.button.dismiss">
            Dismiss
        </button>
    </div>
</div>
