@include global {
	button,
	[class*="button-"] {
		display: inline-block;
		outline: none;
		color: $black-text;
		@include typeBase;
		font-size: 15px;
		font-size: 1rem;
		text-align: center;
		text-decoration: none;
		border: 1px solid $grey-border;
		@include box-shadow;
		background-color: $white-base;
		padding: 10px 15px;
		@include transition;
		&:hover {
			cursor: pointer;
			background-color: $grey-heading;
		}
		&:active {
			border-color: $black-text;
			background-color: $grey-heading;
		}
	}

	button[type="submit"],
	.button-primary {
		color: $white-base;
		border-color: $green-heading;
		background-color: $green-heading;
		&:hover {
			border-color: $green-border;
			background-color: $green-border;
		}
		&:active {
			background-color: $green-heading;
		}
	}

	.button-secondary {
		color: $white-base;
		border-color: $blue-base;
		background-color: $blue-base;
		&:hover {
			border-color: $black-heading;
			background-color: $black-heading;
		}
		&:active {
			background-color: $blue-base;
		}
	}
}