@include global {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	textarea {
		font-size: 15px;
		font-size: 1rem;
		outline-color: #4AA6E2;
		resize: none;
		border: 1px solid $grey-border;
		@include equal-radius;
		@include typeBase;
		padding: 5px 10px;
		@include border-box;
		@include transition;
		&.error {
			outline-color: $red-border;
			@include box-shadow($top: 0, $left: 0, $blur: 2px, $spread: 0, $color: rgba(208,2,27,1), $inset: false);
			border-color: $red-border;
		}
	}

	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder {
		font-size: 15px;
		font-size: 1rem;
	}

	textarea {
		@include typeBase;
		padding: 1em;
	}

	label {
		@include typeBase;
		color: $black-text;
		font-size: 15px;
		font-size: 1rem;
		+ input,
		+ textarea {
			margin-top: 8px;
		}
	}

	form {
		p {
			font-size: 14px;
			font-size: .933333333rem;
			margin-bottom: 1em;
		}
	}

	.ui-checkbox {
		display: inline-block;
		width: 15px;
		height: 15px;
		@include equal-radius;
		border: 1px solid $grey-border;
		background-color: $white-base;
		&:hover {
			cursor: pointer;
		}
		.ui-checkbox-checkmark {
			color: $white-base;
		}
		input[type="checkbox"] {
			display: none;
		}
		&.checked {
			border-color: $green-base;
			.ui-checkbox-checkmark {
				color: $green-base;
			}
		}
		&.ui-toggleswitch {
			width: auto;
			border-color: transparent;
			li {
				display: inline-block;
				border: 1px solid $grey-border;
				background-color: $grey-base;
				padding: 5px 10px;
				&:first-child {
					@include radius($top-left: 3px, $top-right: 0, $bottom-right: 0, $bottom-left: 3px);
				}
				&:last-child {
					color: $white-base;
					@include radius($top-left: 0, $top-right: 3px, $bottom-right: 3px, $bottom-left: 0);
					border-color: $green-base;
					background-color: $green-base;
				}
			}
			&.checked {
				li {
					&:first-child {
						color: $white-base;
						border-color: $green-base;
						background-color: $green-base;
					}
					&:last-child {
						color: $black-text;
						border-color: $grey-border;
						background-color: $grey-base;
					}
				}
			}
		}
	}

	.ui-radio {
		display: inline-block;
		width: 15px;
		height: 15px;
		@include equal-radius(100%);
		border: 2px solid $grey-border;
		background-color: $white-base;
		&:hover {
			cursor: pointer;
		}
		input[type="radio"] {
			display: none;
		}
		&.checked {
			border-color: $green-base;
			background-color: $green-base;
		}
		&.disabled {
			border-color: $grey-heading;
			&.checked {
				background-color: $grey-heading;
			}
		}
	}

	.ui-select {
		display: inline-block;
		position: relative;
		@include equal-radius;
		border: 1px solid $grey-border;
		background-color: $grey-heading;
		&:hover {
			cursor: pointer;
			background-color: $grey-base;
		}
		select,
		.ui-select-options {
			display: none;
		}
		span {
			float: right;
			color: $black-text;
			border-left: 1px solid $grey-border;
			padding: 8px 10px;
		}
		.ui-select-selected {
			float: left;
			padding: 8px 10px;
		}
		.ui-select-options {
			position: absolute;
			top: 115%;
			right: 0;
			left: 0;
			@include equal-radius;
			border: 1px solid $grey-border;
			@include box-shadow;
			background-color: $white-base;
			li {
				padding: 0.5em 1em;
				&.selected,
				&:hover {
					background-color: $grey-base;
				}
				&:first-child {
					margin-top: 0.25em;
				}
				&:last-child {
					margin-bottom: 0.25em;
				}
			}
		}
	}
}