@include global {
	.tag {
		color: $white-base;
		background-color: $blue-link;
		padding: 5px 10px;
		* {
			margin-left: 5px;
			&:hover {
				cursor: pointer;
				text-shadow: 0 0 2px rgba(0,0,0,.5);
			}
		}
	}

	.thumbnail {
		@include equal-radius;
	}
}