<fieldset class="custom-fieldset init" data-fieldset-type="color" dropdown auto-close="outsideClick">

    <legend class="dropdown-trigger init active" data-toggle="dropdown-menu" dropdown-toggle>
        <span class="swatch" style="background-color: {{colorContainer.color}};"></span>
        <span class="legend-label">Color</span>
        <svg class="iconic chevron">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
    </legend>

    <div class="dropdown-menu init" dropdown-menu>
        <div class="form-field">
            <label translate>color_picker.hex_value</label>
            <input type="text" data-input-type="color" ng-change="setColor(color)" ng-model="color">
        </div>

        <div class="form-field custom-fieldset-helper">
            <button class="button-gamma" data-button-type="color" value="A51A1A" style="border-top-color: #A51A1A;" ng-click="setColor('#A51A1A')" translate>color_picker.red</button>
            <button class="button-gamma" data-button-type="color" value="E69327" style="border-top-color: #E69327;" ng-click="setColor('#E69327')" translate>color_picker.gold</button>
            <button class="button-gamma" data-button-type="color" value="2274B4" style="border-top-color: #2274B4;" ng-click="setColor('#2274B4')" translate>color_picker.blue</button>
            <button class="button-gamma" data-button-type="color" value="5BAA00" style="border-top-color: #5BAA00;" ng-click="setColor('#5BAA00')" translate>color_picker.green</button>
        </div>
    </div>

</fieldset>
