<main class="page-content" role="main">
  <div class="main-col">
    <h1 class="inline" translate>nav.notifications</h1>
    <div class="clearfix"></div> 


    <h3 translate ng-if="contacts.length !== 0">notification.contacts_heading</h3>


    <div class="clearfix"></div> 

    <div>
      <div class="settings-listing"
           ng-repeat="contact in contacts"
           auto-close="disabled"
           dropdown>
        <div class="toggle-switch">
          <input class="tgl"
                 id="{{contact.id || false}}"
                 type="checkbox"
                 ng-model="contact.can_notify"
                 ng-change="saveContact(contact)">
          <label class="tgl-btn" for="{{contact.id || false}}"></label>
        </div>
        <h3>
          <a class="dropdown toggle-content-trigger" dropdown-toggle>{{contact.contact}}</a>
        </h3>
        <div class="actions">
          <button type="button"
                  ng-click="cancelContactEdit(contact)"
                  ng-if="contact.id"
                  class="button-secondary icon-only-when-small edit dropdown toggle-content-trigger"
                  dropdown-toggle>
            <span>Options</span>
          </button>
        </div>
        <!-- Edit existing contact -->  
        <form name="form"
              class="init toggle-content"
              ng-submit="saveContact(contact)" dropdown-menu>

          <label ng-if="contact.type === 'email'"
                 class="input-label"
                 ng-class="{ 'error': form.contact.$invalid && form.contact.$dirty, 'success': form.contact.$valid }"
                 for="contact" translate>contact.edit_email_address</label>
          <label ng-if="contact.type === 'phone'"
                 class="input-label"
                 for="contact" translate>contact.edit_phone_number</label>
          <p ng-repeat="(error, value) in form.contact.$error"
             ng-if="contact.type === 'email'"
             ng-show="form.contact.$dirty"
             class="alert error"
             translate="{{'contact.valid.email.' + error}}"></p>
          <p ng-repeat="(error, value) in form.contact.$error"
             ng-if="contact.type === 'phone'"
             ng-show="form.contact.$dirty"
             class="alert error"
             translate="{{'contact.valid.phone.' + error}}"></p>
          <div class="input-inline">
            <input name="contact"
                   id="contact"
                   ng-if="contact.type === 'email'"
                   type="email"
                   ng-class="{ 'error': form.contact.$invalid && form.contact.$dirty }"
                   ng-maxlength="150"
                   ng-model="contact.contact"
                   required>
            <input name="contact"
                   id="contact"
                   ng-if="contact.type === 'phone'"
                   type="text"
                   ng-class="{ 'error': form.contact.$invalid && form.contact.$dirty }"
                   ng-maxlength="25"
                   ng-model="contact.contact"
                   ng-pattern="/^\d+$/"
                   required>
            <button type="submit" class="button-secondary" ng-disabled="!contactHasChanged(contact)">
              <i class="fa fa-cog fa-spin" ng-show="saving"></i>
              
              <span ng-if="saving" translate>contact.saving_changes</span>
              <span ng-if="!saving" translate>contact.save_changes</span>
            </button>
          </div>
        </form>
      </div>

      <!-- Add contact-->
      
      <div class="settings-listing" dropdown auto-close="disabled" ng-if="canAddContact">
        <a class="dropdown toggle-content-trigger" dropdown-toggle>
          <div class="button-secondary icon-only alt plus"></div>
          <h3 translate>contact.add_new_contact</h3>
        </a>
        <form name="form"
              class="init toggle-content"
              ng-submit="saveContact(contact)" dropdown-menu>
          <p>
            <label class="radio-label" for="email">
              <input ng-model="contact.type"
                     name="email" value="email" id="email" type="radio"
                     checked="checked">
              {{'contact.type.email' | translate}}
            </label>
          </p>

          <div class="clearfix"></div> 
          <p>
            <label class="radio-label" for="phone">
              <input ng-model="contact.type"
                     name="phone" value="phone" id="phone" type="radio">
              {{'contact.type.phone' | translate}}
            </label>
          </p>
          
          <div class="clearfix"></div> 
          
          <label ng-if="contact.type === 'email'"
                 class="input-label"
                 ng-class="{ 'error': form.contact.$invalid && form.contact.$dirty, 'success': form.contact.$valid }"
                 for="contact" translate>contact.add_email_address</label>
          <label ng-if="contact.type === 'phone'"
                 class="input-label"
                 for="contact" translate>contact.add_phone_number</label>

          <p ng-repeat="(error, value) in form.contact.$error"
             ng-if="contact.type === 'email'"
             ng-show="form.contact.$dirty"
             class="alert error"
             translate="{{'contact.valid.email.' + error}}"></p>
          <p ng-repeat="(error, value) in form.contact.$error"
             ng-if="contact.type === 'phone'"
             ng-show="form.contact.$dirty"
             class="alert error"
             translate="{{'contact.valid.phone.' + error}}"></p>
          <div class="input-inline">
            <input name="contact"
                   id="contact"
                   ng-if="contact.type === 'email'"
                   type="email"
                   placeholder="{{'contact.add_email_address' | translate}}"
                   ng-class="{ 'error': form.contact.$invalid && form.contact.$dirty }"
                   ng-maxlength="150"
                   ng-model="contact.contact"
                   required>
            <input name="contact"
                   id="contact"
                   ng-if="contact.type === 'phone'"
                   type="text"
                   placeholder="{{'contact.add_phone_number' | translate}}"
                   ng-class="{ 'error': form.contact.$invalid && form.contact.$dirty }"
                   ng-maxlength="25"
                   ng-model="contact.contact"
                   ng-pattern="/^\d+$/"
                   required>
            <button type="submit"
                    class="button-secondary"
                    ng-click="form.$setPristine()"
                    ng-if="contact.type"
                    ng-disabled="saving">
              <i class="fa fa-cog fa-spin" ng-show="saving"></i>
              
              <span ng-if="saving" translate>contact.saving</span>
              <span ng-if="!saving" translate>contact.save</span>
            </button>

          </div>
        </form>
      </div>
      <!-- End contacts -->
    </div>

    <div class="clearfix"></div>
    
    <div ng-if="notifications.length !== 0">
      <h3 translate>notification.notifications_heading</h3>
    </div>

      <div ng-repeat="notification in notifications" class="settings-listing">

        <div class="toggle-switch">
          <input name="notification"
                 class="tgl"
                 id="notification_{{notification.id}}"
                 type="checkbox"
                 ng-model="notification.checked"
                 ng-change="deleteNotification(notification)">

          <label class="tgl-btn" for="notification_{{notification.id}}"></label>
        </div>
        <h3>{{notification.name}}</h3>

      </div>

  </div>
</main>
