<div class="container">

    <div class="manage-tags-header">
        <h4 class="title">{{title}}</h4>
    </div> <!-- end .manage-tags-header -->

    <div class="list-filter--alt">
        <div class="list-filter-info">
            <h5 class="title" translate translate-value-from="1" translate-value-to="3" translate-value-total="10">pagination.showing_x_to_y_of_n_results</h5>
        </div> <!-- end .list-filter-info -->

        <div class="list-filter-wrapper">
            <div class="list-filter-count">
                <div class="filter-count-select">
                    <label class="visually-hidden" for="filter-count" translate>tag.number_of_tags_shown</label>
                    <select id="filter-count" class="filter-count  js-filter-count">
                        <option selected>3</option>
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                    </select>
                </div>
            </div> <!-- end .list-filter-count -->

            <div class="list-filter-sort">
                <div class="filter-sort-select">
                    <label class="visually-hidden" for="filter-sort" translate>tag.sort_user_by</label>
                    <select id="filter-sort" class="filter-sort  js-filter-sort">
                        <option translate>tag.filter_sort.properties.date_time_created</option>
                        <option translate>tag.filter_sort.properties.tag_a_z</option>
                        <option translate>tag.filter_sort.properties.id</option>
                    </select>
                </div>
            </div> <!-- end .list-filter-sort -->
        </div> <!-- end .list-filter-wrapper -->
    </div> <!-- end .list-filter -->

    <div class="filter-bar-wrapper">
        <div class="filter-bar">
            <ul>
                <li class="delete-tag left">
                    <button ng-disabled="!selectedTags.length" ng-click="deleteTags()"><i class="fa fa-trash-o"></i> <span translate>tag.delete</span></button>
                </li>
                <li class="add-tag">
                    <i class="fa fa-plus-circle"></i> <span translate>tag.add_tag</span>
                </li>
            </ul>
        </div> <!-- end .filter-tabs -->
    </div>

    <div class="wrapper">
        <ul class="list-view tag-list" ng-show="tags.length">
            <li ng-repeat="tag in tags | orderBy:'tag'" class="list-view__item">
                <input type="checkbox" value="{{tag.id}}" ng-checked="isToggled(tag)" ng-click="toggleTag(tag)">

                <div class="list-view-details--tag">
                    <a ng-href="/categories/{{tag.id}}">
                        <h4 class="list-view-header">{{ tag.tag }}</h4>
                    </a>
                </div> <!-- end .list-view-details-tag -->

                <div class="list-view-description">
                    <p>{{tag.description}}</p>
                </div> <!-- end .list-view-description -->
            </li>
        </ul><!-- end .list-view -->
    </div> <!-- end .wrapper -->

    <!-- Pagination -->
    <!-- <ng-include src=" 'templates/partials/pagination.html' "></ng-include> -->

</div> <!-- end .container -->
