<div class="container">

    <div class="manage-tags-header">
        <h4 class="title">{{title}}</h4>

        <div class="tag-actions">
            <div class="dropdown">
                <div class="dropdown-container">
                    <p class="dropdown-toggle" translate>tag.tag_actions</p>
                    <ul class="dropdown-menu  list-view-actions-list">
                        <li class="list-view-actions-list__item">
                            <a href="#" class="js-select-all">
                                <span>Select All</span>
                                <span class="visually-hidden" translate>tag.unselect_all</span>
                            </a>
                        </li>
                        <li class="list-view-actions-list__item">
                            <a href="#" class="js-user-create" translate><i class="fa  fa-tag"></i>tag.add_tag</li>
                        </li>
                        <li class="list-view-actions-list__item  js-bulk-action  disabled">
                            <a href="#" class="js-user-bulk-delete" translate><i class="fa  fa-trash-o"></i>tag.delete</a>
                        </li>
                    </ul> <!-- end .dropdown-menu .list-view-edit -->
                </div> <!-- end .dropdown-container -->
            </div> <!-- end .dropdown -->
        </div> <!-- end .list-view-actions -->
    </div> <!-- end .manage-tags-header -->

    <div class="list-filter--alt">
            <div class="list-filter-info">
                <h5 class="title" translate translate-value-from="1" translate-value-to="3" translate-value-total="10">tag.showing_x_to_y_from_n_tags</h5>
            </div> <!-- end .list-filter-info -->

            <div class="list-filter-wrapper">
                <div class="list-filter-count">
                    <div class="filter-count-select">
                        <label class="visually-hidden" for="filter-count" translate>tag.number_of_tags_shown</label>
                        <select id="filter-count" class="filter-count  js-filter-count">
                            <option selected>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                        </select>
                    </div>
                </div> <!-- end .list-filter-count -->

                <div class="list-filter-sort">
                    <div class="filter-sort-select">
                        <label class="visually-hidden" for="filter-sort" translate>tag.sort_user_by</label>
                        <select id="filter-sort" class="filter-sort  js-filter-sort">
                            <option translate>tag.filter_sort.properties.filter</option>
                            <option>tag.filter_sort.properties.date_time_created</option>
                            <option>tag.filter_sort.properties.username_a_z Username A-Z</option>
                            <option>tag.filter_sort.properties.id ID</option>
                        </select>
                    </div>
                </div> <!-- end .list-filter-sort -->
            </div> <!-- end .list-filter-wrapper -->
    </div> <!-- end .list-filter -->

    <div class="wrapper">
        <ul class="list-view">
            <li ng-repeat="tag in tags | orderBy:'tag'" class="list-view__item">
                <div class="list-view-details--tag">
                    <h4 class="list-view-header"><i class="fa  fa-tag"></i> {{ tag.tag }}</h4>

                    <div class="list-view-description">
                        <p>Ad in ut commodo et veniam pariatur labore tempor nisi non exercitation irure adipisicing.</p>
                    </div> <!-- end .list-view-description -->

                    <div class="list-view-actions">
                        <div class="dropdown">
                            <div class="dropdown-container">
                                <p class="dropdown-toggle" translate>tags.tag_actions</p>
                                <ul class="dropdown-menu  list-view-actions-list">
                                    <li class="list-view-actions-list__item">
                                        <a href="#" class="post-select  js-post-select" translate> <i class="fa fa-check-square-o"></i>tags.select</a>
                                    </li>
                                    <li class="list-view-actions-list__item">
                                        <a href="#" class="post-edit  js-post-edit" translate> <i class="fa  fa-edit"></i>tags.edit</a>
                                    </li>

                                    <li class="list-view-actions-list__item">
                                        <a href="#" class="post-delete  js-post-delete" translate> <i class="fa  fa-trash-o"></i>tags.delete</a>
                                    </li>
                                </ul> <!-- end .menu .list-view-edit -->
                            </div> <!-- end .dropdown-container -->
                        </div> <!-- end .dropdown -->
                    </div> <!-- end .list-view-actions -->
                </div> <!-- end .list-view-details-tag -->
            </li> <!-- end .list-view__item -->
        </ul><!-- end .list-view -->
    </div> <!-- end .wrapper -->

    <!-- Pagination -->
    <!-- <ng-include src=" 'templates/partials/pagination.html' "></ng-include> -->

</div> <!-- end .container -->
