@include global {
	[role="main"] {
		@include clearfix;
		> .title-bar {
			margin: 3.125%;
		}
	}
}

@include respond-min($bk3) {
	[role="main"] {
		> .title-bar {
			margin: 1.0416667%;
		}
	}

	/*--- grid-based, columnar classes, if needed ---*/

	[class*="col-"] {
		float: left;
		margin-right: 1.0416667%;
		margin-left: 1.0416667%;
	}

	.col-12of12 {
		float: none;
	}

	.col-1div4 {
		width: 22.9166667%;
	}
	.col-3div4 {
		width: 72.9166667%;
	}
}

@include respond-min($bk4) {
	[role="main"] {
		padding-right: 1.0416667%;
		padding-left: 25%;
		margin-top: 70px;
	}
}

@include respond-min(1200px) {
	[role="main"] {
		padding-left: 290px;
	}
}