@include global {
	.layout-c {
		> [class*="layout-"] {
			margin: 3.125%;
		}
	}
}

@include respond-min($bk3) {
	.layout-c {
		> [class*="layout-"] {
			float: left;
			margin: 1.0416667%;
		}
		.layout-primer {
			width: 22.9166667%;
		}
		.layout-body {
			width: 72.9166667%;
		}
	}
}