@mixin typeBase {
    font-weight: normal;
    font-size: 14px;
    font-size: 1rem;
}

@mixin typeAlpha {
    font-weight: $bold;
    font-size: 20px;
    font-size: 1.428571429rem;
    line-height: 1.3em;

    @include media($medium) {
        font-size: 26px;
        font-size: 1.857142857rem;
    }
}

@mixin typeBeta {
    font-weight: 600;
    font-size: 20px;
    font-size: 1.428571429rem;

    @include media($small) {
        font-size: 24px;
        font-size: 1.714285714rem;
    }
}

@mixin typeGamma {
    font-weight: 600;
    font-size: 16px;
    font-size: 1.142857143rem;
    line-height: 1.2;
}
