{
  "plugins": [
  	"transform-runtime",
  	[
  		"module-resolver",
  		{
	        "root": ["."],
	        "alias": {
	            "react": "preact-compat",
	            "react-dom": "preact-compat",
	            // Not necessary unless you consume a module using `createClass`
	            "create-react-class": "preact-compat/lib/create-react-class"
	        }
        }
    ]
  ],
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
