.sass-cache
bower_components
node_modules
npm-debug.log
.gulpconfig.json
.env
test/coverage/
build/*
.DS_Store
server/www/locales/
*.aes
*.swp
*.swo
deployment.env
vault.txt
*.swo
*.swp
*.svg
server/www/img/icons/
