/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* HEADER...............header styles
* FITLER BAR...............filter by role, delete user, add user
* USER LIST....................user profile and details styles
*/





/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.manage-users-header {
    @include header($blue-gray);
    padding: 20px;

    @include media($small) {
        padding: 30px;
    }

    .title {
        color: $white;
        // margin-bottom: 30px;
    }
}

/*------------------------------------*\
    $FITLER BAR
\*------------------------------------*/
.filter-bar-wrapper {
    @include span-columns(12);
    background-color: darken($secondary-color, 5);
    padding: 20px 20px 0 20px;

    .filter-bar {
        @include span-columns(12);

        ul {
            @include media($small) {
                text-align: right;
            }
        }

        li {
            display: inline-block;
            margin-bottom: 20px;

            @include media($small) {
                padding-right: 20px;
            }

            &.left {
                float: left;
            }

            select {
                margin-bottom: 0;
            }

            & a {
                @include button($black);
                color: $white;
            }
        }
    }
}

/*------------------------------------*\
    $USER LIST
\*------------------------------------*/

.user-list {

    .list-view__item {
        padding: 30px 30px 30px 55px;
    }
}

.list-view-image--user {

    img {
        float: left;
        border-radius: 200px;
        border: none;
        width: 60px;
        margin-right: 40px;
    }
}

.list-view-details--user {
    @extend .list-view-details;
    margin-top: 10px;
    color: $base-font-color;

    @include media($small) {
        @include span-columns(10);
    }

    .list-view-header {
        @include span-columns(12);
        margin-bottom: 0;

        @include media($small) {
            @include span-columns(6);
        }
    }

    .user-list-role {
        @include span-columns(12);
        margin-bottom: 0;

        @include media($small) {
            @include span-columns(6);
            padding-top: 4px;
        }
    }
}
