/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
* DROPDOWN BUTTONS...............dropdown button variables and styles
*/




$dropdown-color: $base-font-color;
$dropdown-description-color: lighten($dropdown-color, 40);
$dropdown-border: 1px solid silver;
$dropdown-button-color: $warning-color;
$dropdown-button-color-hover: darken($dropdown-button-color, 3);
$dropdown-background: $white;
$dropdown-background-hover: darken($dropdown-background, 3);
$dropdown-inner-border: 1px solid silver;
$dropdown-height: 40px;
$dropdown-padding: 1em;
$dropdown-distance-from-dropdown-menu: 50px;
$dropdown-arrow-top-distance: 0;

.dropdown {
	text-align: center;
}

.dropdown-container {
	display: inline-block;
	position: relative;
}

.dropdown-toggle {
	background: $dropdown-background;
	border-bottom-right-radius: $base-border-radius;
	border-top-right-radius: $base-border-radius;
	border-bottom-left-radius: $base-border-radius;
	border-top-left-radius: $base-border-radius;
	color: $base-font-color;
	cursor: pointer;
	float: right;
	font-size: .8em;
	font-weight: 800;
	line-height: $dropdown-height;
	margin-bottom: 0;
	padding: 0 ($dropdown-padding * 3.5) 0 $dropdown-padding;
	position: relative;

	@include media($large) {
		padding: 0 ($dropdown-padding * 2.5) 0 $dropdown-padding;
	}

	&:hover{
		background-color: $dropdown-background-hover;
	}

	&:after {
		color: $base-font-color;
		content: "\25BE";
		display: block;
		position: absolute;
		right: $dropdown-padding;
		top: $dropdown-arrow-top-distance;
	}
}

.dropdown-menu {
	@include transition (all 0.2s ease-in-out);
	background: $dropdown-background;
	border-radius: $base-border-radius;
	border: $dropdown-border;
	box-shadow: 0 2px 2px transparentize(black, .8);
	color: $dropdown-color;
	cursor: pointer;
	display: none;
	overflow: show;
	position: absolute;
	right: 0;
	top: $dropdown-distance-from-dropdown-menu;
	width: 228px;
	z-index: 99999;

	&:before {
		@include position(absolute, 0 .44em 0 0);
		color: $dropdown-background;
		content: "\25b2";
		font-size: 1.4em;
		pointer-events: none;
		text-shadow: 0 -2px 2px transparentize(black, .7);
		top: -1em;
	}

	li {
		border-bottom: $dropdown-inner-border;
		color: $dropdown-color;
		padding: $dropdown-padding / 2;
	}

	li:hover {
		background: $dropdown-background-hover;
	}

	li:first-child {
		border-top-left-radius: $base-border-radius;
		border-top-right-radius: $base-border-radius;
	}

	li:last-child {
		border: none;
		border-bottom-left-radius: $base-border-radius;
		border-bottom-right-radius: $base-border-radius;
	}
}

.open .dropdown-menu {
	display: block;
}

// Inspired by code by www.HUSAMUI.com
