/*------------------------------------*\
        $CONTENTS
\*------------------------------------*/
/**
* VIEW TABS...............post detail view tabs
* MAP...............map
* POST DETAIL META...............post detail meta
* POST DETAILS...............post details
* POST VALUES...............post values
* POST THUMBNAILS...............post pics/thumbnail
* RESPOND MESSAGE PANEL..................respond message panel text area, image and button
*/





/*------------------------------------*\
    $VIEW TABS
\*------------------------------------*/

.post-detail {

    .view-tabs li {
        width: 25%;

        & span {
            display: none;

            @include media($small) {
                display: inline-block;
            }
        }

        @include media($mobile-up) {
            width: auto;
        }
    }
}





/*------------------------------------*\
    $MAP
\*------------------------------------*/

.post-detail .leaflet-bottom {
    bottom: 0;
}





/*------------------------------------*\
    $POST DETAIL META
\*------------------------------------*/

.post-detail {

    .post-detail-meta-wrapper {
        @include span-columns(12);
        @extend %border-bottom;
        background: $secondary-color;

        .container {
            padding: 20px;

            @include media($small) {
                padding: 10px 20px;
            }
        }

        .post-detail-meta {
            @include span-columns(12);

            @include media($small) {
                @include span-columns(8);
            }
        }

        .post-detail-actions {
            @include span-columns(12);

            @include media($small) {
                display: inline-block;
                float: right;
                width: inherit;
            }
        }

        ul li {
            display: block;
            margin-right: 20px;
            padding: 10px;

            @include media($small) {
                display: inline;
                float: left;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}





/*------------------------------------*\
    $POST DETAILS
\*------------------------------------*/

.post-detail {

    .post-details {
        @include span-columns(12);

        .post-header {
            margin-bottom: 20px;

            .fa-stack {
                width: 1.4em;
                height: 0;
                line-height: 0;

                i {
                    font-size: 1.3em;
                }

                .fa-circle {
                    color: $dark-gray;
                }

                .fa-circle.success {
                    color: $success-color;
                }

                .fa-envelope-o,
                .fa-check {
                    position: relative;
                    top: -4px;
                    left: 3px;
                    color: $white;
                    font-size: .6em;
                    font-weight: bold;
                }
            }
        }
    }
}





/*------------------------------------*\
    $POST VALUES
\*------------------------------------*/

.post-detail {

    .post-values {
        @include span-columns(12);
        margin: 40px 0 50px;

        @include media($small) {
            margin: 20px 0;
        }

        .post-values-list {
            @include span-columns(12);
            border: 1px solid $secondary-color;

            .post-values-list__item {
                padding: 20px 10px;

                .value-label {
                    @include span-columns(12);
                    margin-bottom: 15px;
                    font-weight: bold;

                    @include media($small) {
                        @include span-columns(3);
                    }

                    @include media($xlarge) {
                        @include span-columns(2);
                    }
                }

                .value-items {

                    span,
                    a {
                        display: table;
                        margin: 0 15px 15px 0;

                        @include media($small) {
                            display: inline;
                        }
                    }

                    i,
                    span span {
                        display: inline;
                    }
                }

                &:nth-child(odd) {
                    background-color: $secondary-color;
                }

                .fa-check-circle {
                    color: $success-color;
                }

                .badge--category {
                    @include badge($medium-gray);
                    color: $white;
                }
            }
        }
    }
}





/*------------------------------------*\
    $POST THUMBNAILS
\*------------------------------------*/

.post-detail {

    .post-thumbnails-wrapper {
        @include span-columns(12);
        margin: 20px 0;
    }

    .post-thumbnails-list{

        .post-thumbnails-list__item {
            @include span-columns(2);
            display: inline;

            img {
                @include thumbnail;
            }
        }
    }
}





/*------------------------------------*\
    $RESPOND MESSAGE PANEL
\*------------------------------------*/

.post-actions-message-panel {
    @include span-columns(12);
    margin: 20px 0;

    .header {
        font-size: 1em;
        margin-bottom: 30px;
    }

    .user-avatar {
        @include span-columns(2, table);
        display: none;

        @include media($small) {
            @include span-columns(1, table);
            padding-right: 20px;
            vertical-align: top;
        }

        img {
            border-radius: 40px;
        }
    }

    .text-area {
        @include span-columns(10, table);
        vertical-align: top;

        @include media($small) {
            @include span-columns(10, table);
        }

        textarea {
            margin-bottom: 20px;
        }
    }

    .message-actions {
        width: auto;

        @include media($small) {
            float: right;
        }

        .post-actions-submit-button {
            @include button($success-color);
            font-size: em(13);

            @include media($mobile) {
                float: right;
            }
        }
    }
}
