<div>
    <div class="mode-context init">

        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
                <li><a href="/settings" translate>app.settings</a></li>
            </ol>
            <h1 class="mode-context-title" translate>app.plan</h1>
        </header>

        <span class="mode-context-trigger">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden">app.show_more_less</span>
        </span>
    </div>

    <main role="main">

        <div class="main-col">

            <div class="tiers">

                <div class="tier">
                    <div class="tier-header">
                        <h2 class="tier-name">Mapper</h2>
                        <p>For people who need to gather one type of data on a map</p>

                        <strong class="tier-price">Free</strong>
                        <h3 class="tier-feature">150 posts
                            <em>+$15/mo per 100 extra</em>
                        </h3>
                    </div>

                    <div class="tier-action">
                        <a class="button button-alpha" ng-show="tier == 'free'" disabled>&check; Subscribed</a>
                        <a href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=free" class="button" ng-hide="tier == 'free'">Choose Mapper</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li>1 post type from the web, email, &amp; Twitter</li>
                            <li>Manage data with Filters, Saved Searches, Collections</li>
                            <li>View data in a map, list, or chart</li>
                            <li>Web support</li>
                        </ul>
                    </div>
                </div>

                <div class="tier">
                    <div class="tier-header">
                        <h2 class="tier-name">Surveyor</h2>
                        <p>For teams collecting multiple data types from many sources</p>

                        <strong class="tier-price">$199
                            <em>/mo</em>
                        </strong>
                        <h3 class="tier-feature">1000 posts
                            <em>+$10/mo per 1,000 extra</em>
                        </h3>
                    </div>

                    <div class="tier-action">
                        <a href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=surveyor" class="button button-alpha" ng-show="tier == 'surveyor'"  disabled>&check; Subscribed</a>
                        <a href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=surveyor" class="button button-alpha" ng-hide="tier == 'surveyor'" data-modal="payment">Choose Surveyor</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li>5 post types, from all sources and SMS</li>
                            <li>Data management, plus notifications</li>
                            <li>View data in a map, list or chart plus analytics</li>
                            <li>Web and email support</li>
                        </ul>
                    </div>
                </div>

                <div class="tier">
                    <div class="tier-header">
                        <h2 class="tier-name">Responder</h2>
                        <p>For organizations that need to manage their data workflow</p>

                        <strong class="tier-price">
                            <span>Coming soon!</span>
                        </strong>
                        <h3 class="tier-feature">5000 posts
                            <em>+$7.50/mo per 1,000 extra</em>
                        </h3>
                    </div>

                    <div class="tier-action">
                        <a href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=responder" class="button button-alpha" ng-show="tier == 'responder'" disabled>&check; Subscribed</a>
                        <a ng-hide="tier == 'responder'" class="button" href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=responder">Choose Responder</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li>Unlimited post types and CSV imports</li>
                            <li>Data management, plus notifications and team collaboration with custom workflows</li>
                            <li>View data in a map, list or chart plus analytics</li>
                            <li>Web and email support</li>
                        </ul>
                    </div>
                </div>

                <div class="tier">
                    <div class="tier-header">
                        <h2 class="tier-name">Solutions</h2>
                        <p>Customised data collection, management, and visualization systems</p>

                        <strong class="tier-price">
                            <span>Contact Us</span>
                        </strong>
                        <h3 class="tier-feature">Unlimited posts
                            <em>&nbsp;</em>
                        </h3>
                    </div>

                    <div class="tier-action">
                        <a href="https://www.ushahidi.com/solutions/questionnaire" target="_blank" class="button button-beta tour-link">Contact us</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li>Full setup and guidance from Ushahidi’s consultants</li>
                            <li>Bespoke software designed to meet your exact needs</li>
                            <li>Customised branding</li>
                            <li>Dedicated support team and personalized training</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
