<div>
    <div class="mode-context init" dropdown>

        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
                <li><a href="/settings" translate>app.settings</a></li>
            </ol>
            <h1 class="mode-context-title" translate>app.plans</h1>
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>
    </div>

    <main role="main">

        <div class="main-col">

            <div class="tiers">

                <div class="tier" ng-if="specialPlan == 'free-pre-jun-2016'">
                    <div class="tier-header">
                        <h2 class="tier-name">Mapper (Legacy)</h2>
                        <p>This is a legacy plan, you can upgrade any time.</p>

                        <strong class="tier-price">Free</strong>
                    </div>

                    <div class="tier-action">
                        <a class="button button-alpha" disabled>&check; Subscribed</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li><strong>Unlimited</strong> posts</li>
                            <li><strong>1</strong> survey</li>
                            <li><strong>1</strong> user</li>
                            <li><strong>Web, email, SMS, &amp; Twitter</strong> <br />data collection</li>
                            <li><strong>Map &amp; timeline</strong> <br />data visualization</li>
                        </ul>
                    </div>
                </div>

                <div class="tier" ng-if="!specialPlan">
                    <div class="tier-header">
                        <h2 class="tier-name">Mapper</h2>
                        <p>Put your cause on the map</p>

                        <strong class="tier-price">Free</strong>
                    </div>

                    <div class="tier-action">
                        <a class="button button-alpha" ng-show="tier == 'free'" disabled>&check; Subscribed</a>
                        <a href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=free" class="button button-alpha" ng-hide="tier == 'free'">Choose Mapper</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li><strong>Unlimited</strong> posts</li>
                            <li><strong>1</strong> survey</li>
                            <li><strong>1</strong> user</li>
                            <li><strong>Web &amp; email</strong> <br />data collection</li>
                            <li><strong>Map &amp; timeline</strong> <br />data visualization</li>
                        </ul>
                    </div>
                </div>

                <div class="tier">
                    <div class="tier-header">
                        <h2 class="tier-name">Surveyor</h2>
                        <p>Collect and monitor data</p>

                        <strong class="tier-price">$99
                            <em>/mo</em>
                        </strong>
                    </div>

                    <div class="tier-action">
                        <a href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=surveyor" class="button button-alpha" ng-show="tier == 'surveyor'"  disabled>&check; Subscribed</a>
                        <a href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=surveyor" class="button button-alpha" ng-hide="tier == 'surveyor'" data-modal="payment">Choose Surveyor</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li><strong>Unlimited</strong> posts</li>
                            <li><strong>Unlimited</strong> surveys</li>
                            <li><strong>5</strong> users <em>+ $10/mo per additional user</em></li>
                            <li><strong>Web, email, SMS, &amp; Twitter</strong> <br />data collection</li>
                            <li><strong>Map, timeline, bar chart, &amp; line chart</strong> <br />data visualization</li>
                            <li><strong>Import &amp; Export</strong> data</li>
                        </ul>
                    </div>
                </div>

                <div class="tier">
                    <div class="tier-header">
                        <h2 class="tier-name">Responder</h2>
                        <p>Respond to real-time incidents as a team</p>

                        <strong class="tier-price">$499
                            <em>/mo</em>
                        </strong>
                    </div>

                    <div class="tier-action">
                        <a href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=responder" class="button button-alpha" ng-show="tier == 'responder'" disabled>&check; Subscribed</a>
                        <a ng-hide="tier == 'responder'" class="button button-alpha" href="//{{ cloudDomain }}/settings/login?subdomain={{ subdomain }}&username={{ username }}&tier=responder">Choose Responder</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li><strong>Unlimited</strong> posts</li>
                            <li><strong>Unlimited</strong> surveys</li>
                            <li><strong>25</strong> users <em>+ $10/mo per additional user</em></li>
                            <li><strong>Web, email, SMS, &amp; Twitter</strong> <br />data collection</li>
                            <li><strong>Map, timeline, bar chart, &amp; line chart</strong> <br />data visualization</li>
                            <li><strong>Import &amp; Export</strong> data</li>
                            <li><strong>Custom roles</strong> and permissions</li>
                            <li><strong>Private</strong> deployments</li>
                        </ul>
                    </div>
                </div>

                <div class="tier" ng-if="specialPlan == 'zerorated'">
                    <div class="tier-header">
                        <h2 class="tier-name">Social Impact</h2>
                        <p>Grassroots organizations, individuals and community groups with a mission</p>

                        <strong class="tier-price">Free</strong>
                    </div>

                    <div class="tier-action">
                        <a class="button button-alpha" disabled>&check; Subscribed</a>
                    </div>

                    <div class="tier-feature-list">
                        <ul>
                            <li><strong>Unlimited</strong> posts</li>
                            <li><strong>Unlimited</strong> surveys</li>
                            <li><strong>Unlimited</strong> users <em></em></li>
                            <li><strong>Web, email, SMS, &amp; Twitter</strong> <br />data collection</li>
                            <li><strong>Map, timeline, bar chart, &amp; line chart</strong> <br />data visualization</li>
                            <li><strong>Import &amp; Export</strong> data</li>
                            <li><strong>Custom roles</strong> and permissions</li>
                            <li><strong>Private</strong> deployments</li>
                        </ul>
                    </div>
                </div>

                <div class="tier">
                    <div class="tier-header">
                        <h2 class="tier-name">Solutions</h2>
                        <p>Enterprise service from the data crowdsourcing experts</p>
                        <h3 class="tier-feature">Contact us about a custom solution for your project</h3>
                    </div>

                    <form id="form7" name="form7" class="wufoo topLabel tier-form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ushah.wufoo.com/forms/pb6wq340260j75/#public">

                        <div class="form-field">
                            <label class="desc" id="title1" for="Field1">Your name <span id="req_1" class="req">*</span></label>
                            <input placeholder="Your name" id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required>
                        </div>

                        <div class="form-field">
                            <label class="desc nodisplay" id="title2" for="Field2">Your email <span id="req_2" class="req">*</span></label>
                            <input placeholder="you@organization.com" id="Field2" name="Field2" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" required>
                        </div>

                        <div class="form-field">
                            <label class="desc nodisplay" id="title3" for="Field3">Your organization</label>
                            <input placeholder="Your organization" id="Field3" name="Field3" type="text" class="field text medium" value="" maxlength="255" tabindex="3" onkeyup="">
                        </div>

                        <div class="form-field">
                            <button id="saveForm" name="saveForm" class="button btTxt submit" type="submit">Continue</button>
                        </div>

                        <div class="nodisplay">
                            <label for="comment">Do Not Fill This Out</label>
                            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                            <input type="hidden" id="idstamp" name="idstamp" value="zkhl5vdgevIPMx9QV0j5WIpon8aq8lW5GuXOYyAWb/k=">
                        </div>
                    </form>

                    <div class="tier-feature-list">
                        <p><em>Projects include all Responder features, plus:</em></p>
                        <ul>
                            <li><strong>Unlimited</strong> users</li>
                            <li><strong>Secure</strong> private server</li>
                            <li><strong>Setup</strong> and training</li>
                            <li><strong>Custom feature</strong> development</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
