@import '../../utils/style.scss';

/*------------------------------------*\
$BUTTONS
\*------------------------------------*/
:global(.layout-g) {
    button,
    .button,
    input[type="button"] {
        @include direction;
        display: inline-block;
        outline: none;
        font-family: $base-font-family;
        font-weight: 800;
        font-size: em(14px);
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.35;
        letter-spacing: 1px;
        border: 3px solid $black;
        border-radius: $global-radius;
        @include margin-right($sm-spacing);
        @include lrswap(padding, $tiny-spacing $sm-spacing);
        @include transition(0.3s);
        color: $bg-white;
        background-color: $black;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            background-color: lighten( $black, 10% );
            border: 3px solid lighten( $black, 10% );
        }

        &[disabled] {
            cursor: not-allowed;
            color: $bg-white;
            background-color: $disabled-gray;
            border: 3px solid $disabled-gray;
            box-shadow: none;

            &:hover {
                background: $disabled-gray;
            }
        }

        &.button-beta[disabled] {
            color: $disabled-gray;
            border-color: $disabled-gray;

            &:hover {
                background: transparent;
                border-color: $disabled-gray;
            }
        }

        &.button-loading {
            position: relative;
            padding-top: 14px;

            .loading-bar {
                top: 0;
                @include left(0);
                border-radius: 5px;

                &:after {
                    content: none;
                }
            }
        }

        &.button-beta {
            color: $black;
            background-color: transparent;
            border: 3px solid $black;

            &:hover {
                border-color: lighten( $black, 10% );
            }

            &.button-loading {

                .loading-bar {
                    top: 2px;
                    @include left(2px);
                }
            }

        }

        &.button-gamma {
            color: $accent-purple;

            &:hover,
            &:active,
            &:focus {
                color: darken( $accent-purple, 10% );
                background-color: transparent;
            }
        }

    }

    .button-alt {
        @extend .button;
        color: $black;
        background-color: $gold;
        border: 3px solid $gold;

        &:hover,
        &:active,
        &:focus {
            background-color: darken( $gold, 10% );
            border: 3px solid darken( $gold, 10% );
        }

        &.button-loading {

            .loading-bar {
                background-color: $black;
            }
        }

        &.button-beta {
            color: $gold;
            border: 3px solid $gold;

            &:hover {
                background: transparent;
                border-color: lighten( $gold, 10% );
            }

            &.button-loading {

                .loading-bar {
                    top: 2px;
                    @include left(2px);
                    background-color: $gold;
                }
            }
        }

        &.button-gamma {
            color: $bg-white;

            &:hover,
            &:active {
                color: darken( $bg-white, 10% );
            }
        }

    }

    .button-gamma {
        background-color: transparent;
        border-color: transparent;
        margin-top: $sm-spacing !important;
        @include padding-left(0);

        @include media($medium) {
            margin-top: 0;
        }

        &:hover {
            background: transparent;
            border-color: transparent;
        }
    }

    .button-destructive {
        color: $bg-white;
        background-color: $error-red;
        border: 3px solid $error-red;

        &:hover {
            background-color: darken( $error-red, 10% );
            border: 3px solid darken( $error-red, 10% );
        }
    }

    .button-group {
        @include direction
        margin-top: $sm-spacing;
        margin-bottom: $lg-spacing;

        button,
        .button {
            margin-bottom: 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}
