<section class="admin-settings">
    <article>
        <form id="site">
            <p>
                <label>Site Name</label>
                <input type="text" name="name" placeholder="Ushahidi Site">
            </p>
            <p>
                <label>Site Owner</label>
                <input type="text" name="owner" placeholder="Your Name">
            </p>
            <p><button>Save</button></p>
        </form>
    </article>
    <article>
        <div class="cards">
            <div class="card">
                <div class="ribbon-wrapper"><div class="ribbon">enable?</div></div>
                <div class="card-header">
                    API Explorer
                </div>
                <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                </div>
                <!-- add this back in later?
                <div class="card-stats">
                    <ul>
                        <li>98<span>Items</span></li>
                        <li>298<span>Things</span></li>
                        <li>923<span>Objects</span></li>
                    </ul>
                </div>
                -->
            </div>

            <div class="card enabled">
                <div class="ribbon-wrapper"><div class="ribbon">enabled</div></div>
                <div class="card-header">
                    Map Settings
                </div>
                <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                </div>
            </div>

            <div class="card">
                <div class="ribbon-wrapper"><div class="ribbon">enable?</div></div>
                <div class="card-header">
                    The Last Card
                </div>
                <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                </div>
            </div>
        </div>
    </article>
</section>
