<div class="container  container--settings">
    <div class="wrapper">
        <section class="admin-settings">
            <article class="form-wrapper">
                <form id="site" ng-repeat="site in sites">
                    <label>Site Name</label>
                    <input type="text" name="name" placeholder="{{site.title}}">
                    <label>Site Owner</label>
                    <input type="text" name="owner" placeholder="{{site.owner}}">
                    <button>Save</button>
                </form>
            </article>

            <div class="cards-wrapper">
                <h4>Features</h4>
                <p>
                    Please select the features you would like to enable.
                </p>

                <article class="cards">
                    <div ng-repeat="feature in features | orderBy:'name'" ng-class="{'enabled': $even}" class="card">
                        <div class="ribbon-wrapper"><div class="ribbon">{{ feature.enabled ? 'enable?' : 'enabled' }}</div></div>
                        <div class="card-header">
                            {{feature.name}}
                        </div>
                        <div class="card-copy">
                            <p>{{feature.description}}</p>
                        </div>
                        <!-- TODO add this back in later?
                        <div class="card-stats">
                            <ul>
                                <li>98<span>Items</span></li>
                                <li>298<span>Things</span></li>
                                <li>923<span>Objects</span></li>
                            </ul>
                        </div>
                        -->
                    </div>
                </article>
            </div>
        </section>
    </div> <!-- end .main -->
</div> <!-- end .container -->
