<div class="container  container--settings">

    <div class="site-settings-header">
        <h4 class="title">{{title}}</h4>
    </div> <!-- end .site-settings-header -->

    <div class="wrapper">
        <div class="container">
            <section class="admin-settings">
                <article class="form-wrapper">
                    <form id="site">
                        <label translate>settings.site_name</label>
                        <input type="text" name="name" ng-value="site.site_name" placeholder="My Ushahidi Instance">
                        <label translate>settings.site_owner</label>
                        <input type="text" name="owner" ng-value="site.owner_name" placeholder="My Name">
                        <button translate>settings.save</button>
                    </form>
                </article>

                <div class="cards-wrapper">
                    <h4 translate>settings.features.features</h4>
                    <p translate>settings.features.please_select_features</p>

                    <article class="cards">
                        <div ng-repeat="(feature,enabled) in features | orderBy:feature" ng-class="{'enabled': enabled}" class="card">
                            <div class="ribbon-wrapper"><div class="ribbon">{{ enabled ? 'disable?' : 'enable?' }}</div></div>
                            <div class="card-header">
                                {{feature}}
                            </div>
                            <div class="card-copy">
                                <p>{{ enabled ? 'enabled' : 'disabled' }}</p>
                            </div>
                            <!-- TODO add this back in later?
                            <div class="card-stats">
                                <ul>
                                    <li>98<span>Items</span></li>
                                    <li>298<span>Things</span></li>
                                    <li>923<span>Objects</span></li>
                                </ul>
                            </div>
                            -->
                        </div>
                    </article>
                </div>
            </section>
        </div> <!-- end .container -->
    </div> <!-- end .wrapper -->
</div> <!-- end .container -->
