<div>
  <div class="form-field title">
     <label translate="survey.task_name">Task name</label>
     <input type="text" placeholder="{{ 'survey.name_this_task' | translate }}" ng-model="newTask.label">
  </div>
  <div class="form-field switch">
     <label translate="survey.require_task">Require this task be completed before a post can be visible to the public</label>
     <div class="toggle-switch">
        <input class="tgl" id="switchnewtask" type="checkbox" ng-model="newTask.required">
        <label class="tgl-btn" for="switchnewtask"></label>
     </div>
  </div>
  <div class="form-field">
      <button type="button" class="button-link modal-trigger" ng-click="closeModal()" translate="app.cancel">Cancel</button>
      <button type="button" class="button-alpha modal-trigger" ng-click="addNewTask(newTask)" translate="app.add_and_close">Add &amp; close</button>
  </div>
</div>
