<div>
  <div class="form-field">
      <label translate="app.name">Name</label>
      <input type="text" ng-model="editAttribute.label" ng-change="labelChanged(editAttribute)">
   </div>
   <div class="form-field">
      <label translate="app.key">Key</label>
      <input type="text" ng-model="editAttribute.key">
   </div>
   <div class="form-field" ng-if="editAttribute.input !== 'upload'">
      <label translate="app.default_value">Default value</label>
      <div ng-switch="editAttribute.input">
          <input ng-switch-when="location" type="text" placeholder="{{ 'form.default_location_placeholder'|translate }}" ng-model="editAttribute.default">
          <input ng-switch-when="date" type="text" date-time="editAttribute.default" ng-model="editAttribute.default">
          <input ng-switch-when="int" type="number" step="1" ng-model="editAttribute.default">
          <input ng-switch-when="decimal" type="number" ng-model="editAttribute.default">
          <input ng-switch-default type="text" placeholder="{{ 'form.default_default_placeholder'|translate }}" ng-model="editAttribute.default">
      </div>
   </div>

   <div class="form-field" ng-if="hasOptions(editAttribute)">
      <label translate>form.field_options</label>
      <div class="input-inline" ng-repeat="(key, option) in editAttribute.options track by $index">
          <input type="text" placeholder="{{ 'form.field_option_placeholder'|translate }}" ng-model="editAttribute.options[key]">
          <button type="button" class="button-secondary alt trash" ng-if="editAttribute.options.length > 1" ng-click="removeOption(editAttribute, key)"></button>
      </div>
      <button type="button" class="button-secondary alt" ng-click="addOption(editAttribute)"><i class="fa fa-plus"></i> <span translate>form.field_add_option</span></button>
   </div>

   <div class="form-field" ng-if="editAttribute.input === 'relation'">
        <label translate>survey.field_allowed_relation_survey</label>
        <ul name="visible-to">
           <li ng-repeat="relationForm in availableForms | filter : filterNotCurrentForm">
               <label>
                   <input type="checkbox" checklist-model="editAttribute.config.input.form" checklist-value="relationForm.id" />
                    {{relationForm.name}}
               </label>
           </li>
        </ul>
    </div>

   <div class="form-field switch">
      <label translate="survey.require_field">Require this field be completed</label>
      <div class="toggle-switch">
         <input class="tgl" id="switchnewattribute" type="checkbox" ng-model="editAttribute.required">
         <label class="tgl-btn" for="switchnewattribute"></label>
      </div>
   </div>
   <div class="form-sheet" ng-show="editAttribute.form_stage_id">
       <div class="form-sheet-summary">
           <h3 class="form-sheet-title" translate="survey.delete.delete_this_field">Delete this field</h3>
       </div>

       <div class="form-field">
           <p translate="survey.delete.desc_field"><strong>If you delete this field</strong>, all of the data that was collected within it will also be deleted. Proceed with caution.</p>

           <button class="button-destructive" ng-click="deleteAttribute(editAttribute)">
               <svg class="iconic">
                   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
               </svg>
               <span class="button-label" translate="survey.delete.delete_field">Delete field</span>
           </button>
       </div>
   </div>
   <div class="form-field">
      <button ng-show="!editAttribute.id" type="button" class="button-alpha modal-trigger" ng-click="addNewAttribute(editAttribute)" translate="app.add_and_close">Add &amp; close</button>
      <button ng-show="editAttribute.id" type="button" class="button-alpha modal-trigger" ng-click="addNewAttribute(editAttribute)" translate="app.update_and_close">Update &amp; close</button>
   </div>
</div>
