<dl class="modal-body" >

    <dt class="list-item" ng-repeat-start="type in availableAttrTypes">
        <a ng-click="createNewAttribute(type)" data-modal="edit-field">
            {{type.label}}
        </a>
    </dt>
    <dd ng-repeat-end="">{{type.description}}</dd>
    <!--
    <dt class="list-item"><a ng-click="createNewAttribute()">Long text</a></dt>
    <dd>Multiple sentences or paragraphs</dd>

    <dt class="list-item"><a ng-click="createNewAttribute()">Number</a></dt>
    <dd></dd>

    <dt class="list-item"><a ng-click="createNewAttribute()">Location</a></dt>
    <dd></dd>

    <dt class="list-item"><a ng-click="createNewAttribute()">Date</a></dt>
    <dd></dd>

    <dt class="list-item"><a ng-click="createNewAttribute()">Time</a></dt>
    <dd></dd>

    <dt class="list-item"><a ng-click="createNewAttribute()">Radio Button(s)</a></dt>
    <dd>Allows the user to choose only one of a predefined set of options.</dd>

    <dt class="list-item"><a ng-click="createNewAttribute()">Checkbox(es)</a></dt>
    <dd>Allows the user to choose one or more of a predefined set of options.</dd>

    <dt class="list-item"><a ng-click="createNewAttribute()">Related post</a></dt>
    <dd></dd>
  -->
 </dl>
