<div class="post-create-choose-form clearfix">
    <div class="page-header">
        <div class="page-header-body">
            <h1 class="page-title" translate translate-values="{ type: activeForm.name }" ng-if="! post.id">post.modify.add_a_post</h1>
            <h1 class="page-title" translate translate-values="{ title: post.title }" ng-if="!! post.id">post.modify.edit_post</h1>
            <a ng-href="/settings/surveys" class="cta edit" ng-if="hasPermission('Manage Posts')" translate="form.edit_post_types">Edit Surveys</a>
        </div>
    </div>

    <div class="main-col">
        <h6 translate>post.modify.intro</h6>
        <dl>
            <dt class="list-item" ng-repeat-start="form in availableForms | filter:filterNotDisabled">
                <a ng-bind="form.name" ng-click="chooseForm(form)">{{form.name}}</a>
            </dt>
            <dd ng-repeat-end="" ng-bind="form.description"></dd>
        </dl>
    </div>
</div>
