<div class="full-content  post-create">

    <div class="post-create-choose-form">
        Choose a post type to create:
        <ul>
            <li ng-repeat="form in forms | filter:filterNotDisabled">
                <i class="fa  fa-list-ul"></i>
                <a ng-click="chooseForm(form)">{{form.name}}</a>
                {{form.description}}
            </li>
        </ul>
    </div>

    <div class="post-create-form" ng-show="active_form">
        <h2>{{active_form.name}}</h2>
        <form name="form" style="padding:1em 2em 2em">
            <label for="title">Title</label>
            <input id="title" type="text" placeholder="Enter a title" ng-model="post.title" required ng-minlength=2 ng-maxlength=150>

            <label for="content">Content</label>
            <textarea id="content" placeholder="Enter a short description of the event" ng-model="post.content" required></textarea>

            <div class="attribute" ng-repeat="attribute in attributes | filter:filterInForm">
            <label>{{attribute.label}}
                <!-- type: date -->
                <!-- todo: use a date picker, or find a way to split the value into input[date] and input[time] -->
                <input ng-if="isDate(attribute)" name="{{attribute.key}}" type="text" ng-model="post.values[attribute.key]" ng-required="attribute.required">

                <!-- type: location -->
                <div class="input-location" ng-if="isLocation(attribute)">
                    <input name="{{attribute.key}}" type="text" ng-model="post.values[attribute.key]" ng-required="attribute.required">
                    <!-- todo: add map control here -->
                </div>

                <!-- type: select -->
                <select ng-if="isSelect(attribute)" name="{{attribute.key}}" ng-model="post.values[attribute.key]" ng-required="attribute.required">
                    <option ng-repeat="opt in attribute.options" value="{{opt}}">{{opt}}</option>
                </select>

                <!-- type: text -->
                <input ng-if="isText(attribute)" name="{{attribute.key}}" type="text" ng-model="post.values[attribute.key]" ng-required="attribute.required">

                <!-- type: textarea -->
                <textarea ng-if="isTextarea(attribute)" name="{{attribute.key}}" ng-model="post.values[attribute.key]" ng-required="attribute.required"></textarea>
            </label>
            </div>

            <p class="submit" style="text-align:right">
                <button ng-click="createPost(post)" ng-disabled="form.$invalid || isUnchanged(post) || saving_post"
                    ><i class="fa fa-cog fa-spin" ng-show="saving_post"></i> Create Post</button>
            </p>
        </form>
    </div>

</div>
