<main class="page-content post-detail">
   <div class="main-col">
        <article class="post-detail" role="article">
            <header class="post-header">
                <h1 class="post-title">
                    {{post.title}}
                </h1>
                <div class="post-permissions">
                    <div class="form-field select">
                        <div class="custom-select init fa-user">
                            <select 
                                ng-change="publishPostTo()" 
                                ng-model="publishRole"
                            >
                               <option 
                                  value="draft"
                                  translate>
                                      post.publish_for_you
                              </option>
                              <option
                                  ng-repeat="role in availableRoles"
                                  data-icon="fa-user"
                                  value="{{role.name}}"
                                  >
                                      {{role.display_name}}
                               </option>
                               <option 
                                  data-icon="fa-globe"
                                  value=""
                                  translate>
                                      post.publish_for_everyone
                                </option>

                            </select>
                        </div>
                        <label><span class="nodisplay">Who</span> <span translate>post.can_see_this_post</span></label>
                    </div>
                </div>
                <div class="actions-toggle">
                    <div class="actions-toggle-trigger">
                        <a href="#options" class="button-secondary init active" data-toggle="options"><span class="icon-left fa-ellipsis-h" translate>post.options</span></a>
                    </div>
                    <div id="options" class="actions-content init active">
                        <a ng-show="post.allowed_privileges.indexOf('update') !== -1" class="button-secondary" ng-href="/posts/{{post.id}}/edit">
                            <span class="icon-left fa-pencil" translate>post.post_actions.edit</span>
                        </a>
                    <!--    <button type="button" class="button-secondary">
                            <span class="icon-left fa-share">Share</span>
                        </button>
                    -->
                        <fieldset dropdown auto-close="outsideClick" ng-show="editableCollections.length > 0 || post.allowed_privilleges.indexOf('update') != 1" class="custom-fieldset init">
                            <legend data-toggle="dropdown-menu" class="dropdown-trigger init" dropdown-toggle>
                                <span class="icon-left fa-th" translate>global_filter.collections.collections</span>
                            </legend>
                            <div class="dropdown-menu init" dropdown-menu>
                                <div class="form-field search bar">
                                    <label for="search-collections" class="nodisplay" translate>global_filter.collections.search_collections</label>
                                    <input id="search-collections" placeholder="Search Collections" type="search">
                                </div>
                                <div class="fieldset-results" ng-repeat="collection in editableCollections">
                                    <div class="form-field checkbox">
                                        <input id="collection" type="checkbox" ng-checked="postInCollection(collection)" ng-click="toggleCollection(collection)">
                                        <label for="collection">{{collection.name}}</label>
                                    </div>
                                </div> 
                                <div class="form-field bar">
                                    <a class="button button-link init" ng-show="!showNewCollectionInput" ng-click="toggleCreateCollection()" translate>
                                        <i class="fa fa-plus"></i>
                                        set.create_collection
                                    </a>
                                    <div ng-show="showNewCollectionInput">
                                        <input id="create-collection" ng-model="newCollection" placeholder="Create Collection" type="text">
                                        <button type="button" ng-click="createNewCollection(newCollection)" translate>post.create</button>
                                    </div>   
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </header>
            <div class="vertical-tabs">
                <div class="vertical-tabs-content">
                    <div class="post-author">
                       <img class="circular" src="http://placehold.it/100x100" alt="">
                       <p>
                          <strong class="icon-left fa-circle">
                              {{post.type}}
                          </strong> posted at {{post.updated || post.created | date:'shortTime'}}<strong> {{post.updated || post.created | date:'mediumDate'}}</strong> <br> <span ng-if="user.realname != null">by <a href="/settings/users/{{user.id}}">{{post.author_realname}}</a></span>
                      </p>
                    </div>
                    <div ng-if="post.content" class="post-field">
                        <p sd-model-to-html="post.content"></p>
                    </div>
                    <div ng-repeat="(key,value) in post.values" ng-if="form_attributes[key] && showType(form_attributes[key].type)" class="post-field">
                      <post-value
                          key="key"
                          value="value"
                          attribute="form_attributes[key]"
                      ></post-value>
                    </div>
                    <div ng-if="mapDataLoaded" class="post-field">
                        <h4 ng-if="mapDataLoaded" translate>post.location</h4>
                        <div ng-if="mapDataLoaded">
                            <leaflet id="post-map" class="map" defaults="defaults" geojson="geojson" center="center" layers="layers"></leaflet>
                          </div>
                    </div>
                </div>
            </div>
       </article> 
    </div>
</main> <!-- end .post-detail -->
