<div class="full-content  post-detail">

    <div class="post-detail-meta col-md-3 pull-right flip well">
        <div ng-hide="true">
            <h4 translate>post.view</h4>
            <div class="btn-group" dropdown>
                <a class="btn btn-primary dropdown-toggle" dropdown-toggle href="#">
                    post.published_to_everyone
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="active"><a translate>post.published_to_everyone</a></li>
                    <li><a translate translate-values="{role : 'administrators'}">post.published_to_role</a></li>
                    <li><a translate>post.history</a></li>
                </ul>
            </div>
        </div>

        <div ng-show="user.id">
            <h4 translate>post.posted_by</h4>
            <p><i class="fa  fa-user"></i><a ng-href="/users/{{user.id}}"></a> {{user.realname || post.user.id}}</p>
        </div>

        <div ng-show="form_name">
            <h4 translate>post.type</h4>
            <p>
                {{form_name}}
            </p>
        </div>

        <h4 translate>post.status</h4>
        <p>
            <span ng-show="post.status == 'published'"><i class="fa  fa-check-circle"></i> <span translate>post.published</span></span>
            <span ng-show="post.status == 'draft'"><i class="fa  fa-circle-o"></i> <span translate>post.unpublished</span></span>
        </p>

        <p ng-if="post.allowed_privileges.indexOf('update') !== -1">
            <a class="btn btn-default btn-large" ng-href="/posts/{{post.id}}/edit">
                <i class="fa  fa-edit"></i> <span translate>post.post_actions.edit</span>
            </a>
        </p>
        <p ng-if="post.allowed_privileges.indexOf('delete') !== -1">
            <a class="btn btn-warning btn-large" ng-click="deletePost()">
                <i class="fa  fa-trash"></i> <span translate>post.post_actions.delete</span>
            </a>
        </p>
        <!--<p ng-if="post.allowed_privileges.indexOf('delete')">
            <a class="btn btn-default btn-large" href="/posts/{{post.id}}/delete">
                <i class="fa  fa-edit"></i><span translate>post.post_actions.delete</span>
            </a>
        </p>-->
    </div>

    <div class="post-detail-main col-md-9">
        <div class="pull-left flip"><i class="fa  fa-clock-o"></i> <span class="post-time" am-time-ago="post.updated || post.created"></span></div>

        <ul class="list-inline" ng-show="!!post.tags.length">
            <li ng-repeat="tag in post.tags">
                <span class="badge" ng-style="{'background-color':tag.color}">{{tag.tag}}</span>
            </li>
        </ul>

        <h3 class="post-header">{{post.title}}</h3>

        <div class="post-excerpt" btf-markdown="post.content">
        </div> <!-- end .post-excerpt -->

        <ul class="post-values list-unstyled">
            <li
                ng-repeat="(key, value) in post.values" ng-if="form_attributes[key] && showType(form_attributes[key].type)">
                <post-value
                    key="key"
                    value="value"
                    attribute="form_attributes[key]"
                ></post-value>
            </li>
            <li ng-if="mapDataLoaded">
                <h5 class="value-label" translate>
                    post.location
                </h5>

                <leaflet id="post-map" defaults="defaults" geojson="geojson" center="center" layers="layers" height="300px" width="100%"></leaflet>
            </li>
        </ul> <!-- end .post-values -->
    </div>

</div> <!-- end .post-detail -->
