<div class="mode-context">

  <header class="mode-context-header">
    <ol class="breadcrumbs" ng-controller="navigation as nav">
      <li><a href="/" ng-bind="nav.site.name"></a></li>
    </ol>

    <h1 class="mode-context-title">{{form_name || 'post.unstructured.survey_title' | translate}}</h1>
  </header>

  <span class="mode-context-trigger">
    <svg class="iconic">
      <use xlink:href="../img/iconic-sprite.svg#chevron-bottom"></use>
    </svg>
    <span class="label hidden">Show more/less</span>
  </span>

  <div class="mode-context-body">
    <p>{{form_description}}</p>

    <button class="button-flat" ng-click="addToSurvey()">
      <svg class="iconic">
        <use xlink:href="../img/iconic-sprite.svg#plus"></use>
      </svg>
      <span class="button-label" translate>post.modify.add_to_survey</span>
    </button>
  </div>
</div>

<main role="main">
  <div class="main-col">
    <article class="postcard" role="article">
      <div class="postcard-body">
        <h1 class="postcard-title">
          {{post.title}}
        </h1>
        <div class="metadata">
          <div>
            <!--
                <strong class="icon-left fa-circle">
                  {{form_name || "Unstructured"}}
                </strong>
                -->

            <span class="user-avatar" ng-show="post.user">
              <img class="circular" src="http://www.gravatar.com/avatar/{{ post.user.gravatar || '00000000000000000000000000000000' }}?d=retro" alt="{{ post.user.realname }}">
            </span>

            <span ng-if="post.user.realname != null"><translate>post.by</translate> <a href="/settings/users/{{post.user.id}}">{{post.user.realname}}</a>, </span>

              {{displayTime}}

            <span ng-if="post.source == 'sms'">, <span translate>post.messages.by_sms</span></span>
            <span ng-if="post.source == 'email'">, <span translate>post.messages.by_email</span></span>
            <span ng-if="post.source == 'twitter'">, <span translate>post.messages.by_twitter</span></span>

            <span class="metadata-visibility tooltip">
              <svg class="iconic" ng-if="post.allowed_privileges.indexOf('update') == -1">
                <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
              </svg>
              <svg class="iconic" ng-if="post.allowed_privileges.indexOf('update') != -1">
                <use xlink:href="../../img/iconic-sprite.svg#lock-unlocked"></use>
              </svg>

              <span class="bug">{{ publishedFor() | translate }}</span>
            </span>

          </div>

        </div>

        <nav class="tabs-menu" data-tabs="tasks-tabs" data-tabs-hash>
          <ul>
            <li
              ng-repeat="stage in stages"
              ng-class="{'active': visibleStage == stage.id}"  >
              <a ng-click="setVisibleStage(stage.id)">
                {{stage.label}}
              </a>
              <span class="status" ng-class="{'completed': stageIsComplete(stage.id)}">
              </span>
            </li>
          </ul>
        </nav>
        <div class="tasks-tabs">
          <post-media-value
            ng-if="form_attributes[key].type === 'media'"
            label="{{form_attributes[key].label}}"
            media-id="value"></post-media-value>

          <div
            ng-if="post.content"
            ng-show="visibleStage == stages[0].id || visibleStage == 'post'"
            class="postcard-field">
            <p sd-model-to-html="post.content"></p>
          </div>
          <div
            ng-if="!!post.tags.length"
            ng-show="visibleStage == stages[0].id || visibleStage == 'post'"
            class="postcard-field"
            >
            <h2 class="form-label" translate>post.modify.form.categories</h2>
            <p ng-repeat="category in post.tags">
              {{category.tag}}
            </p>
          </div>

          <div
            ng-repeat="(key,value) in post.values"
            ng-if="form_attributes[key] && showType(form_attributes[key].type)"
            ng-show="form_attributes[key].form_stage_id == visibleStage"
            class="postcard-field"
            >

            <post-value
              key="key"
              value="value"
              attribute="form_attributes[key]"
              ng-if="form_attributes[key].type !== 'media'">
            </post-value>
          </div>
          <div
            ng-if="mapDataLoaded"
            ng-show="visibleStage == stages[0].id || visibleStage == 'post'"
            class="postcard-field"
            >
            <h2 ng-if="mapDataLoaded" class="form-label" translate>post.location</h2>
            <div ng-if="mapDataLoaded">
              <leaflet id="post-map" class="map" defaults="defaults" geojson="geojson" center="center" layers="layers"></leaflet>
            </div>
          </div>
        </div>
      </div>
      
      <post-detail-actions post="post"></post-detail-actions>
      
    </article>
    <post-add-form post="post" ng-if="!post.form && hasPermission('Manage Posts')"></post-add-form>
    <post-messages post="post" ng-if="post.contact.id"></post-messages>
  </div>
</main>
