<form ng-submit="uploadFile()">
    <div class="form-field file">

        <!-- the image file -->
        <figure ng-if="media.original_file_url" >
            <img src="{{media.original_file_url}}" />
        </figure>

        <!-- `file-upload.html` directive contains action buttons for both add and edit -->
        <file-upload file-container="fileContainer"
            custom-on-change="onChange"
            replace="mediaExists()">
        </file-upload>

        <!-- caption displays on post edit (aka if an image file exists) -->
        <figure ng-if="media.original_file_url" >
            <input
            type="text"
            placeholder="{{ 'post.media.add_caption' | translate }}"
            ng-model="media.caption">
        </figure>

        <!-- upload button displays on add post (aka when no image file exists) -->
        <button ng-disabled="!canUpload" type="submit" ng-if="!media.original_file_url"translate>post.media.upload</button>

    </div>
</form>
