<div class="container">
    <div class="full-content  post-create">

        <div class="post-create-choose-form" ng-hide="active_form">
            <h3 class="header" translate>{{title}}</h3>
            <p class="intro" translate>post.modify.intro</p>
            <ul class="post-create-form-list">
                <li ng-repeat="form in forms | filter:filterNotDisabled" ng-click="chooseForm(form)" class="post-create-form-list__item">
                    <div class="form-wrapper">
                        <i class="fa  fa-list-ul"></i>
                        <h4>{{form.name}}</h4>
                        <p>{{form.description}}</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="post-create-form container" ng-show="active_form">
            <div class="create-form-header">
                <a ng-click="goBack()" class="back-button"><i class="fa  fa-arrow-left"></i><span translate>post.modify.back</span></a>
                <h3 class="header">{{active_form.name}}</h3>
            </div>
            <form name="form">
                
                <!-- type: select category -->
                <div class="form-group">
                    <label translate>post.modify.form.categories</label>
                    <div class="checkbox" ng-repeat="cat in categories">
                        <label>
                            <input type="checkbox" value="cat.slug" checklist-model="post.categories" checklist-value="cat.slug">
                            {{cat.tag}}
                        </label>
                    </div>
                </div>

                <input id="title" type="text" placeholder="{{'post.modify.form.title' | translate }}" ng-model="post.title" required ng-minlength=2 ng-maxlength=150>

                <textarea id="content" rows="10" placeholder="{{'post.modify.form.description' | translate}}" ng-model="post.content" required></textarea>

                <div class="attribute" ng-repeat="attribute in attributes | filter:filterInForm">
                        <!-- type: date -->
                        <!-- todo: use a date picker, or find a way to split the value into input[date] and input[time] -->
                        <input ng-if="isDate(attribute)" name="{{attribute.key}}" type="text" placeholder="{{attribute.label}}" ng-model="post.values[attribute.key]" ng-required="attribute.required">

                        <!-- type: location -->
                        <div class="input-location" ng-if="isLocation(attribute)">
                            <input name="{{attribute.key}}" type="text" placeholder="{{attribute.label}}" ng-model="post.values[alabely]" ng-required="attribute.required">
                            <!-- todo: add map control here -->
                            <leaflet defaults="defaults" markers="markers" center="center" height="265px" width="100%"></leaflet>
                        </div>

                        <!-- type: select -->
                        <select ng-if="isSelect(attribute)" name="{{attribute.key}}" ng-model="post.values[attribute.key]" ng-required="attribute.required">
                            <option ng-repeat="opt in attribute.options" value="{{opt}}">{{opt}}</option>
                        </select>

                        <!-- type: text -->
                        <input ng-if="isText(attribute)" name="{{attribute.key}}" type="text" placeholder="{{attribute.label}}" ng-model="post.values[attribute.key]" ng-required="attribute.required">

                        <!-- type: textarea -->
                        <textarea rows="10" ng-if="isTextarea(attribute)" name="{{attribute.key}}" placeholder="{{attribute.label}}" ng-model="post.values[attribute.key]" ng-required="attribute.required"></textarea>
                </div>

                <p class="submit-button">
                    <button ng-click="savePost(post)" ng-disabled="form.$invalid || isUnchanged(post) || saving_post"
                        ><i class="fa fa-cog fa-spin" ng-show="saving_post"></i> <span translate>post.modify.form_button</span></button>
                </p>
            </form>
        </div>

    </div>
</div>
