<div>
  <span ng-class="{'postcard-actions-trigger init active': showDropDown,
                  'postcard-actions-trigger': !showDropDown}"
        ng-click="toggleDropDown()">
    <svg class="iconic">
      <use xlink:href="../img/iconic-sprite.svg#chevron-bottom"></use>
    </svg>

  </span>
  
  <ul class="dropdown-menu init active" ng-show="showDropDown">
    <li>
      <a href="posts/{{post.id}}/edit">
        <svg class="iconic">
          <use xlink:href="../img/iconic-sprite.svg#pencil"></use>
        </svg>
        <span class="label" translate>post.post_actions.edit</span>
      </a>
    </li>
    <li>
      <a ng-click="addToCollection(post)">
        <svg class="iconic">
          <use xlink:href="../img/iconic-sprite.svg#grid-three-up"></use>
        </svg>
        <span class="label" translate>set.add_to_collection</span>
      </a>
    </li>
    <!--
        <li>
          <a href="" data-modal="share">
            <svg class="iconic">
              <use xlink:href="/assets/img/iconic-sprite.svg#share"></use>
            </svg>
            <span class="label">Share</span>
          </a>
        </li>
    <li>
      <a href="">
        <svg class="iconic">
          <use xlink:href="/assets/img/iconic-sprite.svg#task"></use>
        </svg>
        <span class="label">Assign to...</span>
      </a>
    </li>
    -->
    <li>
      <a ng-click="delete(post)">
        <svg class="iconic">
          <use xlink:href="../img/iconic-sprite.svg#trash"></use>
        </svg>
        <span class="label" translate>post.post_actions.delete</span>
      </a>
    </li>
  </ul>
</div>
