<div class="metadata">
    <!-- todo: cleanup / combine this line into a single translation string -->
    <span ng-show="post.user && !post.author_realname" class="metadata-author"><img src="http://www.gravatar.com/avatar/{{ post.user.gravatar || '00000000000000000000000000000000' }}?d=retro&s=40" class="avatar">{{ post.user.realname }}</span>

    <span ng-show="post.contact && !post.author_realname" class="metadata-author">{{ post.contact.contact }}</span>

        <span ng-show="post.author_realname" class="metadata-author">{{ post.author_realname }}</span>

    <span title="{{ displayTimeFull }}">{{ displayTime }}</span>

    <span translate-values="{ source : source }" translate="post.source"></span>
</div>
