<div class="single-post-listing">
    <div class="select-post" ng-if="canSelect">
        <input type="checkbox" value="{post.id}" ng-change="updateSelectedItems()" ng-model="post.selected">
    </div>

    <div class="post-summary !has-img">
      <div class="clearfix"></div>
      <post-preview-media post="post"></post-preview-media>
        <div class="meta-data">
            <span class="post-type-marker"><!-- todo marker style based on post type -->
                {{ post.form.name || (post.source | uppercase) }}
            </span>
            <span class="date">{{post.updated || post.created | date:'longDate'}}</span> {{post.updated || post.created | date:'shortTime'}}
            <span ng-if="post.source" translate-values="{ source : (post.source | uppercase) }" translate="post.source"></span>
        </div>
        <div class="post-text">
            <a href="/posts/{{post.id}}">
                <h3>{{ post.title || post.content | limitTo:150 }}{{ !post.title && post.content.length > 150 ? ' ...' : ''}}</h3>
            </a>
            <p>
                {{post.content}}
            </p>
            <!-- <p>
                <a href="">10 comments</a>
            </p> -->
        </div>
    </div>
    <div class="step-and-actions">
        <div class="step todo">
            <div ng-show="post.allowed_privileges.indexOf('update') == -1">
                <h4 class="delta-alt" translate>
                    post.who_can_see_this
                </h4>
                <p>
                    <span class="icon-left fa-globe" translate>
                        {{publishedFor()}}
                    </span>
                </p>
            </div>
            <div ng-show="post.allowed_privileges.indexOf('update') !== -1" class="form-field select">
                <publish-selector
                    toggle-role-func="publishPostTo(updatedPost)"
                    post="post" ></publish-selector>
            </div>
        </div>
        <div class="actions-toggle">
            <div class="actions-toggle-trigger">
                <a href="#options" class="button-secondary init active" data-toggle="options"><span class="icon-left fa-ellipsis-h" translate>post.options</span></a>
            </div>
            <div id="options" class="actions-content init active">
                <a ng-if="post.allowed_privileges.indexOf('update') !== -1"  class="button-secondary" ng-href="/posts/{{post.id}}/edit">
                    <span class="icon-left fa-pencil" translate>post.post_actions.edit</span>
                </a>
<!--
                <button type="button" class="button-secondary">
                    <span class="icon-left fa-share">Share</span>
                </button>
-->
                <collection-selector
                    post="post"
                    ng-if="post.allowed_privileges.indexOf('update') !== -1"
                    ng-show="editableCollections.length > 0 || post.allowed_privilleges.indexOf('update') != 1"
                    >
                </collection-selector>
            </div>
        </div>
    </div>

<!--
                      <select-collection ng-model="selectedCollection" ng-change="addToCollection(selectedCollection)"></select-collection>
                    </li>
                </ul>
            </div>
        </span>
-->
</div>
