<li class="list-group-item" ><!-- ng-repeat="post in posts" -->
    <div class="row">
        <div class="col-md-9">
            <div>
                <!-- todo post thumbnail -->
            </div>
            <small>
                <span class="post-time" am-time-ago="post.updated || post.created"></span>
                <span ng-repeat="tag in post.tags">
                    <i class="fa fa-{{tag.icon}}" style="color:{{tag.color}}"></i>
                    {{tag.tag}}
                </span>
            </small>
            <h4><a ng-href="/posts/{{post.id}}">{{post.title}}</a></h4>
            <div>Thumnail image</div>
            <p>
                {{post.content}}
            </p>
        </div>
        <div class="col-md-3">
            <p translate>todo.status_stages</p>
            <p translate>todo.post_actions</p>
        </div>
    </div>
</li>

