/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* SIGN IN WRAPPER...............sign in form - center and spacing
*/




/*------------------------------------*\
    $SIGN IN WRAPPER
\*------------------------------------*/

.sign-in-wrapper {
	width: 100%;

	@include media ($small) {
		width: 60%;
	}

	@include media ($large) {
		width: 30%;
	}

	.main {
		@include fill-parent();
		background: $white;
		padding: 20px;
	}

	.header {
		margin-bottom: 20px;
	}

	button {
		float: right;
		margin-top: 10px;
	}
}
