/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* SIGN IN WRAPPER...............sign in form - center and spacing
*/




/*------------------------------------*\
    $SIGN IN WRAPPER
\*------------------------------------*/

.container--signin {
	width: 100%;

	.form-wrapper {
		margin-bottom: 0;
	}

	@include media ($small) {
		width: 60%;
	}

	@include media ($large) {
		width: 30%;
	}

	.header {
		margin-bottom: 20px;
	}

	button {
		float: right;
		margin-top: 10px;
	}
}
