<div class="main-col">

    <div class="listing card">
        <div class="listing-item">
            <div class="listing-item-primary">
                <h2 class="listing-item-title"><a href="settings-role-edit.html">Editor</a></h2>
            </div>
        </div>

        <div class="listing-item">
            <div class="listing-item-primary">
                <h2 class="listing-item-title"><a href="">Contributor</a></h2>
            </div>
        </div>
    </div>

    <pagination ng-model="currentPage" items-per-page="itemsPerPage" total-items="totalItems" ng-change="pageChanged()" max-size="5" boundary-links="false" rotate="false"></pagination>

</div>
