<div>
    <!-- mode-context needs to be in each template -->
    <mode-context></mode-context>

    <main role="main">

        <div custom-roles class="main-col">

            <!-- toolbar -->
            <div class="toolbar">
                <div class="fab" ng-show="rolesEnabled">
                    <a ng-href="/settings/roles/create" type="button" class="button button-alpha button-fab">
                        <svg class="iconic">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                        </svg>
                        <span class="hidden" translate>role.add_role</span>
                    </a>
                </div>
            </div>
            <!-- end toolbar -->

            <div class="alert" ng-show="!rolesEnabled" translate="feature_limits.view_unavailable" translate-values="{value: 'Custom roles'}"></div>

            <div class="alert" ng-hide="roles.length">
                <p ng-hide="roles.length"><em translate>empty.role</em></p>
            </div>

            <div class="listing card" ng-show="roles.length" ng-show="rolesEnabled">
                <div class="listing-item" ng-repeat="role in roles | orderBy:'role'">
                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a ng-href="/settings/roles/{{role.id}}">{{role.display_name}}</a></h2>
                    </div>
                </div>
            </div>

            <pagination ng-model="currentPage" items-per-page="itemsPerPage" total-items="totalItems" ng-change="pageChanged()" max-size="5" boundary-links="false" rotate="false"></pagination>

        </div>
    </main>
</div>
