<div class="main-col">

    <div class="form-sheet">
       <div class="form-field title">
           <label class="hidden">Name</label>
           <input type="text" placeholder="Role name" value="Editor">
       </div>

        <div class="form-field form-field-adapt">
            <label>
                Description
            </label>
            <textarea name="description" data-min-rows='1' rows='1'>Vestibulum faucibus efficitur erat. Mauris varius mollis consectetur. Ut et sem ut lacus rutrum dignissim.</textarea>
        </div>

       <fieldset>
           <legend>Permission</legend>

           <div class="form-field checkbox">
               <label for="users">
                   <input type="checkbox" id="users">
                   Add, edit, and delete users
               </label>
           </div>
           <div class="form-field checkbox">
               <label for="surveys">
                   <input type="checkbox" id="surveys">
                   Add, edit, and delete surveys
               </label>
           </div>
           <div class="form-field checkbox">
               <label for="categories">
                   <input type="checkbox" id="categories">
                   Add, edit, and delete categories
               </label>
           </div>
           <div class="form-field checkbox">
               <label for="sources">
                   <input type="checkbox" id="sources">
                   Add, edit, and delete data sources
               </label>
           </div>
           <div class="form-field checkbox">
               <label for="posts-edit">
                   <input type="checkbox" id="posts-edit">
                   Edit posts
               </label>
           </div>
           <div class="form-field checkbox">
               <label for="posts-import">
                   <input type="checkbox" id="posts-import">
                   Import posts
               </label>
           </div>
       </fieldset>
    </div>

    <div class="form-sheet">
       <div class="form-sheet-summary">
           <h3 class="form-sheet-title">Delete this role</h3>
       </div>

       <div class="form-field">
           <p><strong>If you delete this role</strong>, all of the users assigned to it will be assigned default permissions. Proceed with caution.</p>

           <button class="button-destructive">
               <svg class="iconic">
                   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#trash"></use>
               </svg>
               <span class="button-label">Delete role</span>
           </button>
       </div>
    </div>

</div>
