<div>
    <div class="mode-context init" dropdown>

        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
                <li><a href="/settings" translate>app.settings</a></li>
            </ol>
            <h1 class="mode-context-title" translate>nav.export</h1>
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>
    </div>

    <main role="main">
        <div class="progress-bar" ng-show="isLoading()">
            <span>
            ..
            </span>
        </div>

        <div class="main-col">
            <div class="form-sheet" ng-show="showProgress">
                <div class="form-sheet-summary">
                    <h2 class="form-sheet-title" translate>
                        data_export.title_hxl
                    </h2>
                    <p translate>data_export.export_progress</p>
                </div>
            </div>
            <div class="form-sheet" ng-show="!showProgress">
                <div class="form-sheet-summary">
                <h2 class="form-sheet-title">
                    {{'data_export.hxl_title' | translate}}
                </h2>
                <p>{{'data_export.hxl_desc' | translate}}</p>

                <p>
                    {{'data_export.hxl_instructions_1' | translate}}
                    <a href="https://data.humdata.org/" target="_blank" class="link-blue">
                        <svg class="iconic">
                            <use xlink:href="/img/iconic-sprite.svg#external-link"></use>
                        </svg>
                        {{'data_export.hxl_instructions_2' | translate}}
                    </a>
                {{'data_export.hxl_instructions_3' | translate}}
                <a ui-sref="settings.userSettings" class="link-blue">
                    {{'data_export.hxl_instructions_4' | translate}}
                </a>
                {{'data_export.hxl_instructions_5' | translate}}
                </p>

                <p>{{'data_export.hxl_instructions_6' | translate}}
                    <a href="https://tools.humdata.org/examples/hxl/" target="_blank" class="link-blue">
                        <svg class="iconic">
                            <use xlink:href="/img/iconic-sprite.svg#external-link"></use>
                        </svg>
                    {{'data_export.hxl_instructions_7' | translate}}
                    </a>
                    {{'data_export.hxl_instructions_8' |translate}}
                    <a href="http://hxlstandard.org/standard/1_1beta/postcards/" target="_blank" class="link-blue">
                        <svg class="iconic">
                            <use xlink:href="/img/iconic-sprite.svg#external-link"></use>
                        </svg>
                        {{'data_export.hxl_instructions_9' | translate}}
                    </a>
                    .
                </p>
            </div>
            <div class="form-field alert error" id="error" ng-show="fieldError">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                </svg>
                {{'data_export.no_fields_selected' | translate}}
            </div>
                <fieldset ng-repeat="form in forms" ng-hide="form.targeted_survey === true">
                    <legend>
                        <bdi>{{form.name}}</bdi>
                    </legend>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th translate="survey.survey_field">Survey field</th>
                                <th translate="data_export.HXL_tags">HXL tags</th>
                                <th translate="data_export.HXL_attributes">HXL attributes</th>
                                <th translate="data_export.tag_preview">Tag preview</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="form-field">
                                    <input type="checkbox" ng-model="form.selected" ng-value="1" ng-change="selectAll(form)">
                                </td>
                                <td>
                                    <em translate="nav.select_all">Select all</em>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="formAttribute in form.attributes">
                                <td class="form-field">
                                    <input
                                        type="checkbox"F
                                        checklist-model="formAttribute.selected"
                                        checklist-value="formAttribute.id"
                                        ng-selected="formAttribute.selected"
                                    >
                                </td>
                                <td>
                                    <p><bdi>{{formAttribute.label}}</bdi></p>
                                </td>
                                <td>
                                    <div class="custom-select">
                                        <select
                                            ng-model="formAttribute.selectedTag"
                                            ng-options="tag as tag.tag_name for tag in formAttribute.tags track by tag.id"
                                            ng-disabled="!formAttribute.selected || formAttribute.selected.length < 1"
                                            ng-change="selectTag(formAttribute)"
                                        >
                                            <option value=''>Leave empty</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="form-field">
                                    <div class="custom-select" ng-repeat="a in range(formAttribute)">
                                        <select
                                                ng-disabled="!formAttribute.selectedTag"
                                                ng-model="formAttribute.selectedHxlAttributes[a].attribute"
                                                ng-change="selectHxlAttribute(formAttribute)"
                                        >
                                            <option value=''>Leave empty</option>
                                            <option
                                                    ng-value="hxlAttribute.attribute"
                                                    ng-repeat="hxlAttribute in formAttribute.selectedTag.hxl_attributes"
                                                    ng-disabled="hxlAttributeSelected(hxlAttribute, formAttribute, a)"
                                            >
                                                {{hxlAttribute.attribute}}
                                            </option>
                                        </select>
                                    </div>
                                    <a ng-click="addAnother(formAttribute)" class="link-blue">Add another hxl attribute?</a>
                                </td>
                                <td>
                                    <span ng-repeat="hxl_label in formAttribute.hxl_label"><em>{{hxl_label}} </em></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
                <div class="form-field"  ng-hide="isLoading()">
                    <p>{{getSelectedFields().length}} fields selected</p>
                </div>
                <div class="form-field button-group">
                    <button class="button-alpha" ng-click="exportData(false)">Export to CSV</button>
                    <a ng-click="exportData(true)" class="button button-alpha">Upload to a hdx account</a>
                    <a ui-sref="settings.dataExport" class="button">Cancel</a>
            </div>
            </div>
        </div>
    </main>
</div>
