@import '../../utils/style.scss';


.search {

    form {
        margin-bottom: $sm-spacing;
    }

    .search-card {
        border: 1px solid $black;
        @include equal-radius(3px);
        padding: $sm-spacing;
        width: 100%;
        max-width: 450px;

        fieldset {
            margin: 0 0 $sm-spacing 0;

            .form-field.checkbox {

            }
        }

        .button-group {
            @include text-align(right);
        }
    }

    ul {
        margin: 0;

        .list-item {
            width: 100%;
            max-width: 450px;
            padding: 0;

            &:first-child {
                border-top: $base-border;
            }

            p {
                color: $dark-gray;
            }
        }
    }
}
