@import '../../utils/style.scss';

:global {
    .layout-g {

        .search {

            form {
                margin-bottom: $base-spacing;
            }

            .form-field {
                margin: 21px 0px;
            }

            .button-group {

                button {
                    margin: 0 $sm-spacing 0 0;
                }
            }

            .search-card {
                border: 1px solid $dark-gray;
                @include equal-radius(2px);
                padding: $base-spacing;
                width: 100%;
                max-width: 450px;

                fieldset {
                    margin: 0 0 $sm-spacing 0;

                    .form-field.checkbox {

                    }
                }

                .button-group {
                    @include text-align(right);
                }
            }

            ul {
                margin: 0;

                .list-item {
                    width: 100%;
                    max-width: 450px;
                    padding: 0;

                    &:first-child {
                        border-top: $base-border;
                    }

                    p {
                        color: $dark-gray;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
