/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* MAP CONTROLS WRAPPER...............this wraps `post-view-tabs` and `global-filter` directives
* MAP FILTERS...............map filters
*/




/*------------------------------------*\
    $MAP CONTROLS WRAPPER
\*------------------------------------*/

.map-controls-wrapper {
    @include span-columns(12);
    background-color: $secondary-color;
    padding: 0;

    @include media($small) {
        padding: 20px 20px 0;
    }

    .view-tabs-wrapper,
    .global-filter-wrapper {
        position: relative;
        margin-top: 0;
    }

    &.list-view .global-filter-wrapper {
        bottom: 0;

        .global-filter {
            position: fixed;
            bottom: 0;
            width: 100%;

            @include media($small) {
                position: relative;
                width: 310px;
            }

            .tabset-wrapper {
                position: absolute;
                top: auto;
                bottom: 50px;
                width: 100%;
                max-width: none;

                @include media($small) {
                    bottom: auto;
                    max-width: 310px;
                }
            }
        }
    }
}





/*------------------------------------*\
    $MAP FILTERS
\*------------------------------------*/

.global-filter-wrapper {
    @include outer-container();
    @include user-select(none);
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -677px;
    height: 0;
    margin-top: 20px;
    z-index: $filter;

    @include media($small) {
        bottom: 0;
        top: 0;
    }

    .global-filter {
        margin: 0 auto;

        @include media($small) {
            width: 310px;
            float: right;
            margin: 0;
        }

        .filter-header {
            position: relative;
            background-color: $success-color;
            color: $white;

            &:hover {
                background: darken($success-color, 10);
            }

            i {
                padding-right: 15px;
                font-size: 1.3em;
            }

            .filter-title {
                display: inline-block;
                padding: 15px;
                width: 100%;

                &:before {
                    float: right;
                    display: inline-block;
                    font-family: FontAwesome;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: normal;
                    content: "\f078";
                    color: $white;

                    @include media($small) {
                        content: "\f077";
                    }
                }

                &.collapsed:before {
                    content: "\f077";

                    @include media($small) {
                        content: "\f078";
                    }
                }
            }

            .show-hide {
                position: absolute;
                right: 0;
                padding: 18px;
                font-size: 0.9em;
                line-height: 1em;
            }
        }

        .tabset-wrapper {
            display: block;
            position: absolute;
            bottom: -50px;
            width: 100%;

            @include media($small) {
                max-width: 310px;
            }

            &.collapsed {
                display: none;
            }

            @include media($small) {
                top: 50px;
            }
        }

        .tabset {
            position: relative;
            background-color: $blue-gray;
            margin: 0;
            z-index: $filter;

            .tab {
                display: inline;
            }

            .tab-heading {
                width: 32.3%;
            }

            a.tab-heading {
                display: inline-block;
                text-align: left;
                font-size: .8em;
                padding-left: 6px;
            }

            span.count-number {
                margin: 0 0 0 7px;
                padding: 0 4px;
                color: $black;
                font-size: 1em;
                line-height: 1.25em;
                background-color: $warning-color;
                border-radius: 10px;
            }

            .tab-content {
                float: left;
                padding: 15px 20px;
                height: 443px;
                overflow-y: auto;

                @include media($small) {
                    height: auto;
                }

                ul {
                    margin-bottom: 20px;
                }
            }
        }

        .global-filter-toolbar {
            @include span-columns(12);
            background-color: $secondary-color;
            padding: 15px 20px;
        }

        input[type="button"] {
            font-size: .8em;

            &.clear-button{
                @include button($error-color);
            }

            &.apply-filter-button {
                @include button($success-color);
                float: right;
            }

            &.save-to-set-button{
                @include button($warning-color);
            }

            &:disabled {
                @include button($secondary-color);
            }
        }
    }
}





/*------------------------------------*\
    $FILTER META
\*------------------------------------*/

.global-filter-meta-wrapper {
    background-color: darken($secondary-color, 10);
}

.global-filter-meta {
    padding: 15px;
    background-color: darken($secondary-color, 10);

    @include media($small) {
        padding: 15px;
    }
}

.global-filter-meta-details {
    display: inline;
}

.filter-actions {
    display: inline;
    float: right;

    @include media($small) {
        float: none;
        margin-left: 40px;
    }

    button a {
        color: $white;
        font-size: 1.3em;
    }

    .add-to-set-button {
        @include button($warning-color);
    }

    .export-button {
        @include button($success-color);
    }
}
