/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
* HOME SIDEBAR...............sidebar styles specific to home page
*/




/*------------------------------------*\
	$HOME SIDEBAR
\*------------------------------------*/

.sidebar--home .tab-content {

	[class*='tab-content-'] {
		@include span-columns(12);
		border-bottom: 1px solid $secondary-color;
		height: 145px;

		@include media($mobile) {
			height: 125px;
		}

		@include media($mobile-up) {
			height: 100px;
		}

		@include media($large) {
			height: 120px;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.tab-content__icon {
		@include span-columns(3);
		@extend %vertical-align;
		text-align: center;

		.sms {
			font-size: 50px;
		}

		.email {
			font-size: 38px;
		}

		.deployment {
			font-size: 45px;
		}

	}

	.tab-content__description {
		@include span-columns(9);
		border-left: 1px solid $secondary-color;
		padding: 20px;

		.post-origin {
			font-size: .9em;
			font-style: italic;
			color: $sub-base-font-color;
		}
	}
}
