:global {
    .layout-g {
        background-color: white;
        [role="main"] {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            margin-bottom: 67px;

            @include media($medium) {
                flex-direction: row;
                padding-top: 0;
                @include padding-left(182px);
                margin-bottom: 0;
            }
        }

        .full-col {
            width: 100%;
            max-width: 784px;
            padding: 0 0 $lg-spacing 0;

            @include media($medium) {
                margin: 0;
                padding: 0 0 0 $lg-spacing;
            }

            ul {
                margin: 0;
            }

            .list-item {

                ul {
                    margin: 0;

                    .list-item {
                        padding: $lg-spacing;

                        @include media($medium) {
                            padding: 24px 0;
                        }

                        p {
                            margin: 16px 0 0 0;
                        }
                    }
                }

                &.list {
                    padding: 0;
                }
            }
        }
    }
}
