/*------------------------------------*\
        $CONTENTS
\*------------------------------------*/
/**
* POST HEADER...............post header, title, tags and actions
* POST NAV...............post navigation
* POST BODY..................post images, excerpt and meta
* POST FOOTER..................post actions
* RESPOND MESSAGE PANEL..................respond message panel text area, image and button
*/





/*------------------------------------*\
    $POST HEADER
\*------------------------------------*/

.post-header {
    @include header($blueGray);

    .title {
        color: $white;
        margin-bottom: 40px;
    }
}





/*------------------------------------*\
    $POST NAV
\*------------------------------------*/

.post-nav-wrapper {
    @include span-columns(12);

    @include media($small) {
        @include span-columns(4);
        @include omega;
        float: right;
        margin-bottom: 0;
        text-align: right;
    }

    .post-nav-list__item {
        display: inline;
    }

    .post-nav-prev {
        float: left;

        @include media($small) {
            float: none;
        };
    }

    .post-nav-next {
        float: right;

        @include media($small) {
            float: none;
            margin-left: 10px;
        };
    }

    .post-nav-button {
        @include button($secondary-color);
        font-size: em(10);
        margin: 0;

        @include media($small) {
            font-size: em(11);
        }

        [class*='fa'] {
            position: relative;
            top: -1px;
        }

        .fa-arrow-right,
        .fa-arrow-left {
            padding: 0;
        }

        @include media($medium) {
            .fa-arrow-left {
                padding-right: 5px;
            }

            .fa-arrow-right {
                padding-left: 5px;
            }
        }
    }
}





/*------------------------------------*\
        $POST BODY
\*------------------------------------*/


.post-detail .wrapper {
    margin-bottom: 0;
}

.post-content-right {
    @include span-columns(12);
    @include omega;

    @include media($small) {
        @include span-columns(8);
        @include omega;
        float: right;
    }
}

.post-excerpt {
    @include span-columns(12);

    @include media($small) {
        padding-right: 0;
    }
}

//custom-form
.post-values {
    @include span-columns(12);
    margin: 40px 0 50px;

    @include media($small) {
        margin: 20px 0;
    }

    .post-values-list {
        border: 1px solid $secondary-color;

        .post-values-list__item {
            padding: 20px 10px;

            span {
                font-weight: bold;
            }

            &:nth-child(odd) {
                background-color: $secondary-color;
            }

            a {
                display: inherit;
                margin: 10px 0 0 20px;

                @include media($medium) {
                    display: inline;
                }
            }

            [class*='badge--']{
                margin: 10px 0 0 20px;
            }

            [class*='badge--'] {
                display: table;

                @include media($small) {
                    display: inline;
                }
            }

            .badge--tag1 {
                @include badge($success-color);
            }

            .badge--tag2 {
                @include badge($darkBlue);
            }
        }
    }
}

.post-image {
    @include span-columns(12);
    margin-bottom: 50px;

    @include media($small) {
        @include span-columns(4);
        margin-bottom: 20px;
        padding-right: 10px;
    }

    img {
        @include thumbnail;
    }
}

.post-meta {
    @include span-columns(12);
    margin-bottom: 30px;

    @include media($small) {
        @include span-columns(4);
        clear: left;
    }

    p {
        color: $sub-base-font-color;
        font-size: $small-font-size;
        margin-bottom: 11px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

[class*='post-meta-'] {
    @include span-columns(12);
    margin-top: 10px;
}

.post-thumbnails-wrapper {
    @include span-columns(12);
    border-top: 1px solid $secondary-color;
    margin-top: 20px;
    padding-top: 10px;
}

.post-thumbnails-list{

    .post-thumbnails-list__item {
        @include span-columns(3);
        display: inline;

        img {
            @include thumbnail;
        }
    }
}

/*------------------------------------*\
    $POST FOOTER
\*------------------------------------*/

.post-footer {
    @include span-columns(12);
    margin-bottom: 40px;
    padding: 30px;
    background-color: $blueGray;

    .post-actions-list {
        @include span-columns(12);

        .post-actions-list__item {
            display: inline;

            .post-respond {
                @include span-columns(12);
                @include button($secondary-color);
                margin: 0 20px 20px 0;
                padding: 11px 12px;
                text-align: center;
                font-size: .8em;

                @include media($small) {
                    @include span-columns(3);
                    float: left;
                    margin-bottom: 0;
                }

                @include media($medium) {
                    @include span-columns(2);
                }
            }

            .list-view-actions {
                margin: 0;

                .dropdown {
                    margin: 0;
                    float: none;

                    @include media($small) {
                        float: right;
                    }
                }

                .dropdown-container {
                    @include span-columns(12);

                    @include media($small) {
                        width: inherit;
                    }
                }

                .dropdown-toggle {
                    @include span-columns(12);
                    text-align: center;
                }
            }
        }
    }
}

/*------------------------------------*\
    $RESPOND MESSAGE PANEL
\*------------------------------------*/

.post-actions-message-panel {
    @include span-columns(12);
    margin-top: -40px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: $white;

    textarea {
        @include span-columns(12);
        margin-bottom: 20px;
    }

    .post-actions-submit-button {
        @include button($success-color);
        float: right;
        font-size: em(13);
    }
}
