<form ng-submit="loginSubmit(email, password)" name="loginForm">
    <div class="modal-body">
        <div class="alert error login-failed" role="alert" ng-show="failed">
            <p translate>notify.login.failed</p>
        </div>

        <div class="form-field">
            <label for="email" translate>user.email</label>
            <input type="text" id="email" ng-model="email" ng-disabled="processing" placeholder="name@domain.com" required>
        </div>

        <div class="form-field">
            <label for="password" translate>user.password</label>
            <input id="password" type="password" ng-model="password" ng-disabled="processing" required>
            <p><a ng-click="forgotPassword()" translate>nav.forgotyourpassword</a></p>
        </div>

        <div class="form-field">
            <button type="button" class="button-link" ng-click="cancel()" ng-show="showCancel" translate="app.cancel">Cancel</button>
            <button type="submit" class="button-alpha" ng-disabled="loginForm.$invalid || processing" translate="nav.login">Login</button>
        </div>
    </div>
</form>
