<div class="modal-body">
    <form class="panel-body" name="form" ng-submit="submit()">
        <div class="alert error register-failed" ng-show="failed">
            <p translate>notify.passwordreset.failed</p>
        </div>
        <div class="form-field" ng-show="!hasToken">
            <p translate>user.passwordreset_confirm_instructions</p>
            <label for="token"
                class="input-label"
                translate>
                user.token
            </label>
            <input type="text" id="token" name="token"
                ng-model="token"
                ng-disabled="processing"
                required>
        </div>
        <div class="form-field" ng-class="{ 'success': !form.password.$invalid && form.password.$dirty, 'error' : form.password.$invalid && form.password.$dirty}" >
            <label class="input-label" for="password" translate>user.new_password</label>
            <input id="password" type="password" name="password"
                ng-minlength="7"
                ng-maxlength="72"
                ng-model="password"
                ng-disabled="processing"
                required>
            <div ng-repeat="(error, value) in form.password.$error"
                ng-show="form.password.$dirty"
                class="alert error">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
                </svg>
                <span translate="{{'user.valid.password.' + error}}" translate-default="{{error}}"></span>
            </div>
        </div>
        <div class="form-field">
            <button type="button" class="button-link" ng-click="cancel()" translate="app.cancel">Cancel</button>
            <button type="submit" class="button-primary"
                ng-disabled="form.$invalid || processing">
                    <div class="loading" ng-show="processing"><div class="line"></div><div class="line"></div><div class="line"></div></div>
                    <span translate>nav.resetpassword</span>
            </button>
        </div>
    </form>
</div>
