<fieldset>
    <legend>Date range</legend>

    <div class="form-field date">
        <svg class="iconic">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#calendar"></use>
        </svg>
        <label class="hidden" translate="global_filter.filter_tabs.created_after">Start date</label>
        <input type="date" pick-a-date="createdAfter" pick-a-date-options="{ format : 'yyyy-mm-dd' }" placeholder="{{ 'global_filter.filter_tabs.created_after' | translate }}" ng-model="createdAfterModel" />
        <span class="date-joiner">to</span>
    </div>

    <div class="form-field date">
        <svg class="iconic">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#calendar"></use>
        </svg>
        <label class="hidden" translate="global_filter.filter_tabs.created_before">End date</label>
        <input type="date" pick-a-date="createdBefore" pick-a-date-options="{ format : 'yyyy-mm-dd' }" placeholder="{{ 'global_filter.filter_tabs.created_before' | translate }}" ng-model="createdBeforeModel">
    </div>

</fieldset>
