<div>
    <layout-class layout="a"></layout-class>
    <div class="mode-context init" ng-controller="navigation as nav" dropdown>
        <header class="mode-context-header" ng-class="{ 'has-logo' : nav.site.image_header }">
            <h1 class="mode-context-title"><a href="/" ng-bind="nav.site.name"></a></h1>
            <img ng-if="nav.site.image_header" ng-src="{{ nav.site.image_header }}" class="deployment-logo" />
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>

        <div class="mode-context-body">
            <p ng-bind="nav.site.description"></p>

            <mode-context-form-filter></mode-context-form-filter>

            <post-active-filters></post-active-filters>

            <saved-search-create></saved-search-create>

        </div>
    </div>


    <main role="main">

        <post-view current-view="currentView" filters="filters" base-url="/views/">
        </post-view>
    </main>
</div>
