<form class="survey-filter">
    <div class="survey-filter-checkbox init checked">
        <div class="survey-filter-label">
            <span class="post-band" style="background-color:#A51A1A;"></span>
            <label class="checked">
                <input type="checkbox" checked="">
                Getting around
            </label>
        </div>
        <span class="survey-filter-total init" data-toggle="dropdown-menu">
            18
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </span>
        <ul class="dropdown-menu init">
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                </svg>
                <span class="label">Add to Getting around</span>
                </a>
            </li>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#task"></use>
                </svg>
                <span class="label">Assign someone to add to Getting around</span>
                </a>
            </li>
            <div class="divider"></div>
            <li><a href="">Show only Getting around</a></li>
            <li><a href="">Hide Getting around</a></li>
            <div class="divider"></div>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#cog"></use>
                </svg>
                <span class="label">Survey settings</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="survey-filter-checkbox init checked">
        <div class="survey-filter-label">
            <span class="post-band" style="background-color:#E69327;"></span>
            <label class="checked">
                <input type="checkbox" checked="">
                Police encounters
            </label>
        </div>
        <span class="survey-filter-total init" data-toggle="dropdown-menu">
            2
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </span>
        <ul class="dropdown-menu init">
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                </svg>
                <span class="label">Add to Police encounters</span>
                </a>
            </li>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#task"></use>
                </svg>
                <span class="label">Assign someone to add to Police encounters</span>
                </a>
            </li>
            <div class="divider"></div>
            <li><a href="">Show only Police encounters</a></li>
            <li><a href="">Hide Police encounters</a></li>
            <div class="divider"></div>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#cog"></use>
                </svg>
                <span class="label">Survey settings</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="survey-filter-checkbox init checked">
        <div class="survey-filter-label">
            <span class="post-band" style="background-color:#2274B4;"></span>
            <label class="checked">
                <input type="checkbox" checked="">
                Protester photos
            </label>
        </div>
        <span class="survey-filter-total init" data-toggle="dropdown-menu">
            4
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </span>
        <ul class="dropdown-menu init">
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                </svg>
                <span class="label">Add to Protester photos</span>
                </a>
            </li>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#task"></use>
                </svg>
                <span class="label">Assign someone to add to Protester photos</span>
                </a>
            </li>
            <div class="divider"></div>
            <li><a href="">Show only Protester photos</a></li>
            <li><a href="">Hide Protester photos</a></li>
            <div class="divider"></div>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#cog"></use>
                </svg>
                <span class="label">Survey settings</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="survey-filter-checkbox init checked">
        <div class="survey-filter-label">
            <span class="post-band" style="background-color:#5BAA00;"></span>
            <label class="checked">
                <input type="checkbox" checked="">
                Official events
            </label>
        </div>
        <span class="survey-filter-total init" data-toggle="dropdown-menu">
            3
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </span>
        <ul class="dropdown-menu init">
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                </svg>
                <span class="label">Add to Official events</span>
                </a>
            </li>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#task"></use>
                </svg>
                <span class="label">Assign someone to add to Official events</span>
                </a>
            </li>
            <div class="divider"></div>
            <li><a href="">Show only Official events</a></li>
            <li><a href="">Hide Official events</a></li>
            <div class="divider"></div>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#cog"></use>
                </svg>
                <span class="label">Survey settings</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="survey-filter-checkbox init">
        <div class="survey-filter-label">
            <label>
                <input type="checkbox">
                Unknown
            </label>
        </div>
        <span class="survey-filter-total init" data-toggle="dropdown-menu">
            6
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </span>
        <ul class="dropdown-menu init">
            <li><a href="">Show only Unknown</a></li>
            <li><a href="">Hide Unknown</a></li>
            <div class="divider"></div>
            <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#cog"></use>
                </svg>
                <span class="label">Unknown survey settings</span>
                </a>
            </li>
        </ul>
    </div>
</form>
