<form class="survey-filter">
    <div class="survey-filter-checkbox init" ng-class="{ checked : (filters.form.indexOf(form.id) !== -1) }" ng-repeat="form in forms" dropdown>
        <div class="survey-filter-label">
            <span class="post-band" todo-style="background-color:#A51A1A;"></span>
            <label class="checked">
                <input type="checkbox" checklist-value="form.id" checklist-model="filters.form" >
                {{ ::form.name }}
            </label>
        </div>
        <span class="survey-filter-total init" data-toggle="dropdown-menu" dropdown-toggle>
            <!-- todo! show count -->
            {{ form.post_count }}
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </span>
        <ul class="dropdown-menu init" dropdown-menu>
            <li>
                <a ng-href="posts/create/{{ ::form.id }}">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="label" translate="post.add_to_form" translate-values="{ form: form.name }">Add to</span>
                </a>
            </li>
            <!-- <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#task"></use>
                </svg>
                <span class="label">Assign someone to add to Getting around</span>
                </a>
            </li> -->
            <div class="divider"></div>
            <li><a translate="post.show_only_form" translate-values="{ form: form.name }" ng-click="showOnly(form.id)">Show only </a></li>
            <li><a translate="post.hide_form" translate-values="{ form: form.name }" ng-click="hide(form.id)">Hide</a></li>
            <div class="divider"></div>
            <li ng-show="hasManageSettingsPermission()">
                <a ng-href="/settings/surveys/{{ form.id }}">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#cog"></use>
                    </svg>
                    <span class="label" translate="nav.survey_settings">Survey settings</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="survey-filter-checkbox init" ng-class="{ checked : (filters.form.indexOf('none') !== -1) }"  dropdown>
        <div class="survey-filter-label">
            <span class="post-band" todo-style="background-color:#A51A1A;"></span>
            <label class="checked">
                <input type="checkbox" checklist-value="'none'" checklist-model="filters.form" >
                <span translate="nav.unknown">Unknown</span>
            </label>
        </div>
        <span class="survey-filter-total init" data-toggle="dropdown-menu" dropdown-toggle>
            <!-- todo! show count -->
            {{ unknown_post_count }}
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </span>
        <ul class="dropdown-menu init" dropdown-menu>
            <!-- <li>
                <a href="">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#task"></use>
                </svg>
                <span class="label">Assign someone to add to Getting around</span>
                </a>
            </li> -->
            <div class="divider"></div>
            <li><a translate="post.show_only_unknown_form" ng-click="showOnly('none')">Show only Unknown</a></li>
            <li><a translate="post.hide_unknown_form" ng-click="hide('none')">Hide Unknown</a></li>
        </ul>
    </div>
</form>
