<div class="toolbar">
    <!-- toolbar -->

    <!-- floating action button -->
    <add-post-button></add-post-button>

    <filter-posts filters="filters"></filter-posts>


    <div class="button-group">
      <!-- share button
      <button type="button">
        <svg class="iconic">
          <use xlink:href="../../img/iconic-sprite.svg#share"></use>
        </svg>
        <span class="button-label">Share</span>
      </button>
      -->
      <post-export filters="filters"></post-export>
    </div>


    <!-- toolbar -->
</div>
