<div class="toolbar">
    <!-- toolbar -->

    <!-- floating action button -->
    <add-post-button></add-post-button>

    <filter-posts filters="filters"></filter-posts>

    <!-- share button -->
    <div class="button-group">
        <button type="button">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#share"></use>
            </svg>
            <span class="button-label">Share</span>
        </button>
    </div>
    <!-- share button -->

    <!-- toolbar -->
</div>
