<div class="dropdown-menu" data-toggle-target="search-saved" ng-show="searchSavedToggle" ng-class="{ 'active': searchSavedToggle }" data-toggle-animate>
    <div class="form-field search">
         <label>Find a saved search</label>
         <input type="search" placeholder="Find a saved search...">
    </div>
    <dl class="dropdown-menu-body">
        <dt class="list-item"><a href="#">Actions on Congress Avenue</a></dt>

        <dt class="list-item"><a href="#">Photos</a></dt>

        <dt class="list-item"><a href="#">Reports on Wednesday</a></dt>

        <dt class="list-item"><a href="#">Assigned to me</a></dt>

        <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
        <dd>by <a href="">Robbie MacKay</a></dd>

        <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
        <dd>by <a href="">Robbie MacKay</a></dd>

        <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
        <dd>by <a href="">Robbie MacKay</a></dd>

        <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
        <dd>by <a href="">Robbie MacKay</a></dd>
    </dl>
    <div class="form-field">
        <button type="button" class="button-beta">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
            </svg>
            <span class="button-label">Create new</span>
        </button>
    </div>
</div>
