 <div class="modal-body">
  <div class="form-field">
      <label translate="app.name">Name</label>
      <input type="text" ng-model="editAttribute.label" ng-click="editName()">
   </div>
   <div class="form-field switch">
      <label translate="survey.show_field_description">Show field description</label>
      <div class="toggle-switch">
          <input class="tgl init" id="show-field-description-new" type="checkbox" data-fieldgroup-toggle="field-description-new" ng-click="descriptionToggle=!descriptionToggle">
          <label class="tgl-btn" for="show-field-description-new"></label>
      </div>

      <div class="form-field" data-fieldgroup-target="field-description-new" ng-show="descriptionToggle">
          <input type="text" placeholder="Explain this field..." ng-model="editAttribute.instructions">
      </div>
  </div>
   <div ng-if="canDisplay()">
       <div class="form-field" ng-if="hasOptions(editAttribute)">
          <label translate>form.field_options</label>
          <div class="input-inline" ng-repeat="(key, option) in editAttribute.options track by $index">
              <input type="text" placeholder="{{ 'form.field_option_placeholder'|translate }}" ng-model="editAttribute.options[key]">
              <button type="button" class="button-flat button-beta" ng-if="editAttribute.options.length > 1" ng-click="removeOption(editAttribute, key)">
                <svg class="iconic">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#trash"></use>
                </svg>
                <span class="button-label hidden">Remove</span>
              </button>
          </div>
          <button type="button" class="button-secondary alt" ng-click="addOption(editAttribute)"><i class="fa fa-plus"></i> <span translate>form.field_add_option</span></button>
       </div>
   </div>
   <!-- editing/adding categories -->
    <div class="form-field" ng-if="editAttribute.input ==='tags'">
      <label translate>Which categories should be available</label>
        <div
          class="form-field checkbox"
          ng-repeat="category in availableCategories"
        >
            <label>
              <input
                type="checkbox"
                checklist-model="editAttribute.options"
                checklist-value="category.id"
              />
              {{category.tag}}
            </label>
            <div
              class="form-field checkbox"
              ng-if="category.children"
              ng-repeat="child in category.children">
                <label>
                <input
                  type="checkbox"
                  checklist-model="editAttribute.options"
                  checklist-value="child.id"
                  ng-click="selectChild(child)"
                />
                {{child.tag}}
                </label>
              </div>
        </div>
      </div>
    <!-- End of editing/adding categories -->
        <div class="form-field" ng-if="editAttribute.input === 'relation'">
            <label translate>survey.field_allowed_relation_survey</label>
            <ul name="visible-to">
               <li ng-repeat="relationForm in availableForms | filter : filterNotCurrentForm">
                   <label>
                       <input type="checkbox" checklist-model="editAttribute.config.input.form" checklist-value="relationForm.id" />
                        {{relationForm.name}}
                   </label>
               </li>
            </ul>
        </div>
        <div class="form-field switch" ng-show="onlyOptional() && editAttribute.input !== 'tags'">
          <label translate="survey.required">Require this field be completed</label>
          <div class="toggle-switch">
             <input class="tgl" id="switchnewattribute" type="checkbox" ng-model="editAttribute.required">
             <label class="tgl-btn" for="switchnewattribute"></label>
          </div>
       </div>
       <div class="form-field switch" ng-show="canMakePrivate()">
          <label translate="survey.make_response_private">Make responses private</label>
          <p data-fieldgroup-target="field-private-message-3" class="init active" translate="survey.response_private_desc" ng-show="editAttribute.response_private">
            <svg class="iconic">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#lock-locked"></use>
            </svg>
              Only people with permission to edit responses will be able to see responses to this field.
          </p>
          <div class="toggle-switch">
             <input class="tgl" id="switchprivateresponse" type="checkbox" ng-model="editAttribute.response_private">
             <label class="tgl-btn" for="switchprivateresponse"></label>
          </div>
       </div>
       <div class="form-field switch" ng-if="canDisplay()">
            <label translate="app.default_value">Default value</label>
            <div class="toggle-switch">
                <input class="tgl init" id="include-default-value-new" type="checkbox" data-fieldgroup-toggle="field-default-value-new" ng-click="defaultValueToggle=!defaultValueToggle">
                <label class="tgl-btn" for="include-default-value-new"></label>
            </div>

            <div class="form-field" data-fieldgroup-target="field-default-value-new" ng-show="defaultValueToggle">
              <div ng-switch="editAttribute.input">
                  <input ng-switch-when="location" type="text" placeholder="{{ 'form.default_location_placeholder'|translate }}" ng-model="editAttribute.default">
                  <input ng-switch-when="date" type="text" date-time="editAttribute.default" ng-model="editAttribute.default">
                  <input ng-switch-when="int" type="number" step="1" ng-model="editAttribute.default">
                  <input ng-switch-when="decimal" type="number" ng-model="editAttribute.default">
                  <input ng-switch-default type="text" placeholder="{{ 'form.default_default_placeholder'|translate }}" ng-model="editAttribute.default">
              </div>
            </div>
        </div>
   </div>
   <div class="form-field">
      <button ng-show="!editAttribute.id" type="button" class="button-alpha modal-trigger" ng-click="addNewAttribute(editAttribute, activeTask)" translate="app.add_and_close">Add &amp; close</button>
      <button ng-show="editAttribute.id" type="button" class="button-alpha modal-trigger" ng-click="addNewAttribute(editAttribute, activeTask)" translate="app.update_and_close">Update &amp; close</button>
   </div>
</div>
