<!-- survey-name and descriptions + fields -->
<section class="form-sheet" translate-language="{{activeLanguage}}">
    <span class="post-band" ng-style="{backgroundColor: survey.color}"></span>
    <div class="form-field survey">
        <label translate>survey.survey_name</label>
        <div class="form-field framed">

        <em>Text in default language ({{('languages.' + defaultLanguage) | translate}}):</em>
        <p>{{survey.name}}</p>
        </div>
        <!-- TODO: Use this when backend is ready -->
        <!-- <p>{{survey.translations[activeLanguage].name}}</p> -->
        <!-- TODO: add ng-model for translation -->
        <p>Add your translation below:</p>
        <input type="text" placeholder="{{ 'survey.survey_name' | translate }}" ng-model="survey.translations[activeLanguage].name">
    </div>

      <div class="form-field survey">
        <label translate>app.description</label>
        <div class="form-field framed">

          <em>Text in default language ({{('languages.' + defaultLanguage) | translate}}):</em>
          <p>{{survey.description}}</p>  
        </div>
        <p>Add your translation below:</p>
        <!-- TODO: add ng-model for translation -->
        <textarea placeholder="{{ 'survey.describe_your_survey' | translate }}" ng-model="survey.translations[activeLanguage].description"></textarea>
    </div>

    <div class="survey-details" >
        <div class="listing init" style="margin-left: 4px;">
          <h2 class="listing-heading" >Fields (click to add translation):</h2>
          <div class="listing-item" ng-repeat="field in survey.tasks[0].fields track by $index">
            <div class="listing-item-primary" ng-click="openField(field)">
                <h2 class="listing-item-title">
                  {{field.translations[activeLanguage].label || field.label}}
                  <!-- TODO: Use this when backend is ready -->    
                    <!-- {{attribute.translations[activeLanguage].label}} -->
                </h2>
            </div>
          </div>
        </div>
      </div>
</section>
  <!-- Tasks -->
<section class="form-sheet" translate-language="{{activeLanguage}}" ng-show="survey.tasks.length > 1">
  <div class="listing init">
    <div class="form-field survey">
    <h2>Tasks</h2>
  </div>
  </div>
  <div class="listing-item" ng-repeat="task in survey.tasks | limitTo: 1 - survey.tasks.length">
    <div class="form-field survey">
        <label translate>Task name</label>
        <div class="form-field framed">
          <em>Text in default language ({{('languages.' + defaultLanguage) | translate}}):</em>
          <p>{{task.label}}</p>
          </div>
        <p>Add your translation:</p>
        <input type="text" placeholder="{{ 'survey.task_name' | translate }}" ng-model="task.translations[activeLanguage].label">
    </div>

      <div class="form-field survey">
        <label>Task description</label>
        <div class="form-field framed">
            <em>Text in default language ({{('languages.' + defaultLanguage) | translate}}):</em>
            <p>{{task.description}}</p>
        </div>
        <p>Add your translation:</p>
        <textarea placeholder="{{ 'survey.task_description' | translate }}" ng-model="task.translations[activeLanguage].description"></textarea>
    </div>
    <div class="survey-details" >
      <div class="listing init" style="margin-left: 4px;">
        <h2 class="listing-heading" >Fields (click to add translation):</h2>
        <div class="listing-item" ng-repeat="field in task.fields track by $index" >
          <div class="listing-item-primary" ng-click="openfield(field)">
              <h2 class="listing-item-title">
                {{field.translations[activeLanguage].label || field.label}}
              </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
     






