<div>
  <div class="form-field title">
     <label translate="survey.task_name">task name</label>
     <input type="text" placeholder="{{ 'survey.name_this_task' | translate }}" ng-model="newTask.label">
  </div>
  <div class="form-field">
      <label for="task_description" translate="survey.task_description">
          task description
      </label>
      <textarea id="task_description" placeholder="{{ 'survey.describe_this_task' | translate }}" name="description" data-min-rows="1" rows="1" ng-model="newTask.description"></textarea>

  </div>
  <div class="form-field switch">
     <label translate="survey.require_section">Require this section be completed before a post can be visible to the public</label>
     <div class="toggle-switch">
        <input class="tgl" id="require-toggle" type="checkbox" ng-model="newTask.required">
        <label class="tgl-btn" for="require-toggle"></label>
     </div>
  </div>
  <div class="form-field">
      <button type="button" class="button-link modal-trigger" ng-click="closeModal()" translate="app.cancel">Cancel</button>
      <button type="button" class="button-alpha modal-trigger" ng-click="addNewTask(newTask)" translate="app.add_and_close">Add &amp; close</button>
  </div>
</div>
