<div class="savedsearch-create form-field" ng-show="hasFilters()">
    <button ng-click="saveSearch()" ng-show="$root.loggedin" class="button-alpha" type="button" translate>
        set.save_savedsearch
    </button>
    <button ng-click="saveSearch()" ng-show="isSaving" disabled class="button-beta" type="button">
            <div class="loading">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <span class="button-label" translate="app.saving">Saving</span>
    <button ng-click="clearFilters()" class="button-link" type="button" translate>
        set.clear_search
    </button>

</div>

