<div class="form-field">
    <label class="hidden" translate="set.delete_saved_searches">Delete Saved Searches</label>
</div>
<div class="modal-body">
    <div class="listing">
        <div class="listing-item" ng-repeat="savedSearch in searches">
            <div class="listing-item-primary">
                <div class="form-field checkbox">
                    <label>
                        <input type="checkbox" ng-model="savedSearch" checklist-model="selectedSavedSearches" checklist-value="savedSearch.id" name="selectedSavedSearches">
                        {{savedSearch.name | translate}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-actions">
        <div class="form-field">
            <button type="button" class="button-beta" ng-click="close()" translate>modal.button.close</button>
            <button type="button" class="button-alpha" ng-show="processing">
                <div class="loading">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <span class="button-label" translate="app.saving">Saving</span>
            </button>
            <button type="submit" class="button-alpha" ng-class="{disabled: selectedSavedSearches.length < 1}" translate ng-click="delete()" ng-show="!processing">app.delete</button>
        </div>
    </div>
</div>
