<main importer-csv class="page-content" role="main">
    <div class="page-header">
        <ul class="breadcrumb">
            <li translate>
                nav.settings
            </li>
        </ul>
        <h1 translate>data_import.import</h1>
    </div>
    <div class="main-col">
        <form class="dk-bg">
            <h2 translate>data_import.csv</h2>
            <p><em translate>data_import.import_explanation_csv</em></p>
            <div class="divider padded"></div>
            <div class="form-field">
                <label translate>data_import.post_type</label>
                <div class="custom-select init">
                    <select ng-model="formId">
                        <option value="{{form.id}}" ng-repeat="form in forms">
                            {{form.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-field">
                <label translate>data_import.file_csv</label>
                <file-upload file-container="fileContainer">
                </file-upload>
            </div>
            <div class="form-field">
                <button ng-click="importCSV()" type="submit" translate>data_import.import_csv</button>
            </div>
        </form>
    </div>
</main> 
