<div>
    <div class="mode-context init" dropdown>

        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
                <li><a href="/settings" translate>app.settings</a></li>
            </ol>
            <h1 class="mode-context-title" translate>app.import</h1>
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>
    </div>
    <main role="main">

        <div class="main-col">

            <ol class="progress">
               <li translate>data_import.choose_file</li>
               <li translate>data_import.organize_data</li>
               <li class="active" translate>data_import.configure_posts</li>
            </ol>

            <div class="form-sheet">

                <div class="form-sheet-summary">
                    <h2 class="form-sheet-title" translate>data_import.configure_all_imported_posts</h2>
                    <p translate>data_import.configure_explanation</p>
                </div>

                <form>
                    <post-editor post="post" attributes-to-ignore="csv.maps_to" post-mode="postMode"></post-editor>

                    <div class="form-field">
                        <button type="button" class="button-link" ng-click="cancelImport()" translate>data_import.cancel_import</button>
                        <button type="button" class="button-alpha" ng-click="submitMappings()" translate>data_import.finish_import</button>
                    </div>
                </form>

            </div>
        </div>

    </main>
</div>
