<main configure-csv class="page-content" role="main">
     <div class="page-header">
        <ul class="breadcrumb">
           <li translate>
              nav.settings
           </li>
           <li>
              <a href="/settings/data-import" translate>data_import.import</a>
           </li>
        </ul>
        <h1 translate>data_import.import_csv</h1>
     </div>
     <div class="main-col">
        <ol class="progress">
           <li><span class="complete" translate>data_import.choose_file</span></li>
           <li class="complete" translate>data_import.organize_data</li>
           <li class="active">data_import.configure_posts</li>
        </ol>
        <h2 translate>data_import.configure_all_imported_posts</h2>
        <form class="segment" ng-submit="submitMappings(csv)">

            <div ng-show="post.allowed_privileges.indexOf('update') !== -1" class="form-field select">
                <role-selector
                    toggle-role-func="publishPostTo(updatedPost)"
                    post="post" ></role-selector>
            </div>
            <div ng-if="categories.length" class="form-field">
                <legend class="input-label" for="tags" translate>Select categories that apply to all posts</legend>
                <div class="form-field checkbox" ng-repeat="category in categories">
                    <input type="checkbox" value="category.id" name="tags" checklist-model="csv.tags" checklist-value="category.id">
                    <label>
                        {{category.tag}}
                    </label>
                </div>
            </div>
            <fieldset class="form-field">
                <legend translate>Assign value to unused post fields</legend>
                <p class="small" translate translate-values="{form_name: form.name}">
                    Any unused <strong>--formname--</strong> fields are listed below. You can assign the same value to each field for all imported posts, or leave the unused fields blank.
                </p>
              <table>
                 <thead>
                    <tr>
                       <th translate> data_import.csv_column_name</th>
                       <th translate translate-values="{form_name: form.name}"> data_import.post_type_title</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr ng-repeat="column in form.unmapped_columns track by $index">
                       <td>{{column}}</td>
                       <td>
                          <div class="custom-select init">
                             <select 
                                ng-model="csv.maps_to[$index]" 
                                ng-options="attribute.key as attribute.label for attribute in form.attributes"> 
                                <option selected="true" value="" translate>
                                    data_import.dont_import
                                </option>
                             </select>
                          </div>
                       </td>
                    </tr>
                 </tbody>
              </table>
           </fieldset>
           <div class="actions-inline actions-right">
              <button class="button-link" ng-click="cancelImport()"translate>data_import.cancel_import</button>
              <button type="submit" id="submit" translate>data_import.finish_import</button>
           </div>
        </form>
     </div><!--end main col-->
  </main>
