<div class="container">
    <div class="add-to-set-wrapper">
        <div class="add-to-set-header">
            <h4 class="title">{{title}}</h4>

            <div ng-show="isSelected()">
                <button class="add-to-set-button" translate>set.add_to_sets</button>
            </div>
            <div ng-show="!isSelected()">
                <button class="add-to-set-button" disabled="disabled" translate>set.add_to_sets</button>
            </div>

        </div> <!-- end .add-to-set-header -->

        <div class="wrapper">
            <ul class="set-list">
                <li class="set-list__item"  ng-class="{'': !isSelected1, 'is-selected': isSelected1}" ng-click="isSelected1 = !isSelected1">
                    <h5 class="header">Chantal Biya Sightings</h5>
                    <p>Pariatur elit mollit exercitation cupidatat enim dolor minim magna laboris amet proident.</p>
                </li>
                <li class="set-list__item"  ng-class="{'': !isSelected2, 'is-selected': isSelected2}" ng-click="isSelected2 = !isSelected2">
                    <h5 class="header">Crisis in Gaza</h5>
                    <p>Dolor officia anim amet occaecat ex officia enim adipisicing. Ad deserunt aute aliquip ad reprehenderit nulla ipsum consequat.</p>
                </li>
            </ul>

            <ul class="set-list">
                <li class="set-list__item"  ng-class="{'': !isSelected3, 'is-selected': isSelected3}" ng-click="isSelected3 = !isSelected3">
                    <h5 class="header">World Cup News</h5>
                    <p>Ullamco officia eiusmod irure qui eiusmod sunt et veniam Lorem ad tempor qui id eiusmod.</p>
                </li>
                <li class="set-list__item"  ng-class="{'': !isSelected4, 'is-selected': isSelected4}" ng-click="isSelected4 = !isSelected4">
                    <h5 class="header">Ebola in Afric</h5>
                    <p>Nostrud nulla consequat anim do dolor deserunt sit. In sunt sint id ad exercitation nisi proident exercitation Lorem sit qui irure dolore.</p>
                </li>
            </ul>

            <ul class="set-list">
                <li class="set-list__item"  ng-class="{'': !isSelected5, 'is-selected': isSelected5}" ng-click="isSelected5 = !isSelected5">
                    <h5 class="header">Ebola Outbreak</h5>
                    <p>Lorem voluptate non esse et in ipsum eiusmod ea pariatur non anim non duis consequat. Et est amet velit elit ex elit proident labore eiusmod dolore ut. Magna proident eiusmod est voluptate qui.</p>
                </li>
                <li class="set-list__item"  ng-class="{'': !isSelected6, 'is-selected': isSelected6}" ng-click="isSelected6 = !isSelected6">
                    <h5 class="header">Frida Khalo Exhibitions</h5>
                    <p>Magna proident eiusmod est voluptate qui.</p>
                </li>
            </ul>

            <ul class="set-list">
                <li class="set-list__item"  ng-class="{'': !isSelected7, 'is-selected': isSelected7}" ng-click="isSelected7 = !isSelected7">
                    <h5 class="header">Where's Waldo</h5>
                    <p>Reprehenderit sunt cupidatat enim aute reprehenderit aliqua. Et ad fugiat mollit occaecat enim laboris.</p>
                </li>
                <li class="set-list__item"  ng-class="{'': !isSelected8, 'is-selected': isSelected8}" ng-click="isSelected8 = !isSelected8">
                    <h5 class="header">Zombie Time</h5>
                    <p>Quis aliquip velit quis nisi fugiat ullamco aliqua mollit quis irure laborum laboris.</p>
                </li>
            </ul>
        </div> <!-- end .wrapper -->

    </div> <!-- end .add-to-set-wrapper -->

    <!-- Pagination -->
    <ng-include src=" 'templates/partials/pagination.html' "></ng-include>

</div> <!-- end .container -->
