<div class="collection-editor">

<modal title="set.edit_collection_settings" visible="isOpen.data">
    <div class="collection-info">
        <label class="input-label" translate>set.name_collection</label>
        <input type="text" ng-model="cpyCollection.name" />

        <label class="input-label" translate>set.description</label>
        <textarea ng-model="cpyCollection.description" />

        <label class="input-label" translate>set.visible_to_collection</label>
        <div class="custom-select">
            <select ng-options="role.name as role.display_name for role in roles" ng-model="cpyCollection.visible_to[0]">
                <option value="" translate>post.modify.everyone</option>
            </select>
        </div>

        <label class="input-label" translate>set.default_view</label>
        <div class="custom-select">
            <select ng-options="view.name as view.display_name for view in views" ng-model="cpyCollection.view">
            </select>
        </div>
        <div ng-if="isAdmin()" class="">
            <label class="checkbox-label">
                <input type="checkbox" ng-model="cpyCollection.featured">
                <translate>set.featured_collection</translate>
            </label>
        </div>
        <div ng-if="collection.id" class="clearfix">
          <label class="input-label" translate>set.delete_collection</label>
              <button ng-click="deleteCollection()" type="button" class="button-destructive icon-only-when-small alt trash">
                <span translate>nav.delete</span>
              </button>
         </div>
    </div>
    <div class="divider white"></div>
    <div class="modal-submit">
        <button type="button" ng-click="saveCollection(cpyCollection)" translate>set.save_set</button>
    </div>
</modal>
</div>
