<div>
    <layout-class layout="a"></layout-class>
    <div class="mode-context init" ng-controller="navigation as nav">
        <header class="mode-context-header has-logo">
            <h1 class="mode-context-title"><a href="/" ng-bind="site.name"></a></h1>
            <img ng-if="site.image_header" ng-src="site.image_header" class="deployment-logo" />
        </header>

        <!-- todo: wire up show/hide -->
        <span class="mode-context-trigger">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden">Show more/less</span>
        </span>

        <div class="mode-context-body">
            <p ng-bind="site.description"></p>

		    <h1 class="inline">{{savedSearch.name}}</h1>
		    <a class="cta settings" ng-show="canEdit()" ng-click="setSavedSearchOpen()" translate>set.edit_search_settings</a>&nbsp;
		    <a ng-if="showNotificationLink" ng-click="saveNotification(savedSearch)" class="cta settings" translate>set.add_notification</a>
		    <savedsearch-editor saved-search="savedSearch" is-open="savedSearchOpen"></savedsearch-editor>
		    <p class="savedsearch-description">{{savedSearch.description}}</p>

		    <div class="applied-filters">
		        <post-active-filters filters="filters"></post-active-filters>
		        <savedsearch-update saved-search="savedSearch" filters="filters" ng-show="canEdit()"></savedsearch-update>
		    </div>
        </div>
    </div>

    <main role="main">
        <post-view saved-search="savedSearch" current-view="currentView()" filters="filters" base-url="/savedsearches/{{savedSearch.id}}/">
        </post-view>
    </main>
</div>
