<post-view saved-search="savedSearch" current-view="currentView()" filters="filters" base-url="/savedsearches/{{savedSearch.id}}/">
    <h1 class="inline">{{savedSearch.name}}</h1>
    <a class="cta settings" ng-show="canEdit()" ng-click="setSavedSearchOpen()" translate>set.edit_search_settings</a>&nbsp;
    <a ng-if="showNotificationLink" ng-click="saveNotification(savedSearch)" class="cta settings" translate>set.add_notification</a>
    <savedsearch-editor saved-search="savedSearch" is-open="savedSearchOpen"></savedsearch-editor>
    <p class="savedsearch-description">{{savedSearch.description}}</p>

    <div class="applied-filters">
        <post-active-filters filters="filters"></post-active-filters>
        <savedsearch-update saved-search="savedSearch" filters="filters" ng-show="canEdit()"></savedsearch-update>
    </div>
</post-view>
