<post-view saved-search="savedSearch" current-view="currentView()" filters="filters" base-url="/savedsearches/{{savedSearch.id}}/">
    <h1 class="inline">{{savedSearch.name}}</h1>
    <a class="cta settings" ng-show="canEdit" ng-click="setSavedSearchOpen()" translate>set.edit_settings</a>
    <savedsearch-editor saved-search="savedSearch" is-open="savedSearchOpen"></savedsearch-editor>
    <p class="savedsearch-description">{{savedSearch.description}}</p>

    <savedsearch-update saved-search="savedSearch" filters="filters"></savedsearch-update>
</post-view>
