<div class="savedsearch-editor">

<modal title="set.edit_search_settings" visible="isOpen.data">
    <div class="savedsearch-info">
        <label class="input-label" translate>set.name_savedsearch</label>
        <input type="text" ng-model="cpySavedSearch.name" />

        <label class="input-label" translate>set.description</label>
        <textarea ng-model="cpySavedSearch.description" />

        <label class="input-label" translate>set.visible_to_savedsearch</label>
        <div class="custom-select">
            <select ng-options="role.name as role.display_name for role in roles" ng-model="cpySavedSearch.visible_to[0]">
                <option value="" translate>post.modify.everyone</option>
            </select>
        </div>

        <label class="input-label" translate>set.default_view</label>
        <div class="custom-select">
            <select ng-options="view.name as view.display_name for view in views" ng-model="cpySavedSearch.view">
            </select>
        </div>
        <div ng-if="isAdmin()" class="">
            <label class="checkbox-label">
                <input type="checkbox" ng-model="cpySavedSearch.featured">
                <translate>set.featured_savedsearch</translate>
            </label>
        </div>
        <div ng-show="cpySavedSearch.id" class="clearfix">
        <label class="input-label" translate>set.delete_savedsearch</label>
            <button ng-click="deleteSavedSearch()" type="button" class="button-destructive icon-only-when-small alt trash">
            <span translate>nav.delete</span>
        </button>
        </div>
    </div>

    <div class="modal-submit">
        <button type="button" class="button-primary" ng-click="saveSavedsearch(cpySavedSearch)" translate>set.save_savedsearch</button>
    </div>
</modal>
</div>
