<div class="mode-context init" dropdown>

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
            <li><a href="/settings" translate>app.settings</a></li>
        </ol>
        <h1 class="mode-context-title" translate>settings.settings_list.user_settings</h1>
    </header>

    <span class="mode-context-trigger" dropdown-toggle>
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden" translate>app.show_more_less</span>
    </span>
</div>
<main role="main">
    <div class="progress-bar" ng-show="isLoading()">
        <span>
            ..
        </span>
    </div>
    <div class="main-col">
        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title" translate="settings.settings_list.user_settings">
                    Configure HDX API
                </h2>
                <p translate="settings.user_settings.user_settings_desc_1">Here you can add your unique key for your
                    Humanitarian Data Exchange (HDX) account.</p>
                <p translate="settings.user_settings.user_settings_desc_2">Once you set it up, this will enable you to
                    upload data directly to a Humanitarian Data Exchange (HDX) account.</p>
                <p translate="settings.user_settings.user_settings_desc_3">You can find your API key on your
                    Humanitarian Data Exchange (HDX) profile once you're logged in.</p>

                <a href="https://data.humdata.org/faq" class="link-blue" target="_blank">
                    <svg class="iconic">
                        <use xlink:href="/img/iconic-sprite.svg#external-link"></use>
                    </svg>
                    {{'settings.user_settings.view_guide' |translate}}
                </a>
            </div>

            <img class="field-logo" src="/img/hdx-logo.png" alt="field logo" />
            <form name="api">
                <div class="form-field init required"
                    ng-class="{'error': api.hdx_maintainer_id.$invalid && api.hdx_maintainer_id.$dirty,'success': !api.hdx_maintainer_id.$invalid && api.hdx_maintainer_id.$dirty}"
                    ng-show="!hxlMaintainerSet">
                    <label class="required " for="hdx_maintainer_id"
                        translate="settings.user_settings.hdx_maintainer_id">
                        HDX User Id
                    </label>
                    <p translate="settings.user_settings.profile_page"> Found on your Humanitarian Data Exchange (HDX)
                        profile page</p>
                    <input id="hdx_maintainer_id" name="hdx_maintainer_id" ng-required="true" type="text"
                        ng-model="tempMaintainerId" required="required" />
                </div>

                <div class="form-field alert error"
                    ng-show="!hxlMaintainerSet && api.hdx_maintainer_id.$invalid && api.hdx_maintainer_id.$dirty">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning">
                        </use>
                    </svg>
                    <p translate="settings.user_settings.valid_user">A user id is required</p>
                </div>

                <div class="form-field" ng-show="!hxlMaintainerSet">
                    <button ng-show="showCancel" type="button" class="button-beta" ng-click="cancelMaintainerSet()"
                        translate="app.cancel">Cancel</button>
                    <button class="button button-alpha" translate="app.save" ng-click="saveKey()">Save</button>
                </div>


                <div class="form-field init required key" ng-show="hxlMaintainerSet">
                    <label class="required " for="hdx_maintainer_id_text"
                        translate="settings.user_settings.hdx_maintainer_id">
                        HDX Maintainer Id
                    </label>
                    <span id="hdx_maintainer_id_text">{{hdxSettings['hdx_maintainer_id'].config_value}}
                        <a class="link-blue" ng-click="changeId()">Change your User ID</a>
                    </span>
                </div>

                <div class="form-field init required"
                    ng-class="{'error': api.api_key.$invalid && api.api_key.$dirty,'success': !api.api_key.$invalid && api.api_key.$dirty}"
                    ng-show="!hxlApiKeySet">
                    <label class="required " for="api_key" translate="settings.user_settings.api_key">
                        Api key
                    </label>
                    <p translate="settings.user_settings.profile_page"> Found on your Humanitarian Data Exchange (HDX)
                        profile page</p>
                    <input id="api_key" name="api_key" ng-required="true" type="text" ng-model="tempApiKey"
                        required="required" />
                </div>

                <div class="form-field alert error"
                    ng-show="!hxlApiKeySet && api.api_key.$invalid && api.api_key.$dirty && !hxlApiKeySet">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning">
                        </use>
                    </svg>
                    <p translate="settings.user_settings.valid_key">A valid key is required</p>
                </div>

                <div class="form-field" ng-show="!hxlApiKeySet">
                    <button ng-show="showCancel" type="button" class="button-beta" ng-click="cancelApiKeySet()"
                        translate="app.cancel">Cancel</button>
                    <button class="button button-alpha" translate="app.save" ng-click="saveKey()">Save</button>
                </div>

                <div class="form-field init required key" ng-show="hxlApiKeySet">
                    <label class="required" for="api_key_text" translate="settings.user_settings.api_key">
                        Api key
                    </label>
                    <span id="api_key_text">{{hdxSettings['hdx_api_key'].config_value}}
                        <a class="link-blue" ng-click="changeKey()">Change your API key</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</main>
