<div class="mode-context init" dropdown>

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
            <li><a href="/settings" translate>app.settings</a></li>
        </ol>
        <h1 class="mode-context-title" translate>settings.settings_list.user_settings</h1>
    </header>

    <span class="mode-context-trigger" dropdown-toggle>
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden" translate>app.show_more_less</span>
    </span>
</div>
<main role="main">
    <div class="progress-bar" ng-show="isLoading()">
        <span>
        ..
        </span>
    </div>
    <div class="main-col">
        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title" translate="settings.settings_list.user_settings">
                Configure HDX API
                </h2>
                <p translate="settings.user_settings.user_settings_desc_1">Here you can add your unique key for your Humanitarian Data Exchange (HDX) account.</p>
                <p translate="settings.user_settings.user_settings_desc_2">Once you set it up, this will enable you to upload data directly to a Humanitarian Data Exchange (HDX) account.</p>
                <p translate="settings.user_settings.user_settings_desc_3">You can find your API key on your Humanitarian Data Exchange (HDX) profile once you're logged in.</p>

                <a href="https://data.humdata.org/faq" class="link-blue" target="_blank">
                    <svg class="iconic">
                        <use xlink:href="/img/iconic-sprite.svg#external-link"></use>
                    </svg>
                    {{'settings.user_settings.view_guide' |translate}}
                </a>
            </div>

            <img class="field-logo" src="/img/hdx-logo.png" />
            <form name="api">
                <div
                    class="form-field init required"
                    ng-class="{'error': api.$invalid && api.$dirty,'success': !api.$invalid && api.$dirty}"
                    ng-show="!hxlUserId"
                >
                
                    <label class="required " for="hdx-user-id" translate="settings.user_settings.hdx_user_id">
                        HDX User Id
                    </label>
                    <p translate="settings.user_settings.profile_page"> Found on your Humanitarian Data Exchange (HDX) profile page</p>
                    <input id="hdx-user-id" name="hdx-user-id" ng-required="true" type="text" ng-model="hdxSettings['hdx_user_id'].config_value" required="required"/>
                </div>

                <div class="form-field alert error" ng-show="api.$invalid && api.$dirty">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                    </svg>
                    <p translate="settings.user_settings.valid_user">A user id is required</p>
                </div>

                <div
                    class="form-field init required"
                    ng-class="{'error': api.$invalid && api.$dirty,'success': !api.$invalid && api.$dirty}"
                    ng-show="!hxlApiKey"
                >
                    <label class="required " for="api-key" translate="settings.user_settings.api_key">
                        Api key
                    </label>
                    <p translate="settings.user_settings.profile_page"> Found on your Humanitarian Data Exchange (HDX) profile page</p>
                    <input id="api-key" name="api-key" ng-required="true" type="text" ng-model="hdxSettings['hdx_api_key'].config_value" required="required"/>
                </div>

                <div class="form-field alert error" ng-show="api.$invalid && api.$dirty && !hxlApiKey">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                    </svg>
                    <p translate="settings.user_settings.valid_key">A valid key is required</p>
                </div>
            </form>

            <div class="form-field" ng-show="!hxlApiKey || !hxlUserId">
                <button class="button button-alpha" translate="app.save" ng-click="saveKey()">Save</button>
            </div>

            <div class="form-field init required key" ng-show="hxlUserId">
                <label class="required " for="hdx-user-id" translate="settings.user_settings.hdx_user_id">
                    HDX User Id
                </label>
                <span id="api-key">{{hdxSettings['hdx_user_id'].config_value}}
                    <a class="link-blue" ng-click="changeId()" >Change your User ID</a>
                </span>
            </div>

            <div class="form-field init required key" ng-show="hxlApiKey">
                <label class="required" for="api-key" translate="settings.user_settings.api_key">
                    Api key
                </label>
                <span id="api-key">{{hxlApiKey}}
                    <a class="link-blue" ng-click="changeKey()" >Change your API key</a>
                </span>
            </div>
        </div>
    </div>
</main>
