<form name="usersFiltersForm" role="search" class="searchbar" dropdown is-open="filtersMenuOpen" auto-close="outsideClick" ng-submit="applyFilters()" ng-model-options="{ updateOn : 'submit' }" ng-class="{ active: status.isopen }">
    <!-- Include search bar -->
    <filter-searchbar model="filters"></filter-searchbar>

    <!-- Toggle Filters show/hide -->
    <div class="searchbar-options">
        <a href="#" id="toggleUserSearchFilters" class="button searchbar-options-filter init" role="button" data-toggle="search-filters" dropdown-toggle>
            <span class="button-label" translate>app.filters</span>
            <svg class="iconic" role="img">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </a>
    </div>

    <!-- Filters menu -->
    <div class="dropdown-menu init" data-toggle-target="search-filters" dropdown-menu>
        <div class="dropdown-menu-body">
            <fieldset>
                <label translate>app.users</label>
                    <div class="form-field checkbox">
                        <label><input type="radio" name="order" ng-model="filters.order" value="asc">Ascending</label>
                    </div>
                    <div class="form-field checkbox">
                        <label><input type="radio" name="order" ng-model="filters.order" value="desc">Descending</label>
                    </div>
            </fieldset>
            
            <filter-role model="filters.role"></filter-role>
        </div>

        <div class="form-field filter-actions">
            <button type="button" class="button-beta" ng-click="cancel()" translate>app.cancel</button>
            <button type="submit" class="button-alpha" ng-disabled="applyEnabled"  translate>app.apply_filters</button>
        </div>
    </div>
</form>
