.media-file-upload {
  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
  }
  .preview {
    background: #E4E4E4;
    overflow: hidden;
    max-width:500px;
    max-height:350px;
  }
}
