.media-file-upload {
  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
  }
  form .progress {
    line-height: 15px;
  }
  .progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
  }
  .progress div {
    font-size: smaller;
    background: orange;
    width: 0;
  }
  .preview {
    background: #E4E4E4;
    overflow: hidden;
    max-width:500px;
    max-height:350px;
    background-position: center;
  }
}
