modal {
    div.modal {
        display: block;
    }

    div.modal-detached {
        position: absolute;
        bottom: 0; right: 0;
        width: 0; height: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.align-right {
    float: right;
}
.button-primary {
    color:darkgrey;
}
.m-t-5{
    margin-top: 5px;
}
.p-t-5{
    padding-top: 5px;
}



