/**
 * nvd3 Charts Overrides
 */

 // draws a circle around the data point on a time series line
 // this helps clearly indicate non-continuous data to the user
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-width:5px;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point.hover {
    stroke-width:8px;
}
.nv-x .tick text {
    text-anchor: start !important;
}
.nvd3 .nv-multibar .nv-groups rect:hover, .nvd3 .nv-multibarHorizontal .nv-groups rect:hover, .nvd3 .nv-discretebar .nv-groups rect:hover {
    opacity: 0.8;
}
.nvd3 text, .nvd3 .title, .nvtooltip {
    font-family: inherit;
    font-size: 14px;
}
.nvtooltip {
    font-size: 12px;
}
.nv-multibarHorizontal .nv-group {
    opacity: 0.6;
}
