/**
 * nvd3 Charts Overrides
 */

 // draws a circle around the data point on a time series line
 // this helps clearly indicate non-continuous data to the user
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-width:5px;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point.hover {
    stroke-width:8px;
}
