/**
// Overrides for tui-markdown library
**/

#editSection {
    width: 400px;
}

// Turning off tabs for switching between markdown/wysiwyg
.te-mode-switch {
    display:none;
}

/** Fixes conflicts with pattern-library css **/
// Fixes buttons in toolbar
.tui-editor-defaultUI-toolbar {
    margin-left: 6px !important;
    button {
        background-color: #fff !important;
        padding: 3px !important;
        box-shadow: none !important;
    }
}

// Fixes position and appearance of link-popup
.tui-popup-wrapper {
    width: 250px;
    margin-left: -150px;
    padding: 0px 10px 10px 10px !important;

    &.te-heading-add {
        margin-left: 10px;
    }

    .tui-popup-header {
        padding: 10px 0px;
    }

    // Fixes button in link-popup
    .tui-popup-close-button {
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
        &:hover {
            background-color: transparent !important;
        }
    }

    // Fixes confirm/cancel-buttons in link-popup
    .te-button-section {
        button {
            padding: 0px 14px 0px 15px !important;
            box-shadow: none;
            &.te-ok-button,&.te-ok-button:hover {
                background-color: #ffb402;
                color: #000;
            }
            &.te-close-button:hover {
                background-color: #777;
            }    
            &:hover {
                box-shadow: none;
            }
        }
    }
}

// Removes boxshadow in the middle of edit-field
.ltr-namespace [contenteditable="true"]:focus {
    &.tui-editor-contents{
        box-shadow: none;
    }
}
