<div class="message message-alt active" ng-show="showLockMessage()">
    <div class="message-image error">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#lock-locked"></use>
        </svg>
    </div>

    <div class="message-body">
        <p translate-values="{ user: user.realname }" translate="post.locking.locked_message">The post is locked because <strong>Seth Hall</strong> is working on it right now. Try editing a different post.</p>

        <div class="button-group" ng-if="isAdmin()">
             <button role="button" class="button button-alpha" translate="post.locking.unlock" ng-click="unlock()">Unlock</button>
        </div>
    </div>
</div>