<div class="postcard-actions" dropdown >
  <button role="button" class="button-gamma button-flat init" data-toggle="dropdown-menu" dropdown-toggle ng-click="$event.stopPropagation()">
      <svg class="iconic">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#ellipses"></use>
      </svg>
      <span class="hidden">More</span>
  </button>
  <div class="dropdown-menu init" dropdown-menu>
    <ul>


        <li ng-show="(post.allowed_privileges.indexOf('update') !== -1) && postIsUnlocked()">
          <a ng-click="openEditMode(post.id)">
              <svg class="iconic">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#pencil"></use>
              </svg>
              <span class="label" translate="nav.edit">Edit</span>
          </a>
        </li>
        <li>
            <!-- Collection toggle link -->
            <collection-toggle-link post="post"></collection-toggle-link>
        </li>
        <li>
            <post-share post-id="post.id"></post-share>
        </li>
      <!-- <li>
        <a href="">
          <svg class="iconic">
            <use xlink:href="/img/iconic-sprite.svg#task"></use>
          </svg>
          <span class="label">Assign to ...</span>
        </a>
      </li>
      -->
    </ul>
    <div class="divider" ng-show="(post.allowed_privileges.indexOf('change_status') !== -1 || post.allowed_privileges.indexOf('update') !== -1 ) && postIsUnlocked()"></div>
    <ul>
      <li ng-repeat="status in statuses"
          ng-show="post.allowed_privileges.indexOf('change_status') !== -1 && postIsUnlocked()">
        <a ng-click="updateStatus(status)">
          <svg class="iconic">
            <use xlink:href="/img/iconic-sprite.svg#globe" ng-if="status=='published'"></use>
            <use xlink:href="/img/iconic-sprite.svg#box" ng-if="status=='archived'"></use>
            <use xlink:href="/img/iconic-sprite.svg#document" ng-if="status=='draft'"></use>
          </svg>
          <span class="label" ng-if="status=='published'" translate="post.post_actions.publish">Publish</span>
          <span class="label" ng-if="status=='draft'" translate="post.post_actions.put_under_review">Put under </span>
          <span class="label" ng-if="status=='archived'" translate="post.post_actions.archive">Archive</span>
        </a>
      </li>

      <li ng-show="post.allowed_privileges.indexOf('update') !== -1 && postIsUnlocked()">
        <a ng-click="deletePost()">
          <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#trash"></use>
          </svg>
          <span class="label" translate="nav.delete">Delete</span>
        </a>
      </li>
    </ul>
  </div>
</div>
