<ul class="metadata">
      <div class="listing-item-locked locked" ng-show="$parent.isPostLocked()">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#lock-locked"></use>
        </svg>
      </div>
      <li>
          <span class="status-indicator" ng-if="post.status=='published'">
              <span class="label" translate="post.status_published" ng-if="post.status=='published'">post.status_published</span>
          </span>
          <span class="status-indicator yellow" ng-if="post.status=='draft'">
              <span class="label" translate="post.status_review" ng-if="post.status=='draft'"></span>
          </span>
          <span class="status-indicator dark" ng-if="post.status=='archived'">
               <span class="label" translate="post.status_archived" ng-if="post.status=='archived'"></span>
          </span>
      </li>

      <li>
        <img src="//www.gravatar.com/avatar/{{ post.user.gravatar || '00000000000000000000000000000000' }}?d=retro&s=40" class="avatar">
        <strong class="label" ng-show="post.user && !post.author_realname">{{ post.user.realname }}</strong>
        <strong class="label" ng-show="post.contact && !post.author_realname">{{ post.contact.contact}}</strong>
        <strong class="label" ng-show="post.author_realname">{{ post.author_realname}}</strong>

    </li>
    <li class="tooltip">
        <span class="label">{{timeago}}</span>
        <span class="bug" title="{{ displayTimeFull }}">{{ displayTime }}</span>

    </li>
    <li>
      <span class="label" translate-values="{ source : source }" translate="post.source"></span>
    </li>
</ul>
