<div>
    <div class="mode-context init" dropdown>

        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
                <li><a href="/settings" translate>app.settings</a></li>
            </ol>
            <h1 class="mode-context-title" translate>app.donation</h1>
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic" role="img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom">
                </use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>
    </div>

    <main role="main" setup-donation>
        <form id="donation" name="form" ng-submit="updateConfig()">
            <!-- toolbar -->
            <div class="toolbar">
                <div class="button-group">
                    <button type="button" class="button-flat" ng-click="cancel()" translate>app.cancel</button>

                    <button type="submit" ng-click="updateConfig()" class="button-alpha" ng-if="!saving_config"
                        ng-disabled="form.$invalid || isUnchanged(site) || saving_config">{{save}}</button>

                    <button type="submit" class="button-alpha" ng-if="saving_config"
                        ng-disabled="form.$invalid || isUnchanged(site) || saving_config" translate>{{saving}}
                        <div class="loading">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </button>
                </div>
            </div>
            <!-- end toolbar -->

            <div class="main-col">
                <div class="form-sheet">
                    <div class="form-sheet-summary">
                        <h2 class="form-sheet-title">Setup Donation</h2>
                        <p>
                            Please make sure you have your wallet set up on <a href="https://uphold.com">uphold.com</a>
                            to set web
                            monetization.
                            If you don't have a wallet already please click <a
                                href="https://wallet.uphold.com/signup">here</a> to create one.
                        </p>
                    </div>

                    <div class="stepper">
                        <div class="stepper-item active"
                            ng-class="{'active' : isActiveStep(1), 'disabled' : !isActiveStep(1) }">
                            <h2 class="stepper-heading">
                                <span class="stepper-badge">1</span>
                                Donation Details
                            </h2>

                            <div>
                                <div class="form-field">
                                    <label for="donation-title">
                                        Donation Title
                                    </label>
                                    <input id="donation-title" ng-model="site.donation.title" ng-required="true"
                                        type="text" placeholder="Enter the title of your donation" />
                                </div>

                                <div class="form-field">
                                    <label for="donation-description">
                                        Donation Description
                                    </label>
                                    <textarea id="donation-description" ng-model="site.donation.description"
                                        ng-required="true"
                                        placeholder="This is a placeholder text telling you more about this donation"> </textarea>
                                </div>

                                <div class="form-field">
                                    <span class="label">Donation Images</span>
                                    <div class="stepper-images">
                                        <div class="stepper-image" ng-repeat="image in site.donation.images">
                                            <figure>
                                                <img ng-src="{{ image.original_file_url}}" class="postcard-image"
                                                    alt="Uploaded image">
                                            </figure>

                                            <button class="button" type="button" ng-click="deleteImage(image.id)">
                                                Delete image
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-field">
                                        <label for="photo">Attach image</label>
                                        <file-upload container="image">
                                        </file-upload>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="stepper-item"
                            ng-class="{'active' : isActiveStep(2), 'disabled' : !isActiveStep(2) }">
                            <h2 class="stepper-heading">
                                <span class="stepper-badge">2</span>
                                Wallet Address
                            </h2>

                            <div>
                                <div class="form-field">
                                    <label for="donation-wallet">Wallet Address </label>
                                    <input id="donation-wallet" type="text" ng-model="site.donation.wallet"
                                        ng-required="true" placeholder="$ilp.uphold.com/qdXLkr8xAYrk" />
                                </div>
                                <div class="form-field">
                                    <button class="button" type="button" ng-click="deleteWallet()">
                                        Delete wallet
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-field">
                            <label>
                                Disable Monetization
                            </label>
                            <input id="donations-disable" type="checkbox" ng-model="site.donation.enabled"
                                ng-true-value="false" ng-false-value="true">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>