/*------------------------------------*\
        $CONTENTS
\*------------------------------------*/
/**
* LIST VIEW FILTER BAR..................list view filter bar styles
*/





/*------------------------------------*\
        $LIST VIEW FILTER BAR
\*------------------------------------*/


// FILTER
.list-filter {
    @include outer-container;
    @include header($blue-gray);
    clear: both;
    padding: 30px;
}

// FILTER-ALT
.list-filter--alt {
    @include outer-container;
    @include header(lighten($blue-gray, 25));
    clear: both;
    margin-bottom: 20px;
    padding: 30px;
}

// FILTER INFO
.list-filter-info {
    @include span-columns(12);

    @include media($mobile-up) {
        @include span-columns(6);
        margin-bottom: 0;
    }

    @include media($large) {
        @include span-columns(8);
        margin-bottom: 0;
    }

    .title {
        color: $white;
        margin-bottom: 30px;
    }
}

.list-filter-wrapper {
    @include span-columns(12);

    @include media($mobile-up) {
        @include span-columns(4);
        float: right;
    }
}

// FILTER COUNT
.list-filter-count {
   @include span-columns(12);

    @include media($mobile-up) {
        @include span-columns(6);
    }

    .filter-count {
        @include media($mobile-up) {
            margin-bottom: 0;
        }
    }
}

// FILTER SOURCE
.list-filter-source {
    @include span-columns(12);

    @include media($mobile-up) {
        @include span-columns(3);
    }

    @include media($medium) {
        @include span-columns(3);
    }

    @include media($large) {
        @include span-columns(2);
    }

    .filter-source {

        @include media($mobile-up) {
            margin-bottom: 0;
        }
    }
}

// FILTER SORT
.list-filter-sort {
   @include span-columns(12);

    @include media($mobile-up) {
        @include span-columns(6);
    }

    .filter-sort {

        @include media($small) {
            margin-bottom: 0;
        }
    }
}
