<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a ng-href="/" translate>nav.home</a></li>
          <li><a ng-href="/tools" translate>nav.tools</a></li>
          <li class="active" translate>nav.tags</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-9 col-md-push-3 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group" role="group">
                    <a href="javascript:;" ng-click="goBack()" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i>
                        <span translate>nav.back</span>
                    </a>
                </div>
                <h4 class="pull-right">{{title}}</h4>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="name" translate>tag.editor.name</label>
                        <input id="name" type="text" class="form-control"
                            ng-minlength="3"
                            ng-maxlength="150"
                            ng-model="tag.tag"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="slug" translate>tag.editor.slug</label>
                        <input id="slug" type="text" class="form-control"
                            ng-minlength="3"
                            ng-maxlength="150"
                            ng-model="tag.slug"
                            required>
                        <p class="help-block" translate>tag.editor.slug_help</p>
                    </div>
                    <div class="form-group">
                        <label for="description" translate>tag.editor.description</label>
                        <input id="description" type="text" class="form-control"
                            ng-maxlength="150"
                            ng-model="tag.description">
                    </div>
                    <div class="form-group">
                        <label for="type" translate>tag.editor.type</label>
                        <select id="type"
                            ng-model="tag.type"
                            ng-options="type.name as type.title for type in types"
                            required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="color" translate>tag.editor.color</label>
                        <input id="color" type="text" class="form-control"
                            colorpicker="hex"
                            ng-model="tag.color">
                    </div>
                    <div class="form-group">
                        <label for="icon" translate>tag.editor.icon</label>
                        <input id="icon" type="text" class="form-control"
                            ng-maxlength="30"
                            ng-model="tag.icon">
                    </div>
                    <div class="form-group">
                        <label translate>tag.choose_roles</label>
                        <p class="help-block" translate>tag.editor.roles_help</p>
                        <div class="checkbox" ng-repeat="role in roles">
                            <label>
                                <input type="checkbox" value="role.name" checklist-model="tag.role" checklist-value="role.name">
                                {{role.display_name}}
                            </label>
                        </div>
                    </div>

                    <p class="text-right">
                        <button class="btn btn-primary" ng-click="saveTag(tag)" ng-disabled="form.$invalid || processing">
                            <i class="fa fa-cog fa-spin ng-hide" ng-show="processing"></i>
                            <span>{{title}}</span>
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <tool-menu active="tags"></tool-menu>
</div>
