<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a ng-href="/" translate>nav.home</a></li>
          <li><a ng-href="/tools" translate>nav.tools</a></li>
          <li class="active" translate>nav.todo</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-9 col-md-push-3 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group" role="group">
                    <button type="button" class="btn"
                        ng-disabled="!selected.length"
                        ng-class="{ 'btn-default': !selected.length, 'btn-danger': selected.length }"
                        ng-click="todo()">
                            <i class="fa  fa-trash-o"></i>
                            <span translate>nav.delete</span>
                    </button>
                </div>
            </div>
            <div class="panel-body" ng-hide="users.length">
                <p class="text-muted text-center" ng-hide="todo.length"><em translate>empty.todo</em></p>
            </div>
            <table class="table table-striped" ng-show="todo.length">
                <tr>
                    <th>&nbsp;</th>
                    <th translate>nav.todo</th>
                    <th translate>nav.other</th>
                </tr>
                <tr ng-repeat="item in todo | orderBy:'name'" ng-class="{ 'warning': isToggled(todo) }" ng-click="toggleTodo(todo)">
                    <td class="text-center">
                        <input type="checkbox" value="{{todo.id}}" ng-checked="isToggled(todo)" ng-click="toggleTodo(todo)">
                    </td>
                    <td>
                        <a ng-href="/tools/todo/{{todo.id}}">{{todo.name}}</a><br/>
                    </td>
                    <td>
                        todo.other
                    </td>
                </div>
            </table>
            <div class="panel-body text-right">
                <a ng-href="/tools/todo/create" class="btn btn-primary">
                    <span translate>todo.add_todo</span>
                </a>
            </div>
        </div>
    </div>
    <tool-menu active="todo"></tool-menu>
</div>
