{
  "client_id": "{{ OAUTH_CLIENT_ID | default('ushahidiui') }}",
  "client_secret": "{{ OAUTH_CLIENT_SECRET | default('35e7f0bca957836d05ca0492211b0ac707671261') }}",
  "backend_url": "{{ BACKEND_URL }}",
  "google_analytics_id": "{{ GA_KEY }}",
  "intercom_app_id": "{{ INTERCOM_APPID }}",
  "mapbox_api_key": "{{ MAPBOX_API_KEY }}",
  "raven_url": "{{ RAVEN_URL }}"
}
