// Configure your Ushahidi deployment

window.ushahidi = {
  backendUrl: '{{ BACKEND_URL }}',
  mapboxApiKey: '{{ MAPBOX_API_KEY }}',
{% if GA_KEY %}
  gaEnabled: true,
  gaKey: '{{ GA_KEY }}',
{% else %}
  gaEnabled: false,
{% endif %}
{% if GTM_CONTAINER_ID %}
  googleTagManager: '{{ GTM_CONTAINER_ID }}',
{% endif %}
  intercomAppId: '{{ INTERCOM_APPID }}',
  appStoreId: '{{ APP_STORE_ID }}',
  ravenUrl: '{{ RAVEN_URL }}',
  tosReleaseDate: '{{ TOS_RELEASE_DATE }}',
  enabledSources: '{{ ENABLED_SOURCES }}'
}
