<div class="modal-body">
    <form class="panel-body" name="form" ng-submit="submit()">
        <div class="form-field">
            <label for="code"
                class="input-label"
                translate>
                Enter the Auth Code
            </label>
            <input type="text" id="code" name="code"
                ng-model="code"
                ng-disabled="processing"
                required>
        </div>
        <div class="form-field">
            <button type="button" class="button-link" ng-click="cancel()" translate="app.cancel">Cancel</button>
            <button type="submit" class="button-primary"
                ng-disabled="form.$invalid || processing">
                    <div class="loading" ng-show="processing"><div class="line"></div><div class="line"></div><div class="line"></div></div>
                    <span translate>Authorize</span>
            </button>
        </div>
    </form>
</div>
