<div class="dropdown-menu init" data-toggle-target="search-filters" dropdown-menu>
    <div class="dropdown-menu-body">
        <fieldset>
            <legend translate>app.roles</legend>
            <div class="form-field checkbox" ng-repeat="role in roles">
                <label>
                    <input 
                        id="{{role.id}}" 
                        type="checkbox" 
                        checklist-model="selectedRoles" 
                        checklist-value="role.name"
                        >
                    {{role.display_name}}
                </label>
            </div>
        </fieldset>
    </div>

    <div class="form-field">
        <button type="button" class="button-link" ng-click="cancel()" translate>app.cancel</button>
        <button type="button" class="button-alpha" ng-disabled="applyEnabled" ng-click="applyFilters()" translate>app.apply_filters</button>
    </div>
</div>
