@import '../../utils/style.scss';
:global {

    .layout-g {
.form-sheet-title {
    @include typeBeta;
    margin-bottom: $sm-spacing;

    &.survey-title,
    &.section-title {
        color: $dark-gray;
        text-shadow: 0 1px 0 $bg-white;
    }

    &.survey-title {
        font-size: 24px;
        font-size: 1.714285714rem;

        @include media($mobile) {
            font-size: 28px;
            font-size: 2rem;
        }

        @include media($medium) {
            font-size: 34px;
            font-size: 2.428571429rem;
        }
    }
}

.form-sheet {
    position: relative;
    @include containerCard;
    background-color: $bg-white;

    &:before,
    &:after {
        content: '\00a0';
        display: block;
        height: 1px;
    }

    .form-sheet-summary,
    .form-field,
    fieldset {
        margin-right: $sm-spacing;
        margin-left: $sm-spacing;

        @include media($mobile) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($xlarge) {
            margin-right: 20%;
            margin-left: 20%;
        }

        &.title {
            max-width: none;
            margin: $base-spacing 0;

            label, p {
                position: relative;

                @include media($mobile) {
                    @include left(-4px);
                    margin-right: 10%;
                    margin-left: 10%;
                }

                @include media($xlarge) {
                    margin-right: 20%;
                    margin-left: 20%;
                }
            }

            input[type="text"],
            textarea {
                width: 100%;
                border-right-color: transparent;
                border-left-color: transparent;
                @include equal-radius(0);

                @include media($mobile) {
                    padding-right: 10%;
                    padding-left: 10%;
                }

                @include media($xlarge) {
                    padding-right: 20%;
                    padding-left: 20%;
                }

                &:focus {
                    outline: none;
                    border-top-color: $gold;
                    border-bottom-color: $gold;
                }
            }

            .alert {

                @include media($mobile) {
                    margin-right: 10%;
                    margin-left: 10%;
                }

                @include media($xlarge) {
                    margin-right: 20%;
                    margin-left: 20%;
                }
            }

            &.form-field-adapt {
                margin-right: $sm-spacing;
                margin-left: $sm-spacing;

                @include media($medium) {
                    margin-right: $base-spacing;
                    margin-left: $base-spacing;
                }

                label {
                    display: block;
                }
            }
        }

        &.survey-title,
        &.section-title {
            @include margin-left(4px);

            input[type="text"],
            textarea {
                border-color: transparent;
                background-color: transparent;
                @include no-shadow;

                &:hover {
                    cursor: pointer;
                    border-top-color: lighten($gold, 16%);
                    border-bottom-color: lighten($gold, 16%);
                }

                &:focus {
                    background-color: $bg-white;
                }
            }

            input[type="text"] {
                color: $dark-gray;
                padding-top: $tiny-spacing;
                padding-bottom: $tiny-spacing;
            }

            .section-title-actions {
                position: absolute;
                top: 4px;
                @include right($sm-spacing);
                z-index: $body;

                @include media($small) {
                    @include right(10%);
                }

                button,
                .button {
                    @include margin-right(0);
                    @include margin-left($tiny-spacing);
                }

                .dropdown-menu {
                    top: $huge-spacing !important;
                    @include right(0 !important);
                }
            }
        }

        &.survey-title {

            input[type="text"] {
                font-size: 28px;
                font-size: 2rem;

                @include media($medium) {
                    font-size: 34px;
                    font-size: 2.428571429rem;
                }
            }
        }

        .form-field {
            margin-right: 0;
            margin-left: 0;
            @include direction;
        }
    }

    .form-field {

        &:nth-child(even) {
            margin-top: 32px;
        }

        label {

            + p {
                margin-bottom: $sm-spacing;
            }
        }

        &[draggable="true"] {
            display: block;
        }

        &.focus {
            @include media($mobile-down) {
                margin-right: 0;
                @include margin-left(4px);
            }
        }
    }

    &[role="article"] {

        .form-field {

            &.select {

                label {
                    font-size: 20px;
                    font-size: 1.428571429rem;
                }

                .form-field {

                    label {
                        @include typeBase;
                    }
                }
            }
        }
    }

    .form-sheet-actions {
        position: relative;
        // text-align: right;
        border-top: 1px solid rgba(0,0,0,0.04);
        background-color: rgba(0,0,0,0.04);
        padding: $sm-spacing;

        @include media($small) {
            padding-right: 10%;
            padding-left: 10%;
        }

        .form-field {
            @include direction;
            margin: 0;
        }
    }

    .form-sheet-summary {
        position: relative;
        max-width: none;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;

        @include media($mobile) {
            margin-top: $lg-spacing;
            margin-bottom: $lg-spacing;
        }

        @include media($medium) {
            margin-top: $huge-spacing;
            margin-bottom: $huge-spacing;
        }

        &:not(:first-of-type) {
            border-top: $base-border;
            padding-top: $lg-spacing;
        }

        img.icon {
            max-width: $huge-spacing;
            margin: 0 auto;
        }

        progress,
        .loading-bar {
            width: 100%;
            margin: $sm-spacing auto;
        }

        &.contenteditable {

            &:hover {
                cursor: pointer;

                &:before {
                    content: '';
                    position: absolute;
                    top: -$sm-spacing;
                    right: -$sm-spacing;
                    bottom: -$sm-spacing;
                    left: -$sm-spacing;
                    box-shadow: 0 0 2px rgba(0,0,0,0.12),
                        0 2px 2px rgba(0,0,0,0.24);
                }
            }

            &.focus {
                @include media($mobile-down) {
                    @include margin-right(0);
                    @include margin-left(4px);
                }

                &:before {
                    content: none;
                }

                [contenteditable="true"] {
                    position: relative;
                    outline-color: $bg-white;
                    @include border-top-radius($global-radius);
                    @include border-bottom-radius($global-radius);
                    border: $base-border-dark;
                    padding: $tiny-spacing $sm-spacing;
                    @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,.1), $inset: true);
                }
            }
        }
    }

    .form-sheet-toolbar {
        padding-right: $sm-spacing;
        padding-left: $sm-spacing;

        @include media($medium) {
            padding-right: $base-spacing;
            padding-left: $base-spacing;
        }

        fieldset,
        button,
        .button {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0 $tiny-spacing 0 0;
        }
    }

    a.post-band {

        &:hover {
            width: $tiny-spacing;
            z-index: $body;
        }
    }

    .listing {

        .listing-heading {
            @extend label;
            border-bottom: 1px solid $bg-white;
            padding: 0 $sm-spacing $sm-spacing;

            @include media($medium) {
                padding-right: $base-spacing;
                padding-left: $base-spacing;
            }

            + .listing-item {
                margin-top: 0;
            }
        }

        .listing-body {
            background-color: $bg-white;
            box-shadow: 0 1px 4px rgba(0,0,0,.24) inset;
        }
    }

    .custom-fieldset {
        max-width: none;
    }

    .metadata {
        padding-right: $sm-spacing;
        padding-left: $sm-spacing;

        @include media($mobile) {
            padding-right: 10%;
            padding-left: 10%;
        }

        @include media($xlarge) {
            padding-right: 20%;
            padding-left: 20%;
        }
    }

    .toolbox {

        @include media($small-down) {
            width: auto;
            background-color: transparent;
            @include no-shadow;
            padding-top: 0;
            padding-bottom: 0;
            margin: $sm-spacing 0;
        }

        .tool {
            margin-top: $sm-spacing;
            margin-right: $sm-spacing;
            margin-bottom: $base-spacing;
            margin-left: $sm-spacing;

            @include media($mobile) {
                margin-right: 10%;
                margin-left: 10%;
            }

            @include media($small) {
                margin-right: $sm-spacing;
                margin-left: $sm-spacing;
            }
        }
    }

    .tool {
        max-width: 450px;
        margin: $base-spacing $sm-spacing;

        @include media($medium) {
            margin: $lg-spacing $base-spacing;
        }

        .form-field,
        fieldset {
            margin: $sm-spacing 0;
        }

        fieldset {

            &.custom-fieldset.init {
                margin-top: $tiny-spacing;
            }

            .form-field {
                margin: 0 0 $tiny-spacing;
            }

            fieldset {
                margin-top: 0;
            }

            .task {

                .form-field {
                    margin-bottom: 0;
                }
            }
        }

        .metadata {
            background-color: transparent;
            padding-right: 0;
            padding-left: 0;
        }
    }

    .progress {
        @include no-shadow;
        border-top: 1px solid $disabled-gray;
        border-bottom: 1px solid $disabled-gray;
    }

    .stepper {
        margin-right: $sm-spacing;
        margin-left: $sm-spacing;

        @include media($mobile) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($xlarge) {
            margin-right: 20%;
            margin-left: 20%;
        }

        .form-sheet-summary,
        .form-field,
        fieldset {
            margin-right: 0;
            margin-left: 0;
        }

        .metadata {
            @include typeBase;
            padding: $tiny-spacing $sm-spacing;
        }
    }

    > .loading-bar {
        position: absolute;
        top: 0;
        z-index: $toolbar;
        right: 0;
        left: 0;
    }

    [data-toggle-target] {
        display: none;

        &.active {
            display: block;
        }
    }
}
}}
