<div>
    <layout-class layout="b"></layout-class>
    <main role="main">
        <div class="main-col">
            <div>
                <h1>Installer helper!</h1>
                <h2>Checking network...</h2>
                <strong>Status-result for {{networkCheck.url}}</strong>
                <p>The server responded with a {{networkCheck.status}}-status code</p>    
                <p ng-repeat="message in networkCheck.messages">{{message}}</p>
            </div>
            <div>
                <h2>Checking endpoints...</h2>
                <div ng-repeat="endpoint in endpointStatuses">
                    <strong>Status-result for {{endpoint.url}}</strong>
                    <p>The server responded with a {{endpoint.status}}-status code</p>    
                    <p ng-repeat="message in endpoint.messages">{{message}}</p>
                </div>
                <div ng-repeat="endpoint in endpointStructureChecks">
                    <strong>Structure-result for {{endpoint.url}}</strong>
                    <p ng-repeat="message in endpoint.messages">{{message}}</p>
                </div>
            </div>
            <div>
                <h2>Checking Oauth-endpoint...</h2>
                <div>
                    <strong>Status-result for {{oauthStatus.url}}</strong>
                    <p>The server responded with a {{oauthStatus.status}}-status code</p>
                    <p ng-repeat="message in oauthStatusCheck.messages">{{message}}</p>
                    <strong>Checking the structure for {{oauthStructure.url}}</strong>
                    <p ng-repeat="message in oauthStructure.messages">{{message}}</p>
                    <strong>Checking that the oauth-token is working</strong>
                    <p ng-repeat="message in oauthToken.messages">{{message}}</p>
                </div>
            <div>
                <h2>Checking environment variables in the client...</h2>
                <div ng-repeat="message in envCheck.messages">
                    <p>{{message}}</p>
                </div>
            </div>
            <div>
                <h2>Checking Transifex</h2>
                <div ng-repeat="message in transifexCheck.messages">
                    {{message}}
                </div>
            </div>
            <div>
                <h2>Checking Database-connection</h2>
                <div></div>
            </div>
            <div>
                <h2>Checking environment-variables in the API...</h2>
            </div>
        </div>
    </main>
</div>
