/*------------------------------------*\
        $CONTENTS
\*------------------------------------*/
/**
 * CHOOSE FORM...............choose form styles
 */





/*------------------------------------*\
    $CHOOSE FORM LIST
\*------------------------------------*/

.post-create-choose-form {

    .header,
    p {
        text-align: center;
    }
}

.post-create-form-list {
    @include outer-container;

    .post-create-form-list__item {
        @include block-grid(4 of 4);

        @include media($small) {
            @include block-grid(4 of 8);
            padding: 10px;
        }

        @include media($medium) {
            @include block-grid(4 of 12);
        }

        @include media($large) {
            @include block-grid(4 of 16);
        }

        &:hover {
            cursor: pointer;
        }

        .form-wrapper {
            margin-bottom: 20px;
            padding: 40px 20px;
            text-align: center;
            color: $white;
            border-radius: 5px;
            background-color: $dark-gray;
        }

        [class*='fa-'] {
            margin-bottom: 20px;
            padding: 0;
            font-size: 2em;
        }
    }
}





/*------------------------------------*\
    $FORM
\*------------------------------------*/

.post-create-form {

    &.container {
        width: 100%;
        padding: 0;

        @include media($medium) {
            width: 90%;
        }

        @include media($large) {
            width: 70%;
        }
    }

    .create-form-header {
        @include span-columns(12);
        margin-bottom: 40px;
        text-align: right;

        @include media($small) {
            text-align: center;
        }
    }

    .back-button {
        float: left;
        background-color: $dark-blue;
        padding: 9px;
        font-size: .9em;
        font-weight: bold;
        color: $white;
        border-radius: $global-radius;
    }

    //Form

    .input-link {
        @include span-columns(12);
        margin-bottom: 20px;

        ol {
            @include span-columns(12);
            list-style-type: decimal;
            margin-bottom: $base-line-height / 2;
            padding-left: $base-line-height;

            li {
                @include span-columns(12);
                position: relative;
                display: list-item;

                [class*='fa-'] {
                    position: absolute;
                    top: 58px;
                    right: 0;

                    @include media($small) {
                        top: 11px;
                    }
                }
            }
        }

        .link-name,
        .link-url {
            width: 90%;
            float: none;
            display: inline;
            margin-right: 0;

            @include media($small) {
                width: 47.0473%;
            }
        }

        .link-url {
            @include omega;
        }

        .add-link-button {
            float: left;
            clear: both;
            padding: 10px;
            background-color: $success-color;
            font-size: 0.8em;
            font-weight: bold;
            color: $white;
            border-radius: $global-radius;
        }
    }

    .submit-button {
        text-align: right;

        button {
            background-color: $success-color;
        }
    }

}
