<div>
  <h3 class="modal-title">
    {{user.realname || user.email}} <em translate>user_profile.title</em>
  </h3>

  <nav class="tabs-menu init">
    <ul>
      <li ng-class="{'active': general}">
        <a ng-click="showGeneral()" translate>
          user_profile.nav.general
        </a>
      </li>
      <li ng-if="!adminUserSetup" ng-class="{'active': notifications}">
        <a ng-click="showNotifications()" translate>
          user_profile.nav.notifications
        </a>
      </li>
    </ul>
  </nav>

  <div class="modal-body">
    <user-profile ng-show="general" admin-user-setup="adminUserSetup"></user-profile>
    <notifications ng-show="notifications && !adminUserSetup"></notifications>
  </div>
</div>
