<div>
<div class="main-col">

   <div class="listing">

       <article class="postcard">
           <div class="post-band" style="background-color: #8D1919;"></div>
           <div class="listing-item-select">
               <input type="checkbox">
           </div>
           <div class="postcard-body">
               <h1 class="postcard-title"><a href="">Overcrowding between 5th St. &amp; Salem Ave.</a></h1>
               <span class="postcard-metadata"><a href="" class="postcard-author"><img src="https://api.adorable.io/avatars/40/abott@adorable.io.png" class="avatar" />Jess Shorland</a>, 45 mins, via SMS</span>

               <div class="postcard-field">
                   <p>Forms are the standard way to receive user inputted data. The transitions and smoothness of these elements are very important because of the inherent user interaction associated with forms.</p>
               </div>
           </div>

           <span class="postcard-actions-trigger" data-toggle="dropdown-menu">
               <svg class="iconic">
                 <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
               </svg>
           </span>
           <ul class="dropdown-menu">
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#pencil"></use>
                   </svg>
                   <span class="label">Edit</span>
                   </a>
               </li>
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#grid-three-up"></use>
                   </svg>
                   <span class="label">Add to Collection</span>
                   </a>
               </li>
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#share"></use>
                   </svg>
                   <span class="label">Share</span>
                   </a>
               </li>
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#task"></use>
                   </svg>
                   <span class="label">Assign to...</span>
                   </a>
               </li>
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#trash"></use>
                   </svg>
                   <span class="label">Delete</span>
                   </a>
               </li>
           </ul>
       </article>

       <article class="postcard">
           <div class="post-band" style="background-color: #8D1919;"></div>
           <div class="listing-item-select">
               <input type="checkbox">
           </div>
           <div class="postcard-body">
               <h1 class="postcard-title"><a href="">Overcrowding between 5th St. &amp; Salem Ave.</a></h1>
               <span class="postcard-metadata"><a href="" class="postcard-author"><img src="https://api.adorable.io/avatars/40/abott@adorable.io.png" class="avatar" />Jess Shorland</a>, 45 mins, via SMS</span>

               <div class="postcard-field">
                   <img src="http://lorempixel.com/400/300/" class="postcard-image" />
               </div>
           </div>

           <span class="postcard-actions-trigger" data-toggle="dropdown-menu">
               <svg class="iconic">
                 <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
               </svg>
           </span>
           <ul class="dropdown-menu">
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#pencil"></use>
                   </svg>
                   <span class="label">Edit</span>
                   </a>
               </li>
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#grid-three-up"></use>
                   </svg>
                   <span class="label">Add to Collection</span>
                   </a>
               </li>
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#share"></use>
                   </svg>
                   <span class="label">Share</span>
                   </a>
               </li>
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#task"></use>
                   </svg>
                   <span class="label">Assign to...</span>
                   </a>
               </li>
               <li>
                   <a href="">
                   <svg class="iconic">
                       <use xlink:href="/assets/img/iconic-sprite.svg#trash"></use>
                   </svg>
                   <span class="label">Delete</span>
                   </a>
               </li>
           </ul>
       </article>

       <div class="listing-toolbar">
           <div class="listing-toolbar-summary">
               <strong><span class="total"></span> selected</strong>
               <button class="button-link">Deselect</button>
           </div>

           <div class="listing-toolbar-actions">

               <fieldset class="custom-fieldset">
                   <legend>Mark as</legend>

                   <div class="form-field radio">
                       <label for="contributor">
                           <input type="radio" name="role" id="contributor">
                           Spam
                       </label>
                   </div>

                   <div class="form-field radio">
                       <label for="editor">
                           <input type="radio" name="role" id="editor">
                           Duplicates
                       </label>
                   </div>
               </fieldset>

               <fieldset class="custom-fieldset">
                   <legend>
                       <svg class="iconic">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#grid-three-up"></use>
                       </svg>
                       Add to Collection
                   </legend>

                   <div class="form-field radio">
                       <label for="contributor">
                           <input type="radio" name="role" id="contributor">
                           Spam
                       </label>
                   </div>

                   <div class="form-field radio">
                       <label for="editor">
                           <input type="radio" name="role" id="editor">
                           Duplicates
                       </label>
                   </div>
               </fieldset>

               <button type="button">
                   <svg class="iconic">
                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#external-link"></use>
                   </svg>
                   <span class="button-label">Export</span>
               </button>

               <button type="button" class="button-destructive">
                   <svg class="iconic">
                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#trash"></use>
                   </svg>
                   <span class="button-label hidden">Delete</span>
               </button>

               <button type="button" class="listing-toolbar-toggle more">
                   <svg class="iconic">
                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#ellipses"></use>
                   </svg>
                   <span class="button-label">Show more</span>
               </button>

               <button type="button" class="listing-toolbar-toggle less">
                   <svg class="iconic">
                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#x"></use>
                   </svg>
                   <span class="button-label">Show less</span>
               </button>
           </div>
       </div>
  </div>

   <uib-pagination ng-model="currentPage" items-per-page="itemsPerPage" total-items="totalItems" ng-change="pageChanged()" max-size="5" boundary-links="false" rotate="false"></uib-pagination>

</div> <!--end main column-->

<div>
<h3 translate>activity.recent_activity_timeline</h3>
<div ng-show="isLoading"><i class="fa fa-refresh fa-4 fa-spin"></i></div>
<div class="activity-timeline" ng-hide="isLoading">

    <div class="timestamp"><span ng-bind="start_timestamp"></span> AGO</div>

    <div class="activity-listing" ng-repeat="post in ::posts">
        <div class="activity-type post" translate>
        activity.new_post
        </div>
        <div class="listing-summary">
            <h3>
                <a ng-href="/posts/{{::post.id}}" ng-bind="::post.title"></a>
            </h3>
            <p translate>activity.by <a ng-href="" ng-bind="::post.user.realname"></a></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- USE NG-SWITCH TO RENDER DIFF TYPES OF ACTIVITES -->

    <!-- <a class="button" href="#">
        <span>View Full Timeline</span>
    </a> -->

    <!-- <div class="activity-listing">
        <div class="activity-type post">
            New Post
        </div>
        <div class="listing-summary">
            <h3>
                <a href="">Bus carring Shiite pilgrims bombed</a>
            </h3>
            <p>By <a href="">David Kobia</a></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="activity-listing">
        <div class="activity-type comment">
            New Comment
        </div>
        <div class="listing-summary">
            <p>
                By <a href="">David Kobia</a> on <a href="">Unstable building due to explosion next to road</a>:
            </p>
            <blockquote>
                Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
            </blockquote>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="activity-listing">
        <div class="activity-type collection">
            New Collection
        </div>
        <div class="listing-summary">
            <h3>
                <a href="">Bus carring Shiite pilgrims bombed</a>
            </h3>
            <p>By <a href="">David Kobia</a></p>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="timestamp">6 Hours Ago</div>

    <div class="activity-listing">
        <div class="activity-type saved-search">
            New Saved Search
        </div>
        <div class="listing-summary">
            <h3>
                <a href="">Missing Children since 2012</a>
            </h3>
            <p>By <a href="">David Kobia</a></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="activity-listing">
        <div class="activity-type post">
            New Post
        </div>
        <div class="listing-summary">
            <h3>
                <a href="">Bus carring Shiite pilgrims bombed</a>
            </h3>
            <p>By <a href="">David Kobia</a></p>
        </div>
        <div class="clearfix"></div>
    </div> -->
</div>
</div>
</div>
