<div>
    <layout-class layout="a"></layout-class>
    <div class="mode-context init" ng-controller="navigation as nav" dropdown>
        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/">{{nav.site.name}}</a></li>
            </ol>
            <h1 class="mode-context-title" translate>nav.activity</h1>
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>

        <div class="mode-context-body">
            <p translate="activity.context_body" translate-values="{ site : nav.site.name }">A summary of how people are interacting with March on City Hall.</p>
        </div>
    </div>

    <main role="main">
        <div class="toolbar" ng-show="isActivityAvailable" >
            <form role="search" class="searchbar" name="searchForm" ng-submit="saveFilters()">

                <div class="searchbar-options">
                    <fieldset class="custom-fieldset init" data-fieldset-type="date-range" dropdown auto-close="disabled" is-open="filtersMenuOpen">
                        <legend class="dropdown-trigger init" dropdown-toggle>
                            <span class="legend-label" ng-show="currentInterval !== 'custom'" translate="{{'graph.' + currentInterval }}">Date range</span>
                            <span class="legend-label"  ng-show="currentInterval == 'custom'"
                                translate="graph.custom_display"
                                translate-values="{
                                    start: (filters.created_after | date:'mediumDate'),
                                    end: (filters.created_before | date:'mediumDate') }"
                                translate-compile>Date range</span>
                            <svg class="iconic chevron"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use></svg>
                        </legend>

                        <div class="dropdown-menu init" dropdown-menu>
                            <div class="form-field radio">
                                <label>
                                    <input ng-model="editableInterval" type="radio" name="editableInterval" value="all">
                                    <span translate="graph.all">All time<span>
                                </label>
                            </div>
                            <div class="form-field radio">
                                <label>
                                    <input ng-model="editableInterval" type="radio" name="editableInterval" value="week">
                                    <span translate="graph.week">This week<span>
                                </label>
                            </div>
                            <div class="form-field radio">
                                <label>
                                    <input ng-model="editableInterval" type="radio" name="editableInterval" value="month">
                                    <span translate="graph.month">This month<span>
                                </label>
                            </div>
                            <div class="form-field radio">
                                <label>
                                    <input ng-model="editableInterval" type="radio" name="editableInterval" value="custom">
                                    <span translate="graph.custom">Custom date range<span>
                                </label>
                            </div>

                            <!-- todo: reuse filter-date -->
                            <div class="form-field date" ng-show="editableInterval == 'custom'">
                                <label class="hidden" translate="global_filter.filter_tabs.created_after">Start date</label>
                                <div class="input-with-icon">
                                    <svg class="iconic">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                    </svg>
                                    <input type="date" pick-a-date="createdAfter" pick-a-date-options="dateOptions" placeholder="{{ 'global_filter.filter_tabs.created_after' | translate }}" ng-model="createdAfter" />
                                </div>
                                <span class="date-joiner">to</span>
                            </div>

                            <div class="form-field date" ng-show="editableInterval == 'custom'">
                                <label class="hidden" translate="global_filter.filter_tabs.created_before">End date</label>
                                <div class="input-with-icon">
                                    <svg class="iconic">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                    </svg>
                                    <input type="date" pick-a-date="createdBefore" pick-a-date-options="dateOptions" placeholder="{{ 'global_filter.filter_tabs.created_before' | translate }}" ng-model="createdBefore">
                                </div>
                            </div>

                            <div class="form-field">
                                <button type="button" class="button-link" ng-click="cancelChangeFilters()" translate="app.cancel">Cancel</button>
                                <button type="submit" class="button-alpha" translate="app.apply_filters">Apply filter</button>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </form>
        </div>

    	<!-- unavailable view -->
        <post-view-unavailable ng-hide="isActivityAvailable" view="'nav.activity' | translate"></post-view-unavailable>
        <!-- <img ng-hide="isActivityAvailable" src="/img/activity-page.png" style="opacity: 0.4; filter: blur(1px);" /> -->

        <div ng-show="isActivityAvailable" class="main-col">
            <div class="listing card init">
                <div class="listing-item active">
                   <div class="listing-item-secondary">
                        <button ng-show="todo" type="button" class="button-beta button-flat">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                            </svg>
                            <span class="hidden" translate="app.share">Share</span>
                        </button>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title" translate="activity.activity_over_time">Activity over time</h2>
                    </div>

                    <div class="listing-item-body">
                        <!-- <dc-chart-by-volume date-range="dateRange"></dc-chart-by-volume> -->
                        <activity-time-chart filters="filters"></activity-bar-chart>
                    </div>
                </div>
                <div class="listing-item active">
                   <div class="listing-item-secondary">
                        <button ng-show="todo" type="button" class="button-beta button-flat">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                            </svg>
                            <span class="hidden" translate="app.share">Share</span>
                        </button>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title" translate="activity.activity_by_volume">Activity by volume</h2>
                    </div>

                    <div class="listing-item-body">
                        <!-- <dc-chart-by-time date-range="dateRange"></dc-chart-by-time> -->
                        <activity-bar-chart filters="filters"></activity-time-chart>
                    </div>
                </div>
            </div>
        </div> <!--end main column-->

        <aside class="secondary-col" role="complementary">
            <!-- <activity-timeline></activity-timeline> -->
        </aside>

    </main>
</div>
