
<fieldset class="custom-fieldset init" dropdown>
    <legend class="dropdown-trigger init" data-toggle="dropdown-menu" dropdown-toggle>
        <span class="legend-label">Compare...</span>
        <svg class="iconic chevron">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
    </legend>

    <div class="dropdown-menu init" dropdown-menu>
        <div class="form-field radio">
            <label>
                <input type="radio" name="barchart" checked>Surveys
            </label>
        </div>
        <div class="form-field radio">
            <label>
                <input type="radio" name="barchart">Categories
            </label>
        </div>
    </div>
</fieldset>

<dc-chart chart-type="barChart" chart-options="postCategoryOptions" chart-data='postCategoryData'></dc-chart>
