<main class="page-content has-aside" role="main">
    <div class="page-header">
        <ul class="breadcrumb">
          <li><a ng-href="/settings" translate>nav.settings</a></li>
          <li class="active" translate>nav.categories</li>
        </ul>
        <h1 class="inline" translate>tool.manage_tags</h1>
        <a ng-href="/settings/categories/create" class="cta plus">
            <span translate>tag.add_tag</span>
        </a>
    </div>
    <div class="divider white"></div>
    <div class="main-col">

        <div class="panel-body" ng-hide="tags.length">
            <p class="text-muted text-center" ng-hide="tags.length"><em translate>empty.category</em></p>
        </div>

        <div ng-show="tags.length">

            <div class="list-actions">
                <button type="button"
                    class="button-secondary icon-only-when-small alt trash"
                    ng-disabled="!selectedTags.length"
                    ng-click="deleteTags()">
                        <span translate>nav.delete</span>
                </button>
            </div>

            <div class="settings-listing" ng-repeat="tag in tags | orderBy:'tag'" ng-class="{ 'warning': isToggled(tag) }" ng-click="toggleTag(tag)">
                <div class="select">
                    <input type="checkbox" value="{{category.id}}" ng-checked="isToggled(tag)">
                </div>
                <div class="bd">
                    <a ng-href="/settings/categories/{{tag.id}}">
                        <h3><i class="fa fa-{{tag.icon}} circle" style="color:{{tag.color}}"></i>
                        {{tag.tag}}</h3>
                    </a>
                    <p class="small">{{tag.description}}</p>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</main>
