<div>
    <!-- Enable 2fa for user -->
    <div class="actions-toggle">
        <button ng-show="!user.google2fa_enabled" type="button" id="google2fa-enable" class="button-secondary" ng-click="start2faEnable()">
            <span class="icon-left fa-pencil" translate>
                google2fa.enable
            </span>
        </button>

        <button ng-show="user.google2fa_enabled" type="button" id="google2fa-update" class="button-secondary" ng-click="start2faEnable()" translate>google2fa.update</button>
        <button ng-show="user.google2fa_enabled" type="button" id="google2fa-disable" class="button-destructive" ng-click="update2faDisable()" translate>google2fa.disable</button>

    </div>

    <modal visible="showEnableModal" title="google2fa.modal_title">
        <div>
            <div ng-switch="step">
                <div ng-switch-when="guide">
                    <p translate>
                        google2fa.steps_overview
                    </p>
                    <ul>
                        <li translate>
                            google2fa.step_1
                        </li>
                        <li translate>
                            google2fa.step_2
                        </li>
                        <li translate>
                            google2fa.step_3
                        </li>
                    </ul>
                </div>
                <div ng-switch-when="qr_verify" translation>
                    <ul>
                        <li translate>
                            google2fa.scan_qr_1
                        </li>
                        <li translate>
                            google2fa.scan_qr_2
                        </li>
                    </ul>
                    <img ng-src="{{google2fa_url}}" />
                    <div ng-show="verifyFailed">
                        <p class="alert" translate>
                            google2fa.not_verified_message
                        </p>
                    </div>
                    <input type="number" ngMinlength="6" ngMaxlength="6"  placeholder="Google Authenticator code" ng-model="google2fa_otp">
                </div>
                <div ng-swithc-when="verified" translate>
                    google2fa.completed_message
                </div>

            <div class="modal-submit">
                <div ng-switch="step">
                    <button ng-switch-when="guide" type="button" id="google2fa-modal-next-step" class="button-primary" ng-click="setup()" translate>google2fa.proceed</button>

                    <button ng-switch-when="qr_verify" type="button" id="google2fa-modal-verify" class="button-primary" ng-click="verify(google2fa_otp)" translate>google2fa.verify</button>

                    <button ng-switch-when="verified" type="button" id="google2fa-modal-close" class="button-primary" ng-click="cancel()" translate>google2fa.close</button>

                    <button ng-show="step!=='verified'" type="button" id="google2fa-modal-cancel" class="button-primary" ng-click="cancel()" translate>notify.generic.cancel</button>
                </div>
            </div> 
        </div>
    </modal>
</div>
