<main class="page-content has-aside" role="main">
    <ul class="breadcrumb">
        <li><a ng-href="/settings" translate>nav.settings</a></li>
        <li class="active" translate>tool.map_settings</li>
    </ul>
    <div class="main-col">
        <h1 class="title">{{title}}</h1>
        <div class="divider white"></div>

        <form id="map">

            <div ng-if="mapSettingsReady">
                <label class="input-label" translate>settings.map_default_location</label>
                <leaflet defaults="defaults" tiles="baselayer" markers="markers" center="center" height="300px" width="100%"></leaflet>
            </div>

            <div ng-if="mapSettingsReady">

                <label class="input-label" for="map-settings-base-layer" translate>settings.map_default_baselayer</label>
                <select id="map-settings-base-layer" class="form-control" ng-model="map.default_view.baselayer" ng-options="index as layer.name for (index, layer) in baseLayers | orderBy" ng-change="updateMapPreview()"></select>

                <label class="input-label"
                    ng-class="{'error': map.latitude.$valid}"
                    for="map-settings-latitude" translate>settings.map_default_latitude</label>
                <input name="latitude" id="map-settings-latitude" type="number" step="any" ng-min="-90" ng-max="90" required
                    ng-class="{'error': map.latitude.$valid}"
                    ng-model="map.default_view.lat" ng-pattern="patternFloat" ng-change="updateMapPreview()" />

                <label class="input-label"
                    ng-class="{'error': map.latitude.$valid}"
                    for="map-settings-longitude" translate>settings.map_default_longitude</label>
                <input name="longitude" id="map-settings-longitude" type="number" step="any" ng-min="-180" ng-max="180" required
                    ng-class="{'error': map.longitude.$valid}"
                    ng-model="map.default_view.lon" ng-pattern="patternFloat" ng-change="updateMapPreview()" />

                <label class="input-label" for="map-settings-zoom" translate>settings.map_default_zoom_level</label>
                <input id="map-settings-zoom" type="number" ng-min="minZoom" ng-max="maxZoom" required class="form-control" ng-model="map.default_view.zoom" ng-pattern="onlyNumbers" ng-change="updateMapPreview()" />

                <label class="checkbox-label"><input type="checkbox" ng-model="map.clustering" id="map-settings-clustering" /> <span translate>settings.map_clustering</span></label>

                <div class="divider white"></div>

                <div class="save-button">
                    <button class="save" ng-click="updateConfig('map', map)"
                        ng-disabled="form.$invalid || isUnchanged(map) || saving_config['map']">
                            <i class="fa fa-cog fa-spin" ng-show="saving_config['map']"></i>
                            <span translate>settings.save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
