<main class="page-content has-aside" role="main">
    <ul class="breadcrumb">
      <li><a ng-href="/settings" translate>nav.settings</a></li>
      <li class="active" translate>nav.users</li>
    </ul>
    <h1 class="inline" translate>tool.manage_users</h1>
    <a ng-href="/settings/users/create" class="cta plus">
        <span translate>user.add_user</span>
    </a>
    <div class="divider white"></div>

    <aside class="is-right" role="complementary">
        <form ng-submit="applyFilters()" role="search">
            <div class="filters" dropdown>
                <div class="filters-show-hide" dropdown-toggle>
                    <label class="delta-alt" translate>user.search_and_filter</label>
                    <button type="button" class="button-toggle filter-button-js"></button>
                </div>

                <div class="filters-container" dropdown-menu>
                    <div class="keyword-search">
                        <input name="keyword" class="keyword-input" placeholder="Search Users..." type="text" ng-model="filter.q">
                        <button type="submit" class="button-secondary icon-only alt search"></button>
                    </div>
                    <nav class="accordion-menu" accordion>
                        <ul class="accordion-menu-list">
                            <li class="accordion-menu-list__item" accordion-group>
                                <div class="accordion-menu-header">
                                    <a class="accordion-menu-trigger delta" accordion-trigger translate>user.roles</a>
                                </div>
                                <ul class="accordion-menu-content" accordion-content>
                                    <li>
                                        <label><input type="radio" name="role-filter" ng-model="filter.role" value="" ng-change="applyFilters()" translate>{{'user.show_all_roles' | translate}}</label>
                                    </li>
                                    <li ng-repeat="role in roles">
                                        <label><input type="radio" name="role-filter" ng-model="filter.role" ng-value="role.name" ng-change="applyFilters()">{{role.display_name}}</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </form>
    </aside>

    <div class="main-col">

        <div class="list-actions">
            <div class="bulk-actions">
                <div class="dropdown-group user-role-menu" role="group" dropdown
                >
                    <button class="button-secondary dropdown toggle-content-trigger"
                        type="button" id="change-role" aria-expanded="false"
                        ng-disabled="!selectedUsers.length"
                        dropdown-toggle
                    >
                        <span translate>user.change_role</span>
                    </button>
                    <ul class="dropdown-menu toggle-content" dropdown-menu role="menu">
                        <li role="presentation" ng-repeat="role in roles">
                            <a ng-click="changeRole(role)">{{role.display_name}}</a>
                        </li>
                    </ul>
                </div>
                <button type="button"
                    class="button-secondary icon-only-when-small alt trash"
                    id="delete-users"
                    ng-disabled="!selectedUsers.length"
                    ng-click="deleteUsers()">
                        <span translate>nav.delete</span>
                </button>
            </div>
        </div>
        <div ng-hide="users.length">
            <p class="text-muted text-center" ng-hide="users.length"><em translate>empty.user</em></p>
        </div>

        <div ng-show="users.length">
            <div class="settings-listing user-listing media" ng-repeat="user in users | orderBy:'realname'" id="user-{{user.id}}" ng-class="{ 'warning': isToggled(user) }" class="user" ng-click="toggleUser(user)">
                <div class="select">
                    <input type="checkbox" value="{{user.id}}" ng-checked="isToggled(user)">
                </div>
                <div class="img">
                    <img class="circular" gravatar-src="user.email" alt="" />
                </div>
                <div class="user bd">
                    <h3><a ng-href="/settings/users/{{user.id}}">{{user.realname}}</a></h3>
                    <h4 class="user-type">{{ getRole(user.role) }}</h4>
                </div>
            </div>
        </div>

        <div>
            <div class="dropdown-group pull-right" role="group" dropdown>
                <button class="button-secondary dropdown toggle-content-trigger"
                    type="button" aria-expanded="false" dropdown-toggle>
                    <span translate translate-values="{ count: itemsPerPage }">user.per_page</span>
                </button>
                <ul class="dropdown-menu toggle-content" role="menu" dropdown-menu>
                    <li role="presentation" ng-repeat="count in itemsPerPageOptions">
                        <a ng-click="itemsPerPageChanged(count)">
                            <i class="fa" ng-class="{ 'fa-circle-o': (itemsPerPage !== count), 'fa-dot-circle-o': (itemsPerPage === count) }"></i>
                            {{count}}
                        </a>
                    </li>
                </ul>
            </div>
            <pagination ng-model="currentPage" items-per-page="itemsPerPage" total-items="totalItems" ng-change="pageChanged()" max-size="5" boundary-links="false" rotate="false"></pagination>
        </div>

    </div>
</main>
