/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
* GLOBAL...............global styles
*/



body {
	background-color: $body-bg;
}

.container {
	@include outer-container;
	padding: 0 20px;
}

[class*='fa-'] {
	padding-right: 5px;
}
