/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* GLOBAL...............global styles
* LAYOUT...............site wide layout
* HEADER TITLE...............list-filter and header title
*/




/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/

body {
    background-color: $body-bg;
}

[class*='fa-'] {
    padding-right: 5px;
}

hr {
    @include span-columns(12);
}




/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

.main {
    @include span-columns(12);

    @include media($large) {
        @include span-columns(8);
    }
}

.sidebar {
    @include span-columns(12);
    @include omega;

    @include media($large) {
        @include span-columns(4);
        @include omega;
    }
}

.container {
    @include outer-container;
    padding: 30px;
}




/*------------------------------------*\
    $HEADER TITLE
\*------------------------------------*/

.title {
    @include span-columns(12);
    position: relative;
    top: 50%;
    text-align: center;

    @include media($small) {
        @include span-columns(6);
        @include transform(translateY(-50%));
        position: absolute;
        margin-bottom: 0;
        text-align: left;
    }
}
