<div class="form-field saved-search" ng-show="savedSearch">
    <span class="bug">
        <svg class="iconic" ng-click="removeSavedSearch(savedSearch, $event)">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
        </svg>
        <span><em>Saved search: </em>{{savedSearch.name}}</span>
    </span>
    <div class="form-field" ng-repeat="(key, values) in savedSearch.filter">
        <div ng-if="isArray(values)">
            <span class="bug saved-search-filter" ng-repeat="value in values track by $index">
                <svg class="iconic" ng-click="removeFilter(key, value, true, $event)">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                </svg>
                <span><em><translate translate="global_filter.filter_tabs.{{key}}"></translate>:</em> {{ transformFilterValue(value, key) }}</span>
            </span>
        </div>
        <div ng-if="!isArray(values)">
            <span class="bug saved-search-filter">
                <svg class="iconic" ng-click="removeFilter(key, values, true, $event)">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                </svg>
                <span><em><translate translate="global_filter.filter_tabs.{{key}}"></translate>:</em> {{ transformFilterValue(values, key) }}</span>
            </span>
        </div>
    </div>
</div>
<div ng-repeat="(key, values) in activeFilters" class='inline-filters'>
    <div ng-if="isArray(values)">
        <span class="bug" ng-repeat="value in values track by $index" >
            <svg class="iconic" ng-click="removeFilter(key, value, false, $event)">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
            </svg>
            <span><em><translate translate="global_filter.filter_tabs.{{key}}"></translate>:</em> {{ transformFilterValue(value, key) }}</span>
        </span>
    </div>
    <div ng-if="!isArray(values)">
        <span class="bug">
            <svg class="iconic" ng-click="removeFilter(key, values, false, $event)">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
            </svg>
            <span><em><translate translate="global_filter.filter_tabs.{{key}}"></translate>:</em> {{ transformFilterValue(values, key) }}</span>
        </span>
    </div>
</div>
<div class="form-field" ng-show="!activeFiltersAreEmpty() && !userCanUpdateSavedSearch">
    <button type="button" class="button button-alpha button-right" ng-click="saveSavedSearchModal()" translate="set.save_savedsearch">Save search</button>
</div>
  <div class="form-field" ng-show="userCanUpdateSavedSearch && !activeFiltersAreEmpty()">
    <button type="button" class="button button-alpha button-right" ng-click="$parent.editSavedSearchModal('update')" translate="set.update_savedsearch">Edit Saved search</button>
</div>
