<fieldset overflow-toggle has-overflow="statuses.length > 2" ng-model-options="{ updateOn: 'default' }" ng-show="hasPermission('Manage Posts')">
    <legend translate="global_filter.status">Status</legend>

    <div class="form-field checkbox icon-input" ng-repeat="(index, status) in statuses" ng-class="{ overflow: ($index > 1) }">

      <label>
        <svg class="iconic" ng-if="status == 'published'">
          <use xlink:href="/img/iconic-sprite.svg#globe"></use>
        </svg>
        <svg class="iconic" ng-if="status == 'draft'">
          <use xlink:href="/img/iconic-sprite.svg#lock-locked"></use>
        </svg>
        <svg class="iconic" ng-if="status == 'archived'">
          <use xlink:href="/img/iconic-sprite.svg#box"></use>
        </svg>

        <input type="checkbox" ng-model="status" checklist-model="selectedStatuses" checklist-value="status" name="selectedStatuses">
        <span translate="post.published" ng-if="status == 'published'">Published</span>
        <span translate="post.draft" ng-if="status == 'draft'">Under review</span>
        <span translate="post.archived" ng-if="status == 'archived'">Archive</span>

        </label>
    </div>

    <span class="form-field-toggle">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span translate="nav.more">More</span>
    </span>
</fieldset>
