<fieldset overflow-toggle has-overflow="forms.length > 1" ng-model-options="{ updateOn: 'default' }">
    <label translate="app.surveys">Survey</label>
   
    <div class="form-field checkbox" ng-show="forms.length > 5">
        <label>
            <input  type="checkbox" name="selectedForms" ng-checked="checkAll" ng-click="toggleAll()"><em><span translate="category.select_all"></span></em>
        </label>
    </div>
    <div class="form-field checkbox" ng-repeat="(index, form) in forms">
        <label>
            <input checklist-value="form.id" checklist-model="selectedForms" type="checkbox" name="selectedForms"> <bdi>{{ ::form.name }}</bdi>
        </label>
    </div>
    <div class="form-field checkbox">
        <label>
            <input checklist-value="'none'" checklist-model="selectedForms" type="checkbox" name="selectedForms"> <span translate="nav.unknown">Unknown</span>
        </label>
    </div>
</fieldset>
