
<form name="postFiltersFormOpen"
      uib-dropdown
      is-open="status.isopen"
      role="search"
      class="searchbar"
      auto-close="outsideClick"
      ng-submit="applyFilters()"
      ng-model-options="{ updateOn : 'submit default' }"
      data-message="search"
>
    <filter-searchbar model="filters.q"></filter-searchbar>
    <!-- Toggle Filters show/hide -->
    <div uib-dropdown-toggle class="searchbar-options">
        <a class="button" ng-click="openSavedModal()">
            <svg class="iconic">
                <use xlink:href="/img/iconic-sprite.svg#star"></use>
            </svg>
            <span class="button-label hidden" translate>app.saved</span>
        </a>
        <a     ng-click="toggleDropdown($event)"
                   type="button"
                   class="searchbar-options-filter button"
                   >
            <sort-and-filter-counter></sort-and-filter-counter>
        </a>
    </div>

    <filters-dropdown view="view" uib-dropdown-menu class="dropdown-menu" dropdown-status="status" filters-var="filters" ng-model="filters" cancel="cancel" apply-filters="applyFilters"></filters-dropdown>
</form>
