<form name="postFiltersForm" role="search" class="searchbar" dropdown auto-close="outsideClick" ng-submit="applyFilters()" ng-model-options="{ updateOn : 'submit' }">
    <!-- Include search bar -->
    <filter-searchbar model="filters.q"></filter-searchbar>
 
    <!-- Toggle Filters show/hide -->
    <div class="searchbar-options">
        <a class="button" ng-click="openSavedModal()">
            <svg class="iconic">
                <use xlink:href="/img/iconic-sprite.svg#star"></use>
            </svg>
            <span class="button-label hidden" translate>app.saved</span>
        </a>

        <a id="togglePostSearchFilters" class="button searchbar-options-filter" ng-click="openFilterModal()">
            <svg class="iconic">
                <use xlink:href="/img/material/svg-sprite-content-symbol.svg#ic_filter_list_24px">
                </use>
            </svg>
            <span class="button-label" translate>app.filters</span>
        </a>
    </div>
</form>
