<form role="search" class="searchbar" data-message="search">
    <div class="searchbar-input">
        <div class="form-field">
            <label class="hidden">Search</label>
            <div class="input-with-icon">
                <input type="search" maxlength="250" placeholder="Search" value="" />
                <!--div class="input-ghost"></div-->
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="searchbar-options">
        <a href="#" class="button searchbar-options-filter" data-toggle="search-filters">
            <span class="button-label-d">
            <span class="badge iconic">2</span>Sort & filter</span>
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </a>
    </div>
    <div class="dropdown-menu" data-toggle-target="search-filters" data-toggle-animate>
        <div class="dropdown-menu-body">
            <div class="form-field filter-buttons">
                <span class="bug">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                    </svg>
                    <span><em>Sort: </em>unlocked on top</span>
                </span>

                <span class="bug">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                    </svg>
                    <span><em>Status: </em>under review</span>
                </span>
                <span class="bug">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                </svg>
                <span><em>Saved search: </em>My search</span>
            </span>
                <span class="bug">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                </svg>
                <span><em>Data sources: </em>Twitter</span>
            </span>
            </div>
            <div class="form-field">
                <button type="button" class="button button-alpha button-right">Save search</button>
            </div>
            <div class="divider"></div>

            <h4 class="dropdown-menu-title">Sort by ...</h4>
            <div class="form-field">
            <span class="tool-trigger init dropdown-toggle active">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="44fed91f69f09c95876314a8e23f311e.svg#chevron-bottom"></use>
                </svg>
                <span class="label hidden">Show/hide</span>
            </span>
            <div class="toggle-content init active">
                <div class="custom-select">
                    <select>
                        <option value="post_date"selected="selected">Post date</option>
                        <option value="created">Date created</option>
                        <option value="updated">Date updated</option>
                    </select>
                </div>
            </div>

            <div class="form-field radio">
                <label>
                    <input type="radio" id="asc" value="asc" name="order">
                    <span>Oldest first</span>
                </label>
            </div>
            <div class="form-field radio">
                <label>
                    <input type="radio" id="desc" value="desc" name="order">
                    <span>Newest first</span>
                </label>
            </div>

            <div class="form-field checkbox">
                <label>
                    <input type="checkbox">Unlocked posts on top
                </label>
            </div>

            </div>
            <!-- here -->
            <h4 class="dropdown-menu-title">Filter by ...</h4>
            <div class="form-field">
                <label> Saved search </label>
                <div class="custom-select">
                    <select>
                        <option selected disabled>Select one</option>
                        <option value="post_date">My saved search</option>
                        <option value="created">Date created</option>
                        <option value="updated">Date updated</option>
                    </select>
                </div>
            </div>

            <div class="form-field">
                <label>Status</label>
                <div class="form-field checkbox">
                    <label>
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <input type="checkbox" name="status" id="published">
                        Published
                    </label>
                </div>

                <div class="form-field checkbox">
                    <label for="underreview">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <input type="checkbox" name="status" id="underreview">
                        Under review
                    </label>
                </div>

                <div class="form-field checkbox">
                    <label for="archive">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#box"></use>
                        </svg>
                        <input type="checkbox" name="archive" id="archive">
                        Archive
                    </label>
                </div>
            </div>
            <div class="form-field">
                <button type="button" class="button-link">Cancel</button>
                <button type="button" class="button-alpha">Apply filters</button>
            </div>
        </div>
    </div>
</form>
