<fieldset>
         <legend translate="global_filter.unmapped"></legend>
     <div class="form-field checkbox">
        <label>
            <input checklist-value="'unmapped'" checklist-model="unmapped" type="checkbox" name="unmapped"> Show unmapped posts
        </label>
    </div>
    <div class="form-field checkbox">
     <label>
            <input checklist-value="'mapped'" checklist-model="unmapped" type="checkbox" name="unmapped">Show posts with a location
        </label>
        </div>
</fieldset>
