<div class="dropdown-menu-body">
    <div class="form-field filter-buttons">
        <post-active-search-filters ng-model="filters" filters-var="filters"></post-active-search-filters>
    </div>
    <div class="divider"></div>
    <!-- sorting options -->
    <h4 class="dropdown-menu-title" translate="app.sort_by"></h4>

    <filter-post-sorting-options ng-model="filters.orderby"></filter-post-sorting-options>
    <fieldset>
        <filter-post-order-asc-desc ng-model="filters.order"></filter-post-order-asc-desc>
        <filter-unlocked-on-top ng-model="filters.order_unlocked_on_top"></filter-unlocked-on-top>
    </fieldset>
    <!-- end: sorting options -->

    <!-- filter options -->
    <h4 class="dropdown-menu-title" translate="app.filter_by"></h4>
    <filter-saved-search ng-model="filters.saved_search"></filter-saved-search>
    <filter-status ng-model="filters.status"></filter-status>
    <filter-category ng-model="filters.tags"></filter-category>
    <filter-form ng-model="filters.form"></filter-form>
    <filter-source ng-model="filters.source"></filter-source>
    <filter-date date-after-model="filters.date_after" date-before-model="filters.date_before"></filter-date>
    <filter-location center-point-model="filters.center_point" within-km-model="filters.within_km"></filter-location>
    <!-- end: filter options -->
</div>
<div class="form-field filter-actions">
    <button type="button" class="button-beta" ng-click="clearFilters()" translate>global_filter.restore_defaults</button>
    <button type="submit" class="button-alpha" translate>app.apply_filters</button>
</div>
