<!--
<div class="searchbar-options">
    <a href="#" class="button" data-toggle="search-saved">
        <svg class="iconic">
            <use xlink:href="/img/iconic-sprite.svg#star"></use>
        </svg>
        <span class="button-label hidden">Saved</span>
    </a>

    <a href="#" class="button searchbar-options-filter" data-toggle="search-filters">
        <span class="button-label">Filters</span>
        <svg class="iconic">
            <use xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
    </a>
</div>-->

<div class="dropdown-menu" data-toggle-target="search-filters" data-toggle-animate="">
    <h4 class="dropdown-menu-title">Filter by...</h4>
    <div class="dropdown-menu-body">


        <fieldset>
            <legend>Status</legend>

            <div class="form-field checkbox icon-input">
                <label for="published">
                    <svg class="iconic">
                        <use xlink:href="/img/iconic-sprite.svg#globe"></use>
                    </svg>
                    <input checked="" type="checkbox" name="status" id="published">
                    Published
                </label>
            </div>
            <div class="form-field checkbox icon-input">
                <label for="underreview">
                    <svg class="iconic">
                        <use xlink:href="/img/iconic-sprite.svg#lock-locked"></use>
                    </svg>
                    <input type="checkbox" name="status" id="underreview">
                    Under review
                </label>
            </div>
            <div class="form-field checkbox">
                <label for="archive">
                    <svg class="iconic">
                        <use xlink:href="/img/iconic-sprite.svg#box"></use>
                    </svg>
                    <input type="checkbox" name="archive" id="archive">
                    Archive
                </label>
            </div>
            <span class="form-field-toggle">
                    <svg class="iconic">
                      <use xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    More
                </span>
        </fieldset>


        <fieldset>
            <legend>Data Source</legend>

            <div class="form-field checkbox">
                <label for="web">
                    <input type="checkbox" id="web">
                    Web
                </label>
            </div>
            <div class="form-field checkbox">
                <label for="sms">
                    <input type="checkbox" id="sms">
                    SMS
                </label>
            </div>
            <div class="form-field checkbox">
                <label for="email">
                    <input type="checkbox" id="email">
                    Email
                </label>
            </div>
            <div class="form-field checkbox">
                <label for="twitter">
                    <input type="checkbox" id="twitter">
                    Twitter
                </label>
            </div>
            <span class="form-field-toggle">
                    <svg class="iconic">
                      <use xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    More
                </span>
        </fieldset>

        <fieldset>
            <legend>Date range</legend>

            <div class="form-field date">
                <label class="hidden">Start date</label>
                <div class="input-with-icon">
                    <svg class="iconic">
                        <use xlink:href="/img/iconic-sprite.svg#calendar"></use>
                    </svg>
                    <input type="date" placeholder="Start date">
                </div>
                <span class="date-joiner">to</span>
            </div>

            <div class="form-field date">
                <label class="hidden">End date</label>
                <div class="input-with-icon">
                    <svg class="iconic">
                        <use xlink:href="/img/iconic-sprite.svg#calendar"></use>
                    </svg>
                    <input type="date" placeholder="End date">
                </div>
            </div>

        </fieldset>
    </div>

    <div class="form-field">
        <button type="button" class="button-link" disabled="">Cancel</button>
        <button type="button" class="button-alpha" disabled="">Apply filters</button>
    </div>
</div>