<fieldset>
    <label translate>global_filter.date_range</label>
    <div class="form-field date">
        <label id="date-after" class="hidden" translate="global_filter.filter_tabs.created_after">Start date</label>
        <div class="input-with-icon">
            <svg class="iconic">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#calendar"></use>
            </svg>
            <input type="date" pick-a-date="dateAfter" pick-a-date-options="options" placeholder="{{ 'global_filter.filter_tabs.created_after' | translate }}" ng-model="dateAfterModel" aria-labelledby="date-after" />
        </div>
        
    </div>
            <span class="date-joiner">to</span>


    <div class="form-field date">
        <label id="date-before" class="hidden" translate="global_filter.filter_tabs.created_before">End date</label>
        <div class="input-with-icon">
            <svg class="iconic">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#calendar"></use>
            </svg>
        <input type="date" pick-a-date="dateBefore" pick-a-date-options="options" placeholder="{{ 'global_filter.filter_tabs.created_before' | translate }}" ng-model="dateBeforeModel" aria-labelledby="date-before">
    </div>
</div>


</fieldset>
