<div class="fab" ng-class="{'upgrade-button': upgradeButton}" data-message="add-post">
    <button type="button" class="button-alpha button-fab" ng-click="handleClick()" ng-disabled="disabled" ng-class="{'ng-hide': $parent.$parent.bulkActionsSelected || editMode()}">
        <svg class="iconic">
            <use xlink:href="/img/iconic-sprite.svg#plus"></use>
            <foreignObject>
                <img class="icon" src="/img/icons/png/plus-2x.png">
            </foreignObject>
        </svg>
        <span class="hidden">Add</span>
    </button>
</div>
