<article ng-class="['postcard', {selected: post.id === selectedPost.post.id}]" >
    <div class="post-band" ng-style="{backgroundColor: post.form.color}"></div>
    <div class="listing-item-select">
        <input ng-show="canSelect" type="checkbox" checklist-value="post.id" checklist-model="selectedPosts" ng-click="stopClickPropagation($event)">
    </div>
    <div class="postcard-body" ng-click="clickAction($event)">
      <header class="postcard-header">

        <post-metadata post="post" hide-date-this-week="true"></post-metadata>
        <!-- this is used in the map view card and the sidebar card in the data view-->
        <post-actions post="post"></post-actions>
      </header>
        <div class="postcard-overflow">
            <div class="postcard-title">
                <div class="postcard-field">
                <div class="tweet-container">
                  <twitter-widget ng-if="post.data_source_message_id && post.source === 'twitter'" twitter-widget-id="post.data_source_message_id">
                  </twitter-widget>
                </div>

                <bdi>{{ post.title || post.content | stripHtml | limitTo:150 }}{{ !post.title && post.content.length > 150 ? ' ...' : ''}}</bdi>
                </div>
            </div>


            <post-preview-media post="post"></post-preview-media>
            <!-- <img src="http://lorempixel.com/400/300/" class="postcard-image"> -->

            <div ng-if="!shortContent" class="postcard-field">
                <bdi>{{ post.content | stripHtml }}</bdi>
            </div>
            <div ng-if="shortContent" class="postcard-field">
                <bdi>{{ post.content | stripHtml | limitTo:150 }}{{ post.content.length > 150 ? ' ...' : ''}}</bdi>
            </div>
        </div>
    </div> <!-- /postcard-body -->
</article>
