<form class="survey-filter">
    <div 
        class="survey-filter-checkbox init"
        ng-class="{checked: (filters.source.indexOf(provider.label.toLowerCase()) !== -1)}"
        ng-repeat="provider in providers track by provider.label"
        dropdown
    >
        <div class="survey-filter-parent">
            <div class="survey-filter-label" ng-class="{'child-focused': isChildFocused(provider)}">
                <span class="post-band" ng-style="{backgroundColor: '#00aced'}"></span>
                <label>
                    <input 
                        type="checkbox"
                        ng-checked="filters.source.indexOf(provider.label.toLowerCase()) !== -1"
                        translate
                        ng-click="toggleFilters(provider.label.toLowerCase())"
                        ng-focus="setParentFocusIn(provider)"
                        ng-blur="setParentFocusOut(provider)"
                    />
                    {{provider.label}}
                </label>
            </div>
            <button class="survey-filter-total init" data-toggle="dropdown-menu" dropdown-toggle>
                {{provider.total}}
                <svg class="iconic" role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
                </svg>
            </button>
            <div class="dropdown-menu init" dropdown-menu>
                <span class="post-band" ng-style="{backgroundColor: '#00aced'}"></span>
                <p>
                    <em translate="post.messages.imported_by" translate-values="{messages: provider.heading}"></em>
                </p>
                <div class="divider"></div>
                <ul>
                    <li>
                        <a
                            translate="post.show_only_form" 
                            translate-values="{form: provider.label}"
                            ng-click="showOnly(provider.label)"
                            href=""
                        ></a>
                    </li>
                    <li>
                        <a
                            translate="post.hide_form"
                            translate-values="{form: provider.label}"
                            ng-click="hide(provider.label)"
                            href=""
                        ></a>
                    </li>
                    <li ng-if="featureEnabled()">
                        <a
                            translate="post.messages.show_only_incoming"
                            translate-values="{provider: provider.heading.toLowerCase()}"
                            ng-click="showOnlyIncoming(provider.label)"
                            href=""
                        ></a>
                    </li>
                    <div class="divider"></div>
                    <li ng-if="featureEnabled()">
                        <div>
                            <a href="/settings/datasources">
                                <svg class="iconic" role="img">
                                    <use xlink:href="/img/iconic-sprite.svg#pencil"></use>
                                </svg>
                                <span class="label">Edit {{provider.label}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
