<div class="toolbox hide-until-small">
  <!-- IF: User has permission to manage post status -->
  <div class="tool" dropdown auto-close="disabled">
      <h6 class="tool-heading" translate="app.sort_by">Sort By</h6>

      <span class="tool-trigger init" data-toggle="dropdown-menu" dropdown-toggle>
          <svg class="iconic">
              <use xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
          </svg>
          <span class="label hidden">Show/hide</span>
      </span>

      <div class="toggle-content init" dropdown-menu>
          <filter-post-sorting-options ng-model="filters.orderby"></filter-post-sorting-options>
          <filter-post-order-asc-desc ng-model="filters.order"></filter-post-order-asc-desc>
      </div>
  </div>
</div>
