<div class="flex-container">
    <post-toolbar is-loading="isLoading" current-view="currentView" selected-post="selectedPost.post" edit-mode="editMode" filters="filters"></post-toolbar>
    <button class="button-gamma button-flat" ng-click="addNewestPosts()" ng-show="newPostsCount > 0" style="position:fixed; z-index: 10000;">
        <span ng-switch on="newPostsCount">
            <span ng-switch-default translate="post.see_more_plural" translate-values="{ newPostsCount }">See new posts</span>
            <span ng-switch-when="1" translate="post.see_more_singular" translate-values="{ newPostsCount }">See new post</span>
        </span>
    </button>

    <div class="timeline-col">
        <div class="listing timeline init">
            <h2 class="tool-heading">{{posts.length}} of {{total}} posts</h2>
            <post-card
                ng-repeat="post in posts"
                can-select="false"
                post="post.id === selectedPostId ? selectedPost.post : post"
                selected-posts="selectedPosts"
                click-action="showPost"
                in-focus="selectedPostId === post.id",
                edit-mode="editMode"
            >
            </post-card>

            <button class="button-gamma button-flat" ng-click="loadMore()">Load more</button>
            <div class="listing-toolbar">
                <div class="listing-toolbar-summary">
                    <strong><span class="total"></span> selected</strong>
                    <button class="button-link">Deselect</button>
                </div>
            </div>
        </div>
    </div>
    <div class="post-col">
        <post-detail-data ng-if="selectedPost.post && !editMode.editing" edit-mode="editMode" filters="filters" is-loading="isLoading" post="selectedPost.post"></post-detail-data>
        <post-data-editor edit-mode="editMode" ng-if="editMode.editing" post-container="selectedPost"></post-data-editor>
</div>
