<div>
    <post-toolbar is-loading="isLoading" current-view="currentView" selected-post="selectedPost" edit-mode="editMode" filters="filters"></post-toolbar>

    <div class="timeline-col">
        <div class="listing timeline init">
            <h2 class="tool-heading">{{posts.length}} of {{total}} posts</h2>
            <post-card
                ng-repeat="post in posts"
                can-select="false"
                post="post"
                selected-posts="selectedPosts"
                click-action="showPost"
                in-focus="selectedPostId === post.id",
                edit-mode="editMode"
            >
            </post-card>

            <button class="button-gamma button-flat" ng-click="loadMore()">Load more</button>
            <div class="listing-toolbar">
                <div class="listing-toolbar-summary">
                    <strong><span class="total"></span> selected</strong>
                    <button class="button-link">Deselect</button>
                </div>
            </div>
        </div>
    </div>
    <div class="post-col">
        <post-detail-data ng-if="selectedPost && !editMode.editing" edit-mode="editMode" filters="filters" is-loading="isLoading" post="selectedPost"></post-detail-data>
        <post-data-editor edit-mode="editMode" ng-if="editMode.editing" post-to-edit="selectedPost"></post-data-editor>
</div>
