/*------------------------------------*\
        CONTENTS
\*------------------------------------*/
/**
* FILTER............filter and filter count numbers
* FILTER SEARCH FIELD WRAPPER...............search field styles
*/





/*------------------------------------*\
    $FILTER
\*------------------------------------*/

.filter-wrapper {
    @include span-columns(12);
    background-color: darken($secondary-color, 5);
    box-shadow: 0px 1px 2px rgba(lighten($dark-gray, 30), 0.5);
    padding: 30px;

    @include media($small) {
        padding: 0 0 23px;
    }

    @include media($medium) {
        padding: 0 30px 0 0;
    }
}

.filter-tabs {
    @include span-columns(12);
    margin-bottom: 23px;

    @include media($small) {
        border-bottom: 1px solid darken($secondary-color, 10);
    }

    @include media($medium) {
        @include span-columns(9);
        border-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.filter-tabs-list {

    &:after {
        content: none;
        display: table;
    }

    .filter-tabs-list__item {
        float: left;
        width: 25%;
        border-right: 1px solid darken($secondary-color, 10);
        border-top: 3px solid transparent;
        padding: 0 10px;
        font-size: emCalc(14);
        color: $base-font-color;
        line-height: 2.4em;
        cursor: pointer;

        @include media($small) {
            padding: 15px 19px;

            &:last-child {
                border-right: 0;
            }
        }

        @include media($medium) {

            &:last-child {
                border-right: 1px solid darken($secondary-color, 10);
            }
        }

        a {
            color: $base-font-color;
            font-weight: bold;
        }

        &.active {
            background-color: $white;
            color: $base-font-color;
            font-weight: bold;
        }

        &:hover:not(.active) {
            background-color: darken($secondary-color, 2);
        }

        &:active:not(.active) {
            background-color: darken($secondary-color, 6);
        }
    }

    .count-number {
        position: relative;
        top: 4px;
        font-size: emCalc(11);
        letter-spacing: .15em;
    }
}

%filter-count-number {
    position: relative;
    top: 2px;
    float: right;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    margin: 0 auto 0 10px;
    color: $white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;

    @include media($small) {
        margin-left: 8px;
     }
}

[class*='-count-number'] {
    @extend %filter-count-number;
}

/*random color function for filter count-number background*/

$color1: $blue-gray;
$color2: $error-color;
$color3: $success-color;
$color4: $warning-color;
$color5: $primary-color;

$colors: $color1, $color2, $color3, $color4, $color5;

@for $i from 1 through length($colors) {
    .filter-tabs-list li:nth-child(#{length($colors)}n+#{$i}),
    .tab-nav-list--message-config li:nth-child(#{length($colors)}n+#{$i}) {

        [class*='-count-number'] {
            background-color: (nth($colors, $i));
        }

        &.active {
            border-top: 3px solid (nth($colors, $i));
        }

        &:hover:not(.active) {
            border-top: 3px solid (nth($colors, $i));
        }
    }
}




/*------------------------------------*\
    $FILTER SEARCH FIELD WRAPPER
\*------------------------------------*/

.search-field-wrapper--filter--role {
    // @extend %search-field-wrapper--filter;
    @include span-columns(12);

    @include media($small) {
        padding: 0 20px;
    }

    @include media($medium) {
        @include span-columns(3);
        $float: right;
        padding: 15px 0 0 0;
    }
}
