/*------------------------------------*\
        $CONTENTS
\*------------------------------------*/
/**
 * COPYRIGHT............
 */





/*------------------------------------*\
        $COPYRIGHT
\*------------------------------------*/

footer {
    @include span-columns(12);
    background-color: $blueGray;
    color: $white;
    padding: 40px 0;
    text-align: center;
}

.footer-copyright-wrapper {
    @include outer-container;
    padding: 0 30px;
}

.footer-copyright {
    @include span-columns(12);
}
