<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Ushahidi</title>
        <base href="/">
    </head>

    <body>
        <header class="top-bar">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container" ng-controller="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" aria-expanded="false" aria-controls="navbar"
                            ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed"
                            >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" ng-href="/">Deployment Name</a>
                    </div>
                    <div id="navbar" class="navbar-collapse" collapse="isCollapsed">
                        <ul class="nav navbar-nav">
                            <li role="presentation"><a ng-href="/" translate>nav.home</a></li>
                            <li role="presentation"><a ng-href="/about" translate>nav.about</a></li>
                            <li role="presentation" ng-show="isAdmin()"><a ng-href="/workspace" translate>nav.workspace</a></li>
                            <li role="presentation" ng-show="isAdmin()"><a ng-href="/tools" translate>nav.tools</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ng-href="/posts/create"><i class="fa  fa-plus"></i> <span translate>nav.create</span></a></li>
                            <li ng-hide="currentUser"><a ng-href="/login" class="user-login"><i class="fa  fa-sign-in"></i> <span translate>nav.login</span></a></li>
                            <li class="dropdown user-menu" dropdown ng-show="currentUser">
                                <a href="javascript:;" class="dropdown-toggle" role="button" aria-expanded="false"
                                    dropdown-toggle>
                                    <span>{{currentUser.realName}}</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-href="/users/me" class="my-profile"><i class="fa fa-user"></i>
                                        <span translate>nav.profile</span></a></li>
                                    <li><a ng-href="/site/settings" class="site-settings"><i class="fa fa-cogs"></i>
                                        <span translate>nav.settings</span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;" class="user-logout"
                                        ng-click="logoutClick()"
                                        ><i class="fa fa-sign-out"></i>
                                        <span translate>nav.logout</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container" ng-view></div>
        <!-- there is no footer present in the design spec, but we probably want one. (?) -->
        <!--
        <footer role="contentinfo" class="footer">
            <div class="container footer-copyright-wrapper">
                <div class="footer-copyright">
                    <p class="text-muted" translate translate-values="{owner_name: owner_name}">footer.copyright_info</p>
                </div>
            </div>
        </footer>
        -->
        <script src="/js/bundle.js"></script>
    </body>
</html>
