<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Ushahidi</title>
        <link rel="stylesheet" href="/css/style.css">
        <base href="/">
    </head>

    <body ng-controller="navigation" ng-class="{ 'active': mainMenu }">

        <div>
            <header class="navigation">
                <div class="navigation-wrapper">
                    <div class="global-header-menu-trigger">
                        <i class="fa fa-bars drawer-trigger" data-target="menu" ng-click="toggle('mainMenu')"></i>
                    </div>
                    <a ng-href="/">
                        <span class="site-title">Awesome V3 Map</span>
                    </a>
                    <div class="nav">
                        <ng-include src=" 'templates/partials/navigation-menu.html' "></ng-include>

                        <ul class="navigation-tools">
                            <li class="nav-link  create-post"><a ng-href="/posts/create"><i class="fa  fa-plus"></i><span translate>nav.create</span></a></li>
                            <li class="nav-link  workspace-nav  js-menu-trigger"><a href="/workspace"><i class="fa  fa-dashboard"></i><span translate>nav.workspace</span></a></li>
                            <li class="nav-link  sign-in" ng-hide="signedin">
                                <a href="signin" id="signin-link">
                                    <i class="fa  fa-sign-in"></i>
                                    <span translate>user.login</span>
                                </a>
                            </li>

                            <li class="nav-link user-info" ng-show="signedin" signout-click="signoutClick()">
                                <div class="dropdown">
                                    <div class="dropdown-container">
                                        <p class="dropdown-toggle">
                                            <a id="user-menu-link" href="javascript:void(0)">
                                                <img ng-src="{{ getGravatar(email) }}" alt="Gravatar" />
                                                <span ng-bind="userName"></span>
                                                <span class="count-number">4</span>
                                            </a>
                                        </p>
                                        <ul class="dropdown-menu">
                                            <li class="user-role">
                                                <a translate>nav.admin</a>
                                            </li>
                                            <li>
                                                <a id="user-profile" ng-href="/users/me" translate>nav.edit_profile</a>
                                            </li>
                                            <li>
                                                <a href="/notifications"><span translate>nav.notifications</span></a>
                                                <span class="count-number">4</span>
                                            </li>
                                            <li>
                                                <a href="/settings" translate>nav.settings</a>
                                            </li>
                                            <li>
                                                <a href="/help" translate>nav.help</a>
                                            </li>
                                            <li class="user-logout">
                                                <a id="signout-link" ng-click="signoutClick()" translate>nav.logout</a>
                                            </li>
                                        </ul>
                                    </div> <!-- end .dropdown-container -->
                                </div> <!-- end .dropdown -->
                            </li>


                        </ul> <!-- end .navigation-tools -->
                    </div> <!-- end .nav -->
                </div> <!-- end .navigation-wrapper -->

                <div class="global-header-menu" ng-class="{ 'active': mainMenu }">
                    <div class="drawer">
                        <nav class="global-navigation">
                            <ul>
                                <ng-include src=" 'templates/partials/navigation-menu.html' "></ng-include>
                                <li class="nav-link  workspace-nav"><a href="/workspace"><i class="fa  fa-dashboard"></i><span translate>nav.workspace</span></a></li>
                            </ul>
                        </nav>

                        <div class="global-header-mast">
                            <div class="user-info">
                                <img src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e" alt="Gravatar" />
                                <div class="name-role-wrapper">
                                    <span class="user-name" translate>nav.user_name</span>
                                    <span class="user-role" translate>nav.admin</span>
                                </div>
                            </div>
                            <ul class="admin-nav">
                                <li>
                                    <a ng-href="/profile" translate>nav.edit_profile</a>
                                </li>
                                <li>
                                    <a href="/notifications"><span translate>nav.notifications</span></a>
                                    <span class="count-number">4</span>
                                </li>
                                <li>
                                    <a href="/settings" translate>nav.settings</a>
                                </li>
                                <li>
                                    <a href="/help" translate>nav.help</a>
                                </li>
                                <li class="user-logout">
                                    <a href="#" translate>nav.logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header> <!-- end .navigation -->
        </div>
        <div ng-view></div>

        <ng-include src=" 'templates/partials/footer.html' "></ng-include>

        <script src="/js/bundle.js"></script>
    </body>
</html>
