<div>
    <layout-class layout="b"></layout-class>
    <main role="main">
        <div class="main-col">
                <div class="listing card init" ng-if="allDisabled">
                <strong>USH_DISABLE_CHECKS is set to ALL, all verification processes is turned off.</strong>
                <p>If you believe this is wrong, check the .env file for the variable USH_DISABLE_CHECKS.</p>
                </div>
            <div class="listing card init" ng-if="!allDisabled">
                <h1>Installer helper</h1>
                <p>Check the messages below to get hints while installing the Ushahidi-platform!</p>
                <div class="listing-item"></div>
                <div class="listing-item">
                    <h3 class="list-item-title">Checking network...</h3>
                <div class="listing-item" ng-if="!networkCheck">
                    <p>Check is disabled. If you think this is incorrect, please check USH_DISABLED_CHECKS in your .env-file.</p>
                </div>
                <div class="listing-item" ng-if="networkCheck">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic" role="img">
                                <use style="fill: #de0000" ng-if="networkCheck.type === 'error'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                <use style="fill: #4fab2f" ng-if="networkCheck.type === 'confirmation'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                <use style="fill: #FFC334" ng-if="networkCheck.type === 'warning'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                            </svg>
                        </div>
                        <strong class="list-item-secondary" ng-if="networkCheck.url">Status-result for {{networkCheck.url}}</strong>
                        <p ng-if="networkCheck.status">The server responded with a {{networkCheck.status}}-status code</p>
                        <p class="class="list-item-secondary" ng-repeat="message in networkCheck.messages">{{message}}</p>
                    </div>
                </div>
            </div>
            <div class="listing-item">
                <h3 class="list-item-title">Checking endpoints...</h3>
                <h4 class="list-item-title">Checking status for endpoints...</h4>
                <div class="listing-item" ng-if="!endpointStatuses">
                        <p>Check for endpoint-status is disabled. If you think this is incorrect, please check USH_DISABLED_CHECKS in your .env-file.</p>
                </div>
                <div class="listing-item" ng-repeat="endpoint in endpointStatuses" ng-if="endpointStatuses">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic" role="img">
                                <use style="fill: #de0000" ng-if="endpoint.type === 'error'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                <use style="fill: #4fab2f" ng-if="endpoint.type === 'confirmation'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                <use style="fill: #FFC334" ng-if="endpoint.type === 'warning'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                            </svg>
                        </div>
                        <strong class="list-item-secondary" ng-if="endpoint.url">Status-result for {{endpoint.url}}</strong>
                        <p ng-if="endpoint.status">The server responded with a {{endpoint.status}}-status code</p>
                        <p ng-repeat="message in endpoint.messages">{{message}}</p>
                    </div>
                </div>
                <h4 class="list-item-title">Checking structure for endpoints...</h4>
                <div class="listing-item" ng-if="!endpointStructureChecks">
                        <p>Check for endpoint-status is disabled. If you think this is incorrect, please check USH_DISABLED_CHECKS in your .env-file.</p>
                </div>
                <div class="listing-item" ng-repeat="endpoint in endpointStructureChecks" ng-if="!isCheckDisabled('ENDPOINT_STRUCTURE')">
                    <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic" role="img">
                                    <use style="fill: #de0000" ng-if="endpoint.type === 'error'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                    <use style="fill: #4fab2f" ng-if="endpoint.type === 'confirmation'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                    <use style="fill: #FFC334" ng-if="endpoint.type === 'warning'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                                </svg>
                            </div>
                        <strong class="list-item-secondary" ng-if="endpoint.url">Structure-result for {{endpoint.url}}</strong>
                        <p ng-repeat="message in endpoint.messages">{{message}}</p>
                    </div>
                </div>
            </div>
            <div class="listing-item">
                <h3>Checking Oauth-endpoint...</h3>
                <div class="listing-item" ng-if="!oauthStatus">
                        <p>Check is disabled. If you think this is incorrect, please check USH_DISABLED_CHECKS in your .env-file.</p>
                </div>
                <div class="listing-item" ng-if="oauthStatus">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic" role="img">
                                <use style="fill: #de0000" ng-if="oauthStatus.type === 'error'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                <use style="fill: #4fab2f" ng-if="oauthStatus.type === 'confirmation'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                <use style="fill: #FFC334" ng-if="oauthStatus.type === 'warning'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                            </svg>
                        </div>
                        <strong class="list-item-secondary" ng-if="oauthStatus.url">Status-result for {{oauthStatus.url}}</strong>
                        <p>The server responded with a {{oauthStatus.status}}-status code</p>
                        <p ng-repeat="message in oauthStatusCheck.messages">{{message}}</p>
                    </div>
                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic" role="img">
                                    <use style="fill: #de0000" ng-if="oauthStructure.type === 'error'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                    <use style="fill: #4fab2f" ng-if="oauthStructure.type === 'confirmation'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                    <use style="fill: #FFC334" ng-if="oauthStructure.type === 'warning'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                                </svg>
                            </div>
                            <strong class="list-item-secondary" ng-if="oauthStructure.url">Checking the structure for {{oauthStructure.url}}</strong>
                            <p ng-repeat="message in oauthStructure.messages">{{message}}</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic" role="img">
                                    <use style="fill: #de0000" ng-if="oauthToken.type === 'error'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                    <use style="fill: #4fab2f" ng-if="oauthToken.type === 'confirmation'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                    <use style="fill: #FFC334" ng-if="oauthToken.type === 'warning'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                                </svg>
                            </div>
                            <strong class="list-item-secondary" ng-if="oauthToken.messages">Checking that the oauth-token is working</strong>
                            <p ng-repeat="message in oauthToken.messages">{{message}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listing-item">
                <h3>Checking environment variables in the client...</h3>
                <div class="listing-item" ng-if="!envCheck">
                        <p>Check is disabled. If you think this is incorrect, please check USH_DISABLED_CHECKS in your .env-file.</p>
                </div>
                <div class="listing-item" ng-if="envCheck">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic" role="img">
                                <use style="fill: #de0000" ng-if="envCheck.type === 'error'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                <use style="fill: #4fab2f" ng-if="envCheck.type === 'confirmation'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                <use style="fill: #FFC334" ng-if="envCheck.type === 'warning'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                            </svg>
                        </div>
                        <strong class="list-item-secondary" ng-if="envCheck.messages">Checking that there is an .env file in the client </strong>

                        <p ng-repeat="message in envCheck.messages">{{message}}</p>
                    </div>
                </div>
            </div>
            <div class="listing-item">
                <h3>Checking Transifex</h3>
                <div class="listing-item" ng-if="!transifexCheck">
                        <p>Check is disabled. If you think this is incorrect, please check USH_DISABLED_CHECKS in your .env-file.</p>
                </div>
                <div class="listing-item" ng-if="transifexCheck">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic" role="img">
                                <use style="fill: #de0000" ng-if="transifexCheck.type === 'error'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                <use style="fill: #4fab2f" ng-if="transifexCheck.type === 'confirmation'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                <use style="fill: #FFC334" ng-if="transifexCheck.type === 'warning'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                            </svg>
                        </div>
                        <strong class="list-item-secondary" ng-if="transifexCheck">Checking if there are credentials for Transifex</strong>

                        <p ng-repeat="message in transifexCheck.messages">{{message}}</p>
                    </div>
                </div>
            </div>
            <div class="listing-item" >
                <h3>Checking Database-connection</h3>
                <div class="listing-item" ng-if="!dbConnection">
                        <p>Check is disabled. If you think this is incorrect, please check USH_DISABLED_CHECKS in your .env-file.</p>
                </div>
                <div class="listing-item" ng-if="dbConnection">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic" role="img">
                                <use style="fill: #de0000" ng-if="dbConnection.errors" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                <use style="fill: #4fab2f" ng-if="dbConnection.success" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                <use style="fill: #5294ff" ng-if="dbConnection.type === 'info'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#info"></use>
                            </svg>
                        </div>
                        <strong class="list-item-secondary" ng-if="dbConnection">Checking that the database is connected</strong>
                    <div ng-if="dbConnection.success" ng-repeat="result in dbConnection.success">
                        <p>{{result.message}}</p>
                        <p>{{result.explainer}}</p>
                    </div>
                    <div ng-if="dbConnection.errors" ng-repeat="result in dbConnection.errors">
                        <p>{{result.message}}</p>
                        <p>{{result.explainer}}</p>
                    </div>
                    <div ng-if="dbConnection.type === 'info'">
                        <p>{{dbConnection.message}}</p>
                    </div>
                </div>
            </div>
            <div class="listing-item">
                <h3>Checking environment-variables in the API...</h3>
                <div class="listing-item" ng-if="!apiEnvs">
                        <p>Check is disabled. If you think this is incorrect, please check USH_DISABLED_CHECKS in your .env-file.</p>
                </div>
                <div class="listing-item" ng-if="apiEnvs">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic" role="img">
                                <use style="fill: #de0000" ng-if="apiEnvs.errors" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-x"></use>
                                <use style="fill: #4fab2f" ng-if="apiEnvs.success" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#circle-check"></use>
                                <use style="fill: #5294ff" ng-if="apiEnvs.type === 'info'" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#info"></use>
                            </svg>
                        </div>
                        <strong class="list-item-secondary" ng-if="apiEnvs">Checking that there is an .env file in the backend</strong>

                        <div ng-if="apiEnvs.success" ng-repeat="result in apiEnvs.success">
                            <p>{{result.message}}</p>
                            <p>{{result.explainer}}</p>
                        </div>
                        <div ng-if="apiEnvs.errors" ng-repeat="result in apiEnvs.errors">
                            <p>{{result.message}}</p>
                            <p>{{result.explainer}}</p>
                        </div>
                        <div ng-if="apiEnvs.type === 'info'">
                            <p>{{apiEnvs.message}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listing-item" ng-if="(apiEnvs || dbConnection) && (!apiEnvs || apiEnvs.success) && (!dbConnection || dbConnection.success)">
                <h3>Checking if API Install Debug mode should be disabled...</h3>
                <div class="listing-item">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic" role="img">
                                <use style="fill: #FFC334" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                            </svg>
                        </div>
                        <div>
                            <p>For security reasons, we recommend NOT leaving some check routines enabled in the API.</p>
                            <p>You may disable those checks now by running the "composer installdebug:disable" command in the API folder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
