<div class="container">

    <div class="create-user-header">
        <h4 class="title"><a ng-href="/users" title="Go Back" class="back-button">&laquo;</a> {{title}}</h4>
    </div> <!-- end .manage-users-header -->

    <div class="wrapper form-wrapper">
        <form id="user_create" class="container">
            <label translate>user.full_name</label>
            <input id="full_name" type="text" placeholder="{{ 'user_create.full_name'|translate }}" required ng-minlength="3" ng-maxlength="150" ng-model="user.realname">

            <label translate>user.username</label>
            <input id="username" type="text" placeholder="{{ 'user_create.username'|translate }}" required ng-minlength="3" ng-maxlength="150" ng-model="user.username">

            <label translate>user.email</label>
            <input id="email" type="email" placeholder="{{ 'user_create.email'|translate }}" required ng-minlength="5" ng-maxlength="150" ng-model="user.email">

            <label translate>user.password</label>
            <input id="password" type="password" required ng-minlength="5" ng-maxlength="150" ng-model="user.password">

            <label translate>user.role</label>
            <select id="role" ng-model="user.role" ng-options="role.name as role.display_name for role in roles"></select>

            <p class="submit-button">
                <button ng-click="saveUser(user)" ng-disabled="form.$invalid || saving_user"><i class="fa fa-cog fa-spin ng-hide" ng-show="saving_user"></i> <span class="ng-scope" translate>user.create_user</span></button>
            </p>
        </form>
    </div> <!-- end .wrapper -->

</div> <!-- end .container -->
