<div>
        <p class="alert confirmation" ng-show="state.success" translate>user_profile.update_success</p>
        <form name="form">
          <div class="form-field">
            <label class="input-label"
                ng-class="{ 'error': form.full_name.$invalid && form.full_name.$dirty, 'success': form.full_name.$valid }"
                for="full_name" translate>user.full_name</label>
            <input id="full_name" name="full_name" type="text"
                ng-class="{ 'error': form.full_name.$invalid && form.full_name.$dirty }"
                ng-disabled="state.processing"
                placeholder="{{ 'user_create.full_name'|translate }}"
                ng-maxlength="150"
                ng-model="user.realname"
                required>
            <p ng-repeat="(error, value) in form.full_name.$error"
                ng-show="form.full_name.$dirty"
                class="alert error"
               translate="{{'user.valid.full_name.' + error}}"></p>
          </div>

          <div class="form-field">
            <label class="input-label"
                ng-class="{ 'error': form.email.$invalid && form.email.$dirty, 'success': form.email.$valid }"
                for="email" translate>user.email</label>
            <input id="email" name="email" type="email"
                ng-class="{ 'error': form.email.$invalid && form.email.$dirty }"
                ng-disabled="state.processing"
                placeholder="{{ 'user_create.email'|translate }}"
                ng-maxlength="150"
                ng-model="user.email"
                required>
            <p ng-repeat="(error, value) in form.email.$error"
                ng-show="form.email.$dirty"
                class="alert error"
               translate="{{'user.valid.email.' + error}}"></p>
            </div>

            <p ng-hide="state.changingPassword"><a href class="cta change-password" ng-click="state.changingPassword = !state.changePachangingPasswordssword" translate>user_profile.update_password</a></p>

            <div ng-if="state.changingPassword">
                <label class="input-label"
                    ng-class="{ 'error': form.password.$invalid && form.password.$dirty, 'success': form.password.$valid }"
                    for="password" translate>user.password</label>
                <input id="password" name="password" type="password"
                    ng-class="{ 'error': form.password.$invalid && form.password.$dirty }"
                    ng-disabled="state.processing"
                    ng-minlength="7"
                    ng-maxlength="72"
                    ng-model="state.password"
                    required>
                <p ng-repeat="(error, value) in form.password.$error"
                    ng-show="form.password.$dirty"
                    class="alert error"
                    translate="{{'user.valid.password.' + error}}"></p>
            </div>

            <div class="form-field">
              <button type="button" class="button-link" ng-click="cancel()" translate>
                user_profile.button.cancel
              </button>

              <button type="submit" class="button button-alpha"
                      ng-click="saveUser(user)" ng-disabled="form.$invalid || state.processing">
                <div class="loading" ng-show="saving"><div class="line"></div><div class="line"></div><div class="line"></div></div>
                <span translate>user_profile.button.save</span>
              </button>

            </div>
        </form>
</div>
