<div class="container">

    <div class="manage-users-header">
        <h4 class="title">{{title}}</h4>
    </div> <!-- end .manage-users-header -->

    <div class="list-filter--alt">
            <div class="list-filter-info">
                <h5 class="title" translate translate-value-from="1" translate-value-to="3" translate-value-total="10">pagination.showing_x_to_y_of_n_results</h5>
            </div> <!-- end .list-filter-info -->
    </div> <!-- end .list-filter -->

    <div class="filter-bar-wrapper">
        <div class="filter-bar">
            <ul>
                <li class="delete-user left">
                    <button ng-disabled="!selectedUsers.length" ng-click="deleteUsers()"><i class="fa  fa-trash-o"></i> <span translate>user.delete_user</span></a>
                </li>
                <li class="change-role left">
                    <select ng-disabled="!selectedUsers.length" ng-model="changedRole" ng-change="changeRole()"
                        ng-options="role.name as role.display_name for role in roles">
                        <option value translate>user.change_role_to</option>
                    </select>
                </li>
                <li class="filter-role">
                    <select ng-model="filteredRole" ng-change="filterRole()"
                        ng-options="role.name as role.display_name for role in roles">
                        <option value translate>user.show_all_roles</option>
                    </select>
                </li>
                <li class="add-user">
                    <i class="fa  fa-plus-circle"></i> <span translate>user.add_user</span>
                </li>
            </ul>
        </div> <!-- end .filter-tabs -->
    </div> <!-- end .filter-wrapper -->

    <div class="wrapper">
        <div class="list-view-empty" ng-hide="users.length"><em translate>empty.user</em></div>
        <ul class="list-view user-list" ng-show="users.length">
            <li ng-repeat="user in users | orderBy:'username'" class="list-view__item">
                <input type="checkbox" value="{{user.id}}" ng-checked="isToggled(user)" ng-click="toggleUser(user)">
                <div class="list-view-image--user">
                    <img ng-src="{{ getGravatar(user.email) }}" alt="" />
                </div> <!-- end .list-view-image -->

                <div class="list-view-details--user">
                    <a ng-href="/users/profile/{{user.id}}">
                        <h4 class="list-view-header">{{ user.username }}</h4>
                    </a>
                    <p class="user-list-role">{{ getRole(user.role) }}</p>
                </div> <!-- end .list-view-details-user -->
            </li>
        </ul><!-- end .user-list -->
    </div> <!-- end .wrapper -->

    <!-- Pagination -->
    <!-- <ng-include src=" 'templates/partials/pagination.html' "></ng-include> -->

</div> <!-- end .container -->
