/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* SUBNAV...............topbar subnav
*/





/*------------------------------------*\
    $SUBNAV
\*------------------------------------*/

nav[role="sub-navigation"] {
    background-color: #fcfcfc;
    box-shadow: 0px 1px 2px rgba(108, 108, 108, 0.5);
    display: none;
    max-height: 0;

    &.active {
        display: block;
        max-height: 999px;

        .subnav-list {
            @include outer-container;

            .subnav-list__item {
                display: block;
                float: none;

                @include media($small) {
                    float: left;
                }

                a {
                    @include transition(none);
                    border-bottom: 0;
                    color: $base-font-color;
                    float: left;
                    font-weight: bold;
                    padding: 20px 30px;
                    width: 100%;
                }

                &.active a,
                &:hover a {
                    background: $dark-gray;
                    color: $white;
                }
            }
        }
    }
}
