/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* GENERAL...............general styles
* LOGO...............site logo and site name
* NAV...............top bar navigation styles
* WORKSPACE OFF CANVAS...............workspace off canvas styles
*/





/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

// this overrides off-canvas nav to display under the topbar nav
body {
    margin-top: 60px;
    position: relative;
    z-index: -1;
}





/*------------------------------------*\
    $LOGO
\*------------------------------------*/

header.navigation .logo {

    img {
        float: left;
        max-height: 60px;
    }

    .site-title {
        display: none;
        color: $white;
        float: left;
        font-size: em(20);
        font-weight: bold;
        padding: 18px;

        @include media($small) {
            display: inline-block;
        }
    }
}





/*------------------------------------*\
    $NAV
\*------------------------------------*/

header.navigation {
    margin-top: -60px;
    position: fixed;

    .nav-link {
        display: inline;
        padding-right: 0;
        width: auto;

        a {
            font-weight: bold;
        }

        @include media($medium) {
            padding-right: 12px;
        }
    }

    span {
        display: none;

        @include media($medium) {
            display: inline-block;
            padding-left: 10px;
        }
    }

    [class*='fa-'] {
        color: $white;
        padding: 23px 20px 20px;

        @include media($medium) {
            padding: auto;
        }
    }

    .nav {
        float: none;
        z-index: 9999999;

        .navigation-menu {
            float: left;

            .views [class*='fa-'] {
                background-color: $error-color;
            }

            .sets [class*='fa-'] {
                background-color: $warning-color;
            }
        }
    }

    .navigation-tools {
        background: transparent;
        clear: none;
        cursor: hand;
        display: block;
        float: right;
        padding: 0;

        .create-post [class*='fa-'] {
            background-color: $success-color;
        }

        .sign-in [class*='fa-'] {
          background-color: $darkBlue;
        }

        .workspace-panel-button [class*='fa-'] {
            background-color: $primary-color;
            border-bottom: 1px solid $black;
        }
    }
}
