<div class="mode-context init">

        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="map.html">Home</a></li>
            </ol>

            <h1 class="mode-context-title">Settings</h1>
        </header>

        <span class="mode-context-trigger">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden">Show more/less</span>
        </span>
    </div>
