<div class="mode-context init">

        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/">{{site.name}}</a></li>
                <li ng-if="settingsView"><a href="/settings" translate>app.settings</a></li>
                <div ng-if="viewType === 'edit'" ng-switch="settingsView">
                    <li ng-switch-when="users"><a href="/settings/users" translate>app.users</a></li>
                    <li ng-switch-when="roles"><a href="/settings/roles" translate>app.roles</a></li>
                    <li ng-switch-when="categories"><a href="/settings/categories" translate>app.categories</a></li>
                </div>

            </ol>
            <div ng-switch="viewType">
                <div ng-switch-when='edit' ng-switch="settingsView">
                    <h1 class="mode-context-title" ng-switch-when="users" translate>app.edit_user</h1>
                    <h1 class="mode-context-title" ng-switch-when="roles" translate>app.edit_role</h1>
                    <h1 class="mode-context-title" ng-switch-when="categories" translate>app.edit_category</h1>

                </div>
                <div ng-switch-default ng-switch="settingsView">
                    <h1 class="mode-context-title" ng-switch-default translate>app.settings</h1>
                    <h1 class="mode-context-title" ng-switch-when="general" translate>app.general</h1>
                    <h1 class="mode-context-title" ng-switch-when="surveys" translate>app.surveys</h1>
                    <h1 class="mode-context-title" ng-switch-when="data_sources" translate>app.data_sources</h1>
                    <h1 class="mode-context-title" ng-switch-when="import" translate>app.import</h1>
                    <h1 class="mode-context-title" ng-switch-when="users" translate>app.users</h1>
                    <h1 class="mode-context-title" ng-switch-when="roles" translate>app.roles</h1>
                    <h1 class="mode-context-title" ng-switch-when="categories" translate>app.categories</h1>
                    <h1 class="mode-context-title" ng-switch-when="plan" translate>app.plan</h1>
                </div>
            </div>
        </header>

        <span class="mode-context-trigger">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden">Show more/less</span>
        </span>
    </div>
