/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*

* HEADER...............header title and action styles
* FITLER BAR...............delete category, add category
* TAG LIST...............tag description and actions
*/




/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.manage-tags-header {
    @include header($blue-gray);

    .title {
        color: $white;
        margin-bottom: 30px;
    }
}

.tag-actions {
    @include span-columns(12);

    @include media($mobile-up) {
        @include span-columns(6);
        float: right;
    }

    .dropdown,
    .dropdown-container,
    .dropdown-toggle {
        @include fill-parent;

        @include media($mobile-up) {
            width: initial;
        }
    }
}





/*------------------------------------*\
    $FITLER BAR
\*------------------------------------*/

.filter-bar-wrapper {

    .filter-bar {

        li {

            &.add-tag {
                @include button($black);
                color: $white;
                float: right;
            }
        }
    }
}



/*------------------------------------*\
    $TAG LIST
\*------------------------------------*/

.tag-list .list-view__item {
    padding: 30px 30px 30px 55px;
}

.list-view-details--tag {
    @include span-columns(12);
    color: $base-font-color;

    .list-view-header {
        margin-bottom: 0;
    }
}
