<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
            <li><a href="/settings" translate>app.settings</a></li>
            <li><a href="/settings/surveys" translate>app.surveys</a></li>
        </ol>

        <h1 class="mode-context-title">Surveys</h1>
        <a ui-sref="settings.surveys.create">< <span translate="settings.send_crowdsourced"></span></a>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
    </div>
</div>

<main role="main">
    <div class="toolbar">
    </div>

    <div class="main-col">
        <form name="targetedSurvey">
            <div ng-show="targetedSurveysEnabled" class="form-sheet">
                <div class="form-sheet-summary">
                    <h2 class="form-sheet-title" translate="survey.targeted_survey.title"></h2>
                    <p translate="survey.targeted_survey.description"></p>
                </div>

                <div class="stepper">
                    <ng-form name="stepOne">
                        <div class="stepper-item" ng-class="{'active': isActiveStep(1), 'disabled': !isActiveStep(1)}">
                            <h2 class="stepper-heading" data-accordion-trigger>
                                <span class="stepper-badge">1</span>
                                <span translate="survey.targeted_survey.name_title"></span>
                            </h2>
                            <div
                                class="form-field required"
                                ng-class="{
                                        'error': stepOne.name.$invalid && targetedSurvey.stepOne.name.$dirty,
                                        'success': !targetedSurvey.stepOne.name.$invalid && targetedSurvey.stepOne.name.$dirty
                                        }"
                                ng-show="isActiveStep(1)"
                            >
                                <label for="name" translate="survey.targeted_survey.name">Survey name</label>
                                <p ng-show="stepOneWarning && !targetedSurvey.stepOne.name.$dirty" class="alert error">You must give your survey a name.</p>
                                <input type="text" name="name"  ng-minlength="2" ng-maxlength="255" ng-model="name" ng-required="true" placeholder="Name...">
                                <p
                                    class="alert error"
                                    ng-show="targetedSurvey.stepOne.name.$dirty"
                                    ng-repeat="(error, value) in targetedSurvey.stepOne.name.$error"
                                >
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                                    </svg>
                                    <span translate="{{'notify.form.validation.name.' + error}}"></span>
                                </p>
                            </div>
                            <div ng-hide="isActiveStep(1)">
                                <h2 class=form-label translate="survey.targeted_survey.name"></h2>
                                    <p>{{name}}</p>
                            </div>
                            <div class="form-field required" ng-show="isActiveStep(1)">
                                <label for="description">Survey description</label>
                                <p ng-show="stepOneWarning && !targetedSurvey.stepOne.description.$dirty" class="alert error">You must give your survey a description.</p>
                                <textarea name="description" ng-model="description" ng-required="true" placeholder="Describe your survey..."></textarea>
                                <div
                                    class="alert error"
                                    ng-show="targetedSurvey.stepOne.description.$dirty"
                                    ng-repeat="(error, value) in targetedSurvey.stepOne.description.$error"
                                >
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                                    </svg>
                                    <span translate="{{'notify.form.validation.description.' + error}}"></span>
                                </div>
                            </div>
                            <div ng-hide="isActiveStep(1)">
                                <h2 class=form-label translate="survey.targeted_survey.description_title"></h2>
                                <p>{{description}}</p>
                            </div>
                            <div ng-show="isActiveStep(1)">
                                <div class="form-field">
                                    <div class="button-group">
                                        <button class="button-alpha"  ng-click="completeStepOne()" formnovalidate translate="settings.continue">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>

                    <ng-form name="stepTwo">
                        <div class="stepper-item" ng-class="{'active': isActiveStep(2), 'disabled': !isActiveStep(2)}">
                            <h2 class="stepper-heading">
                                <span class="stepper-badge">2</span>
                                <span translate="survey.targeted_survey.audience_title"></span>
                            </h2>
                            <p ng-show="!isActiveStep(2) && finalNumbers.goodNumbers.length">Send this message to {{finalNumbers.goodNumbers.length}} <span ng-show="finalNumbers.goodNumbers.length > 1">people</span><span ng-show="finalNumbers.goodNumbers.length === 1">person</span> via SMS.</p>
                            <div ng-show="isActiveStep(2)">
                                <div class="form-field">
                                    <label for="country-code" class="required">
                                        Country code 
                                    </label>
                                    <p ng-show="stepTwoWarning && (selectedCountry === undefined || selectedCountry === null)" class="alert error">You must select a country.</p>
                                    <div class="custom-select">
                                        <select id="country-code" ng-options="country as (country.name + ' ' + country.dial_code) for country in countriesList" ng-model="selectedCountry"
                                        ><option selected value='' ng-required="true">Select Country</option></select>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label required>Phone numbers</label>
                                    <p ng-show="stepTwoWarning && !targetedSurvey.stepTwo.textBoxNumbers.$dirty && !finalNumbers.goodNumbers.length" class="alert error">You must enter at least 1 phone number.</p>
                                    <p class="alert error" ng-show="finalNumbers.repeatCount > 0">We removed a total of {{finalNumbers.repeatCount}} repeat number<span ng-show="finalNumbers.repeatCount > 1">s</span> from your list.</p>
                                    <div class="alert error" ng-show="finalNumbers.badNumberCount > 0">Of the {{finalNumbers.goodNumbers.length + finalNumbers.badNumberCount + finalNumbers.repeatCount}} phone numbers you entered, we noticed problems with {{finalNumbers.badNumberCount}} of them. Please correct the phone number<span ng-show="finalNumbers.badNumberCount > 1">s</span> below and continue. Numbers must match the selected country's formatting rules.</div>
                                    <p>Please type in the phone numbers you'd like to contact. You must place a comma between each phone number.</p>
                                    <textarea name="textBoxNumbers" ng-model="textBoxNumbers" ng-required="!finalNumbers.goodNumbers.length" placeholder="e.g. 1234567890, 9876543210..."></textarea>
                                    <div ng-show="finalNumbers.goodNumbers.length && finalNumbers.badNumberCount > 0">
                                        <label ng-if="finalNumbers.goodNumbers.length > 1">These {{finalNumbers.goodNumbers.length}} numbers look fine.</label>
                                        <label ng-if="finalNumbers.goodNumbers.length === 1">This {{finalNumbers.goodNumbers.length}} number looks fine.</label>
                                        <textarea readonly>{{finalNumbers.goodNumbersString.slice(-1) === ',' ? finalNumbers.goodNumbersString.slice(0, -1) : finalNumbers.goodNumbersString}}</textarea>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <div class="button-group">
                                          <button class="button-alpha" ng-click="completeStepTwo()" formnovalidate translate="settings.continue">Continue</button>
                                        <button class="button" ng-click="previousStep()" translate="nav.back">Back</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>

                    <ng-form name="stepThree">
                        <div class="stepper-item" ng-class="{'active': isActiveStep(3), 'disabled': !isActiveStep(3)}">
                            <h2 class="stepper-heading">
                            <span class="stepper-badge">3</span>
                            <span translate="survey.targeted_survey.add_questions_title"></span>
                            </h2>
                            <div class="alert" ng-show="isActiveStep(3)">
                                <p translate="survey.targeted_survey.add_questions_description"></p>
                            </div>
                            <div class="form-field" ng-show="isActiveStep(3)">
                                <ul id="listWithHandle" class="sortble-list">
                                    <li class="sortable-list-item" ng-repeat="question in stepThree.questions" data={{question.label}}>
                                        <span class="list-handle">
                                            <svg class="iconic">
                                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#grid-four-up"></use>
                                            </svg>
                                        </span>
                                        <a class="list-handle" ng-click="openQuestionModal(question)">{{question.label}}</a>
                                    </li>
                                </ul>
                                <a ng-click="openQuestionModal(null)" translate="survey.targeted_survey.add_another"></a>
                            </div>
                            <div ng-hide="isActiveStep(3)">
                                    <p ng-repeat="question in stepThree.questions">{{question.label}}</p>
                            </div>
                            <div ng-show="isActiveStep(3)">
                                <div class="form-field">
                                    <div class="button-group">
                                        <button class="button-alpha" ng-disabled="!isStepComplete(targetedSurvey.stepThree)" ng-click="completeStepThree()" translate="settings.continue"></button>
                                        <button class="button" ng-click="previousStep(); resetNumbers()">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>

                    <ng-form name="stepFour">
                        <div class="stepper-item" ng-class="{'active': isActiveStep(4), 'disabled': !isActiveStep(4)}">
                            <h2 class="stepper-heading">
                                <span class="stepper-badge">4</span>
                                <span translate="survey.targeted_survey.publish"></span>
                            </h2>
                            <div ng-show="isActiveStep(4)">
                                <div class="button-group">
                                    <button class="button-alpha"  ng-disabled="!isStepComplete(targetedSurvey.stepFour)" ng-click="publish()" translate="survey.targeted_survey.publish"></button>
                                    <button class="button" ng-click="previousStep()" translate="nav.back"></button>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </form>
    </div>
</main>
