<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
            <li><a href="/settings" translate>app.settings</a></li>
            <li><a href="/settings/surveys" translate>app.surveys</a></li>
        </ol>

        <h1 class="mode-context-title">Surveys</h1>
        <a ui-sref="settings.surveys.create">< <span translate="settings.send_crowdsourced"></span></a>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>


<main role="main">
    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat" ng-click="cancel()" translate>app.cancel</button>
            <button type="submit" class="button-alpha"  ng-if="!saving_survey" ng-click="saveSurvey()">{{save}}</button>
            <button type="submit" class="button-alpha"  disabled ng-if="saving_survey">{{saving}}
              <div class="loading">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
          </button>
        </div>
    </div>
    <div class="main-col">
        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">Create a new targeted survey</h2>
                <p>Send questions via SMS to a list of those phone numbers.</p>
            </div>
            <div class="stepper" data-accordion-items="stepper-item">
                <div class="stepper-item active">
                    <h2 class="stepper-heading" data-accordion-trigger>
                        <span class="stepper-badge">1</span>
                        Name your survey
                    </h2>

                    <div class="form-field">
                        <label>Survey name</label>
                        <input type="text">
                    </div>                    
                    <div class="form-field">
                        <label>Survey description</label>
                        <textarea></textarea>
                    </div>
                    <div class="form-field">
                    <div class="button-group">
                        <button class="button-alpha">Continue</button>
                        <button class="button">Back</button>
                    </div>
                </div>
            </div>

            <div class="stepper-item">
                <h2 class="stepper-heading" data-accordion-trigger>
                        <span class="stepper-badge">2</span>
                            Choose your audience                    
                    </h2>
                    <div class="form-field">
                        <label for="country-code">
                            Country code 
                        </label>
                        <div class="custom-select">
                            <select id="country-code">
                                <option selected>Kenya +254</option>
                                <option>Sweden +46</option>
                                <option>United States +1</option>
                                <option>France +33</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-field">
                        <label>Phone numbers</label>
                        <p>Please type in 10-digit phone numbers you'd like to contact. Place a comma between each phone number.</p>
                        <textarea></textarea>
                    </div>
                    <div class="form-field">
                        <div class="button-group">
                              <button class="button-alpha">Continue</button>
                        <button class="button">Back</button>
                    </div>
                </div>
            </div>
            <div class="stepper-item">
                <h2 class="stepper-heading" data-accordion-trigger>
                        <span class="stepper-badge">2</span>
                            Add your questions
                </h2>
                <div class="alert">
                    <p>We will send each question as a separate SMS. After someone responds, we will send the next question in the survey.</p>
                </div>
                <div class="form-field question">
                    <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <a href="#"> Hello Beneficiary. Did you attend the trainin session held at Ipsum Public School last week? Your reply is free. Please begin your reply with "Program Name:"</a>
                </div>
                <div class="form-field">
                    <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <a href="#"> Why did you choose to attend or not attend the training? Your reply is free. Please begin your reply with "Program Name:"</a>
                </div>
                <div class="form-field">
                    <a href="#">Add another question...</a>
                </div>
            </div>
        </div>
</main>
