<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
            <li><a href="/settings" translate>app.settings</a></li>
            <li><a href="/settings/surveys" translate>app.surveys</a></li>
        </ol>

        <h1 class="mode-context-title">Surveys</h1>
        <a ui-sref="settings.surveys.create">< <span translate="settings.send_crowdsourced"></span></a>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
    </div>
</div>

<main role="main">
    <div class="toolbar">
    </div>

    <div class="main-col">
        <form name="targetedSurvey">
            <div ng-show="targetedSurveysEnabled" class="form-sheet">
                <div class="form-sheet-summary">
                    <h2 class="form-sheet-title" translate="survey.targeted_survey.title"></h2>
                    <p translate="survey.targeted_survey.description"></p>
                </div>

                <div class="stepper">
                    <ng-form name="stepOne">
                        <div class="stepper-item" ng-class="{'active': isActiveStep(1), 'disabled': !isActiveStep(1)}">
                            <h2 class="stepper-heading" data-accordion-trigger>
                                <span class="stepper-badge">1</span>
                                <span translate="survey.targeted_survey.name_title"></span>
                            </h2>
                            <div
                                class="form-field required"
                                ng-class="{
                                        'error': stepOne.name.$invalid && targetedSurvey.stepOne.name.$dirty,
                                        'success': !targetedSurvey.stepOne.name.$invalid && targetedSurvey.stepOne.name.$dirty
                                        }"
                                ng-show="isActiveStep(1)"
                            >
                                <label for="name" translate>survey.targeted_survey.name</label>
                                <input type="text" name="name"  ng-minlength="2" ng-maxlength="255" ng-model="name" required placeholder="Name...">
                                <div
                                    class="alert error"
                                    ng-show="targetedSurvey.stepOne.name.$dirty"
                                    ng-repeat="(error, value) in targetedSurvey.stepOne.name.$error"
                                >
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                                    </svg>
                                    <span translate="{{'notify.form.validation.name.' + error}}"></span>
                                </div>
                            </div>
                            <div ng-hide="isActiveStep(1)">
                                <h2 class=form-label translate="survey.targeted_survey.name"></h2>
                                    <p>{{name}}</p>
                            </div>
                            <div class="form-field required" ng-show="isActiveStep(1)">
                                <label for="description">Survey description</label>
                                <textarea name="description" ng-model="description" required placeholder="Describe your survey..."></textarea>
                                <div
                                    class="alert error"
                                    ng-show="targetedSurvey.stepOne.description.$dirty"
                                    ng-repeat="(error, value) in targetedSurvey.stepOne.description.$error"
                                >
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#warning"></use>
                                    </svg>
                                    <span translate="{{'notify.form.validation.description.' + error}}"></span>
                                </div>
                            </div>
                            <div ng-hide="isActiveStep(1)">
                                <h2 class=form-label translate="survey.targeted_survey.description_title"></h2>
                                <p>{{description}}</p>
                            </div>
                            <div ng-show="isActiveStep(1)">
                                <div class="form-field">
                                    <div class="button-group">
                                        <button class="button-alpha" ng-disabled="!isStepComplete(targetedSurvey.stepOne)" ng-click="completeStepOne()" translate="settings.continue"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>

                    <ng-form name="stepTwo">
                        <div class="stepper-item" ng-class="{'active': isActiveStep(2), 'disabled': !isActiveStep(2)}">
                            <h2 class="stepper-heading">
                                <span class="stepper-badge">2</span>
                                <span translate="survey.targeted_survey.audience_title"></span>
                            </h2>
                            <div ng-show="isActiveStep(2)">
                                <div class="form-field">
                                    <div class="button-group">
                                          <button class="button-alpha" ng-disabled="!isStepComplete(targetedSurvey.stepTwo)" ng-click="completeStepTwo()" translate="settings.continue"></button>
                                        <button class="button" ng-click="previousStep()" translate="nav.back"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>

                    <ng-form name="stepThree">
                        <div class="stepper-item" ng-class="{'active': isActiveStep(3), 'disabled': !isActiveStep(3)}">
                            <h2 class="stepper-heading">
                            <span class="stepper-badge">3</span>
                            <span translate="survey.targeted_survey.add_questions_title"></span>
                            </h2>
                            <div class="alert" ng-show="isActiveStep(3)">
                                <p translate="survey.targeted_survey.add_questions_description"></p>
                            </div>
                            <div class="form-field" ng-show="isActiveStep(3)">
                                <ul id="listWithHandle" class="sortble-list">
                                    <li class="sortable-list-item" ng-repeat="question in stepThree.questions" data={{question.label}}>
                                        <span class="list-handle">
                                            <svg class="iconic">
                                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#grid-four-up"></use>
                                            </svg>
                                        </span>
                                        <a class="list-handle" ng-click="openQuestionModal(question)">{{question.label}}</a>
                                    </li>
                                </ul>
                                <a ng-click="openQuestionModal(null)" translate="survey.targeted_survey.add_another"></a>
                            </div>
                            <div ng-hide="isActiveStep(3)">
                                    <p ng-repeat="question in stepThree.questions">{{question.label}}</p>
                            </div>
                            <div ng-show="isActiveStep(3)">
                                <div class="form-field">
                                    <div class="button-group">
                                        <button class="button-alpha" ng-disabled="!isStepComplete(targetedSurvey.stepThree)" ng-click="completeStepThree()" translate="settings.continue"></button>
                                        <button class="button" ng-click="previousStep()" translate="nav.back"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>

                    <ng-form name="stepFour">
                        <div class="stepper-item" ng-class="{'active': isActiveStep(4), 'disabled': !isActiveStep(4)}">
                        <h2 class="stepper-heading">
                            <span class="stepper-badge">4</span>
                            <span translate="survey.targeted_survey.publish"></span>
                        </h2>
                        <div ng-show="isActiveStep(4)">
                            <div class="button-group">
                                <button class="button-alpha"  ng-disabled="!isStepComplete(targetedSurvey.stepFour)" ng-click="publish()" translate="survey.targeted_survey.publish"></button>
                                <button class="button" ng-click="previousStep()" translate="nav.back"></button>
                            </div>
                        </div>
                    </div>
                </ng-form>
                </div>
            </div>
        </form>
    </div>
</main>
