<div>
    <loading-dots button-class="'button-gamma button-flat'" label="'app.loading'" ng-if="crowdsourcedSurveyStatsByForm.length === 0"></loading-dots>
    <fieldset ng-if="crowdsourcedSurveyStatsByForm.length >= 1">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th translate="activity.all_sources">All Data Sources</th>
                    <th translate="activity.web_mobile">Web and Mobile</th>
                    <th translate="activity.email">Email</th>
                    <th translate="activity.sms">SMS</th>
                    <th translate="activity.twitter">Twitter</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="survey in crowdsourcedSurveyStatsByForm">
                    <td>{{survey.name}}</td>
                    <td>{{survey.total_by_data_source.all}}</td>
                    <td>{{survey.total_by_data_source.web}}</td>
                    <td>{{survey.total_by_data_source.email}}</td>
                    <td>{{survey.total_by_data_source.sms}}</td>
                    <td>{{survey.total_by_data_source.twitter}}</td>
                </tr>
                <tr>
                    <td>{{unstructuredStats.name}}</td>
                    <td>{{unstructuredStats.all}}</td>
                    <td>{{unstructuredStats.web}}</td>
                    <td>{{unstructuredStats.email}}</td>
                    <td>{{unstructuredStats.sms}}</td>
                    <td>{{unstructuredStats.twitter}}</td>
                </tr>
                <tr>
                    <td translate="activity.">All Crowdsourced Surveys</td>
                    <td>{{totalAll}}</td>
                    <td>{{totalWeb}}</td>
                    <td>{{totalEmail}}</td>
                    <td>{{totalSms}}</td>
                    <td>{{totalTwitter}}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <p translate="activity.no_crowdsourced" ng-if="noSurveys">You don't have any Crowdsourced Survey data to show.</p>
</div>