<div>
    <loading-dots button-class="'button-gamma button-flat'" label="'app.loading'" ng-if="!noSurveys && targetedSurveyStatsByForm.length === 0"></loading-dots>
    <fieldset ng-if="targetedSurveyStatsByForm.length >= 1">
        <table>
            <thead>
            <tr>
                <th></th>
                <th translate="activity.inbound">Inbound Response Messages</th>
                <th translate="activity.outbound">Outbound Surveying Messages</th>
                <th translate="activity.recipients">Unique Recipients of Targeted Survey</th>
                <th translate="activity.responders">Unique Responders to Targeted Survey</th>

            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="survey in targetedSurveyStatsByForm">
                <td>{{survey.name}}</td>
                <td>{{survey.total_responses}}</td>
                <td>{{survey.total_messages_sent}}</td>
                <td>{{survey.total_recipients}}</td>
                <td>{{survey.total_response_recipients}}</td>
            </tr>
            <tr>
                <td translate="activity.all_targeted">All Targeted Surveys</td>
                <td>{{totalResponses}}</td>
                <td>{{totalMessagesSent}}</td>
                <td>{{totalRecipients}}</td>
                <td>{{totalResponseRecipients}}</td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <p translate="activity.no_targeted" ng-if="noSurveys">You don't have any Targeted Survey data to show.</p>
</div>