<div class="page-content has-aside">

    <h1 translate>post.all_posts</h1>

    <div class="tabs-with-filter">
        <post-view-tabs active="map"></post-view-tabs>
    </div>

    <aside class="is-right" role="complementary">
        <post-view-filters half-width="true"></post-view-filters>
    </aside>

    <div class="main-col">

        <section class="map-view">
            <leaflet id="map" class="map" defaults="defaults" center="center" layers="layers" width="100%"></leaflet>
        </section>

    </div>

</div>
