<main class="page-content" ng-class="{ 'has-aside' : hasAside }">
    <ng-transclude></ng-transclude>

    <div class="tabs-with-filter">
        <post-view-tabs active="currentView" base-url="{{ baseUrl }}"></post-view-tabs>
        <post-view-filters half-width="false" ng-if="! hasAside" is-loading="isLoading"></post-view-filters>
    </div>

    <aside class="is-right" role="complementary" ng-if="hasAside">
        <post-view-filters half-width="true" is-loading="isLoading"></post-view-filters>
    </aside>

    <div class="main-col" ng-switch="currentView">

        <!-- Each of the views in sequence, which are shown or hidden by tabs -->

        <!-- map view -->
        <div ng-switch-when="map">
            <div ng-if="views['map']">
                <post-view-map is-loading="isLoading" filters="filters"></post-view-map>
            </div>
            <div ng-if="!views['map']">
                <post-view-unavailable view="Map"></post-view-unavailable>
            </div>
        </div>

        <!-- list view -->
        <div ng-switch-when="list">
            <div ng-if="views['list']">
                <post-view-list is-loading="isLoading" filters="filters"></post-view-list>
            </div>
            <div ng-if="!views['list']">
                <post-view-unavailable view="List"></post-view-unavailable>
            </div>
        </div>

        <!-- chart view -->
        <div ng-switch-when="chart">
            <div ng-if="views['chart']">
                <post-view-chart is-loading="isLoading" filters="filters"></post-view-chart>
            </div>
            <div ng-if="!views['chart']">
                <post-view-unavailable view="Chart"></post-view-unavailable>
            </div>
        </div>

        <!-- timeline view -->
        <div ng-switch-when="timeline">
            <div ng-if="views['timeline']">
                <post-view-timeline is-loading="isLoading" filters="filters"></post-view-timeline>
            </div>
            <div ng-if="!views['timeline']">
                <post-view-unavailable view="Timeline"></post-view-unavailable>
            </div>
        </div>

        <!-- default view -->
        <div ng-switch-default>
            <div ng-if="views['map']">
                <post-view-map is-loading="isLoading" filters="filters"></post-view-map>
            </div>
            <div ng-if="!views['map']">
                <post-view-unavailable view="Map"></post-view-unavailable>
            </div>
        </div>
    </div>

</main>
