<div ng-class="{'postcard-field': !standardTask, 'listing-item-primary': standardTask}">

    <div ng-if="attribute.input !== 'video'">
      <h2 class="form-label">
          <bdi>{{attribute.label}}</bdi>
      </h2>

      <div ng-if="attribute.input === 'tags'">
       <p>
        <svg class="iconic" style="margin-right:4px;">
            <use xlink:href="/img/iconic-sprite.svg#tag"></use>
        </svg>
          <bdi>{{value}}</bdi>
        </p>
      </div>

      <div ng-repeat="entry in value track by $index" ng-if="attribute.type === 'relation'">
          <a ui-sref="posts.detail.data({postId: entry.id})"><bdi>{{entry.title}}<bdi></a>
      </div>
     <div ng-repeat="entry in value track by $index" ng-if="attribute.type !== 'relation' && attribute.input !== 'tags'">
          <p ng-if="attribute.type !== 'markdown'" linkify><bdi>{{entry}}<bdi></p>
          <p ng-if="attribute.type === 'markdown'" markdown-to-html="entry"></p>
      </div>
    </div>

    <post-video-view
      ng-if="attribute.input === 'video'"
      label="{{attribute.label}}"
      video-url="value"></post-video-view>
</div>
