<div ng-class="{'postcard-field': !standardTask, 'listing-item-primary': standardTask}">
    <div ng-if="attribute.input !== 'video'">
      <h2 class="form-label">
          <bdi>{{attribute.label}}</bdi>
      </h2>
    </div>
    <!-- regular tags -->
    <div ng-if="attribute.input === 'tags' && confidenceScores.length == 0">
       <p>
        <svg class="iconic" style="margin-right:4px;">
            <use xlink:href="/img/iconic-sprite.svg#tag"></use>
        </svg>
          <bdi>{{value}}</bdi>
        </p>
    </div>
    <!-- end regular tags -->
    <!-- confidence score tags -->
    <div ng-if="attribute.input === 'tags' && confidenceScores.length > 0">
        <p ng-repeat="entry in value track by $index">
            <svg class="iconic" style="margin-right:4px;">
                <use xlink:href="/img/iconic-sprite.svg#tag"></use>
            </svg>
            <bdi><a title="{{entry.source}}" href="#" target="_blank">{{entry.tag_name}}<strong ng-if="entry.score != null"> {{entry.score}}% accurate</strong></a></bdi>
        </p>
    </div>
  <!-- end confidence score tags -->
  <div ng-repeat="entry in value track by $index" ng-if="attribute.type === 'relation'">
      <a ui-sref="posts.detail.data({postId: entry.id})"><bdi>{{entry.title}}</bdi></a>
      </div>
     <div ng-repeat="entry in value track by $index" ng-if="attribute.type !== 'relation' && attribute.input !== 'tags'">
          <p ng-if="attribute.type !== 'markdown'" linkify><bdi>{{entry}}</bdi></p>
          <p ng-if="attribute.type === 'markdown'" markdown-to-html="entry"></p>
      </div>
    </p>

    <post-video-view
      ng-if="attribute.input === 'video'"
      label="{{attribute.label}}"
      video-url="value"></post-video-view>
</div>