<div ng-class="{'postcard-field': !standardTask, 'listing-item-primary': standardTask}">
<div>
    <div ng-if="attribute.input !== 'video' && attribute.value">
      <h2 class="form-label" ng-if="attribute.input !== 'tags'">
          <bdi>{{attribute.translations[activeLanguage].label || attribute.label}}</bdi>
      </h2>

      <div ng-if="attribute.input === 'tags' && attribute.value.length > 0">
        <h2 class="form-label">
          <bdi>{{attribute.translations[activeLanguage].label || attribute.label}}</bdi>
      </h2>
       <post-category-value categories="attribute.value" active-language="activeLanguage"></post-category-value>
      </div>
      <div ng-if="attribute.type === 'relation'">
          <a ui-sref="posts.data.detail({postId: attribute.value.value.id})">{{attribute.value.value.title}}</a>
      </div>
      <div ng-if="isText(attribute.type)">
        <div ng-if="!attribute.value.translations[activeLanguage].value">
          <p ng-if="attribute.type !== 'markdown'" linkify><bdi>{{attribute.value.value}}<bdi></p>
          <p ng-if="attribute.type === 'markdown'" markdown-to-html="attribute.value.value"></p>
        </div>
        <div ng-if="attribute.value.translations[activeLanguage].value">
            <p ng-if="attribute.type !== 'markdown'" linkify><bdi>{{attribute.value.translations[activeLanguage].value}}<bdi></p>
            <p ng-if="attribute.type === 'markdown'" markdown-to-html="attribute.value.translations[activeLanguage].value"></p>
        </div>
      </div>
      <div ng-if="!isText() && attribute.input !=='checkbox' && attribute.input !=='relation' && attribute.input !== 'tags' &&  !attribute.value.translations[activeLanguage].value">
          <p linkify><bdi>{{attribute.value.value}}<bdi></p>
      </div>
      <div ng-if="!isText() && attribute.input !=='checkbox' && attribute.input !=='relation' && attribute.input !== 'tags' &&  attribute.value.translations[activeLanguage].value">
        <p linkify><bdi>{{attribute.value.translations[activeLanguage].value}}<bdi></p>
      </div>
      <div ng-if="attribute.input ==='checkbox' && !attribute.value.translations[activeLanguage].value " ng-repeat="entry in attribute.value.value track by $index">
        <p linkify><bdi>{{entry}}<bdi></p>
      </div>
      <div ng-if="attribute.input ==='checkbox' && attribute.value.translations[activeLanguage].value " ng-repeat="entry in attribute.value.translations[activeLanguage].value track by $index"  >
        <p linkify><bdi>{{entry}}<bdi></p>
      </div>
    </div>

    <post-video-view
      ng-if="attribute.input === 'video'"
      label="{{attribute.translations[activeLanguage].label || attribute.label}}"
      video-url="attribute.value.value"></post-video-view>
</div>
