<div class="listing card">
  <h3 class="listing-heading" translate>post.messages.title</h3>

    <div ng-repeat="message in messages track by message.id" class="listing-item">
      <div class="listing-item-primary">
        <div class="listing-item-image" ng-if="message.direction == 'outgoing'">
            <img src="http://www.gravatar.com/avatar/{{ message.user.gravatar || '00000000000000000000000000000000' }}?d=retro&s=40" class="avatar">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#arrow-thick-left"></use>
            </svg>
        </div>
      <h2 class="listing-item-title">

        <span ng-if="message.direction == 'incoming'">{{ ::contact.contact }}</span>
        <span ng-if="message.direction == 'outgoing' && message.user.realname">{{ ::message.user.realname }}</span>
      </h2>
      <!--
      <p>{{message.updated || message.created | date:'mediumDate'}} at {{message.updated || message.created | date:'shortTime'}}</p>
      -->
      <p class="listing-item-secondary">{{message.displayTime}}</p>
      <p>{{ message.message }}</p>
    </div>
  </div>

  <div class="listing-item">
    <div class="listing-item-primary">

      <uib-pagination ng-model="currentPage" items-per-page="itemsPerPage" total-items="totalItems" ng-change="pageChanged()" max-size="5" rotate="false"></pagination>

    </div>
  </div>

  <div class="listing-item">
    <div class="listing-item-primary">
      <h2 class="listing-item-title">
        <a href="" class="button button-flat" ng-click="reply()">
          <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
          </svg>
          {{ 'post.messages.send' | translate }}
        </a>
      </h2>
    </div>
  </div>


<!--
  <div class="listing-item">
    <div class="listing-item-primary">

    <form name="form" ng-submit="sendMessage()">
      <label class="input-label"
	     ng-class="{ 'error': form.reply.$invalid && form.reply.$dirty, 'success': !form.reply.$invalid && form.reply.$dirty }" for="reply"
	     translate>post.messages.reply</label>
      <div class="form-field" ng-class="{ 'error': form.reply.$invalid && form.reply.$dirty }">
	<textarea id="reply" name="reply" placeholder="Send message to {{ contact.contact }}" ng-model="reply_text" ng-minlength=2 ng-maxlength=140 required></textarea>
      </div>
      <button type="submit" class="button button-flat"
	      ng-submit="sendMessage()"
	      ng-disabled="form.reply.$invalid"
	      translate>post.messages.send</button>
    </form>

            <button type="submit" class="button button-flat"
	      ng-click="reply()"
	      ng-disabled="form.reply.$invalid"
	      translate>post.messages.send</button>
    </div>
  </div>
  -->
</div>


