<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Below variables are set in ushahidi-root-config.js -->
  <title></title>
  <meta name="description" content="">
  <meta name="apple-itunes-app" content="">
  <meta name="monetization" content="">

  <script src="/config.js"></script>
  
  <base href="/" />

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->

  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">
  
  <script type="systemjs-importmap" src="/importmap.json"></script>


  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

  <!-- BEGIN
    KLARO-TEST
    This is just added to check if Klaro would load at all
  --> 
  <script>
    window.klaroConfig = {
    version: 2,
    cookieName: 'klaro-i18n',
    elementID: 'klaro',
    lang: 'en',
    default: true,
    noNotice: true,
    poweredBy:
        'https://github.com/KIProtect/klaro/blob/master/dist/configs/i18n.js',
    translations: {
        // these values will overwrite the defaults. For a full list, have a look
        // at the `src/translations` directory of this repo:
        // https://github.com/KIProtect/klaro/tree/master/src/translations
        zz: {
            privacyPolicyUrl: '/#privacy',
        },
        de: {
            privacyPolicyUrl: '/#datenschutz',
            consentModal: {
                title: 'Dies ist der Titel des Zustimmungs-Dialogs',
                description:
                    'Dies ist die Beschreibung des Zustimmungs-Dialogs.',
                privacyPolicy: {
                    text:
                        'Dies ist der Text mit einem Link zu Ihrer {privacyPolicy}.',
                    name: 'Datenschutzerklärung (Name)',
                },
            },
            poweredBy: 'Konfiguration ansehen',
            ok: "Los geht's!",
            purposes: {
                analytics: 'Besucher-Statistiken',
                security: 'Sicherheit',
                livechat: 'Live-Chat',
                advertisting: 'Anzeigen von Werbung',
            },
            googleAnalytics: {
                description: 'Sammeln von Besucherstatistiken',
            },
            mouseflow: {
                description: 'Echtzeit-Benutzeranalyse',
            },
        },
        en: {
            consentModal: {
                title: 'This is the title of the consent modal',
                description: 'This is the description of the consent modal.',
                privacyPolicy: {
                    text: 'This is the text with a link to your {privacyPolicy}.',
                    name: 'privacy policy (the name)',
                },
            },
            poweredBy: 'view config',
            ok: 'Wohoo!',
            purposes: {
                analytics: 'Analytics',
                security: 'Security',
                livechat: 'Livechat',
            },
            googleAnalytics: {
                description: 'Collection of visitor statistics',
            },
            mouseflow: {
                description: 'Real-time user analytics',
            },
        },
    },
    services: [
        {
            name: 'googleAnalytics',
            title: 'Google Analytics',
            purposes: ['analytics'],
        },
        {
            name: 'mouseflow',
            title: 'Mouseflow',
            purposes: ['analytics'],
        },
    ],
};
  </script>
  <script 
  defer
  data-config="klaroConfig"
  type="application/javascript"
  src="https://cdn.kiprotect.com/klaro/v0.7/klaro.js">
</script>
<!-- END
    KLARO-TEST
    This is just added to check if Klaro would load at all
  -->

</head>
<body>
  <script>
    System.import('@ushahidi/root-config');
    System.import('@ushahidi/api');
    System.import('@ushahidi/utilities');
    System.import('@ushahidi/legacy-app');
  </script>

  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
