#bootstrap-loading {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;    
    margin-top: -16px;

    .loading {
        .line {
            border-radius: 15px;
            background-color: #ffc334;
            display: inline-block;
            height: 15px;
            width: 15px;
            margin: 5px;

            &:nth-last-child(1) {animation: loadingBounce .6s .1s linear infinite;}

            &:nth-last-child(2) {animation: loadingBounce .6s .2s linear infinite;}

            &:nth-last-child(3) {animation: loadingBounce .6s .3s linear infinite;}
        }
    }
}

@keyframes loadingBounce {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}

.hidden {
    display: none !important;
}

#bootstrap-error {
    .alert{
        .error {
            background-color: #fac4cb;
            border-left: 2px solid #b00f23;
            display: inline-block;
            font-style: italic;
            line-height: 1.4;
            padding: 8px 16px;
        }
    }
}
