<div class="form-field">
    <label class="hidden" translate="set.find_a_saved_search">Find a saved search</label>
    <div class="input-with-icon">
        <svg class="iconic">
            <use xlink:href="/img/iconic-sprite.svg#magnifying-glass"></use>
        </svg>
        <input
            type="search"
            ng-model="savedSearchQuery"
            placeholder="{{ 'set.find_a_saved_search' | translate }}" ng-keydown="searchSearches(savedSearchQuery)"
        >
    </div>
</div>
<div class="modal-body">

    <button role="button" ng-show="loading" type="button" class="button button-full-width button-beta">
        <div class="loading">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <span class="button-label" translate="app.loading">Loading</span>
    </button>

    <div ng-show="!loading" class="listing">
        <div class="listing-item" ng-repeat="search in searches">
            <div class="listing-item-primary">
                <h2 class="listing-item-title"><a href="#" ng-click="goToSearch(search)">{{search.name}}</a></h2>
            </div>
        </div>
    </div>
    <div ng-show="!loading && searches.length === 0">
        <span translate="app.no_results">&nbsp;</span>
    </div>
       <!--  <div class="modal-actions">
            <div class="form-field">
                <button type="button"
                    class="button-beta"
                    ng-click="createNewSearch()">
                    <svg class="iconic">
                        <use xlink:href="/img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label" translate="app.create_new">Create new</span>
                </button>
            </div>
        </div> -->
</div>

