@include global {
	input {
		+ p {
			margin-top: 0.5em;
		}
	}

	.input-with-icon {
		display: inline-block;
		position: relative;
		i {
			position: absolute;
			top: 1px;
			bottom: 1px;
			left: 1px;
			color: $black-base;
			border-right: 1px solid $grey-border;
			background-color: $grey-heading;
			padding: 7px 10px;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="search"] {
			padding-left: 45px;
		}
	}

	.input-with-button {
		display: inline-block;
		position: relative;
		button,
		[class*="button-"] {
			position: absolute;
			z-index: 2;
			top: 1px;
			right: 1px;
			bottom: 1px;
			color: $black-base;
			border-color: $grey-heading;
			border-left: 1px solid $grey-border;
			@include no-shadow;
			background-color: $grey-heading;
			padding: 7px 10px;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="search"] {
			padding-right: 45px;
		}
	}

	.select-with-icon {
		display: inline-block;
		position: relative;
		i {
			position: absolute;
			top: 1px;
			bottom: 3px;
			left: 1px;
			z-index: 2;
			color: $black-base;
			border-right: 1px solid $grey-border;
			background-color: $grey-heading;
			padding: 7px 10px;
		}
		.ui-select {
			.ui-select-selected {
				padding-left: 45px;
			}
		}
	}

	.tag-control {
		@include clearfix;
		@include equal-radius;
		border: 1px solid $grey-border;
		padding: 0.5em 1em;
		.tag {
			display: block;
			float: left;
			margin: 0.5em 1em 0.5em 0;
		}
		.tag-control-add {
			float: left;
			color: $black-base;
			text-decoration: none;
			background-color: $white-base;
		}
	}

	.form-field {
		@include clearfix;
		border-bottom: 1px dotted $grey-border;
		padding: 1em;
		label {
			float: left;
			width: 20%;
			padding-top: 7px;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="search"],
		textarea {
			float: left;
			width: 80%;
		}
	}

	.form-field-bar {
		@include clearfix;
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="search"],
		select,
		.ui-select {
			float: left;
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.system-message {
		@include equal-radius;
		color: $blue-text;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		border: 1px solid $blue-border;
		background-color: $blue-heading;
		padding: 1em;
		.system-message-close {
			float: right;
			margin-bottom: 0.5em;
			margin-left: 1em;
		}
		&.attention {
			color: $yellow-text;
			border-color: $yellow-border;
			background-color: $yellow-heading;
		}
		&.success {
			color: $green-text;
			border-color: $green-light-border;
			background-color: $green-light-heading;
		}
		&.warning {
			color: $red-text;
			border-color: $red-light-border;
			background-color: $red-heading;
		}
	}
}