@include global {
	.title-bar {
		@include clearfix;
		@include equal-radius;
		background-color: $blue-base;
		padding: 1em;
		.title-bar-title {
			color: $white-base;
			@include typeAlpha;
			font-size: 19px;
			font-size: 1.266666667rem;
			i {
				margin-right: 6px;
			}
			+ .title-bar-form {
				margin-top: 1em;
			}
		}
		&.mode-sets {
			background-color: $gold-base;
		}
	}

	.system-message {
		@include equal-radius;
		color: $blue-text;
		border: 1px solid $blue-border;
		background-color: $blue-heading;
		padding: 1em;
		.system-message-close {
			float: right;
			margin-bottom: 0.5em;
			margin-left: 1em;
			&:hover {
				cursor: pointer;
				color: $black-text;
			}
		}
		&.attention {
			color: $yellow-text;
			border-color: $yellow-border;
			background-color: $yellow-heading;
		}
		&.success {
			color: $green-text;
			border-color: $green-light-border;
			background-color: $green-light-heading;
		}
		&.warning {
			color: $red-text;
			border-color: $red-light-border;
			background-color: $red-heading;
		}
	}

	.stepper {
		li {
			@include equal-radius;
			border: 1px solid $grey-border;
			background-color: $white-base;
			padding: 8px;
			&.prev {
				padding-right: 9px;
				margin-right: 5px;
			}
			&.next {
				padding-left: 9px;
			}
			&:hover {
				cursor: pointer;
				background-color: $grey-heading;
			}
			.label {
				display: none;
			}
		}
	}

	.pagination {
		display: inline-block;
		font-weight: 500;
		text-align: center;
		@include equal-radius;
		border: 1px solid $grey-border;
		background-color: $white-base;
		li {
			display: inline-block;
			border-left: 1px solid $grey-border;
			padding: 7px 12px;
			margin-left: -4px;
			&.prev {
				border-color: transparent;
				margin-left: -2px;
			}
			&.next {
				padding-right: 10px;
			}
			&.active,
			&.active:hover {
				color: $white-base;
				background-color: $blue-base;
			}
			&:hover {
				cursor: pointer;
				background-color: $grey-heading;
			}
		}
	}

	.metadata {
		li,
		dt,
		dd {
			font-size: 14px;
			font-size: .933333333rem;
			margin-bottom: 0.5em;
			a:hover {
				color: $blue-text;
			}
			&.destruct,
			&.destruct a {
				color: $red-text;
				&:hover {
					color: $red-border;
				}
			}
			i {
				width: 20px;
				font-weight: normal;
			}
			ul,
			ol {
				display: inline-block;
				li {
					display: inline;
				}
			}
		}
		dt {
			display: inline-block;
			width: 150px;
			@include typeBeta;
		}
		dd {
			display: inline;
			&:after {
				content: '';
				display: block;
				margin-bottom: 0.5em;
			}
		}
	}

	.toggle {
		position: relative;
		.toggle-trigger {
			.show,
			.hide {
				position: absolute;
				top: 0;
				right: 0;
				&:hover {
					cursor: pointer;
				}
				&.show {
					display: none;
				}
			}
		}
		&.closed {
			.toggle-trigger {
				.show {display: inline-block;}
				.hide {display: none;}
			}
		}
	}
}

@include respond-min($bk3) {
	.title-bar {
		@include clearfix;
		padding: 0.5em 1em;
		.title-bar-title {
			float: left;
			margin-top: 5px;
			margin-bottom: 5px;
			 + .title-bar-form {
				float: right;
				margin-top: 0;
			 }
		}
	}
}