@include global {
	.panel {
		.panel-title {
			@include typeAlpha;
			font-size: 19px;
			font-size: 1.266666667rem;
			i {
				margin-right: 6px;
			}
		}
		.panel-total {
			display: inline-block;
			@include typeAlpha;
			font-size: 13px;
			font-size: .866666667rem;
			@include equal-radius(100%);
			color: $white-base;
			background-color: $gold-base;
			padding: 5px;
		}
		.panel-header {
			@include clearfix;
			min-height: 40px;
			@include radius($top-left: 3px, $top-right: 3px, $bottom-right: 0, $bottom-left: 0);
			border: 1px solid $grey-border;
			background-color: $grey-heading;
			padding: 0.5em 1em 0;
			.panel-title {
				display: inline-block;
				color: $black-title;
				margin-top: 8px;
				margin-right: 6px;
			}
			.panel-total {
				position: relative;
				top: -2px;
			}
			.form-field-bar {
				float: right;
				.ui-select,
				input {
					margin-bottom: 0.5em;
				}
			}
		}
		.panel-body {
			border-right: 1px solid $grey-border;
			border-left: 1px solid $grey-border;
			background-color: $white-base;
		}
		.panel-footer {
			@include radius($top-left: 0, $top-right: 0, $bottom-right: 3px, $bottom-left: 3px);
			border: 1px solid $grey-border;
			text-align: center;
			background-color: $grey-heading;
			padding: 0.85em 1em;
		}
		&[class*="mode-"] {
			.panel-header {
				.panel-title {
					color: $white-base;
				}
			}
		}
	}

	.overlay,
	.modal {
		.panel {
			.panel-header,
			.panel-footer {
				border-color: transparent;
				background-color: $blue-base;
			}
			.panel-header {
				.panel-title {
					color: $white-base;
				}
			}
		}
	}

	.overlay {
		.panel {
			&.mode-sets {
				.panel-header {
					background-color: $gold-base;
				}
			}
		}
	}

	.modal {
		.panel {
			.panel-header {
				.panel-title {
					@include typeBase;
					font-size: 15px;
					font-size: 1rem;
				}
			}
			.panel-body {
				@include radius($top-left: 0, $top-right: 0, $bottom-right: 3px, $bottom-left: 3px);
				border: 1px solid $grey-border;
			}
		}
	}
}