@include global {
	.post-item {
		.image-circle {
			float: left;
			width: 50px;
			@include equal-radius(100%);
		}
		.post-item-header,
		.post-item-body {
			padding-left: 50px;
			margin-left: 1em;
		}
		.post-item-header {
			.post-item-time {
				display: inline-block;
				font-size: 12px;
				font-size: .8rem;
				margin-top: 3px;
				margin-bottom: 0.5em;
			}
		}
		.post-item-body {
			textarea {
				width: 100%;
			}
			.form-field-bar {
				text-align: right;
				margin-top: 0.5em;
			}
		}
		.post-item-meta {
			float: right;
			width: 150px;
			margin-left: 1em;
		}
		.post-item-title {
			margin-bottom: 0.5em;
		}
		.post-item-description {
			font-size: 14px;
			font-size: .933333333rem;
		}
		.post-item-time {
			i {
				margin-right: 4px;
			}
		}
	}
}

@include respond-min($bk3) {
	.post-item {
		.post-item-header {
			.post-item-time {
				float: right;
			}
		}
	}
}