@include global {
	.tabs {
		.tabs-menu {
			color: $white-base;
			background-color: $blue-base;
			li {
				display: inline-block;
				border-left: 1px solid $black-base;
				padding: 12px 15px;
				&:first-child {
					border-color: transparent;
				}
				i {
					margin-right: 6px;
				}
				&:hover {
					cursor: pointer;
					background-color: $black-heading;
				}
				&.active {
					color: $black-title;
					background-color: $white-base;
				}
			}
		}
		.tabs-tab {
			margin-bottom: 2em;
			.tabs-tab-title {
				i {
					margin-right: 6px;
				}
			}
		}
		&.tabs-init {
			.tabs-menu {
				display: none;
			}
			.tabs-tab {
				margin-bottom: 0;
				.tabs-tab-title {
					color: $white-base;
					@include typeBeta;
					font-size: 17px;
					font-size: 1.133333333rem;
					border-bottom: 1px dotted $white-base;
					background-color: $blue-base;
					padding: 0.5em 1em;
					&:hover {
						cursor: pointer;
						background-color: $black-heading;
					}
				}
				.tabs-tab-content {
					display: none;
				}
			}
		}
		&.tabs-filter {
			border: 1px solid $grey-border;
			background-color: $grey-heading;
			padding: 0.75em 1em;
			> .ui-select {
				margin-bottom: 1em;
				.ui-select-selected {
					text-transform: uppercase;
				}
			}
			.tabs-menu {
				color: $black-text;
				background-color: transparent;
				li {
					color: $black-title;
					@include typeBeta;
					text-transform: uppercase;
					border-color: $grey-border;
					padding: 17px 20px;
					margin-left: -4px;
					&:first-child {
						border-color: transparent;
						margin-left: 0;
					}
					&:hover {
						background-color: $grey-base;
					}
					&.active {
						color: $white-base;
						background-color: $gold-base;
					}
				}
			}
			.form-field-bar {
				input[type="text"],
				input[type="email"],
				input[type="password"],
				input[type="search"],
				select,
				.ui-select {
					margin-bottom: 0.5em;
				}
			}
		}
	}
}

@include respond-min($bk3) {
	.tabs {
		&.tabs-init {
			.tabs-menu {
				display: block;
			}
			> .ui-select {
				display: none;
			}
			.tabs-tab {
				.tabs-tab-title,
				.tabs-tab-content {
					display: none;
				}
			}
		}
		&.tabs-filter {
			padding: 0;
			.form-field-bar {
				padding: 0.5em 0.5em 0;
			}
		}
	}
}

@include respond-min($bk4) {
	.tabs {
		&.tabs-filter {
			@include clearfix;
			.tabs-menu {
				display: inline-block;
				float: left;
			}
			.form-field-bar {
				float: right;
			}
		}
	}
}