.idea
.sass-cache
bower_components
node_modules
npm-debug.log
.gulpconfig.json
.env
test/coverage/
build/*
dist/*
.DS_Store
server/www/locales/
*.aes
*.swp
*.swo
buildargs.env
deployment.env
docker.env
vault.txt
*.swo
*.swp
*.svg
server/www/img/icons/
server/www/
app/locales/
package-lock.json
app/stats.html
