/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* FORM................user login form
*/


/*------------------------------------*\
    $FORM
\*------------------------------------*/

.user-login {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
