/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
* PLACEHOLDERS...............@extend placeholders
*/





/*------------------------------------*\
	$PLACEHOLDERS
\*------------------------------------*/

// Text
%underline {
	border-bottom: 2px dotted;
	padding-bottom: 3px;
}

%unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

%vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

%border-bottom {
	border-bottom: 1px solid $secondary-color;
}
