/*------------------------------------*\
        $CONTENTS
\*------------------------------------*/
/**
* VISIBILITY...............custom helper classes
*/





/*------------------------------------*\
        $VISIBILITY CLASSES
\*------------------------------------*/

.none {
    display: none;
    visibility: hidden;
}

/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
.visually-hidden {
    border:0 !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding:0 !important;
    position: absolute !important;
    width: 1px !important;
}

body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
    display: none !important;
}

.invisible {
    @include transition (opacity .3s ease-in-out);
    opacity: 0;
}

.visible {
    @include transition (opacity .3s ease-in-out);
    opacity: 1;
}

// Badges

[class*='badge--'] {
    display: table;
    margin: 0 10px 10px 0;

    $badge-font-size: $base-font-size * .85;

    font-size: $badge-font-size;
    font-weight: bold;
    padding: 2px 16px 5px;
    text-align: center;
}
