/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* MIXINS...............sass mixins
*/




/*------------------------------------*\
    $BLOCK GRID
\*------------------------------------*/

@mixin block-grid(
	$span: $columns of $container-columns,
	$inner-flex-padding: false
) {
	// ***unset** the $fg-gutter
	$fg-gutter: 0em;

	@include span-columns($span, block-collapse);

	@include omega(nth($span, 1) + n);


	@if ($inner-flex-padding == true) {
		@include pad( 0 #{flex-gutter()} );
	}

	// **reset** the $fg-gutter
	$fg-gutter: $gutter;
}





/*------------------------------------*\
    $TEXT COLOR ON BUTTONS
\*------------------------------------*/

@function set-text-color($color) {
    @if (lightness( $color ) > 50) {
        @return $base-font-color;
    }

    @else {
        @return $white;
    }
}





/*------------------------------------*\
    $HEADER AND HEADER TITLE
\*------------------------------------*/

// Header
@mixin header ($color) {
    @include span-columns(12);
    background-color: $color;
    padding: 30px;
    position: relative;
}





/*------------------------------------*\
    $BADGE
\*------------------------------------*/

@mixin badge($color) {
    background-color: $color;
    color: set-text-color($color);
}




/*------------------------------------*\
    $THUMBNAIL IMAGES
\*------------------------------------*/

@mixin thumbnail() {
    border: solid 4px #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    width: 100%;
}





/*------------------------------------*\
    $CONTENT WRAPPER
\*------------------------------------*/

@mixin wrapper() {
    background-color: $white;
    box-shadow: 0px 2px 4px -1px rgba(lighten($dark-gray, 30), 0.5);
    margin-bottom: 40px;
    clear: both;
}
