/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* SIDEBAR...............sidebar partial global styles
*/





/*------------------------------------*\
    $SIDEBAR
\*------------------------------------*/

.sidebar {
    margin-bottom: 40px;

    .sidebar-header {
        background-color: $blue-gray;
        padding: 20px;

        h5 {
            color: $white;
            text-align: left;
        }
    }

    .sidebar-body {
        @include span-columns(12);
        background-color: $white;
    }
}
