<fieldset overflow-toggle has-overflow="false" ng-model-options="{ updateOn: 'default' }">
    <label translate="global_filter.source">Source</label>

    <div class="form-field checkbox icon-input">
        <label>
            <input type="checkbox" ng-model="source" checklist-model="selectedSources" checklist-value="'email'" name="selectedSources">
            <span>Email</span>
        </label>
    </div>
    <div class="form-field checkbox icon-input">
        <label>
            <input type="checkbox" ng-model="source" checklist-model="selectedSources" checklist-value="'sms'" name="selectedSources">
            <span>SMS</span>
        </label>
    </div>
    <div class="form-field checkbox icon-input">
        <label>
            <input type="checkbox" ng-model="source" checklist-model="selectedSources" checklist-value="'twitter'" name="selectedSources">
            <span>Twitter</span>
        </label>
    </div>
    <div class="form-field checkbox icon-input">
        <label>
            <input type="checkbox" ng-model="source" checklist-model="selectedSources" checklist-value="'web'" name="selectedSources">
            <span>Web</span>
        </label>
    </div>
    <div class="form-field checkbox icon-input">
        <label>
            <input type="checkbox" ng-model="source" checklist-model="selectedSources" checklist-value="'whatsapp'" name="selectedSources">
            <span>WhatsApp</span>
        </label>
    </div>
    <div class="form-field checkbox icon-input">
        <label>
            <input type="checkbox" ng-model="source" checklist-model="selectedSources" checklist-value="'ussd'" name="selectedSources">
            <span>USSD</span>
        </label>
    </div>

    <span class="form-field-toggle">
        <svg class="iconic" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-bottom"></use>
        </svg>
        <span translate="nav.more">More</span>
    </span>
</fieldset>
