<fieldset ng-model-options="{ updateOn: 'default' }" ng-show="hasPermission('Manage Posts')">
    <label translate="global_filter.status">Status</label>

    <div class="form-field checkbox icon-input" ng-repeat="(index, status) in statuses">

      <label>
        <svg class="iconic" role="img" ng-if="status == 'published'">
          <use xlink:href="#globe"></use>
        </svg>
        <svg class="iconic" role="img" ng-if="status == 'draft'">
          <use xlink:href="#document"></use>
        </svg>
        <svg class="iconic" role="img" ng-if="status == 'archived'">
          <use xlink:href="#box"></use>
        </svg>

        <input type="checkbox" ng-model="status" checklist-model="selectedStatuses" checklist-value="status" name="selectedStatuses">
        <span translate="post.published" ng-if="status == 'published'">Published</span>
        <span translate="post.draft" ng-if="status == 'draft'">Under review</span>
        <span translate="post.archived" ng-if="status == 'archived'">Archive</span>

        </label>
    </div>
</fieldset>
