<div translate-language="{{activeLanguage}}">
    <div class="form-sheet">
        <div class="form-field">
            <label translate>category.editor.name</label>
            <div class="form-field framed">

                <em translate="translations.edit_default_text"></em><em> ({{('languages.' + defaultLanguage) | translate}}):</em>
                <p>{{category.tag}}</p>
        </div>
        <p translate="translations.add_translation">Add your translation below:</p>
            <input type="text" placeholder="{{'translations.edit_placeholder' | translate }}" ng-minlength="2" ng-maxlength="255" ng-model="category.translations[activeLanguage].tag" required>
        </div>
        <div class="form-field">
            <label translate>category.editor.description</label>
            <div class="form-field framed">
                <em translate="translations.edit_default_text"></em><em> ({{('languages.' + defaultLanguage) | translate}}):</em>
                <p>{{category.description}}</p>
            </div>
            <p translate="translations.add_translation">Add your translation below:</p>
            <textarea name="description" placeholder="{{'translations.edit_placeholder' | translate }}" data-min-rows='1' rows='1' ng-maxlength="150" ng-model="category.translations[activeLanguage].description"></textarea>
        </div>
    </div>
</div>
