/*------------------------------------*\
        $CONTENTS
\*------------------------------------*/
/**
 * SEARCH BAR...............search bar body
 * SEARCH FORM FIELDS...............search bar input and dropdown fields
 */




/* FIXME: review for unused sass */
/*------------------------------------*\
    $SEARCH BAR
\*------------------------------------*/

.search-bar-wrapper {
    @include span-columns(12);
    background: $dark-blue;
    box-shadow: 0px 1px 2px rgba(lighten($dark-gray, 30), 0.5);

    form {
        margin: 0;
    }

    input {
        margin: 0;
    }

    .tabset {
        @include span-columns(12);
        border: 0;
        margin: 0;

        li.tab .tab-content {
            padding: 5px 20px 20px;

            @include media($medium) {
                padding: 20px;
            }
        }

        .tab-heading > [class*='fa-'] {
            font-size: em(15);
            padding-left: 10px;
        }
    }
}






/*------------------------------------*\
    $SEARCH FORM FIELDS
\*------------------------------------*/

.search-title {
    background-color: transparent;
    border: none;
    color: white;
    display: block;
    font-size: em(20);
    font-weight: bold;
    line-height: 1;
    padding: 0 10px 20px;
    text-align: center;

    @include media($medium) {
        display: inline;
        font-size: em(17);
        text-align: left;
    }
}

.location-select {

    [class*='fa-'] {
        color: $success-color;
    }
}

.date-select {

    .wrapper {
        @include span-columns(12);
        position: relative;

        @include media($small) {
            @include span-columns(6);
        }

        @include media($medium) {
            @include span-columns(2);
        }

        input[type="text"] {
            padding-right: 30px;
        }

        [class*='fa-'] {
            color: $sub-base-font-color;
            padding: 13px 8px;
            position: absolute;
            right: 0;
            top: 0;
        }

        input {
            margin-bottom: 20px;
            padding: 11px;

            @include media($medium) {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    [class*='fa-'] {
        color: $success-color;
    }
}

.keyword-field {

    input {
        padding: 11px;
    }
}

.search-bar {
    @include span-columns(12);

    @include media($medium) {
        @include span-columns(6);
    }

    @include media($large) {
        @include span-columns(4);
    }
}

.search-field {
    @include span-columns(9);
    @include omega;

    @include media($small) {
        @include span-columns(10);
        @include omega;
    }
}

.search-bar {
    @include span-columns(12);

    div.search-and-submit {

        input[type=search] {
            padding: 10px;
        }

        button[type=submit] {
            @include button($success-color);
        }

    }
}
