@include global {
	.card {
		@include equal-radius;
		@include box-shadow($top: 1px, $left: 0, $blur: 4px, $spread: 0, $color: rgba(0,0,0,.2), $inset: false);
		background-color: $white-base;
		img.card-image {
			width: 100%;
		}
		.card-total {
			display: inline-block;
			color: $white-base;
			@include typeAlpha;
			font-size: 18px;
			font-size: 1.2rem;
			@include equal-radius(100%);
			border: 4px solid white;
			background-color: $gold-base;
			padding: 5px;
		}
		.card-title {
			color: $black-title;
			font-size: 20px;
			font-size: 1.333333333rem;
			+ .card-meta {
				margin-top: 6px;
			}
		}
		.card-meta {
			display: block;
			font-style: italic;
			font-size: 14px;
			font-size: .933333333rem;
			i {
				margin-right: 4px;
			}
		}
		.card-description {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
		.card-cta {
			@include typeAlpha;
			text-align: center;
			text-transform: uppercase;
			margin-top: 1em;
		}

		.card-header {
			position: relative;
			text-align: center;
			margin-bottom: 0.5em;
			.card-spot {
				position: absolute;
				right: 0;
				bottom: -19px;
				left: 0;
			}
		}

		.card-body {
			padding: 1em;
		}

		.card-footer {
			@include clearfix;
			text-align: center;
			background-color: $grey-heading;
			a {
				color: $black-text;
				&:hover {
					color: $black-title;
				}
			}
			li {
				display: inline-block;
				float: left;
				width: 25%;
				margin: 10px 0;
			}
		}
	}
}