@include global {
	.post-listing {
		.post-item {
			border-bottom: 1px solid $grey-border;
			padding: 1em;
			&:last-child {
				border-bottom: none;
			}
			.post-item-title {
				font-size: 17px;
				font-size: 1.133333333rem;
			}
		}
	}
}