<div ng-show="classVisible" class="modal" style="display:block;">
  <div class="modal-window">
    <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
      <svg class="iconic">
        <!-- TODO: fix icon to be settable -->
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
      </svg>
      <span class="hidden" translate>modal.button.close</span>
    </button>
    <ng-transclude></ng-transclude>
    <div class="modal-overlay"></div>
  </div>
</div>
