<div ng-class="{ 'modal-visible': classVisible, 'modal-detached': classDetached }">
    <div class="modal" style="display:block">
        <div class="modal-window">
          <button href="" class="button-beta button-flat modal-trigger modal-trigger-close" ng-click="closeModal('standard')">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/iconic-sprite.svg#x"></use>
            </svg>
           <span class="hidden">Close</span>
        </button>

            <h3 class="modal-title">{{ title | translate }}</h3>
 
            <ng-transclude></ng-transclude>
        </div>

        <div></div>
    </div>
</div>
