/*-------------------------------------------
    Colors
-------------------------------------------*/
$black-base: #313131;
$black-heading: #232323;
$black-title: #000000;
$black-text: #4A4A4A;

$white-base: #ffffff;

$grey-base: #f7f7f7;
$grey-heading: #f1f2f6;
$grey-border: #dddddd;

$blue-base: #323A45;
$blue-link: #3498DB;

$teal-base: #4dc1c1;

$green-base: #8fc266;

$gold-base: #ffc334;

$red-base: #fa6c60;
$red-border: #D0021B;

/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base: 15px;
$base-sm: $base/2;
$base-med: $base * 2;
$base-lg: $base * 3;
$base-xl: $base * 4;
$base-xxl: $base * 5;

$base-font-size: 15px;
$base-font-rem: 1.4rem;
$base-line-height: 2em;

/*-------------------------------------------
    Fonts
-------------------------------------------*/
@mixin typeBase {
	font-weight: 400;
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

@mixin typeAlpha {
	font-weight: 700;
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

@mixin typeBeta {
	font-weight: 400;
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

/*-------------------------------------------
    Grid Dimensions
-------------------------------------------*/
$grid-col: 46px;
$grid-col-wide: 138px;
$grid-num: 14;
$grid-gutter: 25px;
$grid-space: $grid-gutter/2;
$max-page-width: ($grid-col * 12) + ($grid-col-wide * 2) + ($grid-gutter * ($grid-num + 1));

$grid-col-small: 60px;
$grid-gutter-small: 16px;
$grid-space-small: $grid-gutter-small/2;

@mixin percent($col-num: 6, $gutter-num: 4, $context: $max-page-width) {
	width: percentage((($grid-col * $col-num)+($grid-gutter * $gutter-num))/$context);
}

$maxContentWidth: $max-page-width - ($grid-gutter * 2);

@mixin wrap {
	max-width: $maxContentWidth;
	margin: 0 auto;
}

// Breakpoints
$bk1: 320px;
$bk2: 400px;
$bk3: 650px;
$bk4: 1000px;


/*-------------------------------------------
   	 General Selectors
-------------------------------------------*/

@include global {
	* {
		margin: 0;
		padding: 0;
		line-height: 1;
	}

	html {
		// height: 100%;
		font-size: 93.75%;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		// Pattern Library
		&.pl {
			body {
		 		background-color: #fff;
		 		padding: 10px;
			}
		}
	}

	body {
		color: $black-text;
		@include typeBase;
	}

	p {
		line-height: 1.25;
	}


	ul {
		li {
			list-style-type: none;
		}
	}

  table {
  	border-collapse: collapse;
  }
  th { }
  td { }
  caption { }

  blockquote {
  	p { }
  	.who { }
  }


  /* inline */
  em {
  	font-style: italic;
  }

  strong {
  	font-weight: bold;
  }

	a {
		color: $blue-link;
		@include transition;
		&:hover,
		&:focus {
			cursor: pointer;
		}
	}

  img {
  	display: block;
  	margin-bottom: 1em;
  	max-width: 100%;
  	a & {
  		border: none;
  	}
  }

  code {
  	font: 12px/1 'Courier New', Courier, monospace;
  }

  sub, sup {
  	line-height: 0;
  }

  ::-moz-selection { background: #e4e64c; color: #000; text-shadow: none; }
  ::selection { background: #e4e64c; color: #000; text-shadow: none; }


  /*-------------------------------------------

     	Forms
  -------------------------------------------*/
  form {

  }

  fieldset {
  	border: none;
  }

  .form-heading {

  }

  label {

  }

  input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
    &:focus{

    }
  }

  input[type="radio"]{

  }

  input[type="checkbox"]{

  }

  input[type="submit"] {
    	&:hover, &:focus{

  		}
	}
}

@include respond-min($bk3) {
	html {
		// Pattern Library
		&.pl {
			body {
		 		padding: 10px 10%;
			}
		}
	}
}

@include respond-min($bk4) {
	html {
		// Pattern Library
		&.pl {
			body {
		 		padding: 10px 20%;
			}
		}
	}
}