/*-------------------------------------------
    Pattern Library presentational styles
-------------------------------------------*/
@include global {
	.pl-header,
	.pl-body {
		padding: 3.125%;
	}

	.pl-header {
		color: $white-base;
		background-color: $blue-base;
		h1 {
			margin-bottom: 10px;
		}
		h2 {
			@include typeBase;
			font-size: 15px;
			font-size: 1rem;
		}
	}

	.pl-index li {
		font-size: 20px;
		font-size: 1.333333333rem;
		margin-bottom: 1em;
		margin-left: 1.5em;
	}

	.pl-category {
		@include typeBase;
		font-size: 1em;
		text-transform: uppercase;
		border-bottom: 1px solid #dfdfdf;
		padding-bottom: 6px;
		margin-bottom: 1em;
	}

	.pl-pattern-title {
		color: $black-base;
		margin-bottom: 15px;
	}

	.pl-pattern-list li {
		font-size: 0.9em;
		margin-bottom: 1em;
	}

	.pl-color {
		padding: 3.125%;
		&[data-color="grey-base"] {
			background-color: $grey-base;
		}
		&[data-color="blue-base"] {
			color: $white-base;
			background-color: $blue-base;
		}
		&[data-color="teal-base"] {
			background-color: $teal-base;
		}
		&[data-color="green-base"] {
			background-color: $green-base;
		}
		&[data-color="gold-base"] {
			background-color: $gold-base;
		}
		&[data-color="red-base"] {
			background-color: $red-base;
		}
	}

	.pl-pattern {
		margin-bottom: 40px;
		.pl-pattern-docs {
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
}

@include respond-min($bk3) {
	.pl-header,
	.pl-body {
		padding-right: 20%;
		padding-left: 20%;
	}
}