/*-------------------------------------------
   	Global Combos
-------------------------------------------*/

article, aside, details, fig caption, figure, footer, header, group, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

.clearfix-alt { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

.noscroll {
	overflow: hidden;
}

.nodisplay {
	display: none;
}

@mixin clearfix {
  &:after {
	content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0;
	}
	.lt-ie8 & {
		zoom: 1;
	}
}

@mixin text-replace {
	display: block;
	text-indent: -9999px;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
}

@mixin content-box {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

@mixin border-box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin break-word {
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	// Non standard for webkit
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@mixin transition($trans: all, $time: 0.25s, $ease: ease-in-out) {
	-webkit-transition: $trans $time $ease;
	-moz-transition: $trans $time $ease;
	-ms-transition: $trans $time $ease;
	-o-transition: $trans $time $ease;
	transition: $trans $time $ease;
}

@mixin no-transition() {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

@mixin radius($top-left: 5px, $top-right: 5px, $bottom-right: 5px, $bottom-left: 5px) {
	-webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
  	border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin equal-radius($radius: 3px) {
	-webkit-border-radius: $radius;
  	border-radius: $radius;
}

@mixin box-shadow($top: 1px, $left: 0, $blur: 2px, $spread: 0, $color: rgba(0,0,0,.1), $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    box-shadow: inset $left $top $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    box-shadow: $left $top $blur $spread $color;
  }
}

@mixin no-shadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@mixin vert-gradient($color1: rgba(0,0,0,.85), $color2: rgba(0,0,0,0)) {
	background: $color1;
	background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2));
	background: -webkit-linear-gradient(top, $color1 0%,$color2 100%);
	background: -o-linear-gradient(top, $color1 0%,$color2 100%);
	background: -ms-linear-gradient(top, $color1 0%,$color2 100%);
	background: linear-gradient(to bottom, $color1 0%,$color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}

@mixin generated-image($top: 0, $left: 0, $bottom: auto, $right: auto, $width: 100%, $height: 100%, $color: transparent, $bg-pos-x: center, $bg-pos-y: center, $repeat: no-repeat) {
	content: '';
	position: absolute;
	display: block;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
	width: $width;
	height: $height;;
	background: $color $bg-pos-x $bg-pos-y $repeat;
}

@mixin rotate($deg: 90deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin transform-origin($origin: 50% 50% 0) {
	-webkit-transform-origin: $origin;
	-moz-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-o-transform-origin: $origin;
	transform-origin: $origin;
}

@mixin scale($size: 1) {
	-webkit-transform: scale($size);
	-moz-transform: scale($size);
	-ms-transform: scale($size);
	-o-transform: scale($size);
	transform: scale($size);
}

@mixin animation($aniname: name, $aniduration: 1s, $animtiming: ease, $animdelay: 0s, $animiteration: 1, $animdirection: normal) {
	-webkit-animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
	-moz-animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
	-ms-animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
	-o-animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
	animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
}

@mixin clear-content {
	&:after { background: none; }
	&:before { background: none; }
}

@mixin global {
	@if $no-mq {}
	@else {
		@content;
	}
}

@mixin respond-min($bk) {
	@if $no-mq {
		@content;
	}
	@else {
		@media screen and (min-width: $bk) {
			@content;
		}
	}
}

@mixin respond-max($bk) {
	@if $no-mq {}
	@else {
		@media screen and (max-width: $bk) {
			@content;
		}
	}
}

@mixin respond-range($bkmin,$bkmax) {
	@if $no-mq {}
	@else {
		@media screen and (min-width: $bkmin) and (max-width: $bkmax) {
			@content;
		}
	}
}

@mixin old-ie {
	@if $old-ie {
		@content;
	}
}

@mixin print-style {
	@if $print {
		@content;
	}
	@else {
		@media print {
			@content;
		}
	}
}
