@import '../../utils/style.scss';

:global(.layout-g) {
    .breadcrumbs {
        @extend .list-reset;
        padding: $lg-spacing;

        @include media($medium) {
            padding: $lg-spacing 0;
        }

        li {
            display: inline-block;
            @include direction;

            &:after {
                content: '\003e';
                color: $dark-gray;
                margin: 0 $tiny-spacing;
            }

            &:last-child {

                &:after {
                    content: none;
                }

            }

            a:visited {
                color: $link-blue;
            }
        }
    }
}
