<div class="mode-bar">
    <!-- mode bar -->
    <!-- PL JS -->
    <nav>
        <!-- main menu -->
        <ul class="deployment-menu">
            <li ng-class="{ active: active == view.name }">
                <a ng-href="{{baseUrl + view.name }}">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                    </svg>
                    Map
                </a>
            </li>
            <li>
                <a ng-href="{{baseUrl + view.name }}">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#list-rich"></use>
                    </svg>
                    Timeline
                </a>
            </li>
            <li>
                <a ng-href="{{baseUrl + view.name }}">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#pulse"></use>
                    </svg>
                    Activity
                </a>
            </li>
            <li>
                <a ng-href="{{baseUrl + view.name }}">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                    </svg>
                    Settings
                </a>
            </li>
            <li class="more-menu-trigger">
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    More
                </a>
            </li>
        </ul>
        <!-- main menu -->

        <ng-include src="'templates/partials/user-menu.html'"></ng-include>

    </nav>
    <!-- PL JS -->
    <!-- mode bar -->
</div>
