<div class="toolbar">
    <!-- toolbar -->

    <!-- floating action button -->
    <div class="fab" data-message="add-post">
        <button type="button" class="button-alpha button-fab" data-toggle="fab-options" ng-click="fabToggle = ! fabToggle"  ng-class="{ 'active': fabToggle }">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                <foreignObject>
                    <img class="icon" src="../../img/icons/png/plus-2x.png">
                </foreignObject>
            </svg>
            <span class="hidden">Add</span>
        </button>
        <ul class="fab-options" ng-show="fabToggle" ng-class="{ 'active': fabToggle }" data-toggle-animate="flex">
            <li>
                <a href="">
                    <span class="fab-action-type" style="background-color: red;">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#file"></use>
                        </svg>
                    </span>
                    <span class="bug">Getting Around</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fab-action-type" style="background-color: yellow;">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#file"></use>
                        </svg>
                    </span>
                    <span class="bug">Police encounters</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fab-action-type" style="background-color: blue;">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#file"></use>
                        </svg>
                    </span>
                    <span class="bug">Protester photos</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fab-action-type" style="background-color: green;">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#file"></use>
                        </svg>
                    </span>
                    <span class="bug">Official events</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- floating action button -->

    <!-- search filters -->
    <form role="search" class="searchbar" data-message="search">
        <div class="searchbar-input">
            <div class="form-field search">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Search">
            </div>
            <div class="searchbar-results dropdown-menu">
                <div class="form-field">
                    <button class="button-plain">
                        <span class="button-label">Search all posts for "<em>Polic</em>"</span>
                    </button>
                </div>

                <!-- IF: LOADING SEARCH SUGGESTIONS //
                <div class="loading">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                // END IF -->

                <div class="tool">
                    <h6 class="tool-heading">Suggestions</h6>
                    <dl class="dropdown-menu-body">
                        <dt class="list-item"><a href="#"><em>Polic</em>e</a></dt>
                    </dl>
                </div>

                <div class="tool">
                    <h6 class="tool-heading">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#star"></use>
                        </svg>
                        Saved
                    </h6>
                    <dl class="dropdown-menu-body">
                        <dt class="list-item"><a href="#">City <em>Polic</em>e Hearings</a></dt>
                        <dt class="list-item"><a href="#">Incidents involving <em>Polic</em>e</a></dt>
                    </dl>
                </div>
            </div>
        </div>

        <div class="searchbar-options">
            <a href="#" class="button" data-toggle="search-saved" ng-click="searchSavedToggle = ! searchSavedToggle" ng-class="{ 'active': searchSavedToggle }">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#star"></use>
                </svg>
                <span class="button-label hidden">Saved</span>
            </a>

            <a href="#" class="button searchbar-options-filter" data-toggle="search-filters" ng-click="searchFiltersToggle = ! searchFiltersToggle" ng-class="{ 'active': searchFiltersToggle }">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#bolt"></use>
                </svg>
                <span class="button-label">Filters</span>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                </svg>
            </a>
        </div>

        <div class="dropdown-menu" data-toggle-target="search-saved" ng-show="searchSavedToggle" ng-class="{ 'active': searchSavedToggle }" data-toggle-animate>

            <div class="form-field search">
                 <label>Find a saved search</label>
                 <input type="search" placeholder="Find a saved search...">
            </div>
            <dl class="dropdown-menu-body">
                <dt class="list-item"><a href="#">Actions on Congress Avenue</a></dt>

                <dt class="list-item"><a href="#">Photos</a></dt>

                <dt class="list-item"><a href="#">Reports on Wednesday</a></dt>

                <dt class="list-item"><a href="#">Assigned to me</a></dt>

                <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
                <dd>by <a href="">Robbie MacKay</a></dd>

                <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
                <dd>by <a href="">Robbie MacKay</a></dd>

                <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
                <dd>by <a href="">Robbie MacKay</a></dd>

                <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
                <dd>by <a href="">Robbie MacKay</a></dd>
            </dl>
            <div class="form-field">
                <button type="button" class="button-beta">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Create new</span>
                </button>
            </div>
        </div>

        <div class="dropdown-menu" data-toggle-target="search-filters" ng-show="searchFiltersToggle" ng-class="{ 'active': searchFiltersToggle }" data-toggle-animate>
            <div class="dropdown-menu-body">
                <fieldset>
                    <legend>Surveys</legend>

                    <div class="form-field checkbox">
                        <label for="traffic">
                            <input type="checkbox" name="traffic" value="Traffic" id="traffic"> Traffic
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="police-encounters">
                            <input type="checkbox" name="police-encounters" value="Police encounters" id="police-encounters"> Police encounters
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="protester-photos">
                            <input type="checkbox" name="protester-photos" value="Protester photos" id="protester-photos"> Protester photos
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="traffic">
                            <input type="checkbox" name="traffic" value="Traffic" id="traffic"> Traffic
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="police-encounters">
                            <input type="checkbox" name="police-encounters" value="Police encounters" id="police-encounters"> Police encounters
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="protester-photos">
                            <input type="checkbox" name="protester-photos" value="Protester photos" id="protester-photos"> Protester photos
                        </label>
                    </div>
                    <span class="form-field-toggle">More</span>
                </fieldset>

                <fieldset>
                    <legend>Categories</legend>

                    <div class="form-field checkbox">
                        <label for="speakers">
                            <input type="checkbox" name="speakers" value="Speakers" id="speakers"> Speakers
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="opposition">
                            <input type="checkbox" name="opposition" value="Opposition" id="opposition"> Opposition
                        </label>
                    </div>
                    <span class="form-field-toggle">More</span>
                </fieldset>

                <fieldset>
                    <legend>Who it's visible to</legend>

                    <div class="form-field radio">
                        <label for="everyone">
                            <input type="radio" name="everyone" value="Everyone" id="everyone"> Everyone
                        </label>
                    </div>
                    <div class="form-field radio">
                        <label for="members">
                            <input type="radio" name="members" value="Members" id="members"> Members
                        </label>
                    </div>
                    <div class="form-field radio">
                        <label for="administrators">
                            <input type="radio" name="administrators" value="Administrators" id="administrators"> Administrators
                        </label>
                    </div>
                    <span class="form-field-toggle">More</span>
                </fieldset>

                <fieldset>
                    <legend>Date range</legend>

                    <div class="form-field date">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                        </svg>
                        <label class="hidden">Start date</label>
                        <input type="date" pick-a-date="date" placeholder="Start Date" />
                        <span class="date-joiner">to</span>
                    </div>

                    <div class="form-field date">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                        </svg>
                        <label class="hidden">End date</label>
                        <input type="date" pick-a-date="date" placeholder="End date" />
                    </div>

                </fieldset>

            </div>

            <div class="form-field">
                <button type="button" class="button-link" disabled translate>app.cancel</button>
                <button type="button" class="button-alpha" disabled>Apply filters</button>
            </div>
        </div>
    </form>
    <!-- search filters -->

    <!-- share button -->
    <div class="button-group">
        <button type="button">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#share"></use>
            </svg>
            <span class="button-label">Share</span>
        </button>
    </div>
    <!-- share button -->

    <!-- toolbar -->
</div>
