/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
* HEADER...............title and save button
* BODY...............add to set ul & li styles
*/





/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.add-to-set-header {
    @include header($warning-color);

    .title {
        color: $black;
        margin-bottom: 20px;
    }

    .add-to-set-button {
        @include span-columns(12);
        @include button($success-color);

        @include media($small) {
            float: right;
            width: initial;
        }

        &:disabled {
            opacity: .7;
        }
    }
}


/*------------------------------------*\
    $BODY
\*------------------------------------*/

.set-list {
    @include span-columns(12);
    @extend %border-bottom;
    display: table-row;
    float: none;

    .set-list__item {
        @include span-columns(12);
        border-left: 8px solid transparent;
        display: block;
        margin: 0;
        padding: 30px;


        @include media($medium) {
            @include span-columns(6, table);
            float: none;
        }

        &:hover {
            cursor: pointer;
        }

        &.is-selected {
            background-color: $secondary-color;
            border-left: 8px solid $dark-blue;
        }
    }

    .header {
        margin-bottom: 20px;
        text-align: left;
    }
}
