<div ng-show="classVisible" class="modal" style="display: block;">
    <div class="modal-window" ng-style="{ top : modalOffset }">
        <button class="button-beta button-flat modal-trigger modal-trigger-close" ng-show="showCloseButton" ng-click="closeModal()">
            <svg class="iconic" role="img">
                <!-- TODO: fix icon to be settable -->
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use>
            </svg>
            <span class="hidden" translate>modal.button.close</span>
        </button>
        <h3 class="modal-title" ng-if="title">
            <svg class="iconic" role="img" ng-if="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}"></use>
            </svg>
            <span class="label">
                {{ title }}
            </span>
        </h3>
        <ng-transclude></ng-transclude>
    </div>
    <div class="modal-overlay"></div>
</div>
