<div>
    <div class="mode-context init" dropdown>

       <header class="mode-context-header">
           <ol class="breadcrumbs">
               <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
               <li><a href="/settings" translate>app.settings</a></li>
           </ol>
           <h1 class="mode-context-title" translate>app.import</h1>
       </header>

       <span class="mode-context-trigger" dropdown-toggle>
           <svg class="iconic">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
           </svg>
           <span class="label hidden" translate>app.show_more_less</span>
       </span>
   </div>

    <main role="main">

        <div class="main-col" importer-csv>
          <div class="alert" translate="feature_limits.view_unavailable" translate-values="{value: 'Bulk data import'}" ng-show="!csvEnabled">
          </div>
          <form name="upload" ng-show="csvEnabled">
            <div class="form-sheet">
                <div class="form-sheet-summary">
                    <h2 class="form-sheet-title" translate="data_import.csv">CSV</h2>
                    <p translate="data_import.import_explanation_csv">Import the data from a CSV spreadsheet into your deployment as posts belonging to a specific survey.</p>
                </div>

                <div class="stepper">

                    <div class="stepper-item" ng-class="{'complete': stepOneComplete, 'active' : isActiveStep(1), 'disabled' : !isActiveStep(1) }">
                        <h2 class="stepper-heading">
                            <span class="stepper-badge" ng-show="!stepOneComplete">1</span>
                            <span class="stepper-badge" ng-show="stepOneComplete">
                                <svg class="iconic">
                                    <use xlink:href="/img/iconic-sprite.svg#check"></use>
                                </svg>
                            </span>
                            <div translate="data_import.choose_csv_file">
                              Choose CSV file
                            </div>
                        </h2>
                        <div ng-show="!stepOneComplete">
                            <div class="form-field">
                              <file-upload container="fileContainer" required>
                              </file-upload>
                            </div>

                            <fieldset class="custom-fieldset init" dropdown auto-close="outsideClick">
                                <legend data-toggle="dropdown-menu" class="dropdown-trigger init" dropdown-toggle>
                                  <span class="legend-label">
                                    <span tranlate="data_import.import_to">
                                      Import to
                                    </span>
                                    <span class="custom-fieldset-value" ng-show="!selectedForm.id" translate="data_import.which_survey">
                                      which survey?
                                    </span>
                                    <span class="custom-fieldset-value">
                                      {{selectedForm.name}}
                                    </span>
                                  </span>
                                  <svg class="iconic chevron">
                                    <use xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
                                  </svg>
                                </legend>

                                <div class="dropdown-menu init" dropdown-menu>
                                  <div class="form-field radio" ng-repeat="form in forms" ng-class="{'checked' : isSelectedForm(form)}" ng-click="setSelectedForm(form)">
                                    <label for="import-to-{{form.id}}">
                                        <input id="import-to-{{form.id}}" name="import-to" type="radio">
                                        {{form.name}}
                                    </label>
                                  </div>
                                </div>
                            </fieldset>

                            <div class="form-field">
                                <button class="button-alpha" type="submit" ng-disabled="upload.$invalid" ng-click="completeStepOne()" translate="settings.continue">Continue</button>
                            </div>
                        </div>
                    </div>

                    <div class="stepper-item" ng-class="{'complete': stepTwoComplete, 'active' : isActiveStep(2), 'disabled' : !isActiveStep(2) }">
                        <h2 class="stepper-heading">
                            <span class="stepper-badge">2</span>
                            <span translate="data_import.configure_imported_posts">
                              Configure imported posts
                            </span>
                        </h2>
                        <div ng-show="stepOneComplete">
                          <ol class="metadata">
                              <li>{{fileContainer.file.name}}</li>
                              <li>{{selectedForm.name}}</li>
                          </ol>

                          <fieldset>
                              <legend translate="data_import.imported_posts_status">Imported posts should have their status...</legend>
                              <div class="form-field radio">
                                <label for="status-model-mark">
                                  <input type="radio" id="status-model-mark" name="status-model" ng-model="statusOption" value="mark_as"/>
                                  <span translate="data_import.marked_as">Marked as...</span>
                                </label>
                                <fieldset data-fieldgroup-target="status-model-mark" ng-show="isStatusOption('mark_as')">
                                  <legend class="hidden">Post status</legend>
                                    <div class="form-field radio icon-input" ng-class="{'checked' : isStatusSelected('published')}">
                                      <label for="status-published" ng-click="setStatus('published')">
                                          <svg class="iconic">
                                              <use xlink:href="/img/iconic-sprite.svg#globe"></use>
                                          </svg>
                                          <input type="radio" name="status" id="status-published" checked data-fieldgroup-toggle="status-model-mark-published" />
                                          <span translate="post.published">Published</span>
                                      </label>

                                      <!--// IF the chosen survey has tasks that must be completed before its posts can be published //-->
                                      <p ng-show="hasRequiredTask" class="alert" data-fieldgroup-target="status-model-mark-published">Your survey, <strong>{{selectedForm.name}}</strong>, includes tasks that typically must be completed for each post before they can be marked 'published.' During this import, all of your imported posts will have their tasks marked as 'incomplete', while still allowing their status to be marked as 'published.' If you edit any of these posts after they've been imported, however, you'll be asked to complete those tasks before re-publishing them.</p>
                                      <!--// END IF //-->
                                  </div>

                                  <div class="form-field radio icon-input" ng-class="{'checked' : isStatusSelected('draft')}">
                                      <label for="status-review" ng-click="setStatus('draft')">
                                          <svg class="iconic">
                                              <use xlink:href="/img/iconic-sprite.svg#lock-locked"></use>
                                          </svg>
                                          <input type="radio" name="status" id="status-review" />
                                          <span translate="post.draft">Under review</span>
                                      </label>
                                  </div>

                                  <div class="form-field radio icon-input" ng-class="{'checked' : isStatusSelected('archived')}">
                                      <label for="status-archive" ng-click="setStatus('archived')">
                                          <svg class="iconic">
                                              <use xlink:href="/img/iconic-sprite.svg#box"></use>
                                          </svg>
                                          <input type="radio" name="status" id="status-archive"/>
                                          <span translate="post.archived">Archived</span>
                                      </label>
                                  </div>
                                </fieldset>
                              </div>

                              <div class="form-field radio">
                                <label for="status-model-columns" >
                                    <input type="radio" id="status-model-columns" name="status-model" data-fieldgroup-toggle="status-model-columns" ng-model="statusOption" value="defined_column"/>
                                    <span translate="data_import.defined_column">Defined by a column in your CSV file...</span>
                                </label>

                                <div class="form-field select" data-fieldgroup-target="status-model-columns" ng-show="isStatusOption('defined_column')">
                                    <div class="custom-select">
                                      <select ng-model="selectedStatus">
                                         <option ng-repeat="column in csv.columns track by $index" value="{{$index}}" label="{{column}}" >
                                      </select>
                                    </div>
                                    <p><em translate="data_import.status_explanation">Ushahidi recognizes one of three post statuses: Published, Under review, and Archived. So be sure that each entry in the column you select has one of those three values.</em></p>

                                    <!--// IF the chosen survey has tasks that must be completed before its posts can be published //-->
                                    <p class="alert" data-fieldgroup-target="status-model-mark-published">Your survey, <strong>{{selectedForm.name}}</strong>, includes tasks that typically must be completed for each post before they can be marked 'published.' During this import, all of your imported posts will have their tasks marked as 'incomplete', even if their status is marked as 'published.' If you edit any of these posts after they've been imported, however, you'll be asked to complete those tasks before re-publishing them.</p>
                                    <!--// END IF //-->
                                </div>
                              </div>
                      </fieldset>

                      <fieldset>
                          <legend translate="data_import.choose_which_column">Choose which CSV column should be assigned to each survey field</legend>
                          <p translate="data_import.each_survey_field">Each of the survey's fields are listed below. Choose the column from your CSV file that you'd like to use to populate each of those fields.</p>

                          <table>
                              <thead>
                                  <tr>
                                      <th translate="data_import.survey_field">Survey field</th>
                                      <th translate="data_import.csv_column">CSV column</th>
                                  </tr>
                              </thead>

                              <tbody>
                                  <tr ng-repeat="attribute in selectedForm.attributes">
                                      <td><span ng-class="{'required' : attribute.required}">{{attribute.label}}</span></td>
                                      <td>
                                          <div class="custom-select">
                                              <select ng-model="maps_to[attribute.key]">
                                                <option selected="selected" value="" translate="data_import.leave_empty">
                                                    Leave empty
                                                </option>
                                                 <option ng-repeat="column in csv.columns track by $index" value="{{$index}}" label="{{column}}" >
                                              </select>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                            </table>

                          </fieldset>
                          <div class="form-field">
                            <button class="button-beta button-flat" data-accordion-trigger="0" ng-click="cancelImport()" translate="data_import.cancel_import">Cancel</button>
                            <button type="submit" class="button-alpha" ng-click="completeStepTwo(csv)" translate="data_import.finish_import">Finish import</button>
                          </div>
                        </div>
                    </div>

                </div>

            </div>
          </form>
        </div>
    </main>
</div>
