<p translate-values="{processed: processed, errors: errors}"translate="notify.data_import.csv_import_processed_errors">
  <strong>Your CSV import</strong> is complete. {{processed}} records imported, {{errors}} records failed.
</p>
<p translate-values="{from_name: form_name, filename: filename}" translate="notify.data_import.csv_import_success_info">
  The data from your CSV spreadsheet, <em>{{filename}}</em>, was successfully imported into your <a ui-sref="posts.data">{{form_name}}</a> survey.
</p>
<a class="button button-alpha" role="button" ng-click="close()" ng-href="/collections/{{collectionId}}" translate="notify.data_import.see_imported_posts">See imported posts</a>
<a ng-click="close()" ui-sref="settings.dataImport" class="button button-gamma button-flat" role="button" translate="data_import.import_another_csv">Import another CSV file</a>
<button class="button-flat message-trigger" ng-click="close()" translate="message.button.dismiss">
    Dismiss
</button>
