
<div>
	<layout-class layout="b"></layout-class>
    <div class="mode-context init" dropdown>
        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
                <li><a href="/settings" translate>app.settings</a></li>
            </ol>
            <h1 class="mode-context-title" translate>app.categories</h1>
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>
    </div>
    <main role="main">

        <!-- toolbar -->
        <div class="toolbar">
            <div class="fab">
                <a ng-href="/settings/categories/create" type="button" class="button button-alpha button-fab" ng-class="{'disabled': selectedCategories.length}">
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="hidden" translate>category.add_category</span>
                </a>
            </div>
        </div>
        <!-- end toolbar -->

        <div class="main-col">

            <div class="listing card" ng-class="{'toolbar-active': selectedCategories.length}">
                <div class="alert" ng-hide="categories.length">
                    <p ng-hide="categories.length"><em translate>empty.category</em></p>
                </div>

                <div id="category-{{category.id}}" class="listing-item" ng-repeat="category in categories" ng-class="{ 'warning': isToggled(category) }">

                    <div class="listing-item-select" ng-click="toggleCategory(category)">
                        <input type="checkbox" value="{{category.id}}" ng-checked="isToggled(category)"></input>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a ng-href="/settings/categories/{{category.id}}">{{category.tag}}</a></h2>
                    </div>
                    <div class="listing-item-secondary">
                        <button class="button-beta button-flat" ng-click="deleteCategory(category)">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="hidden">Delete</span>
                        </button>
                    </div>

                    <div id="category-{{child.id}}" class="listing-item" ng-repeat="child in category.children" ng-class="{ 'warning': isToggled(child) }" ng-click="toggleCategory(child)" ng-style="{'marginLeft': '50px', 'border': 'none'}" ng-if="category.children">

                        <div class="listing-item-select">
                            <input type="checkbox" value="{{child.id}}" ng-checked="isToggled(child)">
                        </div>

                        <div class="listing-item-primary">
                            <h2 class="listing-item-title"><a ng-href="/settings/categories/{{child.id}}">{{child.tag}}</a></h2>
                        </div>
                        <div class="listing-item-secondary">
                            <button class="button-beta button-flat" ng-click="deleteCategory(child)">
                                <svg class="iconic">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="hidden">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>

                <listing-toolbar entities="allCategories" selected-set="selectedCategories">
                    <button type="button" class="button-destructive" ng-disabled="!selectedCategories.length" ng-click="deleteCategories()">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="button-label hidden">nav.delete</span>
                    </button>
                </listing-toolbar>
            </div>

            <uib-pagination ng-model="currentPage" items-per-page="itemsPerPage" total-items="totalItems" ng-change="pageChanged()" max-size="5" boundary-links="false" rotate="false"></uib-pagination>

        </div>
    </main>
</div>
