<div>
    <div class="mode-context init" dropdown>
        <header class="mode-context-header">
            <ol class="breadcrumbs">
                <li><a href="/" ng-controller="navigation as nav">{{nav.site.name}}</a></li>
                <li><a href="/settings" translate>app.settings</a></li>
                <li><a href="/settings/categories" translate>app.categories</a></li>
            </ol>
            <h1 class="mode-context-title" ng-show="category.id" translate>app.edit_category</h1>
            <h1 class="mode-context-title" ng-show="!category.id" translate>app.add_category</h1>
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>
        <div class="mode-context-body">
        </div>
    </div>
    <main role="main">
        <!-- toolbar -->
        <div class="toolbar">
            <div class="button-group">
                <button type="button" class="button-flat" ng-click="cancel()" translate>app.cancel</button>
                <button class="button-alpha" type="button" ng-click="saveCategory(category)" type="submit" ng-disabled="form.$invalid" ng-if="!processing">
                {{save}}</button>
                <button type="submit" class="button-alpha"  disabled ng-if="processing">{{saving}}
                  <div class="loading">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </button>
            </div>
        </div>
        <!-- end toolbar -->

        <!-- start edit -->

        <div class="full-col">
          <form name="form">
            <div class="form-sheet">
              <!-- Title -->
              <div class="form-field title">
                <label class="hidden" translate="category.editor.name"></label>
                <input type="text" placeholder="{{'category.editor.name' | translate}}" ng-minlength="3" ng-maxlength="150" ng-model="category.tag" required>
              </div>
              <!-- Description -->
              <div class="form-field">
                <label translate>category.editor.description</label>
                <textarea name="description" data-min-rows='1' rows='1' ng-maxlength="150" ng-model="category.description"></textarea>
              </div>
              <!-- Parent/child-relations -->
              <fieldset
                class="custom-fieldset init"
                dropdown
                ng-show="!isParent"
              >
                <legend
                  class="dropdown-trigger init active"
                  data-toggle="dropdown-menu"
                  dropdown-toggle
                >
                  <span class="legend-label">This category is a child to
                    <span class="custom-fieldset-value">{{getParentName()}}</span>
                  </span>
                  <svg class="iconic chevron">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#chevron-bottom"></use>
                  </svg>
                </legend>
                <div class="dropdown-menu init" dropdown-menu>
                  <div class="form-field radio">
                      <label for="parent_label-nothing">
                          <input
                            type="radio"
                            name="parent_label"
                            id="parent_label-nothing"
                            ng-value="null"
                            ng-checked="category.parent_id === null"
                            ng-model="category.parent_id"
                            />
                          Nothing
                      </label>
                  </div>

                  <div class="form-field radio" ng-repeat="parent in parents">
                      <label for="parent_label-{{parent.id}}">
                          <input
                            type="radio"
                            name="parent_label"
                            id="parent_label-{{parent.id}}"
                            ng-checked="parent.id === category.parent_id"
                            ng-value="parent.id"
                            ng-model="category.parent_id"
                          />
                          {{parent.tag}}
                      </label>
                  </div>
                </div>
              </fieldset>
              <!-- Who can see and add -->
              <role-selector model="category" title="'Who can see this category'"></role-selector>
            </div>
          </form>
          <div class="form-sheet" ng-show="category.id">
             <div class="form-sheet-summary">
                 <h3 class="form-sheet-title" translate>category.delete_this_category</h3>
             </div>

             <div class="form-field">
                 <p translate>category.delete_category_desc</p>

                 <button class="button-destructive" ng-click="deleteCategory(category)">
                     <svg class="iconic">
                         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/iconic-sprite.svg#trash"></use>
                     </svg>
                     <span class="button-label" translate>category.delete_category</span>
                 </button>
             </div>

          </div>
        </div>
    </main>
</div>
