<main class="page-content">
    <div class="main-col">
        <h1 class="inline" translate>nav.login</h1>
        <div class="divider padded"></div>
        <form class="panel-body">
            <div class="alert error login-failed" role="alert" ng-show="failed" translate>notify.login.failed</div>
            <label class="input-label" for="email" translate>user.email</label>
            <input type="text" class="form-control" id="email"
                val="email"
                ng-model="email"
                ng-disabled="processing"
                required>

            <label class="input-label" for="password" translate>user.password</label>
            <input id="password" type="password" class="form-control"
                val="password"
                ng-model="password"
                ng-disabled="processing"
                required>

            <p><a ng-href="/forgotpassword" translate>nav.forgottenyourpassword</a></p>

            <button type="submit" class="btn btn-primary"
                ng-click="loginSubmit()"
                ng-disabled="form.$invalid || processing">
                    <i class="fa fa-cog fa-spin" ng-show="processing"></i>
                    <span translate>nav.login</span>
            </button>
        </form>
    <div class="main-col">
</main>
