<main class="page-content">
    <div class="main-col">
        <h1 translate>nav.forgottenyourpassword</h1>
        <div class="divider padded"></div>
        <form class="panel-body" name="form">
            <p class="alert error register-failed" ng-show="failed" translate>notify.passwordreset.failed</p>
            <p translate>user.passwordreset_instructions</p>
            <div>
                <label for="email"
                    class="input-label"
                    translate>
                    user.email
                </label>
                <input type="text" id="email" name="email"
                    ng-model="email"
                    ng-disabled="processing"
                    required>
            </div>
            <p>
                <button type="submit" class="button-primary"
                    ng-click="registerSubmit()"
                    ng-disabled="form.$invalid || processing">
                        <i class="fa fa-cog fa-spin" ng-show="processing"></i>
                        <span translate>nav.resetmypassword</span>
                </button>
            </p>
        </form>
    </div>
</main>
