<main class="page-content">
    <div class="main-col">
        <h1 translate>nav.resetpassword</h1>
        <div class="divider padded"></div>
        <form class="panel-body" name="form">
            <p class="alert error register-failed" ng-show="failed" translate>notify.passwordreset.failed</p>
            <div ng-show="! hasToken">
                <p translate>user.passwordreset_confirm_instructions</p>
                <label for="token"
                    class="input-label"
                    translate>
                    user.token
                </label>
                <input type="text" id="token" name="token"
                    ng-model="token"
                    ng-disabled="processing"
                    required>
            </div>
            <div>
                <label class="input-label" for="password" ng-class="{ 'success': !form.password.$invalid && form.password.$dirty, 'error' : form.password.$invalid && form.password.$dirty}" translate>user.new_password</label>
                <input id="password" type="password" name="password"
                    ng-class="{'error': form.password.$invalid && form.password.$dirty}"
                    ng-minlength="7"
                    ng-maxlength="72"
                    ng-model="password"
                    ng-disabled="processing"
                    required>
                <p ng-repeat="(error, value) in form.password.$error"
                    ng-show="form.password.$dirty"
                    class="alert error"
                    translate="{{'user.valid.password.' + error}}"></p>

            </div>
            <p>
                <button type="submit" class="button-primary"
                    ng-click="registerSubmit()"
                    ng-disabled="form.$invalid || processing">
                        <i class="fa fa-cog fa-spin" ng-show="processing"></i>
                        <span translate>nav.resetpassword</span>
                </button>
            </p>
        </form>
    </div>
</main>
