<ng-include src=" 'templates/partials/search-bar.html' "></ng-include>

<div class="container">
    <div class="main-content  post-list">
        <div class="list-filter">
                <div class="list-filter-info">
                    <h5 class="title" translate translate-value-from="1" translate-value-to="3" translate-value-total="10">post.showing_x_to_y_from_n_posts</h5>
                </div> <!-- end .list-filter-info -->

                <div class="list-filter-wrapper">
                    <div class="list-filter-count">
                        <div class="filter-count-select">
                            <label class="visually-hidden" for="filter-count" translate>post.number_of_posts_shown</label>
                            <select id="filter-count" class="filter-count  js-filter-count">
                                <option selected>3</option>
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                            </select>
                        </div>
                    </div> <!-- end .list-filter-count -->

                    <div class="list-filter-sort">
                        <div class="filter-sort-select">
                            <label class="visually-hidden" for="filter-sort" translate>post.filter_sort.sort_posts_by</label>
                            <select id="filter-sort" class="filter-sort  js-filter-sort">
                                <option translate>post.filter_sort.properties.filter</option>
                                <option translate>post.filter_sort.properties.created</option>
                                <option translate>post.filter_sort.properties.updated</option>
                                <option translate>post.filter_sort.properties.title_a_to_z</option>
                            </select>
                        </div>
                    </div> <!-- end .list-filter-sort -->
                </div>

        </div> <!-- end .list-filter -->

        <div class="wrapper">

            <post-preview ng-repeat="post in posts" post="post"></post-preview>

        </div> <!-- end .wrapper -->

        <!-- Pagination -->
        <ng-include src=" 'templates/partials/pagination.html' "></ng-include>

    </div> <!-- end .main -->

    <div class="sidebar  sidebar--home">
        <ul class="tabset">
            <li class="tab" active>
                <a href="#" class="tab-heading" translate><i class="fa  fa-thumb-tack"></i>post.side_menu.how_to_post.how_to_post</a>
                <div class="tab-content">
                    <div class="tab-content-sms">
                        <div class="tab-content__icon">
                            <i class="fa  fa-mobile-phone  sms"></i>
                        </div>

                        <div class="tab-content__description">
                            <p>Laborum exercitation in fugiat ullamco sunt amet voluptate.</p>
                            <span class="post-origin" translate>post.side_menu.how_to_post.channels.via_sms</span>
                        </div>
                    </div> <!-- end .tab-content-sms -->

                    <div class="tab-content-email">
                        <div class="tab-content__icon">
                            <i class="fa  fa-envelope-o  email"></i>
                        </div>

                        <div class="tab-content__description">
                            <p>Laborum exercitation in fugiat ullamco sunt amet voluptate.</p>
                            <span class="post-origin" translate>post.side_menu.how_to_post.channels.via_email</span>
                        </div>
                    </div> <!-- end .tab-content-email -->

                    <div class="tab-content-deployment">
                        <div class="tab-content__icon">
                            <i class="fa  fa-plus  deployment"></i>
                        </div>

                        <div class="tab-content__description">
                            <p>Laborum exercitation in fugiat ullamco sunt amet voluptate.</p>
                            <span class="post-origin" translate>post.side_menu.how_to_post.channels.via_this_deployment</span>
                        </div>
                    </div> <!-- end .tab-content-deployment -->
                </div>
            </li>

            <li class="tab">
                <a href="#" class="tab-heading" translate><i class="fa  fa-info-circle"></i>post.side_menu.about</a>
                <div class="tab-content">
                    About stuff
                </div>
            </li>

            <li class="tab">
                <a href="#" class="tab-heading" translate><i class="fa  fa-tags"></i>post.side_menu.tags</a>
                <div class="tab-content">
                    Tags go here
                </div>
            </li>
        </ul> <!-- end .accordion-tabs -->
    </div> <!-- end .sidebar -->
</div> <!-- end .container -->
