<div class="map-controls-wrapper list-view">
    <post-view-tabs active="list"></post-view-tabs>
</div>
<div class="panel panel-default">

    <ul class="list-group">
        <post-preview ng-repeat="post in posts" post="post"></post-preview>
    </ul>

    <div class="panel-footer">
        <pagination ng-model="currentPage" items-per-page="itemsPerPage" total-items="totalItems" ng-change="pageChanged()" max-size="5" boundary-links="true" rotate="false"></pagination>

        <div class="dropdown btn-group pull-right filter-count flip" role="group" dropdown>
            <button class="btn dropdown-toggle btn-default" type="button" aria-expanded="false" dropdown-toggle>
                <span translate translate-values="{ count: itemsPerPage }">post.per_page</span>
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="count in itemsPerPageOptions">
                    <a href="javascript:;" ng-click="itemsPerPageChanged(count)">
                        <i class="fa" ng-class="{ 'fa-circle-o': (itemsPerPage !== count), 'fa-dot-circle-o': (itemsPerPage === count) }"></i>
                        {{count}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
