<main class="page-content">
    <div class="main-col">
        <h1 translate>nav.registration</h1>
        <div class="divider padded"></div>
        <form class="panel-body" name="form">
            <p class="alert error register-failed" ng-show="failed" translate>notify.register.failed</p>
            <div>
                <label for="email" class="input-label" ng-class="{ 'success': !form.email.$invalid && form.email.$dirty, 'error' : form.email.$invalid && form.email.$dirty}" translate>user.email</label>
                <input type="email" id="email" name="email"
                    ng-class="{'error': form.email.$invalid && form.email.$dirty}"
                    ng-model="email"
                    ng-disabled="processing"
                    ng-maxlength="150"
                    required>
                <p ng-repeat="(error, value) in form.email.$error"
                    ng-show="form.email.$dirty"
                    class="alert error"
                    translate="{{'user.valid.email.' + error}}"></p>

            </div>
            <div>
                <label class="input-label" for="password" ng-class="{ 'success': !form.password.$invalid && form.password.$dirty, 'error' : form.password.$invalid && form.password.$dirty}" translate>user.password</label>
                <input id="password" type="password" name="password"
                    ng-class="{'error': form.password.$invalid && form.password.$dirty}"
                    ng-minlength="7"
                    ng-maxlength="72"
                    ng-model="password"
                    ng-disabled="processing"
                    required>
                <p ng-repeat="(error, value) in form.password.$error"
                    ng-show="form.password.$dirty"
                    class="alert error"
                    translate="{{'user.valid.password.' + error}}"></p>

            </div>
            <p>
                <button type="submit" class="button-primary"
                    ng-click="registerSubmit()"
                    ng-disabled="form.$invalid || processing">
                        <i class="fa fa-cog fa-spin" ng-show="processing"></i>
                        <span translate>nav.register</span>
                </button>
            </p>
        </form>
    </div>
</main>
