<div class="container  container--signin">
    <div class="wrapper">
        <div class="container">
            <article class="form-wrapper">
                <form name="form" novalidate>
                    <h3 class="header" translate>user.login</h3>
                    <input ng-model="username" type="text" val="username" ng-disabled="signing_in" placeholder="username" required>
                    <input ng-model="password" type="password" val="password" ng-disabled="signing_in" placeholder="password" required>
                    <button type="submit" ng-click="signinSubmit()" ng-disabled="form.$invalid || signing_in">
                        <i class="fa fa-cog fa-spin" ng-show="signing_in"></i>
                        <span translate>user.login</span>
                    </button>
                </form>
            </article>
        </div> <!-- end .container -->
    </div> <!-- end .wrapper -->
</div> <!-- end .container -->
