<div class="container  container--signin">
    <div class="wrapper">
        <article class="form-wrapper">
            <form>
                <h3 class="header">Sign in</h3>
                <input ng-model="username" type="text" val="username" placeholder="username" value="daniel">
                <input ng-model="password" type="password" val="password" placeholder="password" value="password">
                <button type="submit" ng-click="signinSubmit()">Sign in</button>
            </form>
        </article>
    </div> <!-- end .wrapper -->
</div> <!-- end .container -->
