<div class="container  container--signin">
    <div class="wrapper">
        <div class="container">
            <article class="form-wrapper">
                <form>
                    <h3 class="header" translate>user.login</h3>
                    <input ng-model="username" type="text" val="username" placeholder="username" value="daniel">
                    <input ng-model="password" type="password" val="password" placeholder="password" value="password">
                    <button type="submit" ng-click="signinSubmit()" translate>user.login</button>
                </form>
            </article>
        </div> <!-- end .container -->
    </div> <!-- end .wrapper -->
</div> <!-- end .container -->
