<div class="form-editor">
    <h1 class="inline" translate translate-values="{ step : form.stages[currentStageId].label }">form.edit_post_step</h1>

    <a class="cta settings" ng-click="openSettings()" translate>form.post_step_settings</a>

    <modal visible="isSettingsOpen">
        <h3 class="settings" translate>form.post_step_settings</h3>
        <div class="divider padded"></div>

        <div class="form-info">
            <label class="input-label" translate>form.step_name</label>
            <input type="text" ng-model="form.stages[currentStageId].label">
            <label>
                <input type="checkbox" ng-model="form.stages[currentStageId].required">
                <span translate>form.step_required</span>
            </label>
        </div>

        <div class="modal-submit">
            <button type="button" class="button-primary" ng-click="saveStageSettings(form.stages[currentStageId])" translate>form.save_post_step</button>
        </div>
    </modal>

    <div class="divider white"></div>

    <div class="progress">
       <a ng-href="settings/forms/{{form.id}}/stages/{{stage.id}}" ng-class="{ active : stage.id == currentStageId }" ng-repeat="stage in form.stages | orderBy:'priority'">{{stage.label}}</a>
       <a ng-click="openNewStage()" class="add-new"><span translate>form.add_new_step</span></a>
    </div>

    <div class="divider white"></div>

    <div class="post-type-fields">
        <div class="post-type-field settings-listing" ng-repeat="attribute in form.attributes track by $index" dropdown auto-close="disabled" is-open="editIsOpen[$index]">
            <div class="upvote-downvote">
                <button type="button" class="button-secondary icon-only alt upvote" ng-click="changePriority(attribute, -1)"></button>
                <button type="button" class="button-secondary icon-only alt downvote" ng-click="changePriority(attribute, +1)"></button>
            </div>
            <h3><a ng-model="attribute.label" dropdown-toggle>{{ attribute.label }}</a></h3>
            <div class="actions">
                <button type="button" class="button-secondary icon-only-when-small edit toggle-content-trigger" dropdown-toggle>
                    <span translate>nav.edit</span>
                </button>
                <button type="button" class="button-secondary icon-only alt trash" ng-click="deleteAttribute(attribute, $index)"></button>
            </div>
            <form class="toggle-content" dropdown-menu>
                <label class="input-label" translate>form.field_name</label>
                <input type="text" value="{{ attribute.label }}" placeholder="{{ 'form.field_name_placeholder'|translate }}" ng-model="attribute.label" ng-change="labelChanged(attribute)">

                <label class="input-label" translate>form.field_key</label>
                <input type="text" value="{{ attribute.key }}" placeholder="{{ 'form.field_key_placeholder'|translate }}" ng-model="attribute.key">

                <label class="input-label" translate>form.field_default</label>
                <div ng-switch="attribute.input">
                    <input ng-switch-when="location" type="text" placeholder="{{ 'form.default_location_placeholder'|translate }}" ng-model="attribute.default">
                    <input ng-switch-when="date" type="text" date-time="attribute.default" ng-model="attribute.default">
                    <input ng-switch-when="int" type="number" step="1" ng-model="attribute.default">
                    <input ng-switch-when="decimal" type="number" ng-model="attribute.default">
                    <input ng-switch-default type="text" placeholder="{{ 'form.default_default_placeholder'|translate }}" ng-model="attribute.default">
                </div>
                <div ng-if="hasOptions(attribute)" >
                    <label class="input-label" translate>form.field_options</label>
                    <div class="input-inline" ng-repeat="(key, option) in attribute.options track by $index">
                        <input type="text" placeholder="{{ 'form.field_option_placeholder'|translate }}" ng-model="attribute.options[key]">
                        <button type="button" class="button-secondary alt trash" ng-if="attribute.options.length > 1" ng-click="removeOption(attribute, key)"></button>
                    </div>
                    <button type="button" class="button-secondary alt" ng-click="addOption(attribute)"><i class="fa fa-plus"></i> <span translate>form.field_add_option</span></button>
                </div>
                <div ng-if="attribute.input === 'relation'">
                    <label class="input-label" translate>form.field_allowed_relation_post_type</label>
                    <ul name="visible-to">
                        <li ng-repeat="relationForm in availableForms | filter : filterNotCurrentForm">
                            <label>
                                <input type="checkbox" checklist-model="attribute.config.input.form" checklist-value="relationForm.id" />
                                {{relationForm.name}}
                            </label>
                        </li>
                    </ul>
                </div>
                <!--
                <div class="select-inline">
                    <label class="input-label">{{ 'form.visible_to'|translate }}:</label>
                    <select name="visible-to">
                        <option value="public" translate>form.permission_public</option>
                        <option value="admin" translate>form.permission_admin</option>
                        <option value="self" translate>form.permission_self</option>
                    </select>
                </div>
                <div class="select-inline">
                    <label class="input-label">{{ 'form.editable_by'|translate }}:</label>
                    <select name="visible-to">
                        <option value="self" translate>form.permission_self</option>
                        <option value="admin" translate>form.permission_admin</option>
                        <option value="public" translate>form.permission_public</option>
                    </select>
                </div>
                -->
                <p class="clearfix">
                    <label>
                        <input type="checkbox" ng-model="attribute.required">
                        <span translate>form.field_required</span>
                    </label>
                </p>

                <label class="input-label" translate>form.field_type</label>
                <p>{{attribute.input}} ({{attribute.type}})</p>

                <!--<div dropdown>
                    <p>
                        <a class="cta hidden-content-trigger" dropdown-toggle translate>form.add_field_instructions</a>
                    </p>
                    <div class="toggle-content" dropdown-menu>
                        <p><em translate>form.add_field_instructions_info</em></p>
                        <textarea value="{{ attribute.description }}" placeholder="{{ 'form.add_field_instructions_placeholder'|translate }}" ng-model="attribute.description"></textarea>
                    </div>
                </div>-->
                <button type="button" class="button-primary" ng-click="$parent.saveAttribute(attribute, $index)">{{ 'form.save_and_close'|translate }}</button>
            </form>
        </div>
        <div class="settings-listing">
            <a ng-click="openNewAttribute()">
                <div class="button-secondary icon-only alt plus"></div>
                <h3 translate>
                    form.add_field
                </h3>
            </a>
        </div>
    </div>

    <div class="divider white"></div>

    <div class="progress">
       <a ng-href="settings/forms/{{form.id}}/stages/{{stage.id}}" ng-class="{ active : stage.id == currentStageId }" ng-repeat="stage in form.stages | orderBy:'priority'">{{stage.label}}</a>
       <a ng-click="openNewStage()" class="add-new"><span translate>form.add_new_step</span></a>
    </div>

    <modal title="form.add_field" visible="isNewAttributeOpen">
        <div class="cards-select">
            <div class="selection-card" ng-repeat="type in availableAttrTypes">
                <a ng-click="addNewAttribute(type.type, type.input, type.label)" >
                    <h3>{{ type.label }}</h3>
                </a>
            </div>
        </div>
    </modal>

    <modal title="form.add_new_step" visible="isNewStageOpen">
        <div class="form-info">
            <label class="input-label" translate>form.step_name</label>
            <input type="text" ng-model="newStage.label">
            <label>
                <input type="checkbox" ng-model="newStage.required">
                <span translate>form.step_required</span>
            </label>
        </div>

        <div class="modal-submit">
            <button type="button" class="button-primary" ng-click="saveNewStage(newStage)" translate>form.save_post_step</button>
        </div>
    </modal>
</div>
