<nav class="navigation" role="navigation" ng-controller="navigation">
    <div class="nav-icon open" off-canvas-toggle>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <a class="button button-create" ng-href="/posts/create">
        <span translate>nav.add_post</span>
    </a>
    <ul class="main-nav">
        <li><a ng-href="/" translate>nav.home</a></li>
        <!-- <li><a ng-href="/about" translate>nav.about</a></li>
        <li><a ng-href="/activity" translate>nav.activity</a></li> -->
        <li class="settings-nav" dropdown auto-close="disabled" ng-show="isAdmin()">
            <div class="settings-nav-header">
                <a class="toggle-content-trigger" dropdown-toggle translate>nav.settings</a>
            </div>
            <ul class="toggle-content" dropdown-menu>
                <li><a ng-href="/settings/general" translate>nav.general</a></li>
                <li><a ng-href="/settings/map-settings" translate>nav.map_settings</a></li>
                <li><a ng-href="/settings/datasources" translate>nav.data_sources</a></li>
                <!-- <li><a ng-href="/settings/plugins" translate>nav.plugins</a></li>-->
                <li><a ng-href="/settings/forms" translate>nav.posts_and_entities</a></li>
                <li><a ng-href="/settings/categories" translate>nav.categories</a></li>
                <li><a ng-href="/settings/users" translate>nav.users</a></li>
                <!-- <li><a ng-href="/settings/permission" translate>nav.permissions</a></li> -->
            </ul>
        </li>
    </ul>

    <ng-include src="'templates/partials/user-menu.html'"></ng-include>

    <div class="sub-nav">
        <h6 class="zeta saved-searches" translate>nav.saved_searches</h6>
        <sets-menu endpoint='SavedSearchEndpoint' type="savedsearches"></sets-menu>
    </div>
    <div class="sub-nav">
      <h6 class="zeta collections" translate>nav.collections</h6>
      <sets-menu endpoint='CollectionEndpoint' type="collections"></sets-menu>
      <button ng-show="loggedin" type="button" class="button-secondary plus">
        <a ng-click="collectionIsOpen()" class="add-new"><span translate>nav.new_collection</span></a>
      </button>
    </div>
    <collection-editor is-open="collectionOpen"></collection-editor>
</nav>
