<nav class="navigation" role="navigation" ng-controller="navigation">
    <div class="nav-icon open" off-canvas-toggle>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="main-nav">
        <li><a ng-href="/" translate>nav.home</a></li>
        <!-- <li><a ng-href="/about" translate>nav.about</a></li> -->
        <li><a ng-href="/activity" ng-show="isAdmin() || activityIsAvailable" translate>nav.activity</a></li>
        <li class="settings-nav" dropdown auto-close="disabled" ng-show="hasManageSettingsPermission()">
            <span class="settings-nav-button" data-toggle="toggle-content" dropdown-toggle translate>nav.settings</span>
            <ul class="toggle-content" dropdown-menu>
                <li ng-repeat="item in settingsMenu"><a ng-href="{{ item.url }}" translate>{{ item.text }}</a></li>
            </ul>
        </li>
    </ul>

    <ng-include src="'templates/partials/user-menu.html'"></ng-include>

    <div class="sub-nav">
        <h6 class="zeta saved-searches" translate>nav.saved_searches</h6>
        <sets-menu endpoint='SavedSearchEndpoint' type="savedsearches"></sets-menu>
    </div>
    <div class="sub-nav">
      <h6 class="zeta collections" translate>nav.collections</h6>
      <sets-menu endpoint='CollectionEndpoint' type="collections"></sets-menu>
      <button  ng-click="collectionIsOpen()" ng-show="loggedin" type="button" class="button-secondary plus">
        <a class="add-new"><span translate>nav.new_collection</span></a>
      </button>
    </div>
    <collection-editor is-open="collectionOpen"></collection-editor>
</nav>
