<div class="mode-context">

    <header class="mode-context-header has-logo">
        <h1 class="mode-context-title"><a href="">March on City Hall</a></h1>

        <img src="../../img/deployment-logo.png" class="deployment-logo" />
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        <p>Reports and communication about the protest march Wednesday, Aug.19 to City Hall.</p>

        <form class="survey-filter">
            <div class="survey-filter-checkbox">
                <div class="survey-filter-label">
                    <span class="post-band" style="background-color:#8D1919;"></span>
                    <label>
                        <input type="checkbox" checked />
                        Getting around
                    </label>
                </div>
                <span class="survey-filter-total" data-toggle="dropdown-menu">18</span>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                        </svg>
                        <span class="label">Add to Getting around</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#task"></use>
                        </svg>
                        <span class="label">Assign someone to add to Getting around</span>
                        </a>
                    </li>
                    <div class="divider"></div>
                    <li><a href="">Show only Getting around</a></li>
                    <li><a href="">Hide Getting around</a></li>
                    <div class="divider"></div>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                        </svg>
                        <span class="label">Survey settings</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="survey-filter-checkbox">
                <div class="survey-filter-label">
                    <span class="post-band" style="background-color:#CB872E;"></span>
                    <label>
                        <input type="checkbox" checked />
                        Police encounters
                    </label>
                </div>
                <span class="survey-filter-total" data-toggle="dropdown-menu">2</span>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                        </svg>
                        <span class="label">Add to Police encounters</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#task"></use>
                        </svg>
                        <span class="label">Assign someone to add to Police encounters</span>
                        </a>
                    </li>
                    <div class="divider"></div>
                    <li><a href="">Show only Police encounters</a></li>
                    <li><a href="">Hide Police encounters</a></li>
                    <div class="divider"></div>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                        </svg>
                        <span class="label">Survey settings</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="survey-filter-checkbox">
                <div class="survey-filter-label">
                    <span class="post-band" style="background-color:#2274B4;"></span>
                    <label>
                        <input type="checkbox" checked />
                        Protester photos
                    </label>
                </div>
                <span class="survey-filter-total" data-toggle="dropdown-menu">4</span>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                        </svg>
                        <span class="label">Add to Protester photos</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#task"></use>
                        </svg>
                        <span class="label">Assign someone to add to Protester photos</span>
                        </a>
                    </li>
                    <div class="divider"></div>
                    <li><a href="">Show only Protester photos</a></li>
                    <li><a href="">Hide Protester photos</a></li>
                    <div class="divider"></div>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                        </svg>
                        <span class="label">Survey settings</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="survey-filter-checkbox">
                <div class="survey-filter-label">
                    <span class="post-band" style="background-color:#517923;"></span>
                    <label>
                        <input type="checkbox" checked />
                        Official events
                    </label>
                </div>
                <span class="survey-filter-total" data-toggle="dropdown-menu">3</span>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                        </svg>
                        <span class="label">Add to Official events</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#task"></use>
                        </svg>
                        <span class="label">Assign someone to add to Official events</span>
                        </a>
                    </li>
                    <div class="divider"></div>
                    <li><a href="">Show only Official events</a></li>
                    <li><a href="">Hide Official events</a></li>
                    <div class="divider"></div>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                        </svg>
                        <span class="label">Survey settings</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="survey-filter-checkbox">
                <div class="survey-filter-label">
                    <label>
                        <input type="checkbox" />
                        Unknown
                    </label>
                </div>
                <span class="survey-filter-total" data-toggle="dropdown-menu">6</span>
                <ul class="dropdown-menu">
                    <li><a href="">Show only Getting around</a></li>
                    <li><a href="">Hide Getting around</a></li>
                    <div class="divider"></div>
                    <li>
                        <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                        </svg>
                        <span class="label">Unknown survey settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </form>

        <div class="tool">
            <h6 class="tool-heading">How to add a post</h6>

            <span data-toggle="toggle-content">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                </svg>
                <span class="label hidden">Show/hide</span>
            </span>
            <div class="toggle-content active">
                <p>Use the <a href="#">web form</a>.</p>
                <p>Send a text message to </br> <a href="tel:15551234567">+1-555-123-4567</a>.</p>
                <p>Send an email to <a href="mailto:cityhallmarch@domain.com" title="Subject">cityhallmarch@domain.com</a>.</p>
                <p>Tweet with the hashtag(s) <a href="https://twitter.com/search?q=%23ushahidi&src=typd">#marchoncityhall</a>.</p>
            </div>
        </div>
    </div>
</div>
