<div ng-controller="notifier">
    <notification-slider visible="showNotificationSlider">
        <p>{{notificationSliderMessage}}</p>
    </notification-slider>

    <modal visible="showModalAlerts" title="notify.generic.alerts">

        <div id="alert-modal-text" ng-repeat="alert in modalAlertMessages">
            {{alert}}
        </div>
        <div class="modal-submit">
            <button type="button" id="alert-modal-ok" class="button-primary" ng-click="acknowledgeAlert()" translate>notify.generic.okay</button>
        </div>
    </modal>

    <modal visible="showModalConfirm" title="notify.generic.confirm">

        <div id="confirm-modal-text">
            {{modalConfirmMessage}}
        </div>
        <div class="modal-submit">
            <button type="button" id="confirm-modal-ok" class="button-primary" ng-click="confirmResult(true)" translate>notify.generic.okay</button>
            <button type="button" id="confirm-modal-cancel" class="button-primary" ng-click="confirmResult(false)" translate>notify.generic.cancel</button>
        </div>
    </modal>

</div>
