<div ng-controller="notifier">
    <notification-slider visible="showNotificationSlider">

    <div class="message-body">
      <p>{{notificationSliderMessage}}</p>

      <button class="button-flat message-trigger"
              ng-click="acknowledgeNotification()"
              translate>
        message.button.dismiss
      </button>
    </div>
  </notification-slider>

  <notification-slider visible="showConfirmationSlider">
    <div class="message-image confirmation" ng-show="isSuccess">
      <svg class="iconic">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
      </svg>
    </div>

    <div class="message-image error" ng-show="isAlert">
      <svg class="iconic">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
      </svg>
    </div>

    <div class="message-body">
      <p>{{confirmationMessage}}</p>
      <button class="button-beta button-flat"
              ng-show="buttonText"
              ng-click="emitCallbackEvent(callbackEvent)">
        <svg class="iconic" ng-show="action === 'edit'">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#pencil"></use>
        </svg>
        <svg class="iconic" ng-show="action === 'delete'">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
        </svg>

        <span class="button-label">buttonText</span>
      </button>

      <button class="button-beta button-flat"
              ng-show="!buttonText"
              ng-click="emitCallbackEvent(callbackEvent)">
        <span class="button-label" translate>message.button.default</span>
      </button>

      <button class="button-flat message-trigger"
              ng-click="confirmResult(false)"
              translate>
        message.button.dismiss
      </button>
    </div>
  </notification-slider>

  <notification-slider visible="showAlertSlider">
    <div class="message-image error" ng-show="isAlert">
      <svg class="iconic">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
      </svg>
    </div>

    <div class="message-body">
      <div ng-repeat="alert in alerts">
        {{alert}}
      </div>

      <button class="button-flat message-trigger"
              ng-show="isError"
              ng-click="acknowledgeAlert()"
              translate>
        message.button.default
      </button>
    </div>

  </notification-slider>

  <notification-slider visible="showLimitSlider" >
    <div class="message-image error" ng-show="isError">
      <svg class="iconic">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#warning"></use>
      </svg>
    </div>

    <div class="message-body">
      <p>{{limitSliderMessage}}</p>
      <div class="divider padded"></div>
      <a class="button" href="/settings/plan" translate>limit.upgrade</a>
    </div>
  </notification-slider>
</div>
