<div class="filters" dropdown auto-close="disabled">
    <div class="filters-show-hide" ng-class="{ half : halfWidth }">
        <label class="delta-alt">Search <span>&amp; Filter</span></label>
        <button type="button" class="button-toggle filter-button-js" dropdown-toggle></button>
    </div>

    <div class="filters-container" dropdown-menu>
        <form ng-submit="applyFilter()" role="search">
            <div class="keyword-search">
                <input type="text" name="q" class="keyword-input" placeholder="{{'global_filter.search' | translate}}" ng-model="filter.q">
                <button type="submit" class="button-secondary icon-only alt search"></button>
            </div>
            <nav class="accordion-menu" accordion>
                <ul class="accordion-menu-list">
                    <li class="accordion-menu-list__item" accordion-group>
                        <div class="accordion-menu-header">
                            <a class="accordion-menu-trigger delta" accordion-trigger translate>global_filter.categories.categories</a>
                        </div>
                        <ul class="accordion-menu-content" accordion-content>
                            <li>
                                <label>
                                    <input type="checkbox" ng-model="showAllTags" ng-checked="!globalFilter.hasSelectedTags()" ng-click="showAllTagsHandler()"> {{'global_filter.categories.all_categories' | translate}}
                                </label>
                            </li>
                            <li class="checkbox" ng-repeat="(idx, tag) in globalFilter.options.tags" tag="tag">
                                <label>
                                    <input type="checkbox" checklist-value="tag.id" checklist-model="globalFilter.tags" />
                                    <i class="fa fa-{{tag.icon}}" style="color: {{tag.color}}"></i>
                                    {{tag.tag}}
                                </label>
                            </li>
                        </ul>
                    </li>

                    <li class="accordion-menu-list__item" accordion-group>
                        <div class="accordion-menu-header">
                            <a class="accordion-menu-trigger delta" accordion-trigger translate>global_filter.collections.collections</a>
                        </div>
                        <ul class="accordion-menu-content" accordion-content>
                            <li>
                                <label>
                                    <input type="checkbox" ng-model="showAllCollections" ng-checked="!globalFilter.hasSelectedCollections()" ng-click="showAllCollectionsHandler()"> {{'global_filter.collections.all_collections' | translate}}
                                </label>
                            </li>
                            <li class="checkbox" ng-repeat="(idx, collection) in globalFilter.options.collections">
                                <label>
                                    <input type="checkbox" checklist-value="collection.id" checklist-model="globalFilter.set" />
                                    {{collection.name}}
                                </label>
                            </li>
                        </ul>
                    </li>

                    <li class="accordion-menu-list__item" accordion-group>
                        <div class="accordion-menu-header">
                            <a class="accordion-menu-trigger delta" accordion-trigger translate>global_filter.post_types.post_types</a>
                        </div>
                        <ul class="accordion-menu-content" accordion-content>
                            <li>
                                <label>
                                    <input type="checkbox" ng-model="showAllForms" ng-checked="!globalFilter.hasSelectedForms()" ng-click="showAllFormsHandler()"> {{'global_filter.post_types.all_types' | translate}}
                                </label>
                            </li>
                            <li class="checkbox" ng-repeat="(idx, form) in globalFilter.options.forms">
                                <label>
                                    <input type="checkbox" checklist-value="form.id" checklist-model="globalFilter.form" />
                                    {{form.name}}
                                </label>
                            </li>
                        </ul>
                    </li>

                    <li class="accordion-menu-list__item" accordion-group>
                        <div class="accordion-menu-header">
                            <a class="accordion-menu-trigger delta" accordion-trigger translate>global_filter.post_stages.post_stages</a>
                        </div>
                        <ul class="accordion-menu-content" accordion-content>
                            <li>
                                <label>
                                    <input type="checkbox" ng-model="showAllPostStages" ng-checked="!globalFilter.hasSelectedPostStages()" ng-click="showAllPostStagesHandler()"> {{'global_filter.post_stages.all_stages' | translate}}
                                </label>
                            </li>
                            <li ng-repeat="(formId, postStages) in globalFilter.options.postStages">
                                <label>{{globalFilter.options.forms[formId].name}}</label>
                                <ul>
                                    <li class="checkbox" ng-repeat="(stageId, postStage) in postStages">
                                        <label>
                                            <input type="checkbox" checklist-model="globalFilter.current_stage" checklist-value="postStage.id" />
                                            {{postStage.label}}
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="accordion-menu-list__item" accordion-group ng-if="isAdmin()">
                        <div class="accordion-menu-header">
                            <a class="accordion-menu-trigger delta" accordion-trigger translate>global_filter.post_statuses.post_statuses</a>
                        </div>
                        <ul class="accordion-menu-content" accordion-content>
                            <li>
                                <label>
                                    <input type="radio" name="status" ng-model="globalFilter.status" value="all"> <span translate>global_filter.post_statuses.all_statuses</span>
                                </label>
                            </li>
                            <li class="checkbox" ng-repeat="(id, postStatus) in globalFilter.options.postStatuses" postStatus="postStatus">
                                <label>
                                    <input type="radio" name="status" value="{{postStatus}}" ng-model="globalFilter.status" />
                                    <span translate="global_filter.post_statuses.{{postStatus}}"></span>
                                </label>
                            </li>
                        </ul>
                    </li>

                    <li class="accordion-menu-list__item" accordion-group>
                        <div class="accordion-menu-header">
                            <a class="accordion-menu-trigger delta" accordion-trigger translate>global_filter.date_range</a>
                        </div>
                        <div class="accordion-menu-content date-range" accordion-content>
                            <div class="filter-start-date">
                                <label for="start" class="delta-alt" translate>global_filter.start_date</label>
                                <input type="text" name="start" id="start" ng-model="filter.start_date" is-open="startDateOpen" ng-focus="uiOpenDate('start_date')" datepicker-popup="yyyy-MM-dd" max-date="filter.end_date" datepicker-options="{ showWeeks: false }">
                            </div>
                            <div class="filter-end-date">
                                <label for="end" class="delta-alt" translate>global_filter.end_date</label>
                                <input type="text" name="end" id="end" ng-model="filter.end_date" is-open="endDateOpen" ng-focus="uiOpenDate('end_date')" datepicker-popup="yyyy-MM-dd" min-date="filter.start_date" datepicker-options="{ showWeeks: false }">
                            </div>
                        </div>
                    </li>

                    <li class="accordion-menu-list__item" accordion-group>
                        <div class="accordion-menu-header">
                            <a class="accordion-menu-trigger delta" accordion-trigger translate>global_filter.location</a>
                        </div>
                        <div class="accordion-menu-content location" accordion-content>
                            <label for="location" class="delta-alt hidden" translate>global_filter.location</label>

                            <input type="text" name="location" id="location" ng-model="filter.center_point" placeholder="{{'global_filter.location_placeholder' | translate}}">

                            <div class="custom-select">
                                <select ng-model="filter.within_km" convert-to-number>
                                    <option value="1" translate>global_filter.option_1</option>
                                    <option value="10" translate>global_filter.option_2</option>
                                    <option value="50" translate>global_filter.option_3</option>
                                    <option value="100" translate>global_filter.option_4</option>
                                    <option value="500" translate>global_filter.option_5</option>
                                </select>
                            </div>
                        </div>
                    </li>

                    <li ng-if="showFilterControls" class="filter-controls">
                        <a class="clear-filters" ng-click="clearFilters()" translate>global_filter.clear_filters</a>

                        <button type="submit" class="button-primary" ng-class="{'disabled': isLoading || geocodingBusy}" ng-disabled="isLoading">
                          <i ng-if="isLoading || geocodingBusy" class="fa fa-cog fa-spin"></i>
                          {{'global_filter.apply_filters' | translate}}
                        </button>
                    </li>
                </ul>
            </nav>
        </form>
    </div> <!-- end filters-container -->
</div>
