<div class="view-tabs-wrapper">
    <ul class="view-tabs">
        <li class="active">
            <a href="/posts/detail">
                <i class="fa  fa-globe"></i><span translate>view_tabs.public</span>
            </a>
        </li>
        <li>
            <a href="/posts/detail/private">
                <i class="fa  fa-lock"></i><span translate>view_tabs.private</span>
            </a>
        </li>
        <li>
            <a href="/posts/detail/history">
                <i class="fa  fa-list"></i><span translate>view_tabs.history</span>
            </a>
        </li>
        <li>
            <a href="/posts/detail/edit">
                <i class="fa  fa-edit"></i><span translate>view_tabs.edit</span>
            </a>
        </li>
    </ul>
</div>
