<!--  Search Bar -->
<div id="search-bar-wrapper" class="search-bar-wrapper  js-show-with-full-map">
    <form role="search" action="">
        <div class="container">

            <ul class="tabset" collapsible>
                <span class="search-title" translate>nav.search</span>

                <li class="tab  location-select">
                    <a href="#" class="tab-heading" translate>search.nav.location<i class="fa  fa-map-marker"></i></a>
                    <div class="tab-content">
                        <div class="search-tools">
                            <div class="filter">
                                <label translate>search.location.select_a_location</label>
                            </div>
                            <ol>
                                <li>
                                    <input id="location1" type="checkbox">
                                    <label for="location1">Location #1</label>
                                </li>
                                <li>
                                    <input id="location2" type="checkbox">
                                    <label for="location2">Location #2</label>
                                </li>
                                <li>
                                    <input id="location3" type="checkbox">
                                    <label for="location3">Location #3</label>
                                </li>
                            </ol>
                        </div> <!-- end .search-tools -->
                    </div> <!-- end .tab-content -->
                </li> <!-- end .location-select -->

                <li class="tab  tags-select">
                    <a href="#" class="tab-heading" translate>search.nav.tags<i class="fa  fa-tags"></i></a>
                    <div class="tab-content">
                        <div class="search-tools">
                            <div class="filter">
                                <label translate>search.tags.select_tags</label>
                            </div>
                            <ol>
                                <li>
                                    <input id="tag1" type="checkbox">
                                    <label for="tag1">Tag #1</label>
                                </li>
                                <li>
                                    <input id="tag2" type="checkbox">
                                    <label for="tag2">Tag #2</label>
                                </li>
                                <li>
                                    <input id="tag3" type="checkbox">
                                    <label for="tag3">Tag #3</label>
                                </li>
                            </ol>
                        </div> <!-- end .search-tools -->
                    </div> <!-- end .tab-content -->
                </li> <!-- end .tags-select -->

                <li class="tab  date-select">
                    <a href="#" class="tab-heading" translate>search.nav.date<i class="fa  fa-calendar"></i></a>
                    <div class="tab-content">
                        <div class="search-tools">
                            <label translate>search.date.select_start_and_end_date</label>
                            <ol>
                                <div class="wrapper">
                                    <input type="text" id="time-from" class="search-field  time-from  js-search-time-from" placeholder="{{'search.date.from' | translate }}" value="">
                                    <i class="fa  fa-calendar"></i>
                                </div>

                                <label class="visually-hidden" for="time-to" translate>search.date.until_time</label>
                                <div class="wrapper">
                                    <input type="text" id="time-to" class="search-field  time-to  js-search-time-to" placeholder="{{'search.date.to' | translate }}" value="">
                                    <i class="fa  fa-calendar"></i>
                                </div>
                            </ol>
                        </div> <!-- end .search-tools -->
                    </div> <!-- end .tab-content -->
                </li> <!-- end .date-select -->

                <li class="tab  keyword-field">
                    <a href="#" class="tab-heading" translate>search.nav.keyword <i class="fa  fa-search"></i></a>
                    <div class="tab-content">
                        <div class="search-tools">
                            <label translate>search.keyword.enter_keyword</label>
                            <div class="search-bar">
                                <div class="search-and-submit">
                                    <label id="search-label" class="visually-hidden" for="search-field" translate>search.keyword.search</label>
                                    <input type="search" placeholder="{{'search.keyword.keyword_search' | translate}}" />
                                    <button type="submit" translate>search.keyword.search</button>
                                </div>
                            </div> <!-- end .search-bar -->
                        </div> <!-- end .search-tools -->
                    </div> <!-- end .tab-content -->
                </li> <!-- end .keyword-field -->
            </ul> <!-- end .accordion-tabs -->

        </div>
    </form>
</div> <!-- end .search-bar-wrapper -->
