<nav class="col-md-3 col-md-pull-9 col-xs-12">
    <ul class="nav nav-pills nav-stacked tools-menu">
        <li role="presentation" ng-class="{'active': active === 'settings' }"><a ng-href="/tools/settings" translate>nav.settings</a></li>
        <!--
          <li role="presentation" ng-class="{'active': active === 'appearance' }"><a ng-href="/tools/appearance" translate>nav.appearance</a></li>
          <li role="presentation" ng-class="{'active': active === 'plugins' }"><a ng-href="/tools/plugins" translate>nav.plugins</a></li>
        -->
    </ul>
    <hr>
    <ul class="nav nav-pills nav-stacked tools-menu tools-data">
        <li role="presentation"><span class="text-muted text-uppercase initialism" translate>nav.data</span></li>
        <!-- <li role="presentation" ng-class="{'active': active === 'forms' }"><a ng-href="/tools/forms" translate>nav.forms</a></li> -->
        <li role="presentation" ng-class="{'active': active === 'categories' }"><a ng-href="/tools/categories" translate>nav.categories</a></li>
        <!-- <li role="presentation" ng-class="{'active': active === 'views' }"><a ng-href="/tools/views" translate>nav.views</a></li> -->
    </ul>
    <hr>
    <ul class="nav nav-pills nav-stacked tools-menu tools-people">
        <li role="presentation"><span class="text-muted text-uppercase initialism" translate>nav.people</span></li>
        <li role="presentation" ng-class="{'active': active === 'users' }"><a ng-href="/tools/users" translate>nav.users</a></li>
        <!-- <li role="presentation" ng-class="{'active': active === 'roles' }"><a ng-href="/tools/roles" translate>nav.roles</a></li> -->
    </ul>
</nav>
