<div class="toolbox">
    <fieldset class="custom-fieldset init">
      <legend class="dropdown-trigger init" data-toggle="dropdown-menu">Layers</span></legend>

        <div class="form-field radio">
            <label for="streets"><input type="radio" id="streets" />Streets</label>
        </div>
        <div class="form-field radio">
            <label for="satellite"><input type="radio" id="satellite" />Satellite</label>
        </div>
        <div class="form-field radio">
            <label for="terrain"><input type="radio" id="terrain" />Terrain</label>
        </div>
    </fieldset>
</div>
