<div class="toolbar">

    <div class="fab">
        <button type="button" class="button-alpha button-fab" data-toggle="fab-options">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
            </svg>
            <span class="hidden">Add</span>
        </button>
        <ul class="fab-options">
            <li>
                <a href="">
                    <span class="fab-action-type" style="background-color: red;">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#file"></use>
                        </svg>
                    </span>
                    <span class="bug">Traffic</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fab-action-type" style="background-color: yellow;">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#file"></use>
                        </svg>
                    </span>
                    <span class="bug">Police encounters</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fab-action-type" style="background-color: blue;">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#file"></use>
                        </svg>
                    </span>
                    <span class="bug">Protester photos</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="fab-action-type" style="background-color: green;">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#file"></use>
                        </svg>
                    </span>
                    <span class="bug">Official events</span>
                </a>
            </li>
        </ul>
    </div>

    <ng-include src="'../templates/partials/search.html'"></ng-include>

    <div class="button-group">
        <button type="button">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#share"></use>
            </svg>
            <span class="button-label">Share</span>
        </button>
    </div>
</div>
