<div class="user-admin logged-out" ng-hide="currentUser">
    <a ng-href="/login" class="user-login" translate>nav.login</a>
    <a ng-href="/register" class="user-register" translate>nav.register</a>
</div>
<div class="user-admin logged-in" ng-show="currentUser"n>
    <div>
        <!-- TODO: add correct user gravatar here -->
        <div class="user-avatar">
            <!-- <img class="todo" src="http://www.gravatar.com/avatar/00000000000000000000000000000000" alt="Avatar">-->
        </div>
        <span class="username">{{currentUser.realname}}</span>
        <span dropdown>
        <button 
            dropdown-toggle 
            type="button" 
            class="init button-secondary dropdown toggle-content-trigger"
        >
        </button>
        <ul class="dropdown-menu init toggle-content" dropdown-menu role="menu">
            <li><a class="my-profile" ng-href="/users/me">Account Settings</a></li>
            <li><a ng-href="/users/me/notifications">Notifications</a></li>
            <li><a class="user-logout" ng-click="logoutClick($event)">Logout</a></li>
        </ul>
        </span>

    </div>
</div>
