<li class="nav-link user-info">
    <div class="dropdown">
        <div class="dropdown-container">
            <p class="dropdown-toggle">
                <a id="user-menu-link" href="javascript:void(0)">
                    <img src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e" alt="Gravatar" />
                    <span translate>nav.user_name</span>
                    <span class="count-number">4</span>
                </a>
            </p>
            <ul class="dropdown-menu">
                <li class="user-role">
                    <a translate>nav.admin</a>
                </li>
                <li>
                    <a href="/profile" translate>nav.edit_profile</a>
                </li>
                <li>
                    <a href="/notifications"><span translate>nav.notifications</span></a>
                    <span class="count-number">4</span>
                </li>
                <li>
                    <a href="/settings" translate>nav.settings</a>
                </li>
                <li>
                    <a href="/help" translate>nav.help</a>
                </li>
                <li class="user-logout">
                    <a id="signout-link" ng-click="signoutClick()" translate>nav.logout</a>
                </li>
            </ul>
        </div> <!-- end .dropdown-container -->
    </div> <!-- end .dropdown -->
</li>
