@include global {
	.global-header {
		position: relative;
		.global-header-title {
			font-size: 18px;
			font-size: 1.2rem;
			text-align: left;
			a {
				color: $black-title;
			}
		}
		.global-header-menu-trigger,
		.global-header-user_actions {
			color: $black-title;
		}
		.global-header-menu-trigger {
			text-align: left;
		}
		.global-header-user_actions {
			text-align: right;
			li {
				display: inline;
				a {
					@include border-box;
					display: inline-block;
					text-align: center;
					border-right: 1px solid transparent;
					border-left: 1px solid transparent;
					padding: 10px 5px;
					&.active {
						border-color: $grey-border;
						background-color: $white-base;
					}
				}
			}
			a {color: $black-title;}
			.label {
				display: none;
				@include typeBeta;
				font-size: 15px;
				font-size: 1rem;
			}
			i {
				color: $white-base;
				width: 20px;
				height: 20px;
				font-size: 18px;
				text-align: center;
				line-height: 20px;
				@include equal-radius(100%);
				background-color: $black-base;
				padding: 4px;
				margin-right: 2px;
				&.fa-plus {background-color: $green-base;}
				&.fa-dashboard {background-color: $teal-base;}
			}
		}

		.global-header-toolbar {
			@include clearfix;
			font-size: 20px;
			font-size: 1.333333333rem;
			border-bottom: 1px solid $grey-border;
			@include box-shadow;
			background-color: $grey-base;
			> * {
				float: left;
			}
			.global-header-menu-trigger,
			.global-header-user_actions {
				// width: 12.5%;
			}
			.global-header-menu-trigger {
				width: 6.25%;
				max-width: 20px;
				margin-top: 12px;
				margin-right: 3.125%;
				margin-left: 3.125%;
			}
			.global-header-user_actions {
				width: 28.125%;
			}
			.global-header-title {
				width: 59.375%;
				margin-top: 12px;
			}
		}

		.global-header-menu,
		.global-header-drawer {
			display: none;
			position: absolute;
			top: 100%;
			z-index: 98;
			margin-top: -1px;
			@include transition;
			&.visible {
				display: block;
			}
		}
		.global-header-menu {
			right: 100%;
			left: -100%;
			&.visible {
				right: 10px;
				left: 0;
			}
		}
		.global-header-drawer {
			right: -100%;
			left: 100%;
			&.visible {
				right: 0;
				left: 10px;
			}
		}
	}

	.global-header-mast {
		img {
			width: 100%;
		}
		.global-header-description {
			@include typeBase;
			font-size: 15px;
			font-size: 1rem;
			margin: 1em;
		}
	}

	.global-navigation {
		li {
			list-style-type: none;
			a {color: $black-title;}
			i {
				position: relative;
				top: -2px;
				color: $white-base;
				width: 20px;
				height: 20px;
				font-size: 18px;
				text-align: center;
				line-height: 20px;
				@include equal-radius(100%);
				background-color: $black-base;
				padding: 4px;
				margin-right: 8px;
				&.fa-th {
					font-size: 16px;
					background-color: $gold-base;
				}
				&.fa-eye {
					background-color: $red-base;
				}
			}
			.toggle-trigger {
				.show,
				.hide {
					top: 15px;
					color: $black-text;
					font-size: 11px;
					text-transform: uppercase;
					@include equal-radius(15px);
					background-color: $grey-heading;
					padding: 4px 6px;
					&:hover {
						color: $black-title;
						background-color: $grey-border;
					}
				}
			}
			&.top-level {
				@include typeBeta;
				font-size: 20px;
				font-size: 1.333333333rem;
				a {
					display: inline-block;
					padding: 10px;
				}
			}
			ul {
				margin-bottom: 1em;
				li {
					position: relative;
					color: $black-text;
					@include typeBase;
					font-size: 15px;
					font-size: 1rem;
					padding-left: 36px;
					a {color: $black-text;}
					&.active {
						@include typeBeta;
						a {color: $black-title;}
						&:before {
							content: '\00BB';
							position: absolute;
							top: 9px;
							left: 19px;
						}
					}
				}
			}
		}
	}

	.global-header-menu,
	.global-header-drawer {
		border-bottom: 1px solid $grey-border;
		@include box-shadow($top: 2px, $left: 0, $blur: 2px, $spread: 0, $color: rgba(0,0,0,.1), $inset: false);
		background-color: $white-base;
	}
}

@include respond-min($bk3) {
	.global-header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 100;
		.global-header-menu-trigger {
			display: none;
		}
		.global-header-title {
			font-size: 22px;
			font-size: 1.466666667rem;
			text-align: left;
		}

		.global-header-toolbar {
			position: relative;
			.global-header-title {
				width: 64.5833333%;
				margin-right: 1.0416667%;
				margin-left: 1.0416667%;
			}
			.global-header-user_actions {
				width: 31.25%;
				margin-right: 1.0416667%;
				margin-left: 1.0416667%;
			}
		}

		.global-header-menu,
		.global-header-drawer {
			width: 23.9583333%;
		}

		.global-header-menu {
			display: block !important;
			top: auto;
			right: auto;
			left: 0;
			border: none;
			@include no-shadow;
			background-color: transparent;
		}

		.global-header-drawer {
			border-right: 1px solid $grey-border;
			border-left: 1px solid $grey-border;
			margin-right: 1.0416667%;
			&.visible {
				right: 0;
				left: auto;
			}
		}
	}
}

@include respond-range($bk3,$bk4) {
	.global-header {
		.global-header-toolbar {
			.global-header-title {
				@include border-box;
				padding-left: 70px;
			}
		}

		.global-header-menu {
			top: 0;
			width: 60px;
			.global-header-mast {
				.global-header-image {
					height: 49px;
					overflow: hidden;
					img {
						width: auto;
						min-width: 100%;
						max-width: none;
						height: 100%;
					}
				}
				.global-header-description {display: none;}
			}
			.global-navigation {
				margin-top: 0.5em;
				li {
					text-align: center;
					i {
						width: 30px;
						height: 30px;
						line-height: 30px;
						margin-right: 0;
					}
					.toggle-target,
					.toggle-trigger .show,
					.toggle-trigger .hide {
						display: none;
					}
					.toggle-target {
						position: absolute;
						z-index: -1;
						top: 0;
						left: 0;
						width: 250px;
						border: 1px solid $grey-border;
						@include box-shadow;
						background-color: $white-base;
						@include transition;
						padding-left: 60px;
						li {
							text-align: left;
							padding-left: 1em;
							&.active:before {
								left: 10px;
							}
						}
					}
					&.top-level {
						font-size: 13px;
					}
				}
			}
			&.visible {
				width: 23.9583333%;
				.global-header-mast {
					.global-header-description {display: block;}
				}
				.global-navigation {
					li {
						text-align: left;
						i {margin-right: 8px;}
						ul {display: block;}
						.toggle-trigger {
							display: inline-block;
							right: 10px;
						}
						&.top-level {
							font-size: 20px;
							font-size: 1.333333333rem;
						}
					}
				}
			}
		}
	}
}

@include respond-min(900px) {
	.global-header {
		.global-header-user_actions {
			li a {padding: 10px;}
			.label {
				display: inline-block;
			}
		}
	}
}

@include respond-min(1200px) {
	.global-header {
		.global-header-menu,
		.global-header-drawer {
			width: 280px;
		}
	}
}